
<div class="modal fade" id="shareWin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog wrtc-modal-resizable">
<div class="modal-content">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel"><div style="display:inline-block;margin-left:3px"><%=l_share%></div></h4>
</div>
<div class="modal-body2">

    <div id="pro-share" class="panel-collapse collapse in">
<div>
<ul class="nav nav-tabs">
    <li  class="active"><a href="#pro-share-sms" data-toggle="tab"><%=l_sms%></a></li>
    <li><a href="#pro-share-email" data-toggle="tab"><%=l_mail%></a></li>
    <li><a href="#pro-share-general" data-toggle="tab"><%=l_general%></a></li>
    <li><a href="#pro-share-link" data-toggle="tab"><%=l_link%></a></li>
    <li><a href="#pro-share-qrcode" data-toggle="tab"><%=l_qrcode%></a></li>
</ul>

<div class="tab-content panel-body">
<div class="tab-pane active" id="pro-share-sms">

    <form role="form ajax-form" id="share-sms-form" action="/share/sms">


        <div class="form-group">
            <label for="pro_share_mobile" class="col-sm-3 control-label"><%=l_mobile_num%></label>
            <div class="col-sm-9">
                <input type="hidden" name="link" value="<%=link%>">
                <input type="hidden" name="share_type" value="<%=share_type%>">
                <input type="text" class="form-control" id="pro_share_mobile"  placeholder="<%=l_mobile_num%>" name="mobile" ref='{"reg":"cn_mobile"}'>
            </div>
        </div>
        <div class="caption">
            <h3><%=l_content%></h3>

            <div class="panel panel-default">


            <div class="panel-body">
                <p><strong><%=shareTxt%></strong></p>
            </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" id="apply-share-sms-form"><%=l_apply%></button>
            </div>
        </div>
        </form>

</div>
<div class="tab-pane" id="pro-share-email">
    <form role="form ajax-form" id="share-email-form" action="/share/email">
    <div class="form-group">
        <label for="pro_share_email" class="col-sm-3 control-label"><%=l_email%></label>
        <div class="col-sm-9">
            <input type="hidden" name="link" value="<%=link%>">
            <input type="hidden" name="share_type" value="<%=share_type%>">
            <input type="text" class="form-control"  id="pro_share_email" placeholder="<%=l_email%>" name="email" ref='{"reg":"email"}'>
        </div>
    </div>
        <div class="caption">
            <h3><%=l_content%></h3>

            <div class="panel panel-default">


                <div class="panel-body">
                    <p><strong><%=shareTxt%></strong></p>
                </div>

            </div>
        </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" id="apply-share-email-form"><%=l_apply%></button>
        </div>
    </div>
    </form>


</div>
<div class="tab-pane" id="pro-share-link">


    <div class="form-group">
        <label for="pro_share_link" class="col-sm-3 control-label"><%=l_link%></label>
        <div class="col-sm-9">
            <input type="text" class="form-control"  id="pro_share_link" placeholder="<%=l_link%>" name="link" value="<%=link%>">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-primary copy-btn" data-jq="pro_share_link"><%=l_copy%></button>
        </div>
    </div>


</div>
    <div class="tab-pane" id="pro-share-general">
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>

    </div>
<div class="tab-pane" id="pro-share-qrcode">
    <h3 style="margin-top: 0px"><%=l_scan_share%></h3>
    <div id="qrcode_link"></div>
</div>




</div>

</div>
</div>


<style>
    .slider-frame {
        position: relative;
        display: block;
        width: 84px;
        height: 27px;
        background-color: white;

        -webkit-box-shadow: inset 0px 0px 50px 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
        box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .slider-button {
        display: block;
        width: 43px;
        height: 27px;
        line-height: 27px;
        background: #ccc;

        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        color: white;
        font-family:sans-serif;
        font-size:5em;
        font-weight:bold;
        text-align: center;
        cursor: pointer;
        -webkit-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
        box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .slider-button.on {
        margin-left: 40px;
        background: #428bca;
    }
    .drag-expand {
        position: absolute;
        bottom: 34px;
        right: 15px;
    }
    #panel-accordion   a[data-toggle=collapse] {text-decoration: none}
    .setting-item {margin-bottom: 5px}
    .addon-group {margin-bottom: 0px}
    .addon-group>.input-group {padding-left: 14px}
</style>
</div>

</div>


</div>

</div>


