<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello</title>
</head>
<body>
<div id="app">
    <div class="nav">
        <a href="#page-a">Go to page A</a>
        <a href="#page-b">Go to page B</a>
    </div>
    <component is="{{view}}"></component>
</div>





<script src="dist/main.js"></script>
<!--<ul id="list-example">-->
    <!--<user-profile v-repeat="users"></user-profile>-->
<!--</ul>-->
<!--<script src="/js/vue.js"></script>-->
<!--<script>-->
    <!--new Vue({-->
        <!--el: '#list-example',-->
        <!--data: {-->
            <!--users: [-->
                <!--{-->
                    <!--name: 'Chuck Norris',-->
                    <!--email: 'chuck@norris.com'-->
                <!--},-->
                <!--{-->
                    <!--name: 'Bruce Lee',-->
                    <!--email: 'bruce@lee.com'-->
                <!--}-->
            <!--]-->
        <!--},-->
        <!--components: {-->
            <!--'user-profile': {-->
                <!--template: '<li>{{name}} {{email}}</li>'-->
            <!--}-->
        <!--}-->
    <!--});-->
<!--</script>-->
</body>
</html>
