<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">
	</span>
    <div class="preview drag"><%==comp_name%></div>

	<div class="view">
    <ul class="nav nav-pills" contenteditable="true">
      <li class="active">
        <a href="#">
          <span class="badge pull-right">42</span>
          首页
        </a>
      </li>
      <li>
        <a href="#">
          <span class="badge pull-right">16</span>
          更多
        </a>
      </li>
    </ul>
	</div>
</div>