<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>

    <div class="preview drag"><%==comp_name%></div>

	<div class="view">

    <ul class="breadcrumb">
		  <li><a href="#" contenteditable="true">主页</a> <span class="divider">/</span></li>
		  <li><a href="#" contenteditable="true">体育</a> <span class="divider">/</span></li>
		  <li class="active" contenteditable="true">篮球</li>
    </ul>

	</div>
</div>