<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
  <span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%=l_size%> <span class="caret"></span></a>
	<ul class="dropdown-menu">
				<li class="active"><a href="#" rel=""><%=l_default%></a></li>
				<li class=""><a href="#" rel="btn-group-lg"><%=l_large%></a></li>
				<li class=""><a href="#" rel="btn-group-md"><%=l_medium%></a></li>
				<li class=""><a href="#" rel="btn-group-sm"><%=l_small%></a></li>
				<li class=""><a href="#" rel="btn-group-xs"><%=l_xs_small%></a></li>


			</ul>
</span>
    <a class="btn btn-xs btn-default" href="#" rel="btn-group-vertical"><%=l_vertical%></a>
  </span>
    <a class="preview drag"><%==comp_name%></a>

	<div class="view">
		<div class="btn-group">
      <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-align-left"></i> Left </button>
      <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-align-center"></i> Center</button>
      <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-align-right"></i> Right</button>
      <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-align-justify"></i> Justify</button>
    </div>
	</div>
</div>