<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">
		<a class="btn btn-xs btn-default" href="#" rel="dropup"><%=l_dropup%></a>
	</span>
    <a class="preview drag"><%==comp_name%></a>

	<div class="view">
		<div class="btn-group">
			<button class="btn btn-default" contenteditable="true"><%=l_action%></button>
			<button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
			<ul class="dropdown-menu" contenteditable="true">
				<li><a href="#">关于我们</a></li>
				<li class="disabled"><a href="#">产品</a></li>
				<li class="divider"></li>
				<li><a href="#">意见</a></li>
			</ul>
		</div>
	</div>
</div>