<div class="box box-element ui-gable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>

    <a class="preview drag"><%==comp_name%></a>

    <div class="view">
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <div class="btn-group">
                    <a href="#" class="btn btn-default active">
                        <i class="fa fa-2x fa-users"></i>
                        联系人
                    </a>
                    <a href="#" class="btn btn-default">
                        <i class="fa fa-2x fa-building-o"></i>
                        公司
                    </a>
                    <a href="#" class="btn btn-default">
                        <i class="fa fa-2x fa-gears"></i>
                        设置
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

