<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<a class="preview drag"><%==comp_name%></a>
	<div class="view">
		<div class="page-header">
    	<h1 contenteditable="true">上海旅游线路<small>上海桃花节</small></h1>
    </div>
	</div>
</div>