<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">
		<a class="btn btn-xs btn-default" href="#" rel="well"><%=l_well%></a>
	</span>
    <a class="preview drag"><%==comp_name%></a>

	<div class="view">
		<div class="jumbotron" contenteditable="true">
			<h2>大家好</h2>
			<p>北京欢饮您</p>
			<p><a class="btn btn-primary btn-large" href="#">了解更多</a></p>
		</div>
	</div>
</div>