<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%=l_style%> <span class="caret"></span></a>
	<ul class="dropdown-menu">
				<li class=""><a href="#" rel="label-default"><%=l_default%></a></li>
				<li class=""><a href="#" rel="label-primary"><%=l_primary%></a></li>
				<li class=""><a href="#" rel="label-success"><%=l_success%></a></li>
				<li class=""><a href="#" rel="label-info"><%=l_info%></a></li>
				<li class=""><a href="#" rel="label-warning"><%=l_warnging%></a></li>
				<li class=""><a href="#" rel="label-danger"><%=l_danger%></a></li>


			</ul>
</span>
	</span>
    <a class="preview drag"><%==comp_name%></a>

    <div class="view">
		<span class="label label-default" contenteditable="true">标签</span>
	</div>
</div>