<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">
	</span>
    <a class="preview drag"><%==comp_name%></a>

	<div class="view">
		<div class="list-group" contenteditable="true">
			<a href="#" class="list-group-item active">主页</a>
      <div class="list-group-item">上海野生动物园</div>
			<div class="list-group-item">
        <h4 class="list-group-item-heading">鸵鸟展区</h4>
        <p class="list-group-item-text">墨西哥鸵鸟</p>
      </div>
			<div class="list-group-item"><span class="badge">14</span>帮助</div>
			<a class="list-group-item active"><span class="badge">14</span>帮助</a>
		</div>
	</div>
</div>