<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">
		<a class="btn btn-xs btn-default" href="#" rel="well"><%=l_well%></a>
	</span>
    <a class="preview drag"><%==comp_name%></a>

	<div class="view">
		<div class="media">
      <a href="#" class="pull-left">
        <img alt="Bootstrap Media Preview" src="<%=img_dir%>/prev_64.jpg" class="media-object">
      </a>
      <div class="media-body" contenteditable="true">
        <h4 class="media-heading">上海野生动物园景点介绍</h4>
          上海野生动物园是由上海市人民政府和中国国家林业局合作建设
        <div class="media">
          <a href="#" class="pull-left">
            <img alt="Bootstrap Media Another Preview" src="<%=img_dir%>/prev_64.jpg" class="media-object" style="max-height: auto;max-width: 54px">
          </a>
          <div class="media-body" contenteditable="true">
            <h4 class="media-heading">上海浦东南汇区</h4>

          </div>
        </div>
      </div>
    </div>
	</div>
</div>