<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%=l_style%> <span class="caret"></span></a>
	<ul class="dropdown-menu">
				<li class=""><a href="#" rel="nav-tabs"><%=l_default%></a></li>
				<li class=""><a href="#" rel="nav-pills"><%=l_pills%></a></li>
			</ul>
</span>
		<a class="btn btn-xs btn-default" href="#" rel="nav-stacked"><%=l_stacked%></a>
	</span>
    <a class="preview drag"><%==comp_name%></a>

    <div class="view">
    <ul class="nav nav-tabs" contenteditable="true">
      <li class="active"><a href="#">主页</a></li>
      <li><a href="#">配置</a></li>
      <li class="disabled"><a href="#">信息</a></li>
      <li class="dropdown pull-right">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">产品 <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
	</div>
</div>