<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%=l_size%> <span class="caret"></span></a>
	<ul class="dropdown-menu">
				<li class=""><a href="#" rel="pagination-lg"><%=l_large%></a></li>
				<li class="active"><a href="#" rel=""><%=l_medium%></a></li>
				<li class=""><a href="#" rel="pagination-sm"><%=l_small%></a></li>
			</ul>
</span>

			</span>
    <a class="preview drag"><%==comp_name%></a>

	<div class="view">
			<ul class="pagination" contenteditable="true">
				<li><a href="#">向前</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">向后</a></li>
			</ul>
	</div>
</div>