<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%=l_style%> <span class="caret"></span></a>
	<ul class="dropdown-menu">
				<li class=""><a href="#" rel="panel-default"><%=l_default%></a></li>
				<li class=""><a href="#" rel="panel-primary"><%=l_primary%></a></li>
				<li class=""><a href="#" rel="panel-success"><%=l_success%></a></li>
				<li class=""><a href="#" rel="panel-info"><%=l_info%></a></li>
				<li class=""><a href="#" rel="panel-warning"><%=l_warning%></a></li>
				<li class=""><a href="#" rel="panel-danger"><%=l_danger%></a></li>

			</ul>
</span>
              
	</span>
    <a class="preview drag"><%==comp_name%></a>

    <div class="view">
		<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" contenteditable="true">面板标题</h3>
      </div>
      <div class="panel-body" contenteditable="true">
        面板内容
      </div>
      <div class="panel-footer" contenteditable="true">
        面板尾部
      </div>
    </div>
	</div>
</div>