<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">
		
						  
		<a class="btn btn-xs btn-default" href="#" rel="progress-striped"><%=l_striped%></a>
		<a class="btn btn-xs btn-default" href="#" rel="active"><%=l_active%></a>
	</span>
    <a class="preview drag"><%==comp_name%></a>

	<div class="view">
		<div class="progress">
			<div class="progress-bar progress-success" style="width: 60%;"></div>
		</div>
	</div>
</div>