<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>

    <a class="preview drag"><%==comp_name%></a>

	<div class="view">
		<h2 contenteditable="true">上海旅游</h2>
		<p contenteditable="true">上海旅游全新精品线路，高品质，价格优惠，免费到住地接，是您到上海旅游的首选上海旅游精品纯玩线路，天天发团</p>
		<p><a class="btn" href="#" contenteditable="true">View details »</a></p>
	</div>
</div>