<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>

    <a class="preview drag"><%==comp_name%></a>

    <div class="view">
						<div class="row">
              <div class="col-md-4">
                <div class="thumbnail">
                  <img alt="Bootstrap Thumbnail First" src="<%=img_dir%>/waitan.jpg">
                  <div class="caption" contenteditable="true">
                    <h3>外滩</h3>
                    <p>上海旅游全新精品线路，高品质，价格优惠，免费到住地接</p>
                    <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <img alt="Bootstrap Thumbnail Second" src="<%=img_dir%>/tianzifang.jpg">
                  <div class="caption" contenteditable="true">
                    <h3>田子坊</h3>
                    <p>古老斑驳的石库门，高脚杯、咖啡吧和老唱片里都流淌着香艳的上海情</p>
                    <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <img alt="Bootstrap Thumbnail Third" src="<%=img_dir%>/chm.jpg">
                  <div class="caption" contenteditable="true">
                    <h3>老城隍庙</h3>
                    <p>去看看小洋楼的小资情调，再品品地道上海菜中的最佳旅游季节.</p>
                    <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
                  </div>
                </div>
              </div>
            </div>
	</div>
</div>