<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%=l_style%> <span class="caret"></span></a>
	<ul class="dropdown-menu">
				<li class=""><a href="#" rel="nav-tabs"><%=l_default%></a></li>
				<li class=""><a href="#" rel="nav-pills"><%=l_pills%></a></li>
			</ul>
</span>
		<a class="btn btn-xs btn-default" href="#" rel="nav-stacked"><%=l_stacked%></a>
	</span>
    <a class="preview drag"><%==comp_name%></a>

    <div class="view">
        <div class="container data-comp" data-comp-name="video">
                <h2 contenteditable="true"><%=l_title%></h2>
                <div contenteditable="true">
                    <div class="mask" style="position: absolute;top: 0px;bottom: 0px;width: 100%;height: auto;"></div>
                    <iframe src="http://static.qyy.baidu.com/static/runtime/newlego/video/img/default_5d4ad0f.png" scrolling="no" style="border:0px;height: 192px;"></iframe>
                </div>
        </div>

      </div>

</div>

