


<script type="text/javascript" src="/js/seajs.js"></script>

<script src="/js/modernizr.js"></script>
<script>
    var ajaxCbs={},ival={{$ival}},config={
        siteCfg:{{$siteCfg}},
        tempdir:"{{$tempdir}}",
        filebase:"{{$filebase}}",
        ctoken:{{if $ctoken}}"{{$ctoken}}"{{else}}''{{/if}},
        user:{{if $userJson}}{{$userJson}}{{else}}{}{{/if}},
            friends:{{if $friendsJson}}{{$friendsJson}}{{else}}[]{{/if}},
                groups:{{if $groupJson}}{{$groupJson}}{{else}}[]{{/if}},
                    setting:{{if $setting}}{{$setting}}{{else}}{}{{/if}},
                        lang:{{if $langJson}}{{$langJson}}{{else}}{}{{/if}},
                            module:"{{$module}}",
                                host:location.host,
                                chUrl:(location.protocol+'//'+location.host),
                                jsdir:"{{$jsdir}}",
                                fontdir:"{{$fontdir}}",
                                imgdir:"{{$imgdir}}",
                                cssdir:"{{$cssdir}}",
                                viewdir:"{{$viewdir}}",
                                tmpId:"{{$qrTmpId}}",
                                openUri:(location.protocol+'//'+location.host+"/callback/connect/?provider="),
                                meta:{{if $meta}}{{$meta}}{{else}}{}{{/if}},

                            };





                            Modernizr.load([
                                // Presentational polyfills
                                {
                                    // Logical list of things we would normally need
                                    test : Modernizr.prefixed("maxWidth") && Modernizr.prefixed("minWidth"),
                                    // Modernizr.load loads css and javascript by default
                                    nope : ['/js/respond.js']
                                },
                                {
                                    test : Modernizr.prefixed('console',window),
                                    nope : '/js/console.js',

                                    //both : [ 'app.js', 'extra.js' ],
                                    complete : function () {

                                    }
                                }

                                // Run your analytics after you've already kicked off all the rest
                                // of your app.
                            ]);



    //checkInput();

</script>

<script>

    seajs.config({
        base: "/js/",
        alias:{}
    });
    // For development

                seajs.use("jqm",function(){





                {{if $actionJs}}
                seajs.use("{{$actionJs}}");
                {{/if}}




           });


</script>

<img src="/img/ajax-loading.gif" alt="" style="display:none" class="loading-icon"/>
