
<div id="lockScreenMask"></div>


<script type="text/javascript" src="/js/seajs.js"></script>


<script src="/js/modernizr.js"></script>
<script>



                            Modernizr.load([
                                // Presentational polyfills
                                {
                                    // Logical list of things we would normally need
                                    test : Modernizr.prefixed("maxWidth") && Modernizr.prefixed("minWidth"),
                                    // Modernizr.load loads css and javascript by default
                                    nope : ['/js/respond.js']
                                },
                                {
                                    test : Modernizr.prefixed('console',window),
                                    nope : '/js/console.js',

                                    //both : [ 'app.js', 'extra.js' ],
                                    complete : function () {

                                    }
                                }

                                // Run your analytics after you've already kicked off all the rest
                                // of your app.
                            ]);



    //checkInput();

</script>

<script>

    seajs.config({
        base: "/js/",
        alias:{}
    });
    // For development
    if (location.href.indexOf("?dev") > 0) {
        seajs.use("jqm",function(){
            {{if $actionJs}}
                seajs.use("{{$actionJs}}_dev");

                {{/if}}
                });
            }
            // For production
            else {
                seajs.use("jqm",function(){

                    seajs.use(["bootstrap","jq.unparam","art","lodash","hammer","routie","/css/animate.css","/css/iconfont_air.css","{{$actionHeaderJs}}"],function(){
                        $.ajaxSetup({
                            beforeSend:sendAuth

                        });
                        /**
                         *  prevent submitting multiple time in short period
                         */

                        var ajaxSubmitHandler2=_.throttle(ajaxSubmitHandler, 2000);
                        $("body").on('submit',"form.ajax-form",ajaxSubmitHandler2);

                        {{if $actionJs}}

                             seajs.use([("{{$actionJs}}.js"+"?ver="+(new Date().getTime()))]);
                        {{/if}}

                    });

                 });
                }

</script>

<img src="/img/ajax-loading.gif" alt="" style="display:none" class="loading-icon"/>
