<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7{{$wechat}}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8{{$wechat}}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9{{$wechat}}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js{{$wechat}}"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{$title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    {{if $android}}
    <meta name="mobile-web-app-capable" content="yes">
    {{/if}}
    {{if $ios}}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{$siteName}}">
    {{/if}}

    {{if false}}
    <!--optimize for web app-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    {{/if}}
    {{if $ie10plus}}
    <meta name="msapplication-tap-highlight" content="no" />
    {{/if}}


    {{if $win7plus}}
    <!-- Name the Pinned Site for Windows -->
    <meta name="application-name" content="{{$siteName}}">
    <!-- Give your Pinned Site a tooltip-->
    <meta name="msapplication-tooltip" content="{{$siteDesc}}">
    <!-- Set a default page for your Pinned Site -->
    <meta name="msapplication-starturl" content="{{$siteUrl}}">
    {{/if}}
    {{if $noCache}}
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    {{/if}}
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="{{$imgdir}}apple-touch-icon-precomposed.png">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{$imgdir}}logo-72x72.png">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{$imgdir}}logo-76x76.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{$imgdir}}logo-114x114.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{$imgdir}}logo-120x120.png">
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{$imgdir}}logo-144x144.png">
    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{$imgdir}}logo-152x152.png">

    <!-- build:css style.min.css -->
    <link rel="stylesheet" href="{{$cssdir}}bootstrap.css"/>
    <link rel="stylesheet" href="{{$cssdir}}site_fonts.css"/>
    <link rel="stylesheet" href="{{$cssdir}}bootstrap-theme.css"/>
    <link rel="stylesheet" href="{{$cssdir}}site.css"/>
    <!-- /build -->
    {{if $actionCss}}
    <link rel="stylesheet" href="{{$actionCss}}"/>
    {{/if}}






    <!--[if lt IE 8]>
    <link href="/css/bs-ie7.css" rel="stylesheet">
    <![endif]-->
    {{if $isMobile or $isTablet }}
    <link href="/css/common/mobile.css" rel="stylesheet">
    {{/if}}

    <!--support html5 tag and css3 media query -->
    <!--[if lt IE 9]>

    <script src="/js/html5shiv.js"></script>
    <![endif]-->

    <script>

        var config={

            module:"{{$module}}",
            tempdir:"{{$tempdir}}",
            loadedJs:["{{$actionHeaderJs}}","{{$actionJs}}"],

            isDebug:'{{$isDebug}}',
            tempdir:"{{$tempdir}}",
            emoji:["$emoji_spliter_l","$emoji_spliter_r"],
            filebase:"{{$filebase}}",
            ctoken:"{{$ctoken}}",

            host:location.host,
            chUrl:(location.protocol+'//'+location.host),
            jsdir:"{{$jsdir}}",
            fontdir:"{{$fontdir}}",
            imgdir:"{{$imgdir}}",
            cssdir:"{{$cssdir}}",
            viewdir:"{{$viewdir}}",
            tmpId:"{{$qrTmpId}}",
            openUri:(location.protocol+'//'+location.host+"/callback/connect/?provider=")


        };

        var istore=function(){
            if(window.localStorage) return window.localStorage;

            return {
                getItem:function(key){
                    $(document).data(key)
                },
                setItem:function(k,v){$(document).data(k,v);},
                removeItem:function(k){$(document).removeData(k);}
            }


        }();
        var ajaxCbs={};


    </script>
    <script>
        config.feature={{$featureJson}}; config.chats={{$chats}}; config.user={{$userJson}}; config.lang={{$langJson}}; config.friends={{$friendsJson}}; config.groups={{$groupJson}}; config.setting={{$setting}};config.meta={{$meta}};var ival={{$ival}};
    </script>
