
<!DOCTYPE HTML>
<html lang="zh"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{{$site.title}}</title>
    <meta name="keyword" content="{{$site.keyword}}">
    <meta name="description" content="{{$site.desc}}">
    <link rel="shortcut icon" href="{{$site.icon}}" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.fullpage.css"/>


    <link rel="stylesheet" type="text/css" href="/css/landing/product.css"/>
    <title>{{$title}}</title>
</head>
<body>
<div id='view'>
    <div class="section section1">
        <div class="main_container">
            <div class="ball">
                <div class="ball_base">
                    <div class="ball_light"></div>
                    <div class="ball_img"></div>
                </div>
                <div class="num_help"></div>
                <div class="num_shadow"></div>
                <div class="five five_1"></div>
                <div class="five five_2"></div>
                <div class="five five_3 transform_left_top"></div>
                <div class="five five_4"><div class="five_inner"><div class="five_num"></div></div></div>
                <div class="five five_5"><div class="five_inner"><div class="five_num"></div></div></div>
            </div>
        </div>
        <div class="text_container">

        </div>
        <a class="btn_down" href="http://bs.baidu.com/baidu-suite-setup/Baidushoujizhushou_5.0.exe"></a>
        <div class="bottom">
            <div class="arrow"></div>
        </div>
    </div>
    <div class="section section2">
        <div class="main_container">
            <div class="bigbox">
                <div class="scissors vi"></div>
                <div class="scissors ho"></div>
                <div class="scissors vi_d"></div>
                <div class="scissors ho_d"></div>
                <div class="line_vi"></div>
                <div class="line_ho"></div>
                <div class="smallbox"></div>
                <div class="bigbox_right"></div>
                <div class="bigbox_bottom"></div>
                <div class="bigbox_deco"></div>
            </div>
        </div>
        <div class="text_container"></div>
    </div>
    <div class="section section3">
        <div class="main_container">
            <div class="base">
                <div class="back">
                </div>
                <div class="back_line line"></div>
                <div class="light"></div>
                <div class="dust_pic"></div>
                <div class="rocket"></div>
            </div>
        </div>
        <div class="text_container"></div>
    </div>
    <div class="section section4">
        <div class="main_container">
            <div class="pc">
                <div class="icon icon1"></div>
                <div class="icon icon2"></div>
                <div class="icon icon3"></div>
                <div class="icon icon4"></div>
                <div class="mobile">
                    <div class="android"></div>
                </div>
                <div class="border"></div>
            </div>
        </div>
        <div class="text_container"></div>
    </div>
    <div class='section section5'>
        <div class="main_container">
            <div class="wifi">
                <div class="wifi_continues"></div>
                <div class="wifi_uncontinues"></div>
            </div>
            <div class="box">
                <div class="pc"></div>
                <div class="mobile"></div>
            </div>
            <div class="icon_box">
                <div class="icon icon1"></div>
                <div class="icon icon2"></div>
                <div class="icon icon3"></div>
                <div class="icon icon4"></div>
            </div>
        </div>
        <div class="text_container"></div>
    </div>
    <div class='section section6'>
        <div class="main_container">
            <div class="base_container">
                <div class="base transform-3d"><div class="base_inner_frame transform-3d transform_center_bottom"><div class="base_inner transform-3d">
                            <div class="object object1 transform-3d"><div></div></div>
                            <div class="object object2 transform-3d"><div></div></div>
                            <div class="object object3 transform-3d"><div></div></div>
                            <div class="object object4 transform-3d"><div></div></div>
                            <div class="object object5 transform-3d"><div></div></div>
                            <div class="object object6 transform-3d"><div></div></div>
                            <div class="object object7 transform-3d"><div></div></div>
                            <div class="object object8 transform-3d"><div></div></div>
                            <div class="object object9 transform-3d"><div></div></div>
                            <div class="object object10 transform-3d"><div></div></div>
                            <div class="object object11 transform-3d"><div></div></div>
                            <div class="object object12 transform-3d"><div></div></div>
                        </div></div></div>
            </div>
            <div class="box"></div>
            <div class="light">
                <div class="light_inner transform-3d">
                    <div class="light_m transform_left_bottom"></div>
                    <div class="light_l1 transform_left_bottom"></div>
                    <div class="light_l2 transform_left_bottom"></div>
                    <div class="light_l3 transform_left_bottom"></div>
                    <div class="light_r1 transform_left_bottom"></div>
                    <div class="light_r2 transform_left_bottom"></div>
                    <div class="light_r3 transform_left_bottom"></div>
                </div>
            </div>
        </div>
        <div class="text_container"></div>
    </div>
    <div class='section section7'>
        <div class="main_container">
            <div class="icon_container">
                <div class="icon_container_inner">
                    <div class="icon icon1"></div>
                    <div class="icon icon2"></div>
                    <div class="icon icon3"></div>
                    <div class="icon icon4"></div>
                    <div class="icon icon5"></div>
                </div>
            </div>
        </div>
        <div class="text_container"></div>
        <a class="btn_down" href="http://bs.baidu.com/baidu-suite-setup/Baidushoujizhushou_5.0.exe"></a>
        <div class="bottom">
            <div class="arrow"></div>
        </div>
    </div>


    <div class="section section8" id="section8"><div class="main_container">
            <div class="slide active">
                <div class="intro">
                    <h1>Create Sliders</h1>
                    <p>Not only vertical scrolling but also horizontal scrolling. With fullPage.js you will be able to add horizontal sliders in the most simple way ever.</p>
                    <img src="imgs/slider.png" alt="slider" height="132" width="662" />
                </div>

            </div>
            <div class="slide">
                <div class="intro">
                    <img src="imgs/1.png" alt="simple" height="176" width="176" />
                    <h1>Simple</h1>
                    <p>Easy to use. Configurable and customizable.</p>
                </div>
            </div>
            <div class="slide">
                <div class="intro">
                    <img src="imgs/2.png" alt="Cool" height="176" width="176" />
                    <h1>Cool</h1>
                    <p>It just looks cool. Impress everybody with a simple and modern web design!</p>
                </div>
            </div>
            <div class="slide">
                <div class="intro">
                    <img src="imgs/3.png" alt="Compatible" height="176" width="176" />
                    <h1>Compatible</h1>
                    <p>Working in modern and old browsers too! IE 8 users don't have the fault of using that horrible browser! Lets give them a chance to see your site in a proper way!</p>
                </div>
            </div>   </div>

    </div>
</div>
<div class="menu fixed">
    <div class="menu_inner">
        <ul id='menu'>
            <li data-sectionid='1' class='active'></li>
            <li data-sectionid='2'></li>
            <li data-sectionid='3'></li>
            <li data-sectionid='4'></li>
            <li data-sectionid='5'></li>
            <li data-sectionid='6'></li>
            <li data-sectionid='7'></li>
            <li data-sectionid='8'></li>
        </ul>
    </div>
</div>
<div class="head fixed">
    <div class="head_inner">
        <a class="logo" href="/?from=landing"></a>
        <a class="btn" href="http://bs.baidu.com/baidu-suite-setup/Baidushoujizhushou_5.0.exe"></a>
        <a href="/appsearch" class="head_link link_appse"></a>
        <a class="head_link link_bdsuite"></a>
    </div>
</div>



{{include file="common/footer_none.phtml"}}

<div style="display:none;">

    <script type="text/javascript">
        var _ryProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _ryProtocol + "track.fogpod.com/h.js%3Fb8a99f60fd3032f4fac451accdf7d736' type='text/javascript'%3E%3C/script%3E"));
    </script>

</div>
</body>
</html>


