.item-gallery .ztb>li {
    padding: 20px 40px 0 0px;
    display: inline-block;
}

.item-gallery .ztb>li>a, .item-gallery .ztb a:visited {
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
}

.item-gallery .ztb>li>a>img {
    width: 100%;
    height: auto;
    border: 1px solid rgba(255,255,255,0.5);
    position: absolute;
    top: 0;
    z-index: 6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    -ms-transition: all .1s linear;
    transition: all .1s linear;
}

/* fade and make albums skinnier as they go back */

.item-gallery .ztb img:nth-child(1) { padding: 0 3px; top: -5px; opacity: 0.85; z-index: 5; }
.item-gallery .ztb img:nth-child(2) { padding: 0 6px; top: -10px; opacity: 0.75; z-index: 4; }
.item-gallery .ztb img:nth-child(3) { padding: 0 9px; top: -15px; opacity: 0.65; z-index: 3; }
.item-gallery .ztb img:nth-child(4) { padding: 0 12px; top: -20px; opacity: 0.45; z-index: 2; }
.item-gallery .ztb img:nth-child(5) { padding: 0 15px; top: -25px; opacity: 0.35; z-index: 1; }

/* offset the left and right album stacks */

.item-gallery .ztb li:first-child img:nth-child(1) { left: 5px; }
.item-gallery .ztb li:first-child img:nth-child(2) { left: 10px; }
.item-gallery .ztb li:first-child img:nth-child(3) { left: 15px; }
.item-gallery .ztb li:first-child img:nth-child(4) { left: 20px; }
.item-gallery .ztb li:first-child img:nth-child(5) { left: 25px; }

.item-gallery .ztb li:last-child img:nth-child(1) { left: -5px; }
.item-gallery .ztb li:last-child img:nth-child(2) { left: -10px; }
.item-gallery .ztb li:last-child img:nth-child(3) { left: -15px; }
.item-gallery .ztb li:last-child img:nth-child(4) { left: -20px; }
.item-gallery .ztb li:last-child img:nth-child(5) { left: -25px; }

/* hover "bounce" effect */

.item-gallery .ztb>li>a:hover img {
    top: -5px;
    padding: 0 3px;
}

.item-gallery .ztb>li>a:hover img:nth-child(1) {
    top: -10px;
    padding: 0 6px;
    -webkit-transition-delay: .05s;
    -moz-transition-delay: .05s;
    transition-delay: .05s;
}

.item-gallery .ztb>li>a:hover img:nth-child(2) {
    top: -15px;
    padding: 0 9px;
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
    transition-delay: .1s;
}
.item-gallery .ztb>li>a:hover img:nth-child(3) {
    top: -20px;
    padding: 0 12px;
    -webkit-transition-delay: .15s;
    -moz-transition-delay: .15s;
    transition-delay: .15s;
}

.item-gallery .ztb a:hover img:nth-child(4) {
    top: -25px;
    padding: 0 15px;
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    transition-delay: .2s;
}

.item-gallery .ztb>li>a:hover img:nth-child(5) {
    top: -30px;
    padding: 0 18px;
    -webkit-transition-delay: .25s;
    -moz-transition-delay: .25s;
    transition-delay: .25s;
}

/* text titles */

.item-gallery .ztb>li>h5 {
    margin: 0;
    padding: 5px 0 0 0;
    text-align: center;
    font-weight: 700;
}
#add-row {color:white}
.data-cover {max-width: 160px;max-height: 160px}