<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%=l_style%> <span class="caret"></span></a>
	<ul class="dropdown-menu">
				<li class=""><a href="#" rel="alert-success"><%=l_success%> </a></li>
				<li class=""><a href="#" rel="alert-info"><%=l_info%> </a></li>
				<li class=""><a href="#" rel="alert-warning"><%=l_warning%> </a></li>
				<li class=""><a href="#" rel="alert-danger"><%=l_danger%> </a></li>
			</ul>
</span>
              
	</span>
	<a class="preview drag"><%==comp_name%></a>
	<div class="view">
		<div class="alert alert-success alert-dismissable" contenteditable="true">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<h4>警告!</h4>
			<strong>警告!</strong> 您的系统是盗版. <a href="#" class="alert-link">警告链接</a>
		</div>
	</div>
</div>