<div class="box box-element ui-gable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	<a class="preview drag"><%==comp_name%></a>
	<div class="view">
		
		
<div class="carousel slide" id="myCarousel" data-interval=false>
  <ol class="carousel-indicators">
    <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
    <li data-slide-to="1" data-target="#myCarousel" class=""></li>
    <li data-slide-to="2" data-target="#myCarousel" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img alt="北京万里长城" src="<%=img_dir%>/greatwall.jpg">
      <div class="carousel-caption">
        <h4 contenteditable="true">北京万里长城</h4>
        <p contenteditable="true">长城又称万里长城，是我国古代的军事性工程。长城始建于周朝。</p>
      </div>
    </div>
    <div class="item">
      <img alt="北京颐和园" src="<%=img_dir%>/yiheyuan.jpg">
      <div class="carousel-caption">
        <h4 contenteditable="true">北京颐和园</h4>
        <p contenteditable="true">北京市古代皇家园林，前身为清漪园，坐落在北京西郊，距城区十五公里</p>
      </div>
    </div>
    <div class="item">
      <img alt="北京故宫" src="<%=img_dir%>/gugong.jpg">
      <div class="carousel-caption">
        <h4 contenteditable="true">北京故宫</h4>
        <p contenteditable="true">北京故宫博物院建立于1925年，是在明朝、清朝两代皇宫及其收藏的基础上建立起来的中国综合性博物馆</p>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>		
		
		
		
	</div>
</div>