<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	<div class="preview drag"><%==comp_name%></div>
	<div class="view">
		<div class="panel-group" id="myAccordion">
			<div class="panel panel-default">
				<div class="panel-heading">
				  <a class="panel-title" data-toggle="collapse" data-parent="#myAccordion" href="#collapseOne" contenteditable="true">
				    Collapsible Group Item #1
				  </a>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in">
				  <div class="panel-body" contenteditable="true">
				    Anim pariatur cliche...
				  </div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
				  <a class="panel-title" data-toggle="collapse" data-parent="#myAccordion" href="#collapseTwo" contenteditable="true">
				    Collapsible Group Item #2
				  </a>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
				  <div class="panel-body" contenteditable="true">
				    Anim pariatur cliche...
				  </div>
				</div>
			</div>
		</div>

	</div>
</div>