

<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>

	<span class="configuration">
  <span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"> <%=l_position%><span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class="active"><a href="#" rel=""><%=l_default%></a></li>
        <li class=""><a href="#" rel="navbar-static-top"><%=l_static_top%></a></li>
        <li class=""><a href="#" rel="navbar-fixed-top"><%=l_fixed_top%></a></li>
        <li class=""><a href="#" rel="navbar-fixed-bottom"><%=l_fixed_bottom%></a></li>
    </ul>
</span>
		<a class="btn btn-xs btn-default" href="#" rel="navbar-inverse"><%=l_inverse%></a>

	</span>
    <a class="preview drag"><%==comp_name%></a>
    <div class="view">

        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">导航切换</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LOGO</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#" contenteditable="true">文学</a></li>
                    <li><a href="#" contenteditable="true">音乐</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" contenteditable="true">音乐</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" contenteditable="true">景点 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" contenteditable="true">九寨沟</a></li>
                            <li><a href="#" contenteditable="true">丽江</a></li>
                            <li><a href="#" contenteditable="true">张家界</a></li>
                            <li class="divider"></li>
                            <li><a href="#" contenteditable="true">天涯海角</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

    </div>
</div>
