


<div class="box box-element ui-gable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>

    <a class="preview drag"><%==comp_name%></a>

    <div class="view bdsharez">
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>

    </div>
    <style>
        .bdsharez .bds_qzone{background-position:0 -52px;}.bdsharez .bds_tsina{background-position:0 -104px;}.bdsharez .bds_renren{background-position:0 -208px;}.bdsharez .bds_tqq{background-position:0 -260px;}.bdsharez .bds_kaixin001{background-position:0 -312px;}.bdsharez .bds_tqf{background-position:0 -364px;}.bdsharez .bds_hi{background-position:0 -416px;}.bdsharez .bds_douban{background-position:0 -468px;}.bdsharez .bds_tsohu{background-position:0 -520px;}.bdsharez .bds_tieba{background-position:0 -728px;}.bdsharez .bds_hx{background-position:0 -988px;}.bdsharez .bds_fx{background-position:0 -1040px;}.bdsharez .bds_ty{background-position:0 -1196px;}.bdsharez .bds_fbook{background-position:0 -1352px;}.bdsharez .bds_twi{background-position:0 -1404px;}.bdsharez .bds_linkedin{background-position:0 -1664px;}.bdsharez .bds_meilishuo{background-position:0 -1716px;}.bdsharez .bds_mogujie{background-position:0 -1768px;}.bdsharez .bds_diandian{background-position:0 -1820px;}.bdsharez .bds_huaban{background-position:0 -1872px;}.bdsharez .bds_duitang{background-position:0 -2028px;}.bdsharez .bds_youdao{background-position:0 -2080px;}.bdsharez .bds_wealink{background-position:0 -2184px;}.bdsharez .bds_copy{background-position:0 -2288px;}.bdsharez .bds_mail{background-position:0 -2340px;}.bdsharez .bds_print{background-position:0 -2392px;}.bdsharez .bds_mshare{background-position:0 -2444px;}.bdsharez .bds_sqq{background-position:0 -2652px;}.bdsharez .bds_sdo{background-position:0 -2704px;}.bdsharez .bds_qingbiji{background-position:0 -2756px;}.bdsharez .bds_people{background-position:0 -2808px;}.bdsharez .bds_xinhua{background-position:0 -2912px;}.bdsharez .bds_yaolan{background-position:0 -2964px;}.bdsharez .bds_thx{background-position:0 -2496px;}.bdsharez .bds_bdhome{background-position:0 -156px;}.bdsharez .bds_bdxc{background-position:0 -2548px;}.bdsharez .bds_bdysc{background-position:0 -3068px;}.bdsharez .bds_isohu{background-position:0 -3016px;}.bdsharez .bds_more{background-position:0 0;}.bdsharez .bds_ibaidu{background-position:0 -3120px;}.bdsharez .bds_weixin{background-position:0 -1612px;}.bdsharez .bds_iguba{background-position:0 -1300px;}.bdsharez{zoom:1;}.bdsharez:after{content:".";visibility:hidden;display:block;height:0;clear:both;}.bdsharez a,.bdsharez .bds_more{float:left;font-size:12px;padding-left:17px;line-height:16px;height:16px;background-image:url(http://bdimg.share.baidu.com/static/api/img/share/icons_1_16.png);_background-image:url(http://bdimg.share.baidu.com/static/api/img/share/icons_1_16_debase.png);background-repeat:no-repeat;cursor:pointer;margin:6px 6px 6px 0;}.bdsharez a:hover{color:#333;opacity:.8;filter:alpha(opacity=80);}.bdsharez .bds_more{color:#333;float:left;}.bdsharez .bds_count{color:#333;background:url(http://bdimg.share.baidu.com/static/api/img/share/sc.png) no-repeat 0 -30px;width:42px;height:16px;padding:0;margin:6px 0 0;text-align:center;}.bdsharez .bds_count:hover{background-position:-42px -30px;}.bdsharez .bds_button_image{float:left;cursor:pointer;margin:6px 6px 0 0;height:auto;padding:0;}.bdsharez .bdsharez_button_count{background:url(http://bdimg.share.baidu.com/static/api/img/share/sc.png?v=a970ff04.png) no-repeat 0 0;width:44px;height:24px;line-height:24px;}.bdsharez .bdsharez_button_count:hover{background-position:-44px 0;}.bds_tfh,.bds_baidu,.bds_qq,.bds_msn,.bds_sohu,.bds_qy,.bds_leho,.bds_ifeng,.bds_ff,.bds_tuita,.bds_ms,.bds_deli,.bds_s51,.bds_t163,.bds_share189,.bds_xg,.bds_s139{display:none;}


    </style>
</div>