<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	<span class="configuration">
	</span>
    <a class="preview drag"><%==comp_name%></a>
    <div class="view">
        <div class="tabbable" id="itabs"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#itab1" data-toggle="tab" contenteditable="true">标签一</a></li>
                <li><a href="#itab2" data-toggle="tab" contenteditable="true">标签二</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="itab1">
                    <p contenteditable="true">标签一内容.</p>
                </div>
                <div class="tab-pane" id="itab2">
                    <p contenteditable="true">标签二内容</p>
                </div>
            </div>
        </div>
    </div>
</div>