.typeahead,
    .tt-query,
    .tt-hint {
        width: 396px;
        height: 30px;
        padding: 8px 12px;
        font-size: 24px;
        line-height: 30px;
        border: 2px solid #ccc;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        outline: none;
    }

    .typeahead {
        background-color: #fff;
    }

    .typeahead:focus {
        border: 2px solid #0097cf;
    }

    .tt-query {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
        color: #999
    }

    .tt-dropdown-menu {
        width: 422px;
        margin-top: 12px;
        padding: 8px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .tt-suggestion {
        padding: 3px 20px;
        font-size: 18px;
        line-height: 24px;
    }

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #0097cf;

    }

    .tt-suggestion p {
        margin: 0;
    }

    #__searchitWrapper1 {z-index: 9999}
    .file-update {width:200px}
    .nav-input input {max-width:50px;width:100%}
    .dropdown-large {
        position: static !important;
    }
    .dropdown-menu-large {
        margin-left: 16px;
        margin-right: 16px;
        padding: 20px 0px;
    }
    .dropdown-menu-large > li > ul {
        padding: 0;
        margin: 0;
    }
    .dropdown-menu-large > li > ul > li {
        list-style: none;
    }
    .dropdown-menu-large > li > ul > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.428571429;
        color: #333333;
        white-space: normal;
    }
    .dropdown-menu-large > li ul > li > a:hover,
    .dropdown-menu-large > li ul > li > a:focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
    }
    .dropdown-menu-large .disabled > a,
    .dropdown-menu-large .disabled > a:hover,
    .dropdown-menu-large .disabled > a:focus {
        color: #999999;
    }
    .dropdown-menu-large .disabled > a:hover,
    .dropdown-menu-large .disabled > a:focus {
        text-decoration: none;
        background-color: transparent;
        background-image: none;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        cursor: not-allowed;
    }
    .dropdown-menu-large .dropdown-header {
        color: #428bca;
        font-size: 18px;
    }

    @media (max-width: 768px) {
        .dropdown-menu-large {
            margin-left: 0 ;
            margin-right: 0 ;
        }
        .dropdown-menu-large > li {
            margin-bottom: 30px;
        }
        .dropdown-menu-large > li:last-child {
            margin-bottom: 0;
        }
        .dropdown-menu-large .dropdown-header {
            padding: 3px 15px !important;
        }
        #prev-toolbar .dropdown .caret {margin-top: -13px}
    }

.bwizard-steps {
    display: inline-block;
    margin: 0; padding: 0;
    background: #fff }
.bwizard-steps .active {
    color: #fff;
    background: #007ACC }
.bwizard-steps .active:after {
    border-left-color: #007ACC }
.bwizard-steps .active a {
    color: #fff;
    cursor: default }
.bwizard-steps .label {
    position: relative;
    top: -1px;
    margin: 0 5px 0 0; padding: 1px 5px 2px }
.bwizard-steps .active .label {
    background-color: #333;}
.bwizard-steps li {
    display: inline-block; position: relative;
    margin-right: 5px;
    padding: 12px 17px 10px 30px;
    *display: inline;
    *padding-left: 17px;
    background: #efefef;
    line-height: 18px;
    list-style: none;
    zoom: 1; }
.bwizard-steps li:first-child {
    padding-left: 12px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px; }
.bwizard-steps li:first-child:before {
    border: none }
.bwizard-steps li:last-child {
    margin-right: 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0; }
.bwizard-steps li:last-child:after {
    border: none }
.bwizard-steps li:before {
    position: absolute;
    left: 0; top: 0;
    height: 0; width: 0;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    border-top: 20px inset transparent;
    content: "" }
.bwizard-steps li:after {
    position: absolute;
    right: -20px; top: 0;
    height: 0; width: 0;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #efefef;
    border-top: 20px inset transparent;
    content: "";
    z-index: 2; }
.bwizard-steps a {
    color: #333 }
.bwizard-steps a:hover {
    text-decoration: none }
.bwizard-steps.clickable li:not(.active) {
    cursor: pointer }
.bwizard-steps.clickable li:hover:not(.active) {
    background: #ccc }
.bwizard-steps.clickable li:hover:not(.active):after {
    border-left-color: #ccc }
.bwizard-steps.clickable li:hover:not(.active) a {
    color: #08c }
@media (max-width: 480px) {
    /* badges only on small screens */
    .bwizard-steps li:after,
    .bwizard-steps li:before {
        border: none }
    .bwizard-steps li,
    .bwizard-steps li.active,
    .bwizard-steps li:first-child,
    .bwizard-steps li:last-child {
        margin-right: 0;
        padding: 0;
        background-color: transparent }
}
body {
    padding-top:60px;
    padding-bottom: 40px;

    -webkit-transition: margin 500ms ease;
    -moz-transition: margin 500ms ease;
    -ms-transition: margin 500ms ease;
    -o-transition: margin 500ms ease;
    transition: margin 500ms ease;
}
#ry-menu {float:left}
#ry-menu .btn-group button {margin:0 0.2em}

.ry-navbar .btn-donate {padding: 0 0 0 10px;}
.ry-navbar .btn-donate form { margin:0;}


#user-lang {padding: 14px 0px !important;}
#user-icon>img {width:auto;height:50px}
@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (max-width: 979px) {
    .navbar-fixed-top { position:fixed; }
}
.tooltip {max-width: 500px;min-width:200px;width:100%}
.person-icon {margin-top: 6px}
.ry-navbar #menu-layoutit { float:left;}
.ry-navbar { min-height: 45px;}
.ry-navbar .navbar-brand {width:180px; color:#fff; padding: 0; margin:0 5px; }
.ry-navbar .navbar-brand img {float:left; margin:2px 10px 0 0; }
.ry-navbar .navbar-brand .label {
    position:relative;
    left:10px;
    top:-3px;
    font-weight:normal;
    font-size:9px;
    background:#666;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.edit .demo { margin-left:0px;padding:15px 15px 15px; border: 1px solid #DDDDDD; border-radius: 4px; position:relative; word-wrap: break-word;}
.edit .demo:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Container";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.temp-select {border:2px solid green}
.container { width:auto; margin:0 0px;}
.sidebar-nav {


    margin-top:10px;

    z-index:10;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.sidebar-nav .nav-header { cursor:pointer; font-size:14px; color:#fff; text-shadow:0 1px 0 rgba(0, 0, 0, 0.3); text-transform:uppercase; font-weight:bold;}
.sidebar-nav .nav-header span.label { font-size:10px; /*padding-bottom:0;*/ position:relative; top:-1px; }
.sidebar-nav .nav-header i.glyphicon-question-sign { color:#000; text-shadow:0 1px 0 #ddd;}
.sidebar-nav .nav-header .popover {color:#999; text-shadow:none;}

.popover-info {position:relative;}
.popover-info .popover {display:none; top: -12.5px; left:15px; }
.popover-info:hover .popover {display:block; opacity:1; width:400px;}
.popover-info:hover .popover .arrow {top:23px;}

.sidebar-nav .accordion-group { border:none; }
.boxes {}
.sidebar-nav li { line-height:28px; margin-bottom:3px; }
.sidebar-nav li .lyrow { margin-bottom:5px;}
.sidebar-nav .box {
   /** line-height:26px; width:160px; height:26px; */

}
.sidebar-nav .preview { display: block; color:#666; font-size:12px; line-height:26px;}
.sidebar-nav .preview input { width:136px; padding:0 10px; background:#bbb; font-size:10px; color:#999; line-height:20px; height:20px; position:relative; top:-1px; }
.sidebar-nav .view { display: none; }
.sidebar-nav .remove,
.sidebar-nav .configuration { display: none; }

.sidebar-nav .boxes { display:none;}

.demo .preview { display: none; }
.demo .box .view { display: block; padding-top:30px;}


.ui-draggable-dragging .view { display:block;}
/*.demo .ui-sortable-placeholder { outline: 5px dotted #ddd; visibility: visible!Important; border-radius: 4px; }*/
.ui-sortable-placeholder { outline: 1px dashed #ddd;visibility: visible!Important; border-radius: 4px;}
.edit .drag { position: absolute; top: 0;right: 0; cursor: pointer; }
.edit .drag i {color:#000; text-shadow:0 1px 0 #ddd;}

.box,.lyrow { position:relative;}

.edit .demo .lyrow .drag { top:5px; right:36px; z-index:10; }
.edit .demo .column .box .drag { top:5px; }
.edit .demo .column .box .configuration {position: absolute; top: 3px; right: 140px;white-space:nowrap; }
.edit .demo .column .box .configuration:hover { z-index:1001;}

.edit .demo .column .navbar-fixed-top {top: 33px; left: 180px;}
.demo .column .navbar-fixed-top {top: 33px;}
.edit .demo .column .navbar-fixed-bottom { left: 180px;}

.edit .demo .remove { position: absolute; top: 5px; right: 5px; z-index:10; }
.demo .configuration {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.demo .drag, .demo .remove {
    filter: alpha(opacity=20); opacity: 0.2;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.demo .lyrow:hover > .drag,
.demo .lyrow:hover > .configuration,
.demo .lyrow:hover > .remove,
.demo .box:hover .drag,
.demo .box:hover .configuration,
.demo .box:hover .remove { filter: alpha(opacity=100); opacity: 1; }
.edit .demo .row:before {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Row";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    line-height:2;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.demo .row {
    background-color: #F5F5F5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    position: relative;
    padding: 25px  14px 0;
}
.edit .column:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Column";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.column {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 19px 24px;
    position: relative;
}

/* preview */
body.devpreview { margin-left:0px;}
.devpreview .sidebar-nav {
    left:-200px;
    -webkit-transition: all 0ms ease;
    -moz-transition: all 0ms ease;
    -ms-transition: all 0ms ease;
    -o-transition: all 0ms ease;
    transition: all 0ms ease;
}
.devpreview .drag, .devpreview .configuration, .devpreview .remove { display:none !important; }
.sourcepreview .column, .sourcepreview .row, .sourcepreview .demo .box {
    margin:0px 0;
    padding:0px;
    background:none;
    border:none;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
}
.devpreview .demo .box, .devpreview .demo .row { padding-top:0; background:none; }
.devpreview .demo .column { padding-top:19px; padding-bottom:19px; }
#download-layout { display: none }
#feedbackModal textarea,
#downloadModal textarea { width:100%;height:280px;resize: none;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; }
#feedbackModal input { width:515px; }
#feedbackModal input.modal-error-field, #feedbackModal textarea.modal-error-field { border: 1px solid red; }
a.language-selected { font-style: italic; font-weight: bold; }

.modal-body { padding-bottom:0; }
.modal-footer { margin-top:0; }

.list-group-item.search-item {cursor:pointer}
#comp-panel .box{padding:0px}
#comp-panel {
    animation-delay: 0.4s; -webkit-animation-delay: 0.4s;

}
.setting-item {margin-bottom: 5px;margin-left: 15px}
.expand-item
{
    margin-left: 8px;
    font-size: 1.2em;
    font-weight: bold;
    float:right;
}
.list-item-active
{
    background: #eee;
    border-left: 3px solid #428bca;
}

#app-pages>.panel-heading {overflow: hidden;padding-top:0px;padding-bottom: 0px}
#app-pages>.panel-heading .app-title { float: left;
    margin-top: 6px}
#app-pages>.panel-heading .top-search { float: right;
    margin-top: 6px;
    padding: 0px 0px 0px 15px;}
.fa-plus {cursor: pointer}
#app-pages>.panel-heading .search_txt {width:auto}
#app-pages>.panel-heading .form-group {margin-bottom: 0px;float:right}

.searchbox {
    border:1px solid #456879;
    border-radius:6px;
    height: 22px;
    width: 200p;
    margin-top: 5px;
}
.dropzone {min-height:140px}
.dz-default.dz-message {

    background-image: none !important;
}
.dz-default.dz-message>span {
    display: block !important;
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;

}

div.tool-items>a.tool-item>i {padding:6px;font-size:1.5em}
div.tool-items>a.tool-item>input {margin-top:3px;width:40px;}
div.tool-items>a[data=hidden] {display:none}
.item-gray {background:#aaa}
.pos-bottom {margin-top:350px !important;}
.pos-top {position: absolute !important;top:0px}
/*.view-container .comp-bottom-btns {position: absolute !important;bottom:0px}*/


ul.bs-glyphicons-list {
    padding-left:0px;
}


.bs-glyphicons {
    padding-left: 0;
    padding-bottom: 1px;
    margin-bottom: 20px;
    list-style: none;
    overflow: hidden;
}
.bs-glyphicons li {
    float: left;
    width: 25%;
    height: 115px;
    list-style: none;
    padding: 10px 0px;
    margin: 0 -1px -1px 0;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #ddd;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word; /* Help out IE10+ with class names */
}
.bs-glyphicons li:hover {
    background-color: rgba(86,61,124,.1);
}

@media (min-width: 768px) {
    .bs-glyphicons li {
        width: 25%;
    }
}

.bs-glyphicons li {font-size: 1em;cursor: pointer}
.bs-glyphicons>li>img {width:70px;height: 70px}

#right-temp>a {
    margin-bottom:8px;
    margin-right:5px;
}

.fa-2x {
    font-size:2em !important;
}
#rootwizard {
    margin-top:10px;
}
.fa-3x {
    font-size:3em !important;
}
.fa-4x {
    font-size:4em !important;
}
.fa-5x {
    font-size:5em !important;
}
.preview{
      position: relative;
  cursor: pointer;


}
.box.box-element.ui-draggable {
    padding-top:4em;
}
#header {
    margin-left: -200px;
}
#menu {
    width: 180px;
}

#wrapper {
    margin-left: -20px;

}
body {padding-top: 0px}
.search-bar {
    margin: 0px 0px 10px 0px;
}




/**
 iphone images
**/


*, *:before, *:after {
    box-sizing: border-box;
}

html, body {

    min-height: 100%;
}

body {
    background: #FFF;
    font-size: 14px;
}

.device, .device *, .device *:after, .device *:before {
    backface-visibility: hidden;
}

.device {
    border: 2px solid #333;
    background: #FFF;
    border-radius: 25px;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.05);
    transition: all 0.65s cubic-bezier(0.19, 1, 0.22, 1);
}

.device__header {
    position: absolute;
    top: 22.5px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 3px;
    background: #333;
    border-radius: 1.5px;
    transition: all 0.65s cubic-bezier(0.19, 1, 0.22, 1);
}

.device__header:after, .device__header:before {
    position: absolute;
    content: "";
    transition: all 0.65s cubic-bezier(0.19, 1, 0.22, 1);
}

.device__header:before {
    top: -0.5px;
    left: -9px;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    border: 1px solid #333;
    background: #333;
}

.device__header:after {
    top: -12.5px;
    left: 50%;
    margin-left: -3px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #333;
    background: #333;
}

.device__content {
    width: 310px;
    height: 600px;
    max-height: 600px;
    overflow: auto;
    background: #FFF;
    border: 1px solid #333;
    border-radius: 1.5px;
    margin: 40px 7.5px 40px 7.5px;
    transition: all 0.65s cubic-bezier(0.19, 1, 0.22, 1);
}

.device__footer {
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #333;
    transition: all 0.65s cubic-bezier(0.19, 1, 0.22, 1);
}

.device__footer:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    border: 1px solid #333;
    border-radius: 2.5px;
    transition: all 0.65s cubic-bezier(0.19, 1, 0.22, 1);
}

/**
 * iPad and iPad Mini
 */
.device--ipad .device__header,
.device--ipad-mini .device__header {
    width: 0;
    margin-left: 0;
    border-radius: 0;
    background: transparent;
}

.device--ipad .device__header:before,
.device--ipad-mini .device__header:before {
    transform: scale(0);
}

.device--ipad .device__header:after,
.device--ipad-mini .device__header:after {
    transform: translate(0, 7.5px);
}

.device--ipad .device__content {
    width: 384px;
    height: 512px;
    margin: 40px;
}

.device--ipad-mini .device__content {
    width: 384px;
    height: 512px;
    margin: 40px 12.5px;
}

/**
 * Browser
 */
.device--browser {
    border-radius: 4px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.device--browser .device__header,
.device--browser .device__header:after,
.device--browser .device__header:before {
    width: 7px;
    height: 7px;
    left: 5px;
    top: 0px;
    transform: translate(0px, 0px) scale(1);
    margin-left: 0px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #333;
}

.device--browser .device__header {
    top: 6px;
}

.device--browser .device__header:before {
    left: 9px;
    top: -1px;
}

.device--browser .device__header:after {
    left: 19px;
    top: -1px;
}

.device--browser .device__content {
    width: 640px;
    height: 400px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-radius: 0px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin: 20px 0px 0px 0px;
}

.device--browser .device__footer {
    transform: scale(0);
}

/**
 * Container to align the device in the center/middle
 * of the screen. I could use translate() for it, but
 * depending on the size of the window, the lines would
 * look blurred.
 */
#vc .container {
    width: 100%;
    height: 100%;
    min-height: 100%;
    text-align: center;

    transition: background 0.65s cubic-bezier(0.19, 1, 0.22, 1);
}
#vc .container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#vc .container > div {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

#vc .container--ipad-mini {
    background: #67C4FF;
}

#vc .container--ipad {
    background: #FEEC5D;
}

#vc .container--browser {
    background: #F88482;
}

/*#vc .nav {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 10;*/
    /*text-align: left;*/
    /*list-style: none;*/
    /*padding: 0;*/
    /*margin: 10px 0 0 10px;*/
/*}*/
/*#vc .nav li {*/
    /*display: inline-block;*/
    /*margin-right: 10px;*/
    /*color: rgba(0, 0, 0, 0.4);*/
/*}*/
/*#vc .nav .credits {*/
    /*display: block;*/
    /*font-size: 12px;*/
    /*margin-top: 5px;*/
/*}*/
/*#vc .nav .credits a {*/
    /*border-bottom-width: 1px;*/
/*}*/
/*#vc .nav a {*/
    /*color: rgba(0, 0, 0, 0.5);*/
    /*font-weight: bold;*/
    /*text-decoration: none;*/
    /*border-bottom: 2px solid transparent;*/
    /*transition: all .15s ease-out;*/
/*}*/
/*#vc .nav a:hover {*/
    /*border-bottom-color: rgba(0, 0, 0, 0.5);*/
/*}*/


#vc .column{
    padding:0px;
}
#vc .box {
    padding:0px;
}
#vc .box.box-element.ui-draggable {
    padding-top: 0px;
}
#vc .remove.label
{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1000;
}
.box.box-element {
    cursor:pointer;
}
#vc .preview.drag {
    position: absolute;
    top: 0px;
    right: 30px;

    /* color: red; */
    display: inline-block;
    font-size: 1em;
}




#vc .box.box-element.active {
    border:1px dashed black;
}
#vc li.box {
    list-style: none;
}
.device__content {
    width:350px;
}

#vc .configuration {
    position: absolute;

}
#vc .configuration .dropdown-menu {
    z-index: 8888;
}
#vc  .box .view {
    padding-top: 0px;
}


#vc .device>.fa-qrcode {
    position: absolute;
    top: 5px;
    right: 12px;
    color: red;
    font-size: 2.2em;
    cursor: pointer;

}

/**

**/
#vc img.media-object {
    height:54PX;
width:54PX;
}

.dz-preview :not(.dz-progress) {
    display: none;
}

.preview.drag>.glyphicon-class {
    font-size:1.5em ;
}
.preview.drag>.iconfont {
    font-size:2.5em ;
}
#comp-panel .box.wrapper {display:table;}
#comp-panel .cell {
    display:table-cell;
    vertical-align:middle;
}


.fileUpload {
    position: relative;
    overflow: hidden;

}

.fileUpload>input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    width:100%;
    height:100%;
    filter: alpha(opacity=0);
}

.input-err {
    border:1px red solid;
}
#vc iframe {

    max-width: 100% !important;
    width: 100%;
    min-width: 300px;
}

.config-section .config-panel {padding:0px}
.comp-select {border:2px dotted red}


.img-preview {
    width: 160px;
    height: 90px;
    margin-top: 1em;
    border: 1px solid #ccc;
}

.cropper-wraper {
    position: relative;
}

.upload-btn {
    background: #ffffff;
    border: 1px solid #cfcfcf;
    color: #565656;
    padding: 10px 18px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top:-70px;
    margin-left:100px;



}
.filePicker {
    width:100px;
    margin-top:10px;

}
.upload-btn:hover {
    background: #f0f0f0;
}
.webuploader-pick .info {font-size:12px;}
.webuploader-pick {
    padding:0px;
    display: inline-block;
}
.webuploader-pick .progress {
    color:red;
    height:5px;
}

.upload-file {
    margin-left:10px
}
.upload-gap {
    min-height:90px;
}
.config-panel {
    margin-top: 10px;
}
#page-editor .left-pane {
    display: none;
}
#page-editor.custom .left-pane {
    display: block;
}

#img-upload {
    width:80px;height: 80px;
}