{{include file="common/header_air.phtml"}}
</head>
<body>
<img src="/img/air/wifi.png" alt=""/>
<script>
    


</script>


{{include file="common/footer_bs.phtml"}}
<!-- jQuery 2.0.2 -->
<!-- jQuery UI 1.10.3 -->
<script>
    //var wechatAppId={{$wechatAppId}};
</script>
</body></html>