<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>

    <a class="preview drag"><%==comp_name%></a>

    <div class="view">
		<address contenteditable="true">
			<strong>互联科技有限公司.</strong><br>
			北京海淀区<br>
			中关村大厦1号楼<br>
			<abbr title="Phone">电话:</abbr> (123) 456-7890
		</address>
	</div>
</div>