<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">		  
		<a class="btn btn-xs btn-default" href="#" rel="pull-right"><%=l_pull_right%></a>
	</span>
    <a class="preview drag"><%==comp_name%></a>

	<div class="view">
    <blockquote contenteditable="true">
	  <p>定义引用的表示方法与定义指针相似</p>
	  <small>孙兵 <cite title="Source Title">出自孙兵</cite></small>
    </blockquote>
	</div>
</div>