<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%=l_style%><span class="caret"></span></a>
	<ul class="dropdown-menu">

            <li class=""><a href="#" rel="btn-default"><%=l_default%></a></li>
            <li class=""><a href="#" rel="btn-primary"><%=l_primary%></a></li>
            <li class=""><a href="#" rel="btn-success"><%=l_success%></a></li>
            <li class=""><a href="#" rel="btn-info"><%=l_info%></a></li>
            <li class=""><a href="#" rel="btn-warning"><%=l_warning%></a></li>
            <li class=""><a href="#" rel="btn-danger"><%=l_danger%></a></li>
            <li class=""><a href="#" rel="btn-link"><%=l_link%></a></li>
			</ul>
</span>
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%=l_size%><span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class=""><a href="#" rel="btn-lg"><%=l_large%></a></li>
        <li class=""><a href="#" rel="btn-default"><%=l_default%></a></li>
        <li class=""><a href="#" rel="btn-sm"><%=l_small%></a></li>
        <li class=""><a href="#" rel="btn-xs"><%=l_mini%></a></li>
			</ul>
</span>
						  
		<a class="btn btn-xs btn-default" href="#" rel="btn-block"><%=l_block%></a>
		<a class="btn btn-xs btn-default" href="#" rel="active"><%=l_active%></a>
		<a class="btn btn-xs btn-default" href="#" rel="disabled"><%=l_disabled%></a>
	</span>
    <a class="preview drag"><%==comp_name%></a>

	<div class="view">
		<button type="button" class="btn btn-default" contenteditable="true"><%=l_default%></button>
	</div>
</div>