<div class="box box-element ui-gable">
		<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">		  
		<a class="btn btn-xs btn-default" href="#" rel="dl-horizontal"><%=l_horizontal%></a>
	</span>
    <a class="preview drag"><%==comp_name%></a>

	<div class="view">
		<dl contenteditable="true">
			<dt>描述列表</dt>
			<dd>非常完美的介绍</dd>
			<dt>上海旅游</dt>
			<dd>四季上海副市长赵雯赴市旅游局调研旅游业改革发展</dd>


		</dl>
	</div>
</div>