<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">
		<a class="btn btn-xs btn-default" href="#" rel="form-inline"><%=l_inline%></a>
	</span>
    <a class="preview drag"><%==comp_name%></a>

	<div class="view">
		<form role="form">
		  <div class="form-group">
		    <label for="exampleInputEmail1"><%=l_email%></label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="<%=l_email%>">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1"><%=l_password%></label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="<%=l_password%>">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputFile"><%=l_file_input%></label>
		    <input type="file" id="exampleInputFile">
		    <p class="help-block"><%=l_help_txt%></p>
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox"><%=l_checkme_out%>
		    </label>
		  </div>
		  <button type="submit" class="btn btn-default"><%=l_submit%></button>
		</form>
	</div>
</div>