<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">
	</span>
    <a class="preview drag"><%==comp_name%></a>

	<div class="view">
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label"><%=l_email%></label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="<%=l_email%>">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label"><%=l_password%></label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="<%=l_password%>">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> <%=l_remember_me%>
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default"><%=l_sign_in%></button>
    </div>
  </div>
</form>
	</div>
</div>