<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%=l_style%> <span class="caret"></span></a>
	<ul class="dropdown-menu">
				<li class="active"><a href="#" rel=""><%=l_default%></a></li>
				<li class=""><a href="#" rel="img-rounded"><%=l_rounded%></a></li>
				<li class=""><a href="#" rel="img-circle"><%=l_circle%></a></li>
				<li class=""><a href="#" rel="img-thumbnail"><%=l_thumbnail%></a></li>
			</ul>
</span>
	</span>
    <a class="preview drag"><%==comp_name%></a>

	<div class="view">
		<img alt="图片预览" src="<%=img_dir%>/food.jpg">
	</div>
</div>