<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">		  
		<a class="btn btn-xs btn-default" href="#" rel="list-unstyled"><%=l_unstyled%></a>
		<a class="btn btn-xs btn-default" href="#" rel="list-inline"><%=l_inline%></a>
	</span>
    <a class="preview drag"><%==comp_name%></a>

	<div class="view">
			<ol contenteditable="true">
              <li>上海酒店等出游</li>
              <li>想到上海旅游的人们度身定制</li>
              <li>检查旅游安全工作</li>
              <li>途牛为您推荐2015上海旅游攻略</li>
              <li>了解上海旅游攻略，订购</li>
            </ol>
	</div>
</div>