<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%=l_align%> <span class="caret"></span></a>
	<ul class="dropdown-menu">
				<li class="active"><a href="#" rel=""><%=l_default%></a></li>
				<li class=""><a href="#" rel="text-left"><%=l_left%></a></li>
				<li class=""><a href="#" rel="text-center"><%=l_center%></a></li>
				<li class=""><a href="#" rel="text-right"><%=l_right%></a></li>
			</ul>
</span>
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"> <%=l_emphasis%><span class="caret"></span></a>
	<ul class="dropdown-menu">
				<li class="active"><a href="#" rel=""><%=l_default%></a></li>
				<li class=""><a href="#" rel="text-muted"><%=l_muted%></a></li>
				<li class=""><a href="#" rel="text-primary"><%=l_primary%></a></li>
				<li class=""><a href="#" rel="text-success"><%=l_success%></a></li>
				<li class=""><a href="#" rel="text-info"><%=l_info%></a></li>
				<li class=""><a href="#" rel="text-warning"><%=l_warning%></a></li>
				<li class=""><a href="#" rel="text-danger"><%=l_danger%></a></li>
			</ul>
</span>
						  
		<a class="btn btn-xs btn-default" href="#" rel="lead"><%=l_lead%></a>
	</span>
    <a class="preview drag"><%==comp_name%></a>

	<div class="view">
		<p contenteditable="true">上海旅游经典 <strong>上海周边城市特色..</strong>.  人们了解上海、熟悉上海、走进上海 <em>为您推荐2015上海旅游攻略</em> </p>
	</div>
</div>