<div class="box box-element ui-gable">
		<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"> <%=l_style%><span class="caret"></span></a>
	<ul class="dropdown-menu">
				<li class="active"><a href="#" rel=""><%=l_default%></a></li>
				<li class=""><a href="#" rel="table-striped"><%=l_striped%></a></li>
				<li class=""><a href="#" rel="table-bordered"><%=l_bordered%></a></li>
			</ul>
</span>
		<a class="btn btn-xs btn-default" href="#" rel="table-hover"><%=l_hover%></a>
		<a class="btn btn-xs btn-default" href="#" rel="table-condensed"><%=l_condensed%></a>
	</span>
    <a class="preview drag"><%==comp_name%></a>

	<div class="view">
		<table class="table" contenteditable="true">
      <thead>
        <tr>
          <th>#</th>
          <th>Product</th>
          <th>Payment Taken</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      	<tr>
          <td>1</td>
          <td>TB - Monthly</td>
          <td>01/04/2012</td>
          <td>Default</td>
        </tr>
        <tr class="active">
          <td>1</td>
          <td>TB - Monthly</td>
          <td>01/04/2012</td>
          <td>Approved</td>
        </tr>
        <tr class="success">
          <td>2</td>
          <td>TB - Monthly</td>
          <td>02/04/2012</td>
          <td>Declined</td>
        </tr>
        <tr class="warning">
          <td>3</td>
          <td>TB - Monthly</td>
          <td>03/04/2012</td>
          <td>Pending</td>
        </tr>
        <tr class="danger">
          <td>4</td>
          <td>TB - Monthly</td>
          <td>04/04/2012</td>
          <td>Call in to confirm</td>
        </tr>
      </tbody>
    </table>
	</div>
</div>