<div class="box box-element ui-gable">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i></a>
	
	<span class="configuration">		  
		<a class="btn btn-xs btn-default" href="#" rel="list-unstyled"><%=l_unstyled%></a>
		<a class="btn btn-xs btn-default" href="#" rel="list-inline"><%=l_inline%></a>
	</span>
    <a class="preview drag"><%==comp_name%></a>

	<div class="view">
			<ul contenteditable="true">
              <li>华东五市</li>
              <li> 苏杭+水乡</li>
              <li>西塘乌镇 </li>
              <li>安徽黄山</li>
            </ul>
	</div>
</div>