
<div class="modal fade" id="settingWin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog wrtc-modal-resizable">
<div class="modal-content">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel"><div style="display:inline-block;margin-left:3px"><%=lang.account_setting%></div></h4>
</div>
<div class="modal-body2">
<div class="panel-group" id="panel-accordion">
<%if((feature.setting && feature.setting.general) || !feature.setting){%>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panel-general">
                <%=lang.setting_general%>
            </a>
        </h4>
    </div>
    <div id="panel-general" class="panel-collapse collapse">
        <div class="panel-body">


            <form role="form ajax-form" id="general-form" action="/usersetting/updategeneral">

                <div class="return-error"></div>
                <div class="return-suc"></div>

                <div class="setting-item">
                    <label class="checkbox">

                        <input type="checkbox" id="en_desknotify"  name="en_desknotify"><%=lang.desktop_notify%>
                    </label></div>

                <div class="setting-item">
                    <label class="checkbox">
                        <input type="checkbox" id="en_camlogin"  name="en_camlogin"><%=lang.camlogin%>
                    </label>

                </div>
                <div style="display: none" id="face-preview"></div>
                <canvas id="cam-canvas" width="240" height="240" style="display: none"></canvas>
                <video id="cam-video" autoplay loop style="display:none" width="240" height="240"></video>
                <div class="setting-item">
                    <label class="checkbox">

                        <input type="checkbox" id="convhistory" value="1" name="convhistory"><%=lang.show_conv_hist%>
                    </label></div>
                <div class="clearfix"></div>
                <div class="setting-item">
                    <h5 style="display: inline;font-weight:bold"><%=lang.msg_show_as%></h5>
                    <select name="convstyle">

                        <option value="1"><%=lang.normal%></option>
                        <option value="2"><%=lang.balloon%></option>

                    </select>
                </div>
                <div class="setting-item">
                    <h5 style="display: inline;font-weight:bold"><%=lang.press%></h5>
                    <select name="send_key">
                        <option value="1"><%=lang.ctrl_enter%></option>
                        <option value="0"><%=lang.enter%></option>

                    </select>
                    <span style="font-weight:bold"><%=lang.send_msg%></span>
                </div>

                <div class="clearfix"></div>
                <div class="setting-item">

                    <div style="float:left;padding-top: 5px">
                        <h5 style="display: inline;font-weight:bold;padding-top:5px"><%=lang.en_log_video%></h5>
                        <input type="hidden" id="enableSound"  name="enablesound" value="0"/>
                    </div>
                    <div class="slider-frame enablesound" style="display:inline-block">

                        <span class="slider-button">&bull;</span>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary  pull-right" id="apply-general-form"><%=lang.apply%></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<%}%>
<div class="panel panel-default">
<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#pro-setting" aria-expanded="true" aria-controls="pro-setting">
            <%=lang.setting_profile%>
        </a>
    </h4>
</div>
<div id="pro-setting" class="panel-collapse collapse in">
<div>
<ul class="nav nav-tabs">
    <li  class="active"><a href="#pro-basic" data-toggle="tab"><%=lang.setting_basic%></a></li>
    <li><a href="#pro-avatar" data-toggle="tab"><%=lang.setting_avatar%></a></li>
    <li><a href="#pro-security" data-toggle="tab"><%=lang.setting_sec%></a></li>
    <%if((feature.setting && feature.setting.extra) || !feature.setting){%>
    <li><a href="#pro-extra" data-toggle="tab"><%=lang.setting_extra%></a></li>
    <%}%>
    <%if((feature.setting && feature.setting.dev) || !feature.setting){%>
    <li><a href="#pro-dev" data-toggle="tab"><%=lang.dev_center%></a></li>
    <%}%>
    <%if((feature.setting && feature.setting.lab) || !feature.setting){%>
    <li><a href="#pro-lab" data-toggle="tab"><%=lang.lab%></a></li>
    <%}%>
    <%if((feature.setting && feature.setting.domain) || !feature.setting){%>
    <li><a href="#pro-domain" data-toggle="tab"><%=lang.domain_binding%></a></li>
    <%}%>
    <%if((feature.setting && feature.setting.account-link) || !feature.setting){%>
    <li><a href="#pro-account-link" data-toggle="tab"><%=lang.account_link%></a></li>
    <%}%>
</ul>

<div class="tab-content panel-body">
<div class="tab-pane active" id="pro-basic">


    <form class="form-horizontal ajax-form" role="form" action="/userprofile/updatebasic" method="post" id="basic-form">
        <div class="return-error"></div> <div class="return-suc"></div>

        <div class="form-group">
            <label for="pro_name" class="col-sm-4 control-label"><%=lang.name%></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="pro_name" placeholder="<%=lang.name%>" name="realname" ref='{"reg":"realname"}'>
            </div>
        </div>

        <%if(usernameEditable==1){%>
        <div class="form-group">
            <label for="pro_username" class="col-sm-4 control-label"><%=lang.username%></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="pro_username" placeholder="<%=lang.username%>" name="username" ref='{"reg":"username"}'>
            </div>
        </div>
        <%}%>



            <!--
            <div class="form-group addon-group">
                <label class="col-sm-4 control-label" for="pro_name"><%=lang.birthday%></label>
                <div class="col-sm-8 input-group"  id="birthday_div">
                    <input data-format="yyyy-MM-dd" readonly type="text" value="" name="birthday" id="birthday" class="form-control">
                    <div class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></div>
                </div>
            </div>
            -->

        <div class="form-group">

        </div>
        <div class="form-group">
            <label  class="col-sm-4 control-label"><%=lang.gender%></label>
            <div class="col-sm-8">
                <div class="radio radio-inline" style="padding-left: 0px">
                    <label>
                        <input type="radio" name="gender" value="0" checked><%=lang.male%>
                    </label>
                </div>
                <div class="radio radio-inline">
                    <label>
                        <input type="radio" name="gender" value="1"><%=lang.female%>
                    </label>
                </div>
            </div>
        </div>
        <!--
        <div class="form-group">
            <label for="pro_blood" class="col-sm-4 control-label"><%=lang.blood%></label>
            <div class="col-sm-8">
                <select class="form-control" id="pro_blood" name="bloodtype">
                    <option value="1"><%=lang.A%></option>
                    <option value="2"><%=lang.B%></option>
                    <option value="3"><%=lang.O%></option>
                    <option value="4"><%=lang.AB%></option>
                    <option value="5" selected><%=lang.other_blood%></option>
                </select>
            </div>
        </div>
        -->
        <div class="form-group">
            <label for="pro_country" class="col-sm-4 control-label"><%=lang.region%></label>
            <div class="col-sm-8">
                <select class="form-control" id="pro_country" name="country">

                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="pro_state" class="col-sm-4 control-label"><%=lang.province%></label>
            <div class="col-sm-8">
                <select class="form-control" id="pro_state" name="province">

                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="pro_city" class="col-sm-4 control-label"><%=lang.state%></label>
            <div class="col-sm-8">
                <select class="form-control" id="pro_city" name="city">

                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary pull-right" id="apply-basic"><%=lang.apply%></button>
            </div>
        </div>
    </form>

</div>
<div class="tab-pane" id="pro-avatar">



    <div class="row">
        <div class="form-group">

            <ul class="nav nav-tabs ava-tabs">
                <li><a href="#ava-pic-sec" data-toggle="tab" id="ava-pic-tab">
                    <i class="glyphicon glyphicon-picture i2"></i>
                </a></li>
                <li><a href="#ava-cam-sec" data-toggle="tab" id="ava-cam-tab"><span class="glyphicon glyphicon-facetime-video i2"></span>
                </a></li>
                <!-- remove archive icons
                <li><a href="#ava-arch-sec" data-toggle="tab" id="ava-arch-tab"> <span class="glyphicon glyphicon-briefcase i2"></span>
                </a></li>
                -->

            </ul>

            <div class="tab-content">
                <div class="tab-pane" id="ava-pic-sec">
                    <div class="return-error"></div>
                    <div class="return-suc"></div>
                    <p id="avatar-actions" style="display:none;">
                        <button type="button" class="btn btn-default" id="avatar-edit"><%=lang.edit%></button>
                        <button type="button" class="btn btn-default" id="avatar-crop"><%=lang.crop%></button>
                        <button type="button" class="btn btn-primary" id="avatar-upload"><%=lang.upload%></button>
                    </p>
                    <button class="fileinput-button btn btn-primary"><input style="width:55px;font-size: 2em" id="fileupload" type="file" name="files" multiple=""><%=lang.upload%></button>

                    <div class="img-preview">

                        <img src="holder.js/160x160" alt="" class="img-holder">


                    </div>
                </div>
                <div class="tab-pane" id="ava-cam-sec">
                    <div class="return-error"></div>
                    <div class="return-suc"></div>
                    <p id="cam-actions" style="display:none;">
                        <button type="button" class="btn btn-default" id="avatar-take"><%=lang.take%></button>
                        <button type="button" class="btn btn-primary" id="cam-upload"><%=lang.upload%></button>
                    </p>
                    <div class="img-preview">

                        <div></div>

                    </div>

                </div>
                <!--
                <div class="tab-pane" id="ava-arch-sec">

                    <div class="return-error"></div>
                    <div class="return-suc"></div>
                    <div class="ava-arch-content">

                    </div>

                </div>
                -->

            </div>



        </div>
    </div>
    <div class="row" id="avatar_result">



    </div>

</div>
<div class="tab-pane" id="pro-security">



    <form class="form-horizontal ajax-form" role="form" id="security-form" action="/user/changepassword" method="post">
        <div class="return-error"></div>
        <div class="return-suc"></div>
        <div class="form-group">
            <label for="pro_password" class="col-sm-4 control-label"><%=lang.oldpwd%></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="pro_password" placeholder="<%=lang.oldpwd%>" name="password" ref='{"reg":"password","r":1}'>
            </div>
        </div>
        <div class="form-group">
            <label for="pro_newpassword" class="col-sm-4 control-label"><%=lang.newpwd%></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="pro_newpassword" placeholder="<%=lang.newpwd%>" name="newpassword"  ref='{"reg":"password","r":1,"ref":"renewpassword"}'>
            </div>
        </div>
        <div class="form-group">
            <label for="pro_renewpassword" class="col-sm-4 control-label"><%=lang.pwdagain%></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="pro_renewpassword" placeholder="<%=lang.pwdagain%>" name="renewpassword">
            </div>
        </div>



        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary  pull-right" id="apply-security"><%=lang.apply%></button>
            </div>
        </div>
    </form>

</div>
<%if((feature.setting && feature.setting.dev) || !feature.setting){%>
<div class="tab-pane" id="pro-dev">



    <form class="form-horizontal ajax-form" role="form" id="dev-form" action="/user/genappid" method="post">
        <div class="return-error"></div>
        <div class="return-suc"></div>
        <div class="form-group">
            <label for="pro_app_id" class="col-sm-4 control-label"><%=lang.app_id%></label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control" id="pro_app_id" placeholder="<%=lang.app_id%>" name="app_id" ref='{"reg":"ry_appid","r":1}'>
            </div>
        </div>
        <div class="form-group">
            <label for="pro_app_secret" class="col-sm-4 control-label"><%=lang.app_secret%></label>
            <div class="col-sm-8">
                <input type="text"  readonly class="form-control" id="pro_app_secret" placeholder="<%=lang.app_secret%>" name="app_secret"  ref='{"reg":"ry_appsecret","r":1,"ref":"renewpassword"}'>
            </div>
            <!--
         <div class="col-sm-2">
             <button type="button" class="btn btn-primary" id="secret-show"><%=lang.show%></button>
         </div>
         -->
     </div>
     <div class="form-group">
         <label for="pro_enc_key" class="col-sm-4 control-label"><%=lang.enc_key%></label>
         <div class="col-sm-8">
             <input type="text"  readonly class="form-control" id="pro_enc_key" placeholder="<%=lang.enc_key%>" name="enc_key">
         </div>
         <!--
         <div class="col-sm-2">
             <button type="button" class="btn btn-primary" id="enc-key-gen" onclick="return genEncKey(this);"><%=lang.genenckey%></button>
         </div>
         -->
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-primary  pull-right" id="apply-dev" onclick="return devFunc(this);"><%=lang.regen%></button>
            </div>
        </div>
    </form>

</div>
<%}%>
<div class="tab-pane" id="pro-extra">

    <form class="form-horizontal ajax-form" role="form" action="/userprofile/updateextra" method="post" id="detail-form">
        <div class="return-error"></div>
        <div class="return-suc"></div>
        <div class="form-group">
            <label class="col-sm-4 control-label"><%=lang.email%></label>
            <div class="col-sm-8">
                <input type="email" class="form-control" id="pre_email" placeholder="<%=lang.email%>" name="email" ref='{"reg":"email"}'>
            </div>
        </div>
        <div class="form-group">
            <label for="pro_mobile" class="col-sm-4 control-label"><%=lang.mobile%></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="pro_mobile" placeholder="<%=lang.mobile%>" name="mobile" ref='{"reg":"cn_mobile"}'>
            </div>
        </div>

        <div class="form-group">
            <label for="pro_school" class="col-sm-4 control-label"><%=lang.school%></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="pro_school" placeholder="<%=lang.occupation%>" name="school">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-4 control-label"><%=lang.occupation%></label>
            <div class="col-sm-8">

                <select class="form-control" id="occupation" name="occupation">
                    <option value="1"><%=lang.student%></option>
                    <option value="2"><%=lang.freelancer%></option>
                    <option value="3"><%=lang.employee%></option>
                    <option value="4"><%=lang.retiree%></option>
                    <option value="5"><%=lang.unemployee%></option>
                    <option value="6"><%=lang.others%></option>

                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"><%=lang.homepage%></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="pro_site" placeholder="<%=lang.homepage%>" name="site" ref='{"reg":"url"}'>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-4 control-label"><%=lang.about%></label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="5" id="pro_aboutme" placeholder="<%=lang.about%>" name="aboutme"></textarea>
            </div>
        </div>



        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary  pull-right" id="apply-detail" value="<%=lang.apply%>">
            </div>
        </div>
    </form>
</div>
<%if((feature.setting && feature.setting.domain) || !feature.setting){%>

<div class="tab-pane" id="pro-domain">

    <form class="form-horizontal ajax-form" role="form" action="/rest/CustomDomain" method="post" id="domain-form">
        <div class="return-error"></div>
        <div class="return-suc"></div>
        <div class="form-group">
            <label class="col-sm-4"><%=lang.your_domain%></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" value="abc.e.fogpod.com"  disabled>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-4"><%=lang.binding_domain%></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="custom_domain" placeholder="<%=lang.binding_domain%>" name="custom_domain" ref='{"reg":"domain"}'>
            </div>
            <div class="col-sm-3">
                <input class="btn btn-primary" type="submit"  value="<%=lang.add%>" >
            </div>
        </div>
        </form>
    <div class="dom-item-list">
    <table class="table table-striped table-responsive selected-domains" id="selected-domains">
        <thead>

        <tr>
            <th><%=lang.binding_domain%></th>
            <th><%=lang.operation%></th>

        </tr>


        </thead>
        <tbody>

        </tbody>
    </table></div>
            <div class="caption">
                <h3>绑定自定义域名方法</h3>
                <p>
                    <!--With list groups  panel-primary,panel-success,panel-info,panel-warning,panel-danger -->
                </p><div class="panel panel-default">
                <!-- Default panel contents -->

                <div class="panel-body">
                    <p><strong>您可以通过自定义域名或者Fogpod分配的二级域名访问您的网站</strong></p>
                </div>

                <!-- List group -->

                <ul class="list-group">
                    <li class="list-group-item"><img src="/img/cname.png" alt="cname"/></li>
                    <li class="list-group-item">
                        A.主机记录处填子域名（比如需要添加xxxxx.fogpod.com的解析，只需要在主机记录处填写xxxxx即可）

                    </li>
                    <li class="list-group-item">

                        B.记录类型为CNAME

                    </li>
                    <li class="list-group-item">

                        C.填写默认类型

                    </li>
                    <li class="list-group-item">

                        D.记录值为CNAME指向的域名，只可以填写域名,域名是fogpod为您分配的域名，记录生成后会自动在域名后面补一个“.”

                    </li>


                </ul>








            </div>
        </div>


</div>
<%}%>
<%if((feature.setting && feature.setting.account-link) || !feature.setting){%>
<div class="tab-pane" id="pro-account-link">


    <div class="tab-pane active" id="social-sec">

        <ul class="nav nav-tabs">
            <li class="" id="openid_weibo"><a href="#openid_weibo_sec" data-toggle="tab" data="weibo" atitle="Weibo"><span class="fa fa-weibo fa-3x"></span></a></li>
            <li class="" id="openid_wechat"><a href="#openid_wechat_sec" data-toggle="tab" data="wechat" title="Wechat" style="padding:13px 15px"><span class="fa fa-wechat fa-25x offline"></span></a></li>
            <li class="" id="openid_dropbox"><a href="#openid_dropbox_sec" data-toggle="tab" data="twitter" atitle="Twitter"><span class="fa fa-dropbox fa-3x offline"></span></a></li>
        </ul>
        <div class="tab-content" id="openid_secs">

            <div id="openid_weibo_sec" class="tab-pane">

                <ul class="list-group"><li class="list-group-item"><a href="#" data="weibo" class="account-connect">

                <span class="fa fa-plus fa-lg"><%=lang.linked%></span>

                    </a>
                    </li>

                </ul>
                <div class="panel panel-default">
                    <div class="panel-heading"><%=lang.linked_account%></div>
                    <div class="panel-body" style="padding-left:0px;padding-right: 0px">
                        <div class="panel-group account-accordion">


                        </div>

                    </div>
                </div>


            </div>
            <div class="tab-pane" id="openid_wechat_sec">
                <ul class="list-group">
                    <li class="list-group-item"><a href="#" data="wechat" class="account-connect">
                        <span class="fa fa-plus fa-lg"><%=lang.linked%></span>
                    </a></li>

                </ul>
                <div class="panel panel-default">
                    <div class="panel-heading"><%=lang.linked_account%></div>
                    <div class="panel-body" style="padding-left:0px;padding-right: 0px">
                        <div class="panel-group account-accordion">

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="openid_dropbox_sec">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#" data="dropbox" class="account-connect">
                            <span class="fa fa-plus fa-lg"><%=lang.linked%></span>
                        </a>
                    </li>

                </ul>
                <div class="panel panel-default">
                    <div class="panel-heading"><%=lang.linked_account%></div>
                    <div class="panel-body" style="padding-left:0px;padding-right: 0px">
                        <div class="panel-group account-accordion">

                        </div>
                    </div>
                </div>
            </div>





        </div>


    </div>
</div>
<%}%>
<div class="tab-pane" id="pro-lab">

    <form class="form-horizontal ajax-form" role="form" action="/userprofile/updatelab" method="post" id="lab-form">
        <div class="return-error"></div>
        <div class="return-suc"></div>

        <div class="setting-item">
            <label class="checkbox">

                <input type="checkbox" id="mfa"  name="mfa" value="1"><%=lang.mfa%>
            </label>
        </div>
        <div class="setting-item">
            <label class="checkbox">
                <%if(wechat){%>
                <input type="checkbox" id="wechat_qlogin"  name="wechat_qlogin" value="1"><%=lang.wechat_quicklogin%>
                <%}%>
            </label>
        </div>
        <div class="form-group" id="qr_mfa_div" style="display: none">

            <div id="qr_mfa"></div>

            <h4 id="download">Download  Multi-factor Authenticator App</h4>
            <div id="apps">
                <div class="btn-group">
                    <button type="button" class="btn btn-default"><a href="" target="_blank"><span class="fa fa-android fa-2x"></span></a></button>

                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default"><a href="" target="_blank"><span class="fa fa-windows fa-2x"></span></a></button>

                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default"><a href="" target="_blank"><span class="fa fa-apple fa-2x"></span></a></button>

                </div>

            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary  pull-right" id="apply-lab" value="<%=lang.apply%>">
            </div>
        </div>
    </form>
</div>

</div>

</div>
</div>
</div>
<%if((feature.privacy && feature.setting.privacy) || !feature.setting){%>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panel-privacy">
                <%=lang.setting_privacy%>
            </a>
        </h4>
    </div>
    <div id="panel-privacy" class="panel-collapse collapse">
        <div class="panel-body">

            <form id="privacy-form ajax-form" action="/usersetting/updateprivacy" method="post">
                <div class="return-error"></div>
                <div class="return-suc"></div>
                <div>
                    <h5><%=lang.who_addme%></h5>
                    <select class="col-xs-8" name="addmeflag">
                        <option value="1"><%=lang.allow_anyone%></option>
                        <option value="2"><%=lang.self_intro%></option>
                        <option value="3"><%=lang.offer_ans%></option>
                        <option value="4"><%=lang.disallow%></option>

                    </select>
                </div>
                <div class="clearfix"></div>
                <div>
                    <label class="checkbox">
                        <input type="checkbox" id="blockMsg" value="1" name="blockmsg"><%=lang.blk_msg%>
                    </label>

                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary  pull-right" id="apply-privacy"><%=lang.apply%></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<%}%>
</div>
<style>
    .slider-frame {
        position: relative;
        display: block;
        width: 84px;
        height: 27px;
        background-color: white;

        -webkit-box-shadow: inset 0px 0px 50px 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
        box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .slider-button {
        display: block;
        width: 43px;
        height: 27px;
        line-height: 27px;
        background: #ccc;

        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        color: white;
        font-family:sans-serif;
        font-size:5em;
        font-weight:bold;
        text-align: center;
        cursor: pointer;
        -webkit-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
        box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .slider-button.on {
        margin-left: 40px;
        background: #428bca;
    }
    .drag-expand {
        position: absolute;
        bottom: 34px;
        right: 15px;
    }
    #panel-accordion   a[data-toggle=collapse] {text-decoration: none}
    .setting-item {margin-bottom: 5px}
    .addon-group {margin-bottom: 0px}
    .addon-group>.input-group {padding-left: 14px}
</style>
</div>

</div>


</div>

</div>


