
#outer-frame {
    width: 990px;
    margin: 0 auto
}

#page-logo-header {
    margin-top: -23px;
    margin-bottom: 30px
}
#page-logo-header>a {margin-left: -53px}
#page-logo-header.noborder {
    margin-bottom: 24px
}

#page-header {
    height: 17px;
    padding: 6px 0 24px;
    background: 0% 0% #fff
}

#account-header {
    float: right;
    font-size: 13px;
    margin-top: 10px;
}

#account-header .nav {
    margin-top: 0;
    list-style: none outside none
}
#toc>h4 {cursor:pointer;background-color: #e1edf7;margin-bottom: 5px}
#account-header .nav li {
    float: left;
    list-style: none outside none;
    position: relative;
    z-index: 100
}
#account-header .nav li a {
    font-size: 20px;
}
#page-footer .sub-nav,#page-full-footer .sub-nav {
    display: none;
    position: absolute;
    bottom: 35px;
    right: 0;
    padding: 5px 15px;
    min-width: 110px
}

#page-footer .sub-nav.locale-list,#page-full-footer .sub-nav.locale-list {
    min-width: 150px
}

#page-footer .sub-nav ul,#page-footer .sub-nav li {
    display: block;
    margin: 0;
    padding: 0;
    float: none
}

#page-footer .sub-nav a {
    display: block;
    float: none
}

#page-full-footer .sub-nav ul,#page-full-footer .sub-nav li {
    display: block;
    margin: 0;
    padding: 0;
    float: none
}

#page-full-footer .sub-nav a {
    display: block;
    float: none
}

#page-footer .sub-nav a,#page-full-footer .sub-nav a {
    display: block;
    padding: 6px 15px;
    margin: 0 -15px;
    font-size: 13px;
    color: #333;
    min-width: 110px
}

#page-footer .sub-nav a:hover,#page-full-footer .sub-nav a:hover {
    background: 0% 0% #e3f2ff;
    text-decoration: none
}

#page-full-footer {
    clear: both;
    padding: 120px 0 40px
}

#page-full-footer .footer-col {
    float: left;
    max-width: 200px;
    margin: 15px 60px 20px 0
}

#page-full-footer .footer-col ul {
    margin: 0;
    padding: 0
}

#page-full-footer .footer-col ul li {
    list-style: none outside none;
    font-size: 11px;
    margin: 5px 0;
    padding: 0
}

#page-full-footer .footer-col ul li.header {
    font-weight: 600
}

#page-full-footer .footer-col ul li a,#page-full-footer .footer-col ul li.header {
    font-size: 13px;
    color: #767676
}

#page-content {
    padding-bottom: 2em;
    min-height: 425px
}

#modal {
    z-index: 1000;
    width: 500px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -250px;
    border: 0 none
}

#modal,#modal-box {
    background-color: #fff;
    border-radius: 3px 3px 3px 3px
}

#modal-box {
    border: 1px solid #78b0de;
    padding: 32px;
    height: 100%
}

#modal-box h2 {
    padding: 0;
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    background: 0% 0%
}

#modal-x {
    width: 16px;
    height: 16px;
    background-image: url('../images/x-inactive.png');
    position: absolute;
    top: 12px;
    right: 12px
}

#modal-x:hover {
    background-image: url('../images/x-active.png')
}

#modal-x:active {
    background-image: url('../images/x-pressed.png')
}

div#modal-content {
    line-height: 1.8em;
    font-size: 13px;
    background-color: #fff;
    word-wrap: break-word
}

div.modal-buttons {
    text-align: right;
    margin-top: 20px
}

html.boxshadow #modal {
    box-shadow: 0 0 25px #444,0 0 0 #000inset
}

#modal-behind {
    z-index: 999;
    width: 520px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -260px;
    border: 0 none;
    background-color: #000
}

html.boxshadow #modal-behind {
    background-color: transparent
}

#modal-overlay {
    position: fixed!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #222
}

.external-drop-indicator {
    position: fixed;
    background-color: #060;
    z-index: 1000
}

.external-drop-indicator.top {
    top: 0;
    left: 6px;
    width: 100%;
    height: 6px
}

.external-drop-indicator.right {
    top: 6px;
    right: 0;
    width: 6px;
    height: 100%
}

.external-drop-indicator.bottom {
    bottom: 0;
    right: 6px;
    width: 100%;
    height: 6px
}

.external-drop-indicator.left {
    bottom: 6px;
    left: 0;
    width: 6px;
    height: 100%
}

#cu-view #albums-list .collection-preview:nth-child(4n) {
    margin-right: 0
}

#cu-view #albums-list .collection-preview:nth-child(4n-2) {
    margin-right: 56px
}

#add-to-album-modal-list .collection-preview:nth-child(4n) {
    margin-right: 0
}

.sick-input {
    position: relative
}

.sick-input input {
    width: 345px;
    height: 24px
}

.sick-input input,.sick-input textarea {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 #000,0 3px 3px #eeeinset;
    font-size: 16px;
    border: 1px solid #bfbfbf;
    padding: 5px
}

.sick-input input:hover,.sick-input textarea:hover {
    border: 1px solid #a0a0a0
}

.sick-input label {
    font-size: 16px;
    position: absolute;
    left: 8px;
    top: 6px;
    cursor: text;
    pointer-events: none;
    color: #777;
    transition: color .2s linear 0
}

.sick-input.small input {
    width: 199px;
    height: 22px
}

.sick-input.small input,.sick-input.small textarea {
    padding: 3px 5px
}

.sick-input.small input,.sick-input.small textarea,.sick-input.small label {
    font-size: 13px
}

div.autocomplete {
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: left;
    z-index: 1
}

body,input,textarea,select,button,.normal {
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    font-size: 13px;
    color: #444;
    font-weight: 400
}
select {
    border: 0;
    color: #EEE;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 378px;
    *width: 350px;
    *background: #58B14C;
    -webkit-appearance: none;
}
input[type="password"] {
    font-family: arial,sans-serif
}

noscript {
    font-size: 13px;
    font-weight: 400
}

body {
    background-color: #fff;
    min-height: 100%;
    margin: 0;
    padding: 0
}

a img {
    border: 0 none
}

label {
    cursor: default
}

.textinput {
    background: url('../images/topfade.gif') repeat-x center top #fff;
    vertical-align: middle;
    border: 1px solid #aaa;
    padding: 4px;
    color: #555;
    width: 160px;
    margin: 0
}

#db-logo {
    width: 135px;
    height: 34px
}

.offscreen {
    left: -9999px
}

#top-login-wrapper {
    position: relative
}

#login-hover-link {
    position: relative;
    display: block;
    padding: 9px 12px!important;
    background: 0% 0% #fff;
    margin-right: 0
}

#login-hover-link:hover {
    text-decoration: none
}

#login-hover-cont {
    width: 210px;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 3;
    padding-bottom: 10px
}

#login-hover-cont .sick-input {
    margin-bottom: 10px
}

#login-hover-cont #toplogin-submit {
    margin-bottom: 20px
}

#login-hover-cont .create-account {
    clear: both;
    margin: 20px -20px 0;
    padding: 5px;
    background-color: #ebf5fd;
    text-align: center
}

.dialog-menu,.chat-bubble,.chat-bubble-bottom {
    position: relative;
    padding: 20px;
    background: 0% 0% #fff;
    border-radius: 5px 5px 5px 5px
}

.chat-bubble,.chat-bubble-bottom {
    border: 1px solid #81c6ff;
    box-shadow: 0 0 5px rgba(0,0,0,.2),0 0 0 #000inset
}

.chat-bubble-arrow-border {
    border-color: transparent transparent #a8d0ff;
    top: -19px
}

.chat-bubble-arrow-border,.chat-bubble-arrow {
    border-style: solid;
    border-width: 9px;
    height: 0;
    width: 0;
    position: absolute;
    right: 30px
}

.chat-bubble-arrow {
    border-color: transparent transparent #fff;
    top: -17px
}

.chat-bubble-bottom .chat-bubble-arrow-border {
    border-color: #a8d0fftransparent transparent;
    top: auto;
    bottom: -19px
}

.chat-bubble-bottom .chat-bubble-arrow {
    border-color: #ffftransparent transparent;
    top: auto;
    bottom: -17px
}

#toplogin-submit {
    padding: 4px 10px;
    float: right;
    margin-right: 0
}

#right-content {
    float: right;
    position: relative
}

#full-content {
    padding-top: 35px
}

textarea.textinput {
    width: 100%
}

.footer-col {
    float: left;
    max-width: 200px;
    margin: 15px 20px 20px
}

.footer-col ul {
    margin: 0;
    padding: 0
}

.footer-col ul li {
    list-style: none outside none;
    font-size: 11px;
    margin: 2px 5px;
    padding: 0
}

.footer-col ul li.header {
    font-weight: 700;
    margin: 2px 0;
    color: #787878
}

.footer-col p,div.footer-col a {
    font-size: 11px
}

.footer-col a {
    text-decoration: none;
    color: #838383
}

.link-img {
    vertical-align: middle;
    background-color: #fff;
    margin: -2px 0 0;
    padding-right: 4px;
    background-repeat: no-repeat
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.clearfix {
    display: inline-block
}

html[xmlns] .clearfix {
    display: block
}

html {
    overflow-y: scroll
}

.no-border {
    border: 0 none
}

div#notice-container {
    margin: 0 10px
}

h1,h2,h3,h4,h5 {
    color: #222
}

h4 {
    font-weight: 700
}

.error-message {
    color: #b00;
    font-size: 10px
}

pre {
    padding: 2px;
    display: block
}

pre,pre:hover {
    overflow: auto
}

.right {
    float: right
}

#notify-wrapper {
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    text-align: center;
    position: fixed;
    margin-top: 5px;
    z-index: 1001
}

#notify {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3),0 0 0 #000inset;
    padding: 6px 10px;
    font-size: 12px;
    display: inline-block;
    color: #222
}

.emo {
    background: 0% 0% #f4faff;
    padding: 20px;
    border: 1px solid #ace
}

.clean {
    margin: 0;
    padding: 0
}

.link-span,.link-span a,.link-span img {
    cursor: pointer
}

.link-span:hover a {
    text-decoration: underline
}

.blue-bullets li {
    list-style: none outside none;
    background: url('../images/bullet_blue.gif') no-repeat 0% 0%
}

.song,.video {
    display: block
}

.hotbox {
    border: 1px solid #ace
}

.hotbox,.green-hotbox,.orange-hotbox {
    background: url('..images/white_pixel.gif') repeat-x 0% 0% #f4faff;
    padding: 20px
}

.orange-hotbox {
    border: 1px solid #ace
}

html.borderradius .hotbox,html.borderradius .green-hotbox,html.borderradius .orange-hotbox {
    border-radius: 3px 3px 3px 3px
}

.green-hotbox {
    background-color: #f4fdee;
    border: 1px solid #beddb9
}

#locale-container {
    position: relative;
    float: right;
    margin-top: 20px;
    margin-right: 16px;
    min-width: 50px;
    max-width: 200px
}

#locale-container img {
    vertical-align: middle
}

#locale-container .link-span a {
    margin-right: 3px;
    font-size: 13px;
    font-weight: 600;
    color: #767676;
    vertical-align: middle
}

#modal-locale-selector ul {
    font-size: 20px;
    line-height: 1.8em;
    list-style: none outside none
}

.sprite_web {
    width: 16px;
    height: 16px;
    background-image: url('../images/web_sprites-vflr78z1i.png');
    background-repeat: no-repeat
}

.s_web_sort-uptick-off {
    background-position: left -8949px;
    width: 9px;
    height: 9px
}

.s_web_world_grey {
    background-position: left -10276px
}

.s_web_door_in {
    background-position: left -1885px
}

.s_web_login_arrow {
    background-position: left -4539px
}

* {
    cursor: auto
}

h1,h3 {
    padding: 0
}

h4,h5 {
    margin: 0
}

h4,h5,p {
    padding: 0
}

dl {
    margin: 0
}

dl,dd {
    padding: 0
}

ul,li,form,th,td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img {
    border: 0 none
}

ul li {
    list-style: none outside none
}

a {
    color: #1f75cc;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

a,a * {
    cursor: pointer
}

a,a *,:focus {
    outline: medium none
}

.clear {
    clear: left
}

h1,h2,h3,h4,h5,p,dl,td {
    line-height: 20px
}

h1 {
    font-size: 22px;
    font-weight: 600;
    margin: 9px 0 24px
}

h2 {
    margin: 30px 0 6px;
    background: url('../images/dots.gif') repeat-x center bottom;
    padding: 0 0 14px;
    font-size: 18px
}

h3 {
    font-size: 14px;
    background: 0% 0%;
    margin: 19px 0 4px
}

h4 {
    font-size: 13px
}

p,ul.parameters {
    margin: 0 0 16px
}

.hotbox {
    margin: 0 0 1.16em
}

pre {
    margin: 10px 0
}

.emo {
    margin-bottom: 30px
}

.section h1 {
    margin-top: 1.53em
}

.freshbutton:hover,.freshbutton-blue:hover {
    text-decoration: none
}

#nav {
    float: left;
    width: 190px;
    padding-top: 1px;
    margin-left:-15px
}

#nav a,#toc a {
    display: block
}

#toc a {
    padding-left: 40px
}

#nav a:hover,#toc a:hover {
    text-decoration: none
}

#nav ul li {
    padding-left: 10px;
    margin-top: 7px
}

#nav ul .head {
    padding-left: 0;
    font-size: 15px;
    margin-top: 17px
}

#nav ul .selected a {
    color: #000
}

#right-content {
    padding-top: 8px;
    width: 800px
}

pre {
    font-size: 12px
}

.literal-block {
    background: 0% 0% #fafafa;
    padding: 10px;
    border: 1px solid #ddd
}

.selected {
    color: #222
}

.selected:hover,.selected:hover * {
    text-decoration: none;
    cursor: default
}

.blue-bullets {
    margin: 0 0 1.16em;
    padding: 0
}

.blue-bullets li {
    list-style-type: none;
    line-height: 1.6em;
    background: url('bullet_blue_001.gif') no-repeat 0 2px;
    padding: 0 0 0 20px;
    margin: 0 0 0 4px
}

#nav,#right-content {
    background-color: #fff;
    font: 13px "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif
}

h3>ul {
    font-size: 13px;
    float: right
}

#right-content h3>ul>li {
    font-size: 13px;
    float: left;
    margin-left: 10px;
    font-weight: 400
}

ul.parameters li {
    padding-bottom: 20px
}

ul.parameters li:last-child {
    padding-bottom: 0
}

ul.parameters .param {
    font-weight: 700;
    padding-right: .4em
}

ul.parameters .param-info {
    font-style: italic;
    color: #acacac;
    padding-right: .6em
}

.green-hotbox {
    margin-left: 10px
}

#toc {
    position: absolute;
    width: 240px;
    font-size: 13px;
    margin: 120px 0 0 -245px;
    padding: 20px 0 0;
    border-top: 1px dotted #ccc;
    background: 0% 0% #fff
}

#right-content #toc li,#toc h4 {
    line-height: 25px
}

#toc h4 {
    padding-left: 40px
}

#right-content #toc ul {
    width: 240px
}

.errors-table td {
    vertical-align: top
}

dt {
    float: left;
    width: 100px;
    font-size: 11px;
    text-transform: uppercase;
    color: #888;
    text-align: right;
    padding-top: 1px
}

.url-label {
    padding-top: 11px
}

dd {
    margin: 0 0 20px 120px
}

.section .errors-table td {
    padding: 0 10px 10px 0
}

.method-title {
    font-size: 16px;
    margin: 35px 0 21px;
    padding-top: 22px
}

.method-title-first {
    font-size: 16px;
    padding-top: 22px;
    margin: 20px 0 21px
}

#right-content li {
    margin: 0;
    line-height: 20px
}

#toc ul {
    padding: 0 0 10px
}

table.api-param-values {
    border: 1px solid #ddd;
    width: 100%
}

table.api-param-values th,table.api-param-values td {
    text-align: left;
    vertical-align: top;
    padding: 6px 6px 6px 11px
}

table.api-param-values tr {
    width: 20px
}

table.api-param-values tr:nth-child(2) td {
    padding-top: 11px
}

table.api-param-values tr:last-child td {
    padding-bottom: 12px
}

table.center-first-col tr td:first-child,table.center-first-col tr th:first-child {
    text-align: center;
    width: 70px
}

table.api-param-values th {
    background-color: #fafafa;
    border-bottom: 1px solid #ddd
}

.logo.img {margin-left: -40px;}

.toc-selected{background:#0074D9;color:#fff}.toc-fixed{position:fixed;margin-top:-136px;z-index:999}dt{margin-right:6px}#toc ul li.toc-selected{width:240px}


.doc-select {  margin-left: -40px;}
#doc-select {

    /* color: #EEE; */

    background: url(/img/select_arrow.png) no-repeat 96% 0;

    overflow: hidden;
    width: 240px;

    border: none;
    font-size: 14px;
    height: 29px;
    cursor: pointer;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    background-color:#0074D9;
    margin-bottom: 5px;

}
