/**
 * media widget
 */
.am-media {
  padding: 5px 5px 0 5px;
  list-style: none;
}
.am-media h3 {
  margin: 0;
}
[data-am-media*='pureview'] img {
  cursor: pointer;
}
/**
  * Gallery Theme: default
  * Author: Minwe (minwe@yunshipei.com)
  */
.am-media-default  li {
  padding: 5px;
}
.am-media-default .media img {
    max-width: 64px;
    height: auto;
}

.am-media-default .media-desc,.am-media-default .media-title {
  

     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #555555;
}
.am-media-default .media-desc {
    color: #999999;
 
  font-size: 1.2rem;
}


.media {
    margin-top: 15px;
}
.media:first-child {
    margin-top: 0;
}
.media,
.media-body {
    overflow: hidden;
    zoom: 1;
}
.media-body {
    width: 10000px;
}
.media-object {
    display: block;
}
.media-right,
.media > .pull-right {
    padding-left: 10px;
}
.media-left,
.media > .pull-left {
    padding-right: 10px;
}
.media-left,
.media-right,
.media-body {
    display: table-cell;
    vertical-align: top;
}
.media-middle {
    vertical-align: middle;
}
.media-bottom {
    vertical-align: bottom;
}
.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.media-list {
    padding-left: 0;
    list-style: none;
}
.m-widget-list a::after {
    display: inline-block;
    font: normal normal normal 1.6rem/1 FontAwesome,sans-serif;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
    content: "\f054";
    position: absolute;
    right: 10px;
    color: #ccc;
    top: 50%;
    margin-top: -8px;