
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont_air.eot'); /* IE9*/
  src: url('../fonts/iconfont_air.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont_air.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont_air.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont_air.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {


    display: inline-block;
    font: normal normal normal 14px/1 iconfont;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;

    -moz-osx-font-smoothing: grayscale;
}
.icon-shachenbao:before { content: "\e638"; }
.icon-zhenyu:before { content: "\e62c"; }
.icon-leizhenyu:before { content: "\e62d"; }
.icon-fuchen:before { content: "\e642"; }
.icon-xiaoxue:before { content: "\e636"; }
.icon-duoyun:before { content: "\e62a"; }
.icon-xiaoyu:before { content: "\e632"; }
.icon-dongyu:before { content: "\e639"; }
.icon-mai:before { content: "\e644"; }
.icon-yin:before { content: "\e62b"; }
.icon-yangsha:before { content: "\e643"; }
.icon-zhenxue:before { content: "\e635"; }
.icon-yujiaxue:before { content: "\e631"; }
.icon-qiangshachenbao:before { content: "\e63f"; }
.icon-qing:before { content: "\e629"; }
.icon-wu:before { content: "\e641"; }
.icon-dadaobaoyu:before { content: "\e633"; }
.icon-baoyu:before { content: "\e633"; }
.icon-zhongyu:before { content: "\e63a"; }
.icon-xiaodaozhongyu:before { content: "\e63a"; }
.icon-baoxue:before { content: "\e62f"; }
.icon-dadaobaoxue:before { content: "\e62f"; }
.icon-zhongdaodaxue:before { content: "\e637"; }
.icon-daxue:before { content: "\e637"; }
.icon-leizhenyubanyoubingbao:before { content: "\e62e"; }
.icon-zhongdaodayu:before { content: "\e630"; }
.icon-dayu:before { content: "\e630"; }
.icon-tedabaoyu:before { content: "\e63c"; }
.icon-dabaoyudaotedabaoyu:before { content: "\e63c"; }
.icon-dabaoyu:before { content: "\e634"; }
.icon-baoyudaodabaoyu:before { content: "\e634"; }
.icon-zhongxue:before { content: "\e63b"; }
.icon-xiaodaozhongxue:before { content: "\e63b"; }