
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}



.icon-text:before { content: "\e601"; }
.icon-share:before { content: "\e612"; }
.icon-phone:before { content: "\e613"; }
.icon-map:before { content: "\e614"; }
.icon-progress_bar:before { content: "\e620"; }
.icon-paragraph:before { content: "\e621"; }
.icon-label:before { content: "\e622"; }
.icon-bbs:before { content: "\e615"; }
.icon-contact:before { content: "\e616"; }
.icon-badge:before { content: "\e63c"; }
.icon-carousel:before { content: "\e603"; }
.icon-pagination:before { content: "\e624"; }
.icon-image:before { content: "\e604"; }
.icon-media_object:before { content: "\e625"; }
.icon-breadcrumb:before { content: "\e626"; }
.icon-page_header:before { content: "\e627"; }
.icon-navs:before { content: "\e605"; }
.icon-video:before { content: "\e607"; }
.icon-collapse:before { content: "\e623"; }
.icon-tabs:before { content: "\e639"; }
.icon-Column:before { content: "\e617"; }
.icon-button_group:before { content: "\e628"; }
.icon-anchor_button:before { content: "\e608"; }
.icon-lottery:before { content: "\e619"; }
.icon-tabs1:before { content: "\e629"; }
.icon-statistics:before { content: "\e61a"; }
.icon-modal:before { content: "\e62a"; }
.icon-panels:before { content: "\e62b"; }
.icon-form:before { content: "\e62c"; }
.icon-horizontal_form:before { content: "\e62d"; }
.icon-html:before { content: "\e609"; }
.icon-navbar:before { content: "\e637"; }
.icon-hr:before { content: "\e61c"; }
.icon-thumbnails:before { content: "\e60b"; }
.icon-address:before { content: "\e62e"; }
.icon-description:before { content: "\e62f"; }
.icon-List:before { content: "\e60c"; }
.icon-button_dropdowns:before { content: "\e631"; }
.icon-list_group:before { content: "\e632"; }
.icon-alerts:before { content: "\e633"; }
.icon-blockquote:before { content: "\e634"; }
.icon-ordered_list:before { content: "\e635"; }
.icon-unordered_list:before { content: "\e636"; }
.icon-footer:before { content: "\e638"; }
.icon-table:before { content: "\e60e"; }
.icon-shangwuhezuo:before { content: "\e61e"; }
.icon-message:before { content: "\e61f"; }
.icon-button:before { content: "\e60f"; }
.icon-thumbnails1:before { content: "\e63a"; }
.icon-title:before { content: "\e60d"; }
.icon-commodity:before { content: "\e610"; }
.icon-tab:before { content: "\e611"; }
.icon-cover_1:before { content: "\e600"; }
.icon-cover_2:before { content: "\e602"; }
.icon-cover_3:before { content: "\e606"; }
.icon-cover_4:before { content: "\e60a"; }
.icon-cover_5:before { content: "\e618"; }
.icon-cover_6:before { content: "\e61b"; }
.icon-cover_poster:before { content: "\e61d"; }
.icon-jumbotron:before { content: "\e63b"; }


