/**
    need use the following to build bootstrap less to produce your custom bs style
*/
@charset "UTF-8";


.fa-6x {
    font-size: 6m;
}
.fa-7x {
    font-size: 7m;
}
.fa-8x {
    font-size: 8m;
}
.fa-9x {
    font-size: 9m;
}
.fa-10x {
    font-size: 10m;
}
.fa-11x {
    font-size: 11m;
}
.fa-12x {
    font-size: 12m;
}