{{include file="common/header_common.phtml"}}


<script>
    var menus=[];


</script>

</head>
<body>

<!-- Simple splash screen-->
<div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>{{$splash.title}}</h1><p>{{$splash.content}} </p><img src="{{$imgdir}}/{{$splash.img}}" width="64" height="64" /> </div> </div>
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Header -->
{{include file="common/top_header.phtml"}}


<!-- Navigation -->
{{include file="common/left_aside.phtml"}}




<!-- Main Wrapper -->
<div id="wrapper">
<ul class="nav nav-pills nav-justified">
    <li class="active"><a href="#t_ibeacon_visitor" data-toggle="tab">ibeacon统计分析</a></li>
    <li><a href="#t_wechat_visitor" data-toggle="tab">微信访客分析</a></li>
    <li><a href="#t_red_locket" data-toggle="tab">红包和优惠券</a></li>
    <li><a href="#t_wifi_visitor" data-toggle="tab">Wifi访客分析</a></li>
</ul>
    <div class="tab-content panel-body">
        <div class="tab-content panel-body">
            <div class="tab-pane active" id="t_ibeacon_visitor">
            <div class="content animate-panel">


            <div class="row">




                <div class="col-lg-6">

                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                <a class="closebox"><i class="fa fa-times"></i></a>
                            </div>
                            {{$lang.apple_visits}}
                        </div>
                        <div class="panel-body">
                            <div>
                                <canvas id="singleBarOptions" height="140"></canvas>
                            </div>
                        </div>
                    </div>


                </div>


            </div>

            <div class="row">

                <div class="col-lg-8">
                    <div class="hpanel">
                        <div class="panel-heading">

                            <div class="panel-tools">
                                <select name="" id="" class="apple-select">
                                    <option value="">朝阳A区</option>
                                    <option value="">朝阳B区</option>
                                    <option value="">朝阳C区</option>
                                    <option value="">朝阳D区</option>
                                    <option value="">朝阳E区</option>
                                    <option value="">朝阳F区</option>
                                </select>
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                <a class="closebox"><i class="fa fa-times"></i></a>
                            </div>
                            {{$lang.apple_visit_curve}}
                        </div>
                        <div class="panel-body">
                            <div>
                                <canvas id="lineOptions" height="140"></canvas>
                            </div>
                        </div>
                    </div>
                </div>




            </div>


            </div>
            </div>



            <div class="tab-pane" id="t_wechat_visitor">  <div class="content animate-panel">
                    <div class="row">

                        <div class="col-lg-3">
                            <div class="hpanel stats">
                                <div class="panel-body h-200">
                                    <div class="stats-title pull-left">
                                        <h4>{{$lang.today_bus_visit}}</h4>
                                    </div>
                                    <div class="stats-icon pull-right">
                                        <i class="fa fa-files-o  fa-4x"></i>
                                    </div>
                                    <div class="m-t-xl">
                                        <h1 class="text-success">{{$data.today_visit}}</h1>
                    <span class="font-bold no-margins">
                        Social users
                    </span>
                                        <br/>
                                        <small>
                                            Lorem Ipsum is simply dummy text of the printing and <strong>typesetting industry</strong>. Lorem Ipsum has been.
                                        </small>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="hpanel stats">
                                <div class="panel-body h-200">
                                    <div class="stats-title pull-left">
                                        <h4>{{$lang.follows}}</h4>
                                    </div>
                                    <div class="stats-icon pull-right">
                                        <i class="fa fa-users fa-4x"></i>
                                    </div>
                                    <div class="m-t-xl">
                                        <h1 class="text-success">{{$data.follows}}</h1>
                    <span class="font-bold no-margins">
                        Social users
                    </span>
                                        <br/>
                                        <small>
                                            Lorem Ipsum is simply dummy text of the printing and <strong>typesetting industry</strong>. Lorem Ipsum has been.
                                        </small>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-3">
                            <div class="hpanel stats">
                                <div class="panel-body h-200">
                                    <div class="stats-title pull-left">
                                        <h4>{{$lang.repeated_visitors}}</h4>
                                    </div>
                                    <div class="stats-icon pull-right">
                                        <i class="fa fa-files-o  fa-4x"></i>
                                    </div>
                                    <div class="m-t-xl">
                                        <h1 class="text-success">{{$data.repeated_visitors}}</h1>
                    <span class="font-bold no-margins">
                        Social users
                    </span>
                                        <br/>
                                        <small>
                                            Lorem Ipsum is simply dummy text of the printing and <strong>typesetting industry</strong>. Lorem Ipsum has been.
                                        </small>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-3">

                            <div class="hpanel stats">
                                <div class="panel-body h-200">
                                    <div class="stats-title pull-left">
                                        <h4><span class="data-order">{{$lang.online_order}}</span> <span class="data-trans">{{$lang.online_trans}}</span></h4></h4>
                                    </div>

                                    <div class="stats-icon pull-right">
                                        <i class="fa fa-cny fa-4x"></i>
                                    </div>


                                    <div class="m-t-xl">
                                        <h1 class="text-success"><span class="data-order">{{$data.orders}}</span><span class="data-trans">{{$data.trans}}</span></h1>


                                        <br/>
                                        <div class="btn-group">
                                            <button class="btn btn-primary active" type="button">今天</button>
                                            <button class="btn btn-default" type="button">周</button>
                                            <button class="btn btn-default" type="button">月</button>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                <div class="row">
                    <div class="col-lg-4">


                        <div class="hpanel stats">
                            <div class="panel-heading">

                                <div class="panel-tools">


                                </div>
                                &nbsp;
                            </div>
                            <div class="panel-body h-200">
                                <div class="stats-title pull-left">
                                    <h4>{{$lang.user_dist}}</h4>
                                </div>
                                <div class="stats-icon pull-right">
                                    <i class="fa fa-pie-chart fa-4x"></i>
                                </div>
                                <div class="clearfix"></div>
                                <div class="flot-chart">
                                    <div class="flot-chart-content" id="flot-pie-chart" style="height: 112px"></div>
                                </div>
                            </div>
                        </div>







                    </div>



                            <div class="col-lg-6">
                                <div class="hpanel">
                                    <div class="panel-heading">
                                        <div class="panel-tools">
                                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                            <a class="closebox"><i class="fa fa-times"></i></a>
                                        </div>
                                        {{$lang.visitor_stat}}
                                    </div>
                                    <div class="panel-body">
                                        <div>
                                            <canvas id="visitor_stat" height="140"></canvas>
                                        </div>
                                    </div>
                                </div>


                        </div>

                </div>
                </div></div>
            <div class="tab-pane" id="t_red_locket">  <div class="content animate-panel">
                    <div class="row">

                        <div class="col-lg-4">


                            <div class="hpanel">

                                <div class="panel-body">
                                    {{$lang.red_locket_stat}}
                                    <div>
                                        <canvas id="red_locket_stat" height="140"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div></div></div>
            <div class="tab-pane" id="t_wifi_visitor">  <div class="content animate-panel">
                    <div class="row"></div></div></div>
        </div>
    </div>


</div>

<!-- Vendor scripts -->

{{include file="common/footer.phtml"}}
</body>
</html>
