



<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="../assets/i/favicon.png">
  <link rel="stylesheet" href="../res/assets/css/amazeui.min.css">
  <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1436247337_1158645.css">
  <link rel="stylesheet" href="../res/assets/css/app.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 不提供支持。 请 <a
  href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<script type="text/x-handlebars-template" id="amz-tpl">
  {{>header header}}

  {{>menu menu}}


	</script>
 






		<form class="am-form am-form-horizontal" style="margin-top:20px">
<div class="am-form-group">
    <label for="doc-ipt-3" class="am-u-sm-4 am-form-label">姓名</label>
    <div class="am-u-sm-8">
      <input type="text" id="doc-ipt-3" placeholder="姓名">
    </div>
  </div>
  <div class="am-form-group">
    <label for="doc-ipt-3" class="am-u-sm-4 am-form-label">地址</label>
    <div class="am-u-sm-8">
    <input type="hidden" name="address">
     <lbs-geo id="geo" city="北京" enable-modified="true"></lbs-geo>

    </div>
  </div>
  <div class="am-form-group">
    <label for="doc-ipt-3" class="am-u-sm-4 am-form-label">楼层门牌号</label>
    <div class="am-u-sm-8">
      <input type="text" id="doc-ipt-3" placeholder="楼层门牌号">
    </div>
  </div>

  <div class="am-form-group">
    <label for="doc-ipt-pwd-2" class="am-u-sm-4 am-form-label">联系电话</label>
    <div class="am-u-sm-8">
      <input type="tel" id="doc-ipt-pwd-2" placeholder="联系电话">
    </div>
  </div>

  <div class="am-form-group">
    <div class="am-u-sm-offset-4 am-u-sm-9">
      <div class="checkbox">
        <label>
          <input type="radio" name="sex">男士 <input type="radio" name="sex"> 女士
        </label>
      </div>
    </div>
  </div>

  <div class="am-form-group">
    <div class="am-u-sm-10 am-u-sm-offset-4">
      <button type="submit" class="am-btn am-btn-default">提交信息</button>
    </div>
  </div>
</form>






<script src="../res/assets/js/jquery.min.js"></script>
<script src="../res/assets/js/amazeui.js"></script>
<script src="../res/assets/js/handlebars.min.js"></script>
<script src="../res/assets/js/amazeui.widgets.helper.js"></script>




<script src="http://api.map.baidu.com/components?ak=BD0wOR97fUQM0pAvKG9LkU6z&v=1.0"></script>


<script>
  var $tpl = $('#amz-tpl');
  var source = $tpl.text();
  var template = Handlebars.compile(source);
  var data = {
    header: {
      "content": {
        "title": "牛百万",
        "left": [{
          "link": "#back",
          "icon": "chevron-left",
        }]
      }
    }
};
var html = template(data);

  $tpl.before(html);

// 先获取元素
var lbsGeo = document.getElementById('geo');
//监听定位失败事件 geofail  
lbsGeo.addEventListener("geofail",function(evt){ 
    console.log("fail");
});
//监听定位成功事件 geosuccess
lbsGeo.addEventListener("geosuccess",function(evt){ 
    console.log(evt.detail);
    var address = evt.detail.address;
    var coords = evt.detail.coords;
    var x = coords.lng; 
    var y = coords.lat;
    $("form input[name=address]").val(address);
    console.log("地址："+address);
    console.log("地理坐标："+x+','+y);
});
   $("a[href='#back']").on('click',function(){
      history.back();
      return false;
   });
</script>
</body>
</html>
