<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../res/assets/i/favicon.png">
    <link rel="stylesheet" href="../res/assets/css/amazeui.min.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1436247337_1158645.css">
    <link rel="stylesheet" href="../res/assets/css/app.css">
</head>
<body>
<script type="text/x-handlebars-template" id="amz-tpl">

{{>header header}}
        </script>
<div data-am-widget="list_news" class="am-list-news am-list-news-default">
    <!--列表标题-->
    <div class="am-list-news-hd am-cf">
        <!--带更多链接-->
        <a href="###" class="">
            <h2>北京国展店</h2>
        </a>
    </div>
    <div class="am-list-news-bd">
        <ul class="am-list">
            <li class="am-g">
                <a href="#" class="am-list-item-hd ">电话:2302983</a>
            </li>
            <li class="am-g">
                <a href="#" class="am-list-item-hd ">地址:北京东单</a>
            </li>
            <li class="am-g">
                <a href="#" class="am-list-item-hd ">微信:北京东单</a>
            </li>
            <li class="am-g">
                <a href="#"><span class="pull-left">微信号:</span><img src="http://img5.douban.com/lpic/o636459.jpg" alt="我很囧，你保重....北京牛百万三里屯！" width="96px"></a>
            </li>
        </ul>
    </div>
    <!--更多在底部-->

</div>
<div data-am-widget="list_news" class="am-list-news am-list-news-default">
    <!--列表标题-->
    <div class="am-list-news-hd am-cf">
        <!--带更多链接-->
        <a href="###" class="">
            <h2>上海</h2>
        </a>
    </div>
    <div class="am-list-news-bd">
        <ul class="am-list">
            <li class="am-g">
                <a href="#" class="am-list-item-hd ">电话:121302983</a>
            </li>
            <li class="am-g">
                <a href="#" class="am-list-item-hd ">地址:北京三里屯</a>
            </li>
            <li class="am-g">
                <a href="#" class="am-list-item-hd ">微信:北京牛百万三里屯</a>
            </li>
            <li class="am-g">
                <a href="#"><span class="pull-left">微信号:</span><img src="http://img5.douban.com/lpic/o636459.jpg" alt="我很囧，你保重....北京牛百万三里屯！" width="96px"></a>
            </li>
        </ul>
    </div>
    <!--更多在底部-->

</div>

<script src="../res/assets/js/jquery.min.js"></script>
<script src="../res/assets/js/amazeui.js"></script>
<script src="../res/assets/js/handlebars.min.js"></script>
<script src="../res/assets/js/amazeui.widgets.helper.js"></script>
<script>
    var $tpl = $('#amz-tpl');
    var source = $tpl.text();
    var template = Handlebars.compile(source);
    var data = {
        header: {
            "content": {
                "title": "牛百万",
                "left": [{
                    "link": "#back",
                    "icon": "chevron-left"
                }]
            }
        }
    };
    var html = template(data);

    $tpl.before(html);
    $("body").on("click","a[href='#back']",function(){
        history.back();
        return false;
    });
</script>
</body>
</html>