<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="stylesheet" href="assets/css/amazeui.min.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1436247337_1158645.css">
    <link rel="stylesheet" href="assets/css/app.css">
</head>
<body youdao="bind" class="" style="">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 不提供支持。 请 <a
        href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->


<header data-am-widget="header" class="am-header am-header-default am-no-layout">
    <div class="am-header-left am-header-nav">
        <a href="#back" class="">

            <i class="am-header-icon am-icon-chevron-left"></i>
        </a>
    </div>

    <h1 class="am-header-title">
        牛百万团结湖店
    </h1>

</header>

<nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1 am-no-layout" data-am-menu-offcanvas="">
    <a href="javascript: void(0)" class="am-menu-toggle am-active">
        <i class="am-menu-toggle-icon am-icon-bars"></i>
    </a>

    <div class="am-offcanvas" style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <div class="am-offcanvas-bar am-offcanvas-bar-overlay">
            <script type="text/html" id="_t_dish_cats"></script>
            {{include("dish_cats")}}
        </div>
    </div>
</nav>
<div data-am-widget="list_news" class="am-list-news am-list-news-default am-no-layout">
    <!--列表标题-->

    <div class="am-list-news-bd">
        <script type="text/html" id="_t_dishs">
            {{include("dishs")}}

        </script>
    </div>

</div>



<ul class="am-list">







    <script src="../res/template.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/amazeui.js"></script>
    <script src="assets/js/handlebars.min.js"></script>
    <script src="assets/js/amazeui.widgets.helper.js"></script>
    <script>
        var tmpData={
            dishs:[
                {
                    dish_name: '红烧肉',
                    price: '16元/例',
                    img: 'https://www.baidu.com/img/baidu_jgylogo3.gif?v=39549282.gif',
                    _id: '123'


                }


            ],
            dish_cats:[
                {
                    name:'炖菜'

                },

                {
                    name:'凉菜'

                },

                {
                    name:'火锅'

                }


            ]


        };
        $("script[type='text/html']").each(function(idx,item){

            $(item).replaceWith(template($(item).attr("id").replace(/_t_/,''),tmpData));

        });

        $("body").on("click","a[href='#back']",function(){
            history.back();
            return false;
        });

    </script>


</body>
</html>
