<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="../res/assets/i/favicon.png">
  <link rel="stylesheet" href="../res/assets/css/amazeui.min.css">
  <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1436247337_1158645.css">
  <link rel="stylesheet" href="../res/assets/css/app.css">
</head>
<body youdao="bind">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 不提供支持。 请 <a
        href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->





<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">店面信息
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd">
           <script type="text/html" id="_t_shop_address">
           include('shop_address')
           </script>
        </div>
    </div>
</div>


<header data-am-widget="header" class="am-header am-header-default am-no-layout">
    <div class="am-header-left am-header-nav">
        <a href="#back" class="">

            <i class="am-header-icon am-icon-chevron-left"></i>
        </a>
    </div>

    <h1 class="am-header-title">
        牛百万团结湖店
    </h1>
    <div class="am-header-right am-header-nav">

        <a href="#" class="" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 600}">


            <i class="am-header-icon am-icon-info"></i>
        </a>
    </div>
</header>
<script type="text/html" id="_t_dish_cats">

    include('dish_cats');

</script>



<div data-am-widget="list_news" class="am-list-news am-list-news-default am-no-layout"> <!--列表标题-->
    <div class="am-list-news-bd">
        <script type="text/html" id="_t_dishes">
            {{include("dishes")}}

        </script>


         </div> </div>






<div class="amz-toolbar" id="amz-toolbar"><a href="#top" title="回到顶部" class="am-icon-btn am-icon-arrow-up am-active" id="amz-go-top"></a> <a href="/getting-started/faq" title="常见问题" class="am-icon-faq am-icon-btn am-icon-shopping-cart"></a></div>

<script src="../res/template.js"></script>

<script src="/js/seajs.js"></script>
<script src="../res/assets/js/jquery.min.js"></script>
<script src="/js/jq.unparam.js"></script>
<script src="../res/assets/js/amazeui.js"></script>

<script>

dataReadyCb=function(){

    $(".order-dish").popover({
        content: '点菜成功'
    });
    $(".takeout").popover({
        content: '已经加入购购物车'
    });
    $("body").on('click','.order-dish',function(evt){
        var self=this;

        setTimeout(function(){$(self).popover('close');},2000);
        evt.preventDefault();
        return false;

    });
    $("body").on('click','.takeout',function(){
        var self=this;

        setTimeout(function(){$(self).popover('close');},2000);
    });


}

</script>
<script src="/js/common/temp_common.js"></script>
<style>
    .amz-toolbar .am-icon-faq {
        display: block;
        opacity: 1;
        background-color: #dd514c;
        color: #fff;
        margin-top: 10px;
        -webkit-transition: all .3s ease-in;
        transition: all .3s ease-in;
    }
    .amz-toolbar a {
        display: none;
        opacity: .7;
    }
    @media only screen and (min-width: 641px) {
        .amz-toolbar {
            bottom: 10px;
        }

    }
    .amz-toolbar {
        position: fixed;
        right: 10px;
        bottom: 5px;
        z-index: 999;
    }
    .order-dish,.takeout {
        cursor:pointer;padding-right:10px
    }
</style>


</body>
</html>
