<!doctype HTML>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../assets/i/favicon.png">
    <link rel="stylesheet" href="../res/assets/css/amazeui.min.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1436247337_1158645.css">
    <link rel="stylesheet" href="../res/assets/css/widget.css">
    <link rel="stylesheet" href="../res/assets/css/app.css">

    <link rel="stylesheet" href="/admin/css/page/temp.css?V=1" id="_ry_temp_css"/>
</head><body>
<header data-am-widget="header" class="am-header am-header-default am-no-layout">
    <div class="am-header-left am-header-nav">
        <a href="#back" class="">

            <i class="am-header-icon am-icon-chevron-left"></i>
        </a>
    </div>

    <h1 class="am-header-title">
        牛百万
    </h1>

</header>
<div data-am-widget="tabs"
     class="am-tabs am-tabs-d2">
    <ul class="am-tabs-nav am-cf">
        <li class="am-active"><a href="[data-tab-panel-0]">我的订单</a></li>
        <li class=""><a href="[data-tab-panel-1]">我的订位</a></li>
        <li class=""><a href="[data-tab-panel-2]">我的地址</a></li>
    </ul>
    <div class="am-tabs-bd">
        <div data-tab-panel-0 class="am-tab-panel am-active">
            <script type="text/html" id="_t_orders">
                <%include("order_list")%>
            </script>
        </div>
        <div data-tab-panel-1 class="am-tab-panel ">
            <script type="text/html" id="_t_bookings">
                <%include("booking_list")%>
            </script>

        </div>
        <div data-tab-panel-2 class="am-tab-panel ">
            <ul class="am-list am-list-static am-list-border">

            <script type="text/html" id="_t_addresss">
                <%include("address_list")%>
            </script>
                </ul>

        </div>
    </div>
</div>

<script src="../res/template.js"></script>
<script src="../res/assets/js/jquery.min.js"></script>
<script src="../res/assets/js/amazeui.js"></script>
<script src="../res/assets/js/handlebars.min.js"></script>
<script type="text/javascript" src="../res/assets/js/seajs.js"></script>
<script>


    seajs.config(
            {base: '/templates/dinning/assets/js'}
    );

    /*
     // 如果 Handlebars 渲染出来的 HTML 在 DOM ready 事件之后插入文档，需要手动初始化组件
     $.each(['slider', 'menu', 'gallery', 'footer', 'navbar'], function(i, m) {
     var module = $.AMUI[m];
     module && module.init && module.init();
     })
     */

    var orderListData=[

        {
            ctime:"2012-15-12 11:11:12",
            trans_status:'交易成功',
            items:[
                {
                    title:"水煮鱼",
                    num:2,
                    pic:"https://www.baidu.com/img/bdlogo.png",
                    address:"北京soho",
                    price:"56/份"

                }

            ]

        }
    ];
    var orderListData=[

        {
            ctime:"2012-15-12 11:11:12",
            trans_status:'交易成功',
            items:[
                {
                    title:"水煮鱼",
                    num:2,
                    pic:"https://www.baidu.com/img/bdlogo.png",
                    address:"北京soho",
                    price:"56/份"

                }

            ]

        }
    ];
    var bookingsData=[

        {
            ctime:"2012-15-12 11:11:12",
            trans_status:'交易成功',
            num:14,
            message:"早点准备"

        }
    ];
    var addresss=[

        {
            name:"wang",
            detail:'北京中关村1号',
            id:1

        }
    ];
    var tmpData={
        orders:orderListData,
        bookings:bookingsData,
        addresss:addresss

    };
    $("script[type='text/html']").each(function(idx,item){

        $(item).replaceWith(template($(item).attr("id").replace(/_t_/,''),tmpData));

    });



    //console.log(template("order_list",{orders:orderListData}));
    $("body").on("click","a[href='#back']",function(){
        history.back();
        return false;
    });
</script>

</body>
</html>
