<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="../res/assets/i/favicon.png">
  <link rel="stylesheet" href="../res/assets/css/amazeui.min.css">
  <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1436247337_1158645.css">
  <link rel="stylesheet" href="../res/assets/css/app.css">
</head>
<body class="am-with-fixed-navbar" youdao="bind">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 不提供支持。 请 <a
        href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->


<header data-am-widget="header" class="am-header am-header-default am-no-layout">
    <div class="am-header-left am-header-nav">
        <a href="#back" class="">

            <i class="am-header-icon am-icon-chevron-left"></i>
        </a>
    </div>

    <h1 class="am-header-title">
        牛百万
    </h1>

</header>



<div data-am-widget="list_news" class="am-list-news am-list-news-default am-no-layout">
    <!--列表标题-->

    <div class="am-list-news-bd">
        <script type="text/html" id="_t_shops">
            {{include("shops")}}
        </script>
    </div>

</div>









<footer data-am-widget="footer" class="am-footer am-footer-default  am-no-layout" data-am-footer="{  }">

    <div class="am-footer-miscs ">

        <p>由 <a href="http://www.yunshipei.com/" title="锐亚科技有限公司" target="_blank" class="">锐亚科技有限公司</a>
            提供技术支持</p>
        <p>CopyRight©2013  AllMobilize Inc.</p>
        <p>京ICP备130331581</p>
    </div>
</footer>

<div id="am-footer-modal" class="am-modal am-modal-no-btn am-switch-mode-m ">
    <div class="am-modal-dialog">
        <div class="am-modal-hd am-modal-footer-hd">
            <a href="javascript:void(0)" data-dismiss="modal" class="am-close am-close-spin " data-am-modal-close="">×</a>
        </div>
        <div class="am-modal-bd">
            您正在浏览的是

          <span class="am-switch-mode-owner">
              云适配
          </span>

          <span class="am-switch-mode-slogan">
                为您当前手机订制的移动网站。
          </span>
        </div>
    </div>
</div>


<script src="../res/template.js"></script>
<script src="../res/assets/js/jquery.min.js"></script>
<script src="/js/jq.unparam.js"></script>
<script src="/js/seajs.js"></script>
<script src="../res/assets/js/amazeui.js"></script>

<script src="/js/common/temp_common.js"></script>


<div class="am-popover am-popover-top" id="am-popover-g7wpo" style="top: 736px; left: 776px;"><div class="am-popover-inner"><ul class="am-list"><li><a>在线下单</a></li></ul></div><div class="am-popover-caret"></div></div></body>
</html>
