<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="../res/assets/i/favicon.png">
  <link rel="stylesheet" href="../res/assets/css/amazeui.min.css">
  <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1436247337_1158645.css">
  <link rel="stylesheet" href="../res/assets/css/app.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 不提供支持。 请 <a
  href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<script type="text/x-handlebars-template" id="amz-tpl">
  {{>header header}}

  {{>menu menu}}

{{>list_news list1}}
  
 

  





  {{>footer footer}}

  {{>navbar navbar}}

</script>

<script src="../res/assets/js/jquery.min.js"></script>
<script src="../res/assets/js/amazeui.js"></script>
<script src="../res/assets/js/handlebars.min.js"></script>
<script src="../res/assets/js/amazeui.widgets.helper.js"></script>
<script>
  var $tpl = $('#amz-tpl');
  var source = $tpl.text();
  var template = Handlebars.compile(source);
  var data = {
    header: {
      "content": {
        "title": "牛百万",
        "left": [{
          "link": "#back",
          "icon": "chevron-left",
        }]
      }
    },

    menu: {
      "options": {
        "cols": "1"
      },
      "content": [
       
        
        
        {
          "link": "##",
          "title": "全部分店",
          "subCols": 3,
          "subMenu": [
            {
              "link": "/fendian.html",
              "title": "北京"
            },
            {
              "link": "/fendian.html",
              "title": "上海"
            },
            {
              "link": "##",
              "title": "重庆"
            },
            {
              "link": "##",
              "title": "大连"
            },
            {
              "link": "##",
              "title": "南京"
            },
            {
              "link": "##",
              "title": "广州"
            }
          ]
        },
        {
          "link": "##",
          "title": "联系我们"
        },
        {
          "link": "##",
          "title": "促销活动"
        }
      ],
      "theme": "offcanvas1"
    },

    slider: {
      "theme": "a2",
      //"sliderConfig": "{\"directionNav\":false}",
      "content": [
        {
          "img": "http://s.amazeui.org/media/i/demos/bing-1.jpg"
        },
        {
          "img": "http://s.amazeui.org/media/i/demos/bing-2.jpg"
        },
        {
          "img": "http://s.amazeui.org/media/i/demos/bing-3.jpg"
        },
        {
          "img": "http://s.amazeui.org/media/i/demos/bing-4.jpg"
        }
      ]
    },

    list1: {
      "options": {
        "type": "thumb",
        "thumbPosition": "left"
      },
      "content": {
      
        "main": [
          {
            "title": "烤鸭",
            "link": "shop_desc.html",
            "mainAddition":"<input type='number' min='1' value='1' style='width:50px'>",
            "desc":"<br>北京劲松",
            "className":"am-circle",
            "img":"http://img5.douban.com/lpic/o636459.jpg",
          },
          {
            "title": "牛百万(国展店)",
            "link": "shop_desc.html",
      "desc":"地址:北京国展",
       "mainAddition":"<input type='number' min='1' value='1' style='width:50px'>",
            "img": "http://img5.douban.com/lpic/o636459.jpg"
          },
           {
            "title": "牛百万(东直门店)",
            "link": "shop_desc.html",
             "mainAddition":"<input type='number' min='1' value='1' style='width:50px'>",
      "desc":"北京东直门",
            "img": "http://img5.douban.com/lpic/o636459.jpg"
          }
        
        ]
      }
    },

    list2: {
      "options": {
        "type": "thumb",
        "thumbPosition": "left"
      },
      "content": {
       
        "main": [
          {
            "title": "你保重",
            "link": "http://www.douban.com/online/11614662/",
            "desc":"ww",
            "img": "http://img5.douban.com/lpic/o636459.jpg"
          },
          {
            "title": "我很囧",
           "desc":"ww",
            "link": "http://www.douban.com/online/11614662/",

            "img": "http://img5.douban.com/lpic/o636459.jpg"
          },
           {
            "title": "我很囧",
            "desc":"ww",
            "link": "http://www.douban.com/online/11614662/",

            "img": "http://img5.douban.com/lpic/o636459.jpg"
          }
        ]
      }
    },

    gallery: {
      "options": {
        "cols": 2,
        "gallery": true
      },
      "content": [
        {
          "img": "http://s.amazeui.org/media/i/demos/bing-1.jpg",
          "link": "http://s.amazeui.org/media/i/demos/bing-1.jpg",
          "title": "远方 有一个地方 那里种有我们的梦想",
          "desc": "2375-09-26"
        },
        {
          "img": "http://s.amazeui.org/media/i/demos/bing-2.jpg",
          "link": "http://s.amazeui.org/media/i/demos/bing-2.jpg",
          "title": "某天 也许会相遇 相遇在这个好地方",
          "desc": "2375-09-26"
        },
        {
          "img": "http://s.amazeui.org/media/i/demos/bing-3.jpg",
          "link": "http://s.amazeui.org/media/i/demos/bing-3.jpg",
          "title": "不要太担心 只因为我相信",
          "desc": "2375-09-26"
        },
        {
          "img": "http://s.amazeui.org/media/i/demos/bing-4.jpg",
          "link": "http://s.amazeui.org/media/i/demos/bing-4.jpg",
          "title": "终会走过这条遥远的道路",
          "desc": "2375-09-26"
        }
      ]
    },

    

   

    navbar: {
      "options": {
        "cols": "3",
      },
      "content": [
        {
          "title": "<input type='radio'>全选",
          "link": "#check-all",
          "icon": "",
          "dataApi": ""
        },
    
        {
          "title": "<br>合计:$3480<br>总额:3488",
          "link":'javascript:',
          "dataApi": "data-am-popover='{\"content\":\"<ul class=am-list><li><a>在线下单</a></li></ul>\"}'"
        },
        {
          "title": "<b>去结算(1)</b>",
          "link": "#checkout",
          "dataApi": ""
        }
      ]
    }
  };
  var html = template(data);

  $tpl.before(html);

  /*
  // 如果 Handlebars 渲染出来的 HTML 在 DOM ready 事件之后插入文档，需要手动初始化组件
   $.each(['slider', 'menu', 'gallery', 'footer', 'navbar'], function(i, m) {
     var module = $.AMUI[m];
     module && module.init && module.init();
   })
   */
   $("a[href='#back']").on('click',function(){
      history.back();
      return false;
   });
</script>
</body>
</html>
