<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订位</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../assets/i/favicon.png">
    <link rel="stylesheet" href="../res/assets/css/amazeui.min.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1436247337_1158645.css">
    <link rel="stylesheet" href="../res/assets/css/app.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 不提供支持。 请 <a
        href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<script type="text/x-handlebars-template" id="amz-tpl">
    {{>header header}}



</script>



<form class="am-form am-form-horizontal" style="margin-top:20px" action="/temp/dinning/booking">
    <div class="am-form-group">
        <label  class="am-u-sm-3 am-form-label">姓名</label>
        <div class="am-u-sm-9">
            <input type="text"  placeholder="姓名">
        </div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-3 am-form-label">手机号码</label>
        <div class="am-u-sm-9">
            <input type="tel"  name="mobile" placeholder="联系电话">
        </div>
    </div>
    <div class="am-form-group">

        <label  class="am-u-sm-3 am-form-label">送餐日期</label>
        <div class="am-u-sm-9">
            <p><input type="text" class="am-form-field" name="booking_date" placeholder="预订日期"  data-am-datepicker/></p>
        </div>
    </div>
    <div class="am-form-group">

        <label  class="am-u-sm-3 am-form-label">送餐时间</label>
        <div class="am-u-sm-9">

            <input type="time" name="booking_time" placeholder="预订日期">
        </div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-3 am-form-label">人数</label>
        <div class="am-u-sm-9">
            <input type="number" name="person_numbers" placeholder="人数">
        </div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-3 am-form-label">备注</label>
        <div class="am-u-sm-9">
            <textarea name="memo" placeholder="备注"></textarea>
        </div>
    </div>




    <div class="am-form-group">
        <div class="am-u-sm-10 am-u-sm-offset-3">
            <button type="submit" class="am-btn am-btn-default">提交信息</button>
        </div>
    </div>
</form>






<script src="../res/assets/js/jquery.min.js"></script>
<script src="../res/assets/js/amazeui.js"></script>
<script src="../res/assets/js/handlebars.min.js"></script>
<script src="../res/assets/js/amazeui.widgets.helper.js"></script>






<script>
    var $tpl = $('#amz-tpl');
    var source = $tpl.text();
    var template = Handlebars.compile(source);
    var data = {
        header: {
            "content": {
                "title": "牛百万",
                "left": [{
                    "link": "#back",
                    "icon": "chevron-left",
                }]
            }
        }
    };
    var html = template(data);
    $tpl.before(html);

    $("body").on("click","a[href='#back']",function(){
        history.back();
        return false;
    });
</script>
</body>
</html>
