

<div class="modal fade" id="app_modal_<%=_id%>">
    <div class="modal-dialog app-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><%=title%> </h4>
            </div>
            <div class="modal-body2">

                <!-- Content Header (Page header) -->


                <!-- Main content -->
                <section class="content">
                    <!-- START ALERTS AND CALLOUTS -->


                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object app_icon" src="<%=icon_url%>" data-holder-rendered="true">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>
                                <%for(var i=0,len=tags.length;i<len;i++){%>
                                <span class="label label-info"><%=tags[i]%></span>
                                <%}%>

                              </p>
                            <%=l_from%>: <span class="label label-primary"><%=from%></span>
                        </div>

                        <div class="media-left">
                            <%if(isBought){%>
                            <button class="btn btn-primary btn-lg" data="<%=_id%>"  data-price="<%=price%>" disabled><%=l_installed%></button>
                            <%} else {%>
                            <button class="btn btn-primary btn-lg app-install" data="<%=_id%>" title="<%=l_install%><%=l_app%>" data-price="<%=price%>"><%=l_price%></button>


                            <%}%>
                        </div>

                    </div>


                    <!-- /.col -->
                    <h2 class="page-header"><%=l_app%><%=l_capimg%></h2>

                    <div class="box box-solid">
                        <div class="box-header">
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div id="carousel-<%=_id%>" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <%for(var i=0;i<pics.length;i++){%>
                                        <%if(i==0){%>
                                    <li data-target="#carousel-<%=_id%>" data-slide-to="<%=i%>" class="active"></li>
                                            <%} else {%>
                                    <li data-target="#carousel-<%=_id%>" data-slide-to="<%=i%>"></li>
                                    <%}}%>
                                </ol>
                                <div class="carousel-inner">
                                    <%for(var i=0;i<pics.length;i++){%>
                                    <%if(i==0){%>
                                    <div class="item active">
                                        <img src="<%=pics[i]%>" alt="First slide">
                                        <div class="carousel-caption">

                                        </div>
                                    </div>
                                    <%} else {%>
                                    <div class="item">
                                        <img src="<%=pics[i]%>" alt="First slide">
                                        <div class="carousel-caption">

                                        </div>
                                    </div>
                                    <%}}%>

                                </div>
                                <a class="left carousel-control" href="#carousel-<%=_id%>" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-<%=_id%>" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                    <!-- END ALERTS AND CALLOUTS -->
                    <!-- START CUSTOM TABS -->
                    <h2 class="page-header"><%=l_app%><%=l_desc%></h2>

                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_desc_<%=id%>" data-toggle="tab"><%=l_desc%></a></li>
                            <li><a href="#tab_comment_<%=id%>" data-toggle="tab"><%=l_comment%></a></li>

                            <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                        </ul>
                        <div class="tab-content"  style="padding:0px 10px">
                            <div class="tab-pane active app_desc" id="tab_desc_<%=id%>">
                                <%=desc%>
                            </div><!-- /.tab-pane -->
                            <div class="tab-pane app_comment" id="tab_comment_<%=id%>">
                                <%=comment%>
                            </div><!-- /.tab-pane -->
                        </div><!-- /.tab-content -->
                    </div><!-- nav-tabs-custom -->

                </section><!-- /.content -->
            </div>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



