{{include file="common/header_common.phtml"}}
<link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css"/>

<style>
    section.content {height:100%}
</style>
<script>
    var menus=[];



</script>

</head>
<body class="skin-blue">
<!-- header logo: style can be found in header.less -->
{{include file="common/top_header.phtml"}}
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    {{include file="common/left_aside.phtml"}}

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->


        <!-- Main content -->
        <section class="content">
            <div class="demo-container">
                <ul class="breadcrumb">
                    {{$site.vmenus}}
                </ul>
                <!-- Small boxes (Stat box) -->
                <!-- /.row -->

            </div>


            <div class="row">
                  <div class="col-sm-6 col-md-6  col-sm-6">
                    <div class="thumbnail">

                      <div class="caption">
                        <h3>普通人员部署</h3>
                        <p>
                            <!--With list groups  panel-primary,panel-success,panel-info,panel-warning,panel-danger -->
                            <div class="panel panel-default">
                              <!-- Default panel contents -->

                              <div class="panel-body">
                                <p><strong>只要将链接放到网站页面中您希望触发聊天组件的位置</strong>,用户点击以后会打开一个通讯的窗口,可以和用户随时随地沟通,这种方法适用于不懂网页代码的用户来部署</p>
                              </div>
                              <h3>两种引入方式</h3>
                              <!-- List group -->
                              <ul class="list-group">
                                <li class="list-group-item">
                                    1.直接复制下面链接,发送给好友.
                                    https://{{$smarty.server.HTTP_HOST}}/anychat/call/?uid={{$smarty.session.user.uid}}
                                    <button class="btn btn-primary copy-btn nav-bar" data-clipboard-text="https://{{$smarty.server.SERVER_NAME}}/anychat/call/?uid={{$smarty.session.user.uid}}" title="Click to copy to clipboard.">拷贝链接</button>
                                </li>
                                  <li class="list-group-item">


                                    2.或者拷贝下面代码放到网页中.
                                      <div class="highlight" style="background: #f8f8f8"><pre style="line-height: 125%"><span style="color: #008000; font-weight: bold">&lt;a</span> <span style="color: #7D9029">href=</span><span style="color: #BA2121">&quot;https://{{$smarty.server.SERVER_NAME}}/anychat/call/?uid={{$smarty.session.user.uid}}&quot;</span><span style="color: #008000; font-weight: bold">&gt;</span>Call me<span style="color: #008000; font-weight: bold">&lt;/a&gt;</span>
</pre></div>



                                  </li>
                              </ul>

                              <style>
                                  .bs-callout-info {
                                      border-left-color: #5bc0de !important;
                                  }
                                  .bs-callout {
                                      padding: 20px;
                                      margin: 20px 0;
                                      border: 1px solid #eee;
                                      border-left-width: 5px;
                                      border-radius: 3px;
                                  }
                              </style>
                              <div class="panel-footer">
                                  <blockquote class="bs-callout bs-callout-info">
                                      <h4>使用说明</h4>
                                      <ol>
                                          <li>uid=4<cite title="Source Title">uid是商户注册的id</cite></li>


                                      </ol>
                                  </blockquote>

                              </div>
                            </div>




        <!--With table-->

                            <!--without heading-->


                        </p>
                        <p> <a class="btn btn-primary copy-btn" data-clipboard-text="https://{{$smarty.server.SERVER_NAME}}/anychat/call/?uid={{$smarty.session.user.uid}}" title="Click to copy to clipboard.">拷贝链接</a><a href="#" class="btn btn-primary sharesns-btn  col-md-offset-1 col-lg-offset-1 col-sm-offset-1" role="button">分享代码</a>
                          <div class="share-content">
                              <div class="bdsharebuttonbox baidu" style="hidden"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a></div>
                          </div>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-sm-6">
                      <div class="thumbnail">

                          <div class="caption">
                              <h3>开发人员部署</h3>
                              <p>
                                  <!--With list groups  panel-primary,panel-success,panel-info,panel-warning,panel-danger -->
                              <div class="panel panel-default">
                                  <!-- Default panel contents -->

                                  <div class="panel-body">
                                      <p>只要将代码放在网站页面中您希望按钮出现的位置，我们的javascript代码将自动在该位置进行渲染，生成按钮。
                                          但为了不破坏您的页面渲染，我们还是<strong>建议您将涉及到javascript标签的代码，放到页面的最底部。这种方法灵活,适用于懂网页代码部署的用户。</strong></p>
                                  </div>

                                  <!-- List group -->
                                  <ul class="list-group">
                                      <li class="list-group-item">1.在想要嵌入聊天组件的页面底部引入这段脚本<div class="highlight" style="background: #f8f8f8"><pre style="line-height: 125%"><span style="color: #008000; font-weight: bold">&lt;script </span><span style="color: #7D9029">src=</span><span style="color: #BA2121">&quot;https://{{$smarty.server.SERVER_NAME}}/js/chat.js&quot;</span><span style="color: #008000; font-weight: bold">&gt;&lt;/script&gt;</span>
</pre></div></li>
                                      <li class="list-group-item">2.在想要触发聊天功能的标签加入data-rytek="chat",data-uid="",data-param属性,例子如下
                                          <div class="highlight" style="background: #f8f8f8"><pre style="line-height: 125%"><span style="color: #008000; font-weight: bold">&lt;span</span> <span style="color: #7D9029">data-rytek=</span><span style="color: #BA2121">&quot;chat&quot;</span> <span style="color: #7D9029">data-uid=</span><span style="color: #BA2121">&quot;{{$smarty.session.user.uid}}&quot;</span> <span style="color: #7D9029">data-param=</span><span style="color: #BA2121">&quot;link=hello&amp;serviceId=1&quot;</span><span style="color: #008000; font-weight: bold">&gt;&lt;/span&gt;</span>
                                      </li>

                                  </ul>

                                  <div class="panel-footer">
                                      <blockquote class="bs-callout bs-callout-info">
                                          <h4>配置说明</h4>
                                          <ol>
                                              <li>data-rytek=chat<cite title="Source Title">表示引入聊天组件</cite></li>
                                              <li>data-uid="{{$smarty.session.user.uid}}"<cite title="Source Title">表示注册的商户的用户id</cite></li>
                                              <li>data-param<cite title="Source Title">传递给聊天组件的参数,用key1=val1&key2=val2格式书写</cite></li>

                                          </ol>
                                      </blockquote>

                                  </div>

                              </div>




                              <!--With table-->

                              <!--without heading-->


                              </p>
                              <p><a href="#" class="btn btn-primary copy-btn" role="button" data-clipboard-text='<span data-rytek="chat" data-uid="{{$smarty.session.user.uid}}" data-param="link=hello&serviceId=1"></span><script src="https://{{$smarty.server.SERVER_NAME}}/js/chat.js"></script>' title="Click to copy to clipboard.">拷贝代码</a></p>
                          </div>
                      </div>
                    </div>
                  </div>

                </div>
            <!-- top row -->

            <!-- /.row -->

            <!-- Main row -->
            <!-- /.row (main row) -->

        </section><!-- /.content -->
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->

<!-- add new calendar event modal -->

{{include file="common/footer.phtml"}}
<!-- jQuery 2.0.2 -->
<!-- jQuery UI 1.10.3 -->

<script>
   window._bd_share_config={"common":{"bdDesc":"","bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin","linkedin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin","linkedin"]}};
   var chatLink='https://{{$smarty.server.HTTP_HOST}}/anychat/call/?uid={{$smarty.session.user.uid}}';
    $(function(){
        var clipboard="";

        seajs.use(['zeroclipboard'],function() {
            //ZeroClipboard.config( { swfPath: "http://YOURSERVER/path/ZeroClipboard.swf" } );

            var clipboard1 = new ZeroClipboard($(".copy-btn"));
            var clipboard2 = new ZeroClipboard($(".copy-btn"));


        });

        $(".sharesns-btn").on('click',function(e){

            window._bd_share_config.common.bdText='讯牛随时随地聊天,打开链接,和我沟通吧,'+chatLink;

            window._bd_share_config.common.bdDesc='讯牛随时随地聊天,打开链接,和我沟通吧,'+chatLink;

            e.preventDefault();
            var btn=$(this);
            console.log(btn);
            if(btn.attr('data')!='loaded'){
                seajs.use(['bdshare'],function(){
                    btn.attr('data','loaded');
                    /**
                     * 注意baidu share的javascript脚本不起作用在https下,可以下载bdshare.js加载的脚本放到本地,或者使用代理方式获取
                     */
                    seajs.use(['bdshare.js']);
                });
            } else {
                btn.next().toggle();
            }


        });

    });

</script>

</body></html>