{{include file="common/header_common.phtml"}}


<script>
    var menus=[];


</script>

</head>
<body class="{{$site.theme}}">
<!-- header logo: style can be found in header.less -->
{{include file="common/top_header.phtml"}}
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    {{include file="common/left_aside.phtml"}}

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->


        <!-- Main content -->
        <section class="content">

            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>
                                230
                            </h3>
                            <p>
                                总访问人数
                            </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>
                                530
                            </h3>
                            <p>
                                Ibeacon数目
                            </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>
                                110
                            </h3>
                            <p>
                                注册用户数
                            </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>
                                65
                            </h3>
                            <p>
                                独立访客数
                            </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div><!-- ./col -->
            </div><!-- /.row -->

            <!-- top row -->
            <div class="row">
                <div class="col-xs-12 connectedSortable">

                </div><!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-6 connectedSortable">
                    <!-- Box (with bar chart) -->
                    <div class="box box-danger" id="loading-example">
                        <div class="box-header">
                            <!-- tools box -->
                            <div class="pull-right box-tools">
                                <button class="btn btn-danger btn-sm refresh-btn btn-group" data-jqdom="#visitor_chart" data-sort='year' data-toggle="tooltip" title="年访问视图">年</button>
                                <button class="btn btn-danger btn-sm btn-group" data-jqdom="#visitor_chart" data-sort='month' data-toggle="tooltip" title="月访问视图">月</button>
                                <button class="btn btn-danger btn-sm btn-group" data-jqdom="#visitor_chart" data-sort='week' data-toggle="tooltip" title="周访问视图">周</button>
                                <button class="btn btn-primary btn-sm btn-group" data-dom="#visitor_chart" data-toggle="tooltip" title="" style="margin-right: 5px;" data-original-title="收缩"><i class="fa fa-minus"></i></button>
                            </div>

                            <h3 class="box-title"><i class="fa fa-user"></i>到访人数</h3>


                        </div><!-- /.box-header -->
                        <!-- /.box-body -->
                        <!--/.box-footer -->
                        <div id="visitor_chart" style="width:100%;height:400px"></div>
                    </div><!-- /.box -->

                    <!-- Custom tabs (Charts wi/div>
                    </div><!-- /.nav-tabs-custom -->

                    <!-- Cy -->
                </section><!-- /.box -->

                <!-- quick e/div>
                </div>

            </section><!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-6 connectedSortable">
                    <!-- Map box -->
                    <div class="box box-primary">
                        <div class="box-header">
                            <!-- tools <div class="box-header">
                                <!-- tools box -->
                            <div class="pull-right box-tools">

                                <button class="btn btn-danger btn-sm refresh-btn btn-group" data-jqdom="#ibeacon_chart" data-toggle="tooltip" data-sort='year' title="年访问视图">年</button>
                                <button class="btn btn-danger btn-sm btn-group" data-jqdom="#ibeacon_chart" data-sort='month' data-toggle="tooltip" title="月访问视图">月</button>
                                <button class="btn btn-danger btn-sm btn-group" data-jqdom="#ibeacon_chart" data-sort='week' data-toggle="tooltip" title="周访问视图">周</button>
                                <button class="btn btn-primary btn-sm btn-group" data-dom="#ibeacon_chart" data-toggle="tooltip" title="" style="margin-right: 5px;" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                            </div><!-- /. tools -->
                            <h3 class="box-title"><i class="fa fa-rss"></i>热点Ibeacon</h3>
                        </div><!-- /.box-header -->
                        <!-- /.box-body -->
                        <!-- /.box-footer -->
                        <div id="ibeacon_chart" style="width:100%;height:400px"></div>


                    </div>



                    <!--   </div>
                    </div><!-- /.box -->

                </section><!-- right col -->
            </div><!-- /.row (main row) -->

        </section><!-- /.content -->
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->

<!-- add new calendar event modal -->

{{include file="common/footer.phtml"}}
<!-- jQuery 2.0.2 -->
<!-- jQuery UI 1.10.3 -->

<script>
   // var ibVisitorBySex={{$ibVisitorBySex}};
   // var visitorNumBySex={{$visitorNumBySex}};
</script>
<!-- jQuery 2.0.2 -->
<!-- jQuery UI 1.10.3 -->



</body></html>