<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{$title}}</title>
    <script src="{{$jsdir}}/jqm.js"></script>

    <script>
        var shopList={{$shopList}};
        console.log("shopList",shopList);
        opener.$(opener.document).trigger('wifi_cfg',{data:shopList});

       setTimeout(function(){window.close();},400);
    </script>



</head>


<body>

</body>
</html>