{{#this}}
  <div data-am-widget="shopcart" class="am-shopcart{{#if theme}} am-shopcart-{{theme}}{{else}} am-shopcart-default{{/if}}{{#if widgetId}} {{widgetId}}{{/if}}{{#if className}} {{className}}{{/if}}"{{#if id}} id="{{id}}"{{/if}}>

  </div>
{{/this}}