
{{if $viewHeader}}
{{include file="$viewHeader"}}


{{else}}
{{include file="common/header_common.phtml"}}
{{/if}}
<body class="{{$site.theme}}" id="editor">
{{include file="common/top_header.phtml"}}
<!-- header logo: style can be found in header.less -->
<div class="wrapper row-offcanvas row-offcanvas-left">
<!-- Left side column. contains the logo and sidebar -->
{{include file="common/left_aside.phtml"}}

<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
<!-- Content Header (Page header) -->

<!-- Main content -->
<section class="content nav-tb-content">
<div class="demo-container">
<div class="container" id="page-editor">

        <nav class="navbar navbar-default navbar-static"  id="top_toolbar">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="badge btn-info edit-step-1">1</span><a class="navbar-brand page-title" href="#">{{$page.title}}</a>
            </div>


            <div class="collapse navbar-collapse js-navbar-collapse" id="prev-toolbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown dropdown-large" id="page-search">
                        <div class="form-group has-success has-feedback">
                            <input type="text" class="form-control search_txt" name="search_txt" aria-describedby="search">
                            <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>

                        </div>
                    </li>



                </ul>




            </div><!-- /.nav-collapse -->
        </nav>

<div id="rootwizard">


<div class="row">
<div class="col-md-4 col-lg-4 col-sm-4">


    <div class="panel panel-default input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="badge btn-info">2</span>选择Ibeacon</button>
      </span>
        <input type="text" placeholder="{{$page.ib_str}}" class="form-control th-input" name="ibeacon">
    </div>


<div class="panel panel-default" id="app-config">

    <div class="panel-heading">

        <div class="app-title"><span class="badge btn-info">3</span>基本配置</div>



    </div>
    <div class="panel-body">
        <div class="panel page-bg">
            <div class="form-group"  style="margin-bottom: 30px">
                <label for="lang" class="col-sm-3 control-label">语言</label>
                    <select name="lang" id="lang" class="col-sm-9 control-label" >
                        {{if $page.lang=="zhcn"}}
                        <option value="zhcn" selected>
                            中文</option>
                        <option value="enus"   >
                            英文</option>
                        {{/if}}
                        {{if $page.lang=="enus"}}
                        <option value="zhcn">
                        中文</option>
                        <option value="enus"   selected>
                        英文</option>
                        {{/if}}

                    </select>

            </div>

            <div class="form-group">

                <form action="/file-upload" class="dropzone page-bg" data-prev-type="bg" data-prev=".view-container>.lyrow>.view>.row>.col-md-12">
                    <div class="fallback">
                        <input  name="content" type="file" multiple />
                    </div>
                </form>
            </div>
        </div>
    </div>




</div>

<!--without heading-->


<div class="sidebar-nav panel panel-default">
<div class="panel-heading" style="width:100%"><span class="badge btn-info">4</span>拖放模块</div>
<div class="panel-body">


<ul class="nav nav-list accordion-group">
<li class="nav-header" id="sys-handle"><i class="glyphicon glyphicon-plus"></i>系统模块
    <div class="pull-right popover-info"><i class="glyphicon glyphicon-question-sign "></i>
        <div class="popover fade right"><div class="arrow"></div>
            <h3 class="popover-title">模块添加</h3>
            <div class="popover-content">拖放需要的模块到中间预览界面</a></div></div>
    </div>
</li>
    <li class="boxes" id="elmBase2" style="display: list-item">
        <div class="box box-element ui-draggable comp-bottom-btns" style="bottom: 0px;">
            <a href="#close" class="remove label label-danger" data-ref="video" data-source="ibeacon"><i class="glyphicon glyphicon-remove"></i> </a>
            <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
            <span class="comp-desc">文本</span>
            <div class="preview">文本</div>
            <div class="view">
                <button type="button" class="btn btn-warning btn-circle btn-xl" data-ref="txt" data-source="ibeacon">文本</button>

            </div>
        </div>
        <div class="box box-element ui-draggable comp-bottom-btns" style="bottom: 0px;">
            <a href="#close" class="remove label label-danger" data-ref="video" data-source="ibeacon"><i class="glyphicon glyphicon-remove"></i> </a>
            <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
            <span class="comp-desc">赞</span>
            <div class="preview">赞</div>
            <div class="view">
                <button type="button" class="btn btn-info btn-circle btn-xl" data-ref="fav" data-source="ibeacon">赞</button>
            </div>
        </div>
        <div class="box box-element ui-draggable comp-bottom-btns" style="bottom: 0px;">
            <a href="#close" class="remove label label-danger" data-ref="img" data-source="ibeacon"><i class="glyphicon glyphicon-remove"></i> </a>
            <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
            <span class="comp-desc">图片</span>
            <div class="preview">图片</div>
            <div class="view">

                <button type="button" class="btn btn-success btn-circle btn-xl" data-ref="img" data-source="ibeacon">图片</button>
            </div>
        </div>
        <div class="box box-element ui-draggable comp-bottom-btns" style="bottom: 0px;">
            <a href="#close" class="remove label label-danger" data-ref="video" data-source="ibeacon"> <i class="glyphicon glyphicon-remove"></i> </a>
            <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
            <span class="comp-desc">视频</span>
            <div class="preview">视频</div>
            <div class="view">
                <button type="button" class="btn btn-primary btn-circle btn-xl" data-ref="video" data-source="ibeacon">视频</button>

            </div>
        </div>
        <div class="box box-element ui-draggable comp-bottom-btns" style="bottom: 0px;">
            <a href="#close" class="remove label label-danger" data-ref="video" data-source="ibeacon"><i class="glyphicon glyphicon-remove"></i> </a>
            <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
            <span class="comp-desc">反馈</span>
            <div class="preview">反馈</div>
            <div class="view">
                <button type="button" class="btn btn-default btn-circle btn-xl" data-ref="feedback" data-source="ibeacon">反馈</button>


            </div>
        </div>
        <div class="box box-element ui-draggable comp-bottom-btns" style="bottom: 0px;">
            <a href="#close" class="remove label label-danger" data-ref="comment" data-source="ibeacon"><i class="glyphicon glyphicon-remove"></i> </a>
            <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
            <span class="comp-desc">评价</span>
            <div class="preview">评价</div>
            <div class="view">
                <button type="button" class="btn btn-danger btn-circle btn-xl" data-ref="comment" data-source="ibeacon">评价</button>

            </div>
        </div>
        <div class="box box-element ui-draggable comp-bottom-btns" style="bottom: 0px;">
            <a href="#close" class="remove label label-danger" data-ref="pdf" data-source="ibeacon"><i class="glyphicon glyphicon-remove"></i> </a>
            <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
            <span class="comp-desc">PDF</span>
            <div class="preview">PDF</div>
            <div class="view">
                <button type="button" class="btn btn-warning btn-circle btn-xl" data-ref="pdf" data-source="ibeacon">PDF</button>

            </div>
        </div>
        <div class="box box-element ui-draggable comp-bottom-btns" style="bottom: 0px;">
            <a href="#close" class="remove label label-danger" data-ref="keepsake" data-source="ibeacon"><i class="glyphicon glyphicon-remove"></i> </a>
            <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
            <span class="comp-desc">纪念品</span>
            <div class="preview">纪念品</div>
            <div class="view">
                <button type="button" class="btn btn-info btn-circle btn-xl" data-ref="keepsake" data-source="ibeacon">纪念品</button>


            </div>
        </div>
    </li>
</ul>
<ul class="nav nav-list accordion-group" style="display: none">
<li class="nav-header"><i class="glyphicon glyphicon-plus"></i> Base CSS
    <div class="pull-right popover-info"><i class="glyphicon glyphicon-question-sign "></i>
        <div class="popover fade right"><div class="arrow"></div>
            <h3 class="popover-title">Help</h3>
            <div class="popover-content">Drag &amp; Drop the elements inside the
                columns where you want to insert it. And from there, you can configure
                the style of that element. If you need more info please visit <a target="_blank" href="http://getbootstrap.com/css">Base CSS.</a></div></div>
    </div>
</li>
<li class="boxes" id="elmBase">
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Align <span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class="active"><a href="#" rel="">Default</a></li>
        <li class=""><a href="#" rel="text-left">Left</a></li>
        <li class=""><a href="#" rel="text-center">Center</a></li>
        <li class=""><a href="#" rel="text-right">Right</a></li>
    </ul>
</span>
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Emphasis <span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class="active"><a href="#" rel="">Default</a></li>
        <li class=""><a href="#" rel="text-muted">Muted</a></li>
        <li class=""><a href="#" rel="text-primary">Primary</a></li>
        <li class=""><a href="#" rel="text-success">Success</a></li>
        <li class=""><a href="#" rel="text-info">Info</a></li>
        <li class=""><a href="#" rel="text-warning">Warning</a></li>
        <li class=""><a href="#" rel="text-danger">Danger</a></li>
    </ul>
</span>
	</span>
    <div class="preview">Title</div>
    <div class="view">
        <h3 contenteditable="true">h3. Lorem ipsum dolor sit amet.</h3>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Align <span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class="active"><a href="#" rel="">Default</a></li>
        <li class=""><a href="#" rel="text-left">Left</a></li>
        <li class=""><a href="#" rel="text-center">Center</a></li>
        <li class=""><a href="#" rel="text-right">Right</a></li>
    </ul>
</span>
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Emphasis <span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class="active"><a href="#" rel="">Default</a></li>
        <li class=""><a href="#" rel="text-muted">Muted</a></li>
        <li class=""><a href="#" rel="text-primary">Primary</a></li>
        <li class=""><a href="#" rel="text-success">Success</a></li>
        <li class=""><a href="#" rel="text-info">Info</a></li>
        <li class=""><a href="#" rel="text-warning">Warning</a></li>
        <li class=""><a href="#" rel="text-danger">Danger</a></li>
    </ul>
</span>

		<a class="btn btn-xs btn-default" href="#" rel="lead">Lead</a>
	</span>
    <div class="preview">Paragraph</div>
    <div class="view">
        <p contenteditable="true">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>.
            Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse
            platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam
            purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis
            posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin
                consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id
                bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu. </small></p>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
    <div class="preview">Address</div>
    <div class="view">
        <address contenteditable="true">
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<a class="btn btn-xs btn-default" href="#" rel="pull-right">Pull right</a>
	</span>
    <div class="preview">Blockquote</div>
    <div class="view clearfix">
        <blockquote contenteditable="true">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <small>Someone famous <cite title="Source Title">Source Title</cite></small>
        </blockquote>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<a class="btn btn-xs btn-default" href="#" rel="list-unstyled">Unstyled</a>
		<a class="btn btn-xs btn-default" href="#" rel="list-inline">Inline</a>
	</span>
    <div class="preview">Unordered List</div>
    <div class="view">
        <ul contenteditable="true">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Integer molestie lorem at massa</li>
            <li>Facilisis in pretium nisl aliquet</li>
            <li>Nulla volutpat aliquam velit</li>
            <li>Faucibus porta lacus fringilla vel</li>
            <li>Aenean sit amet erat nunc</li>
            <li>Eget porttitor lorem</li>
        </ul>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<a class="btn btn-xs btn-default" href="#" rel="list-unstyled">Unstyled</a>
		<a class="btn btn-xs btn-default" href="#" rel="list-inline">Inline</a>
	</span>
    <div class="preview">Ordered List</div>
    <div class="view">
        <ol contenteditable="true">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Integer molestie lorem at massa</li>
            <li>Facilisis in pretium nisl aliquet</li>
            <li>Nulla volutpat aliquam velit</li>
            <li>Faucibus porta lacus fringilla vel</li>
            <li>Aenean sit amet erat nunc</li>
            <li>Eget porttitor lorem</li>
        </ol>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<a class="btn btn-xs btn-default" href="#" rel="dl-horizontal">Horizontal</a>
	</span>
    <div class="preview">Description</div>
    <div class="view">
        <dl contenteditable="true">
            <dt>Description lists</dt>
            <dd>A description list is perfect for defining terms.</dd>
            <dt>Euismod</dt>
            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
            <dd>Donec id elit non mi porta gravida at eget metus.</dd>
            <dt>Malesuada porta</dt>
            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
            <dt>Felis euismod semper eget lacinia</dt>
            <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
        </dl>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Style <span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class="active"><a href="#" rel="">Default</a></li>
        <li class=""><a href="#" rel="table-striped">Striped</a></li>
        <li class=""><a href="#" rel="table-bordered">Bordered</a></li>
    </ul>
</span>
		<a class="btn btn-xs btn-default" href="#" rel="table-hover">Hover</a>
		<a class="btn btn-xs btn-default" href="#" rel="table-condensed">Condensed</a>
	</span>
    <div class="preview">Table</div>
    <div class="view">
        <table class="table" contenteditable="true">
            <thead>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Payment Taken</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>TB - Monthly</td>
                <td>01/04/2012</td>
                <td>Default</td>
            </tr>
            <tr class="active">
                <td>1</td>
                <td>TB - Monthly</td>
                <td>01/04/2012</td>
                <td>Approved</td>
            </tr>
            <tr class="success">
                <td>2</td>
                <td>TB - Monthly</td>
                <td>02/04/2012</td>
                <td>Declined</td>
            </tr>
            <tr class="warning">
                <td>3</td>
                <td>TB - Monthly</td>
                <td>03/04/2012</td>
                <td>Pending</td>
            </tr>
            <tr class="danger">
                <td>4</td>
                <td>TB - Monthly</td>
                <td>04/04/2012</td>
                <td>Call in to confirm</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<a class="btn btn-xs btn-default" href="#" rel="form-inline">Inline</a>
	</span>
    <div class="preview">Form</div>
    <div class="view">
        <form role="form">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input class="form-control" id="exampleInputEmail1" placeholder="Enter email" type="email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input id="exampleInputFile" type="file">
                <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out
                </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
	</span>
    <div class="preview">Horizontal Form</div>
    <div class="view">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input class="form-control" id="inputEmail3" placeholder="Email" type="email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input class="form-control" id="inputPassword3" placeholder="Password" type="password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Styles <span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class=""><a href="#" rel="btn-default">Default</a></li>
        <li class=""><a href="#" rel="btn-primary">Primary</a></li>
        <li class=""><a href="#" rel="btn-success">Success</a></li>
        <li class=""><a href="#" rel="btn-info">Info</a></li>
        <li class=""><a href="#" rel="btn-warning">Warning</a></li>
        <li class=""><a href="#" rel="btn-danger">Danger</a></li>
        <li class=""><a href="#" rel="btn-link">Link</a></li>
    </ul>
</span>
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Size <span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class=""><a href="#" rel="btn-lg">Large</a></li>
        <li class=""><a href="#" rel="btn-default">Default</a></li>
        <li class=""><a href="#" rel="btn-sm">Small</a></li>
        <li class=""><a href="#" rel="btn-xs">Mini</a></li>
    </ul>
</span>

		<a class="btn btn-xs btn-default" href="#" rel="btn-block">Block</a>
		<a class="btn btn-xs btn-default" href="#" rel="active">Active</a>
		<a class="btn btn-xs btn-default" href="#" rel="disabled">Disabled</a>
	</span>
    <div class="preview">Button</div>
    <div class="view">
        <button type="button" class="btn btn-default" contenteditable="true">Default</button>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Styles <span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class=""><a href="#" rel="btn-default">Default</a></li>
        <li class=""><a href="#" rel="btn-primary">Primary</a></li>
        <li class=""><a href="#" rel="btn-success">Success</a></li>
        <li class=""><a href="#" rel="btn-info">Info</a></li>
        <li class=""><a href="#" rel="btn-warning">Warning</a></li>
        <li class=""><a href="#" rel="btn-danger">Danger</a></li>
        <li class=""><a href="#" rel="btn-link">Link</a></li>
    </ul>
</span>
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Size <span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class=""><a href="#" rel="btn-lg">Large</a></li>
        <li class=""><a href="#" rel="btn-default">Default</a></li>
        <li class=""><a href="#" rel="btn-sm">Small</a></li>
        <li class=""><a href="#" rel="btn-xs">Mini</a></li>
    </ul>
</span>

		<a class="btn btn-xs btn-default" href="#" rel="btn-block">Block</a>
		<a class="btn btn-xs btn-default" href="#" rel="active">Active</a>
		<a class="btn btn-xs btn-default" href="#" rel="disabled">Disabled</a>
	</span>
    <div class="preview">Anchor Button</div>
    <div class="view">
        <a href="#" class="btn" type="button" contenteditable="true">Button</a>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Styles <span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class="active"><a href="#" rel="">Default</a></li>
        <li class=""><a href="#" rel="img-rounded">Rounded</a></li>
        <li class=""><a href="#" rel="img-circle">Circle</a></li>
        <li class=""><a href="#" rel="img-thumbnail">Thumbnail</a></li>
    </ul>
</span>
	</span>
    <div class="preview">Image</div>
    <div class="view">
        <img alt="140x140" src="{{$imgdir}}/logo-152x152.png">
    </div>
</div>
</li>
</ul>

<ul class="nav nav-list accordion-group" style="display:none">
<li class="nav-header"><i class="glyphicon glyphicon-plus"></i> Components <div class="pull-right popover-info"><i class="glyphicon glyphicon-question-sign "></i>
        <div class="popover fade right"><div class="arrow"></div>
            <h3 class="popover-title">Help</h3>
            <div class="popover-content">Drag &amp; Drop the elements inside the
                columns where you want to insert it. And from there, you can configure
                the style of that component. If you need more info please visit  <a target="_blank" href="http://getbootstrap.com/components">Components.</a></div></div>
    </div>
</li>
<li class="boxes" id="elmComponents">
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
  <span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Size <span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class="active"><a href="#" rel="">Default</a></li>
        <li class=""><a href="#" rel="btn-group-lg">Large</a></li>
        <li class=""><a href="#" rel="btn-group-md">Medium</a></li>
        <li class=""><a href="#" rel="btn-group-sm">Small</a></li>
        <li class=""><a href="#" rel="btn-group-xs">Extra small</a></li>
    </ul>
</span>
    <a class="btn btn-xs btn-default" href="#" rel="btn-group-vertical">Vertical</a>
  </span>
    <div class="preview">Button Group</div>
    <div class="view">
        <div class="btn-group">
            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-align-left"></i> Left</button>
            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-align-center"></i> Center</button>
            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-align-right"></i> Right</button>
            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-align-justify"></i> Justify</button>
        </div>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<a class="btn btn-xs btn-default" href="#" rel="dropup">Dropup</a>
	</span>
    <div class="preview">Button Dropdowns</div>
    <div class="view">
        <div class="btn-group">
            <button class="btn btn-default" contenteditable="true">Action</button>
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
            <ul class="dropdown-menu" contenteditable="true">
                <li><a href="#">Action</a></li>
                <li class="disabled"><a href="#">Another action</a></li>
                <li class="divider"></li>
                <li><a href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Styles <span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class=""><a href="#" rel="nav-tabs">Default</a></li>
        <li class=""><a href="#" rel="nav-pills">Pills</a></li>
    </ul>
</span>
		<a class="btn btn-xs btn-default" href="#" rel="nav-stacked">Stacked</a>
	</span>
    <div class="preview">Navs</div>
    <div class="view">
        <ul class="nav nav-tabs" contenteditable="true">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li class="disabled"><a href="#">Messages</a></li>
            <li class="dropdown pull-right">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
    <div class="preview">Breadcrumb</div>
    <div class="view">

        <ul class="breadcrumb">
            <li><a href="#" contenteditable="true">Home</a> <span class="divider">/</span></li>
            <li><a href="#" contenteditable="true">Library</a> <span class="divider">/</span></li>
            <li class="active" contenteditable="true">Data</li>
        </ul>

    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Size <span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class=""><a href="#" rel="pagination-lg">Large</a></li>
        <li class="active"><a href="#" rel="">Medium</a></li>
        <li class=""><a href="#" rel="pagination-sm">Small</a></li>
    </ul>
</span>

			</span>
    <div class="preview">Pagination</div>
    <div class="view">
        <ul class="pagination" contenteditable="true">
            <li><a href="#">Prev</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Styles <span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class=""><a href="#" rel="label-default">Default</a></li>
        <li class=""><a href="#" rel="label-primary">Primary</a></li>
        <li class=""><a href="#" rel="label-success">Success</a></li>
        <li class=""><a href="#" rel="label-info">Info</a></li>
        <li class=""><a href="#" rel="label-warning">Warning</a></li>
        <li class=""><a href="#" rel="label-danger">Danger</a></li>
    </ul>
</span>
	</span>
    <div class="preview">Label</div>
    <div class="view">
        <span class="label label-default" contenteditable="true">Label</span>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
	</span>
    <div class="preview">Badge</div>
    <div class="view">
        <ul class="nav nav-pills" contenteditable="true">
            <li class="active">
                <a href="#">
                    <span class="badge pull-right">42</span>
                    Home
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="badge pull-right">16</span>
                    More
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<a class="btn btn-xs btn-default" href="#" rel="well">Well</a>
	</span>
    <div class="preview">Jumbotron</div>
    <div class="view">
        <div class="jumbotron" contenteditable="true">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational
                website. It includes a large callout called the hero unit and three
                supporting pieces of content. Use it as a starting point to create
                something more unique.</p>
            <p><a class="btn btn-primary btn-large" href="#">Learn more</a></p>
        </div>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
    <div class="preview">Page Header</div>
    <div class="view">
        <div class="page-header">
            <h1 contenteditable="true">Example page header <small>Subtext for header</small></h1>
        </div>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
    <div class="preview">Text</div>
    <div class="view">
        <h2 contenteditable="true">Heading</h2>
        <p contenteditable="true">Donec id elit non mi porta gravida at eget
            metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta
            sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <p><a class="btn" href="#" contenteditable="true">View details »</a></p>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
    <div class="preview">Thumbnails</div>
    <div class="view">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img alt="300x200" src="Layout_files/people.jpg">
                    <div class="caption" contenteditable="true">
                        <h3>Thumbnail label</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas
                            eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
                            dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img alt="300x200" src="Layout_files/city.jpg">
                    <div class="caption" contenteditable="true">
                        <h3>Thumbnail label</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas
                            eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
                            dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img alt="300x200" src="Layout_files/sports.jpg">
                    <div class="caption" contenteditable="true">
                        <h3>Thumbnail label</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas
                            eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
                            dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">


		<a class="btn btn-xs btn-default" href="#" rel="progress-striped">Striped</a>
		<a class="btn btn-xs btn-default" href="#" rel="active">Active</a>
	</span>
    <div class="preview">Progress Bar</div>
    <div class="view">
        <div class="progress">
            <div class="progress-bar progress-success" style="width: 60%;"></div>
        </div>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<a class="btn btn-xs btn-default" href="#" rel="well">well</a>
	</span>
    <div class="preview">Media Object</div>
    <div class="view">
        <div class="media">
            <a href="#" class="pull-left">
                <img src="Layout_files/a.jpg" class="media-object">
            </a>
            <div class="media-body" contenteditable="true">
                <h4 class="media-heading">Nested media heading</h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in
                vulputate at, tempus viverra turpis.
                <div class="media">
                    <a href="#" class="pull-left">
                        <img src="Layout_files/a.jpg" class="media-object">
                    </a>
                    <div class="media-body" contenteditable="true">
                        <h4 class="media-heading">Nested media heading</h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                        scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in
                        vulputate at, tempus viverra turpis.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
	</span>
    <div class="preview">List group</div>
    <div class="view">
        <div class="list-group" contenteditable="true">
            <a href="#" class="list-group-item active">Home</a>
            <div class="list-group-item">List header</div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </div>
            <div class="list-group-item"><span class="badge">14</span>Help</div>
            <a class="list-group-item active"><span class="badge">14</span>Help</a>
        </div>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Styles <span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class=""><a href="#" rel="panel-default">Default</a></li>
        <li class=""><a href="#" rel="panel-primary">Primary</a></li>
        <li class=""><a href="#" rel="panel-success">Success</a></li>
        <li class=""><a href="#" rel="panel-info">Info</a></li>
        <li class=""><a href="#" rel="panel-warning">Warning</a></li>
        <li class=""><a href="#" rel="panel-danger">Danger</a></li>
    </ul>
</span>

	</span>
    <div class="preview">Panels</div>
    <div class="view">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" contenteditable="true">Panel title</h3>
            </div>
            <div class="panel-body" contenteditable="true">
                Panel content
            </div>
            <div class="panel-footer" contenteditable="true">
                Panel footer
            </div>
        </div>
    </div>
</div>

</li>
</ul>

<ul class="nav nav-list accordion-group" style="display: none">
<li class="nav-header"><i class="glyphicon glyphicon-plus"></i> JavaScript
    <div class="pull-right popover-info"><i class="glyphicon glyphicon-question-sign "></i>
        <div class="popover fade right"><div class="arrow"></div>
            <h3 class="popover-title">Help</h3>
            <div class="popover-content">Drag &amp; Drop the elements inside the
                columns where you want to insert it. And from there, you can configure
                the style of that javascript. If you need more info please visit  <a target="_blank" href="http://getbootstrap.com/javascript">JavaScript.</a></div></div>
    </div>
</li>
<li class="boxes mute" id="elmJS">
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
    <div class="preview">Modal</div>
    <div class="view">
        <!-- Button to trigger modal -->
        <a id="myModalLink" href="#myModalContainer" role="button" class="btn" data-toggle="modal">Launch demo modal</a>

        <!-- Modal -->
        <div class="modal fade" id="myModalContainer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel" contenteditable="true">Modal title</h4>
                    </div>
                    <div class="modal-body" contenteditable="true">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" contenteditable="true">Close</button>
                        <button type="button" class="btn btn-primary" contenteditable="true">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
  <span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Position <span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class="active"><a href="#" rel="">Default</a></li>
        <li class=""><a href="#" rel="navbar-static-top">Static top</a></li>
        <li class=""><a href="#" rel="navbar-fixed-top">Navbar fixed top</a></li>
        <li class=""><a href="#" rel="navbar-fixed-bottom">Navbar fixed bottom</a></li>
    </ul>
</span>
		<a class="btn btn-xs btn-default" href="#" rel="navbar-inverse">Inverse</a>
		<!--a class="btn btn-xs btn-default" href="#" rel="navbar-static-top">Static top</a>
		<a class="btn btn-mini" href="#" rel="navbar-fixed-top">Navbar fixed top</a>
		<a class="btn btn-mini" href="#" rel="navbar-fixed-bottom">Navbar fixed bottom</a-->
	</span>
    <div class="preview">Navbar</div>
    <div class="view">

        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input class="form-control" placeholder="Search" type="text">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
	</span>
    <div class="preview">Tabs</div>
    <div class="view">
        <div class="tabbable" id="myTabs"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab" contenteditable="true">Section 1</a></li>
                <li><a href="#tab2" data-toggle="tab" contenteditable="true">Section 2</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <p contenteditable="true">I'm in Section 1.</p>
                </div>
                <div class="tab-pane" id="tab2">
                    <p contenteditable="true">Howdy, I'm in Section 2.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
	<span class="configuration">
		<span class="btn-group btn-group-xs">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Styles <span class="caret"></span></a>
	<ul class="dropdown-menu">
        <li class=""><a href="#" rel="alert-success">Success</a></li>
        <li class=""><a href="#" rel="alert-info">Info</a></li>
        <li class=""><a href="#" rel="alert-warning">Warning</a></li>
        <li class=""><a href="#" rel="alert-danger">Danger</a></li>
    </ul>
</span>

	</span>
    <div class="preview">Alerts</div>
    <div class="view">
        <div class="alert alert-success alert-dismissable" contenteditable="true">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>Alert!</h4>
            <strong>Warning!</strong> Best check yo self, you're not looking too good. <a href="#" class="alert-link">alert link</a>
        </div>
    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
    <div class="preview">Collapse</div>
    <div class="view">
        <div class="panel-group" id="myAccordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title" data-toggle="collapse" data-parent="#myAccordion" href="#collapseOne" contenteditable="true">
                        Collapsible Group Item #1
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body" contenteditable="true">
                        Anim pariatur cliche...
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title" data-toggle="collapse" data-parent="#myAccordion" href="#collapseTwo" contenteditable="true">
                        Collapsible Group Item #2
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body" contenteditable="true">
                        Anim pariatur cliche...
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> </span>
    <div class="preview">Carousel</div>
    <div class="view">


        <div class="carousel slide" id="myCarousel">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
                <li data-slide-to="1" data-target="#myCarousel" class=""></li>
                <li data-slide-to="2" data-target="#myCarousel" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="" src="Layout_files/1.jpg">
                    <div class="carousel-caption">
                        <h4>First Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                            Donec id elit non mi porta gravida at eget metus. Nullam id dolor id
                            nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
                <div class="item">
                    <img alt="" src="Layout_files/2.jpg">
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                            Donec id elit non mi porta gravida at eget metus. Nullam id dolor id
                            nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
                <div class="item">
                    <img alt="" src="Layout_files/3.jpg">
                    <div class="carousel-caption">
                        <h4>Third Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                            Donec id elit non mi porta gravida at eget metus. Nullam id dolor id
                            nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>



    </div>
</div>
</li>
</ul>


<!-- BuySellAds Zone Code -->

<!-- End BuySellAds Zone Code -->
</div>
</div>
</div>
<!--/span-->

<div style="min-height: 800px;" class="demo ui-sortable col-md-4 col-lg-4 col-sm-4 view-container">
    <h4 class="preview-title">预览</h4>
    <div class="lyrow" >

        <div class="preview">9 3</div>
        <div class="view">
            <div class="row clearfix">
                <div  class="col-md-12 column ui-sortable main-col"  style="background-image: url(/img/bowuguan.jpg);border:10px solid gray;border-radius:30px;padding-top:10px;min-height: 600px ">

                </div>
            </div>
        </div>
    </div>



</div>

<div style="min-height: 675px;" class="demo  col-md-4 col-lg-4 col-sm-4 config-section">
    <div class="panel">
        <form class="form ajax-form" id="page-form" role="form" action="/admin/page/save">

<button id="pg-save-btn" type="submit" class="btn btn-primary btn-lg pull-right">保存</button>
            <input type="hidden"  name="ib_id"  required value="{{$page.ib_id}}"/>
            <input type="hidden"  name="page_title"  required value="{{$page.title}}"/>
            <input type="hidden" data-bg=1 name="content_bg"  required value="{{$page.bg}}"/>
            <input type="hidden" value="{{$page.lang}}" name="lang" required/>

    </div>


        </form>
    </div>
<div id="download-layout"><div class="container"></div></div>
</div>

</div>







</div><!--/.fluid-container-->

<div id="preview-toolbar" style="display: none">

    <a href="#"><i class="fa fa-desktop"></i></a>
    <a href="#"><i class="fa fa-mobile-phone"></i></a>
    <a href="#"><i class="fa fa-mobile-phone fa-rotate-270"></i></a>
    <a href="#"><i class="fa fa-tablet "></i></a>
    <a href="#"><i class="fa fa-tablet fa-rotate-270"></i></a>
    <a href="#"><i class="fa fa-gear"></i></a>
    <a href="#" data="hidden"><input type="text" name="prev_width" placeholder="width"/></a>
    <a href="#" data="hidden"><i class="fa fa-times" style="color:black"></i></a>
    <a href="#" data="hidden"><input type="text" name="prev_height" placeholder="height"/></a>
    <a href="#" data="hidden"><i class="fa fa-refresh"></i></a>
</div>

<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true"></div>
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true"></div>
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true"></div>
</div>
</section>
</aside>
</div>
<script>
 var pageJson={{$pageJson}};

</script>

{{include file="common/footer.phtml"}}


</body></html>