<style>
    .setting-item {margin-bottom: 5px}
    .form-horizontal .control-label,
    .form-horizontal .radio,
    .form-horizontal .checkbox,
    .form-horizontal .radio-inline,
    .form-horizontal .checkbox-inline {
        padding-top: 7px;
        margin-top: 0;
        margin-bottom: 0;
    }
    @media (min-width: 768px) {
        .form-horizontal .control-label {
            text-align: right;
        }
    }
    .form-group {
        margin-bottom: 15px;
    }
    @media (min-width: 768px) {
        .form-inline .form-group {
            display: inline-block;
            margin-bottom: 0;
            vertical-align: middle;
        }
    }
    .form-horizontal .form-group {
        margin-right: -15px;
        margin-left: -15px;
    }

    .form-horizontal .form-group:before,
    .form-horizontal .form-group:after {
        display: table;
        content: " ";
    }

    .form-horizontal .form-group:after {
        clear: both;
    }

    .form-horizontal .form-group:before,
    .form-horizontal .form-group:after {
        display: table;
        content: " ";
    }

    .form-horizontal .form-group:after {
        clear: both;
    }
    .modal-header {padding:0px}
    .form-control:-moz-placeholder {
        color: #999999;
    }

    .form-control::-moz-placeholder {
        color: #999999;
    }

    .form-control:-ms-input-placeholder {
        color: #999999;
    }

    .form-control::-webkit-input-placeholder {
        color: #999999;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    .form-control[disabled],
    .form-control[readonly],
    fieldset[disabled] .form-control {
        cursor: not-allowed;
        background-color: #eeeeee;
    }
    .required.form-control:before {
        content:'*',
        color:'red'
    }
    textarea.form-control {
        height: auto;
    }
    input.required:before {
        content:"*";
        color:red;

    }
    select.required:before {
        content:"*";
        color:red;

    }
    .form-control {width:95%}
</style>
<div class="modal fade" id="meeting_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog wrtc-modal-resizable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="padding: 1px 5px 0px 0px;font-size: 1.2em;">&times;</button>
                <div class="modal-title"><div style="display:inline-block;margin-left:3px;padding:6px;text-align: left"><%=lang.meeting_login%></div></div>
            </div>
            <div class="modal-body">



            <form class="form-horizontal ajax-form" role="form"  action="/user/meetinglogin" method="post" id="meeting-form">
                <div class="return-error"></div>
                <div class="return-suc"></div>

                <div class="form-group required">
                    <label class="col-sm-4 control-label"><%=lang.realname%></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control required" id="pre_realname" placeholder="<%=lang.realname%>" name="realname" ref='{"reg":"cn_en","msg":"<%=lang.company_name%> is invalid"}'>
                    </div>
                </div>
                <%if(user.mobile!=0){%>
                <div class="form-group required">
                    <label for="pro_mobile" class="col-sm-4 control-label"><%=lang.username%></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control required" id="pro_mobile" value="32<%=user.mobile%>" name="mobile" ref='{"reg":"cn_mobile"}' disabled>

                    </div>
                </div>
                <%} else {%>
                <%if(user.email!=''){%>
                <div class="form-group required">
                    <label class="col-sm-4 control-label"><%=lang.username%></label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control required" id="pre_email" value="<%=user.email%>" name="email" ref='{"reg":"email"}' disabled>
                    </div>
                </div>
                <%}}%>
                <%if(iscreated==0){%>
                <div class="form-group required">
                    <label class="col-sm-4 control-label"><%=lang.newpassword%></label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control required" id="pre_password" placeholder="<%=lang.password%>" name="password" ref='{"reg":"password"}'>

                        <div class="help-block"><%=lang.meeting_pwd_help%></div>
                    </div>
                </div>
                <%}%>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="hidden" class="form-control required" id="mcode" name="mcode" value="<%=mcode%>">
                        <input type="hidden" class="form-control required" id="uid" name="uid" value="<%=uid%>">
                        <input type="hidden" class="form-control required" id="meeting" name="meeting" value="<%=meeting%>">
                        <input type="submit" class="btn btn-primary" id="apply-meeting" value="<%=lang.submit%>">
                    </div>
                </div>
            </form>




</div>
            </div>
        </div>
    </div>
