.typeahead,
    .tt-query,
    .tt-hint {
        width: 396px;
        height: 30px;
        padding: 8px 12px;
        font-size: 24px;
        line-height: 30px;
        border: 2px solid #ccc;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        outline: none;
    }

    .typeahead {
        background-color: #fff;
    }

    .typeahead:focus {
        border: 2px solid #0097cf;
    }

    .tt-query {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
        color: #999
    }

    .tt-dropdown-menu {
        width: 422px;
        margin-top: 12px;
        padding: 8px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .tt-suggestion {
        padding: 3px 20px;
        font-size: 18px;
        line-height: 24px;
    }

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #0097cf;

    }

    .tt-suggestion p {
        margin: 0;
    }


    #__searchitWrapper1 {z-index: 9999}
    .file-update {width:200px}
    .nav-input input {max-width:50px;width:100%}
    .dropdown-large {
        position: static !important;
    }
    .dropdown-menu-large {
        margin-left: 16px;
        margin-right: 16px;
        padding: 20px 0px;
    }
    .dropdown-menu-large > li > ul {
        padding: 0;
        margin: 0;
    }
    .dropdown-menu-large > li > ul > li {
        list-style: none;
    }
    .dropdown-menu-large > li > ul > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.428571429;
        color: #333333;
        white-space: normal;
    }
    .dropdown-menu-large > li ul > li > a:hover,
    .dropdown-menu-large > li ul > li > a:focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
    }
    .dropdown-menu-large .disabled > a,
    .dropdown-menu-large .disabled > a:hover,
    .dropdown-menu-large .disabled > a:focus {
        color: #999999;
    }
    .dropdown-menu-large .disabled > a:hover,
    .dropdown-menu-large .disabled > a:focus {
        text-decoration: none;
        background-color: transparent;
        background-image: none;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        cursor: not-allowed;
    }
    .dropdown-menu-large .dropdown-header {
        color: #428bca;
        font-size: 18px;
    }
    .config-section {padding-top: 25px!important;}
    @media (max-width: 768px) {
        .dropdown-menu-large {
            margin-left: 0 ;
            margin-right: 0 ;
        }
        .dropdown-menu-large > li {
            margin-bottom: 30px;
        }
        .dropdown-menu-large > li:last-child {
            margin-bottom: 0;
        }
        .dropdown-menu-large .dropdown-header {
            padding: 3px 15px !important;
        }
        #prev-toolbar .dropdown .caret {margin-top: -13px}
    }

.bwizard-steps {
    display: inline-block;
    margin: 0; padding: 0;
    background: #fff }
.bwizard-steps .active {
    color: #fff;
    background: #007ACC }
.bwizard-steps .active:after {
    border-left-color: #007ACC }
.bwizard-steps .active a {
    color: #fff;
    cursor: default }
.bwizard-steps .label {
    position: relative;
    top: -1px;
    margin: 0 5px 0 0; padding: 1px 5px 2px }
.bwizard-steps .active .label {
    background-color: #333;}
.bwizard-steps li {
    display: inline-block; position: relative;
    margin-right: 5px;
    padding: 12px 17px 10px 30px;
    *display: inline;
    *padding-left: 17px;
    background: #efefef;
    line-height: 18px;
    list-style: none;
    zoom: 1; }
.bwizard-steps li:first-child {
    padding-left: 12px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px; }
.bwizard-steps li:first-child:before {
    border: none }
.bwizard-steps li:last-child {
    margin-right: 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0; }
.bwizard-steps li:last-child:after {
    border: none }
.bwizard-steps li:before {
    position: absolute;
    left: 0; top: 0;
    height: 0; width: 0;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    border-top: 20px inset transparent;
    content: "" }
.bwizard-steps li:after {
    position: absolute;
    right: -20px; top: 0;
    height: 0; width: 0;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #efefef;
    border-top: 20px inset transparent;
    content: "";
    z-index: 2; }
.bwizard-steps a {
    color: #333 }
.bwizard-steps a:hover {
    text-decoration: none }
.bwizard-steps.clickable li:not(.active) {
    cursor: pointer }
.bwizard-steps.clickable li:hover:not(.active) {
    background: #ccc }
.bwizard-steps.clickable li:hover:not(.active):after {
    border-left-color: #ccc }
.bwizard-steps.clickable li:hover:not(.active) a {
    color: #08c }
@media (max-width: 480px) {
    /* badges only on small screens */
    .bwizard-steps li:after,
    .bwizard-steps li:before {
        border: none }
    .bwizard-steps li,
    .bwizard-steps li.active,
    .bwizard-steps li:first-child,
    .bwizard-steps li:last-child {
        margin-right: 0;
        padding: 0;
        background-color: transparent }
}
body {

    padding-bottom: 40px;

    -webkit-transition: margin 500ms ease;
    -moz-transition: margin 500ms ease;
    -ms-transition: margin 500ms ease;
    -o-transition: margin 500ms ease;
    transition: margin 500ms ease;
}
#ry-menu {float:left}
#ry-menu .btn-group button {margin:0 0.2em}

.ry-navbar .btn-donate {padding: 0 0 0 10px;}
.ry-navbar .btn-donate form { margin:0;}


#user-lang {padding: 14px 0px !important;}
#user-icon>img {width:auto;height:50px}
@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (max-width: 979px) {
    .navbar-fixed-top { position:fixed; }
}
.tooltip {max-width: 500px;min-width:200px;width:100%}
.person-icon {margin-top: 6px}
.ry-navbar #menu-layoutit { float:left;}
.ry-navbar { min-height: 45px;}
.ry-navbar .navbar-brand {width:180px; color:#fff; padding: 0; margin:0 5px; }
.ry-navbar .navbar-brand img {float:left; margin:2px 10px 0 0; }
.ry-navbar .navbar-brand .label {
    position:relative;
    left:10px;
    top:-3px;
    font-weight:normal;
    font-size:9px;
    background:#666;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.edit .demo { margin-left:0px;padding:15px 15px 15px; border: 1px solid #DDDDDD; border-radius: 4px; position:relative; word-wrap: break-word;}
.edit .demo:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Container";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.temp-select {border:2px solid green}
.container { width:auto; margin:0 0px;}
.sidebar-nav {


    margin-top:10px;

    z-index:10;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

a.language-selected { font-style: italic; font-weight: bold; }

.modal-body { padding-bottom:0; }
.modal-footer { margin-top:0; }

.list-group-item.search-item {cursor:pointer}
#comp-panel .box{padding:0px}

.setting-item {margin-bottom: 5px;margin-left: 15px}
.expand-item
{
    margin-left: 8px;
    font-size: 1.2em;
    font-weight: bold;
    float:right;
}
.list-item-active
{
    background: #eee;
    border-left: 3px solid #428bca;
}

#app-pages>.panel-heading {overflow: hidden;padding-top:0px;padding-bottom: 0px}
#app-pages>.panel-heading .app-title { float: left;
    margin-top: 6px}
#app-pages>.panel-heading .top-search { float: right;
    margin-top: 6px;
    padding: 0px 0px 0px 15px;}
.fa-plus {cursor: pointer}
#app-pages>.panel-heading .search_txt {width:auto}
#app-pages>.panel-heading .form-group {margin-bottom: 0px;float:right}

.searchbox {
    border:1px solid #456879;
    border-radius:6px;
    height: 22px;
    width: 200p;
    margin-top: 5px;
}
.dropzone {min-height:140px}
.dz-default.dz-message {

    background-image: none !important;
}
.dz-default.dz-message>span {
    display: block !important;
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;

}

div.tool-items>a.tool-item>i {padding:6px;font-size:1.5em}
div.tool-items>a.tool-item>input {margin-top:3px;width:40px;}
div.tool-items>a[data=hidden] {display:none}
.item-gray {background:#aaa}
.pos-bottom {margin-top:350px !important;}
.pos-top {position: absolute !important;top:0px}
/*.view-container .comp-bottom-btns {position: absolute !important;bottom:0px}*/


ul.bs-glyphicons-list {
    padding-left:0px;
}


.bs-glyphicons {
    padding-left: 0;
    padding-bottom: 1px;
    margin-bottom: 20px;
    list-style: none;
    overflow: hidden;
}
.bs-glyphicons li {
    float: left;
    width: 25%;
    height: 115px;
    list-style: none;
    padding: 10px 0px;
    margin: 0 -1px -1px 0;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #ddd;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word; /* Help out IE10+ with class names */
}
.bs-glyphicons li:hover {
    background-color: rgba(86,61,124,.1);
}

@media (min-width: 768px) {
    .bs-glyphicons li {
        width: 25%;
    }
}

.bs-glyphicons li {font-size: 1em;cursor: pointer}
.bs-glyphicons>li>img {width:70px;height: 70px}

#right-temp>a {
    margin-bottom:8px;
    margin-right:0px;
}
#rootwizard {
    margin-top:10px;
}
.fa-2x {
    font-size:2em !important;
}

.fa-3x {
    font-size:3em !important;
}
.fa-4x {
    font-size:4em !important;
}
.fa-5x {
    font-size:5em !important;
}
.preview.drag{
      position: relative;
    padding-top:30px;
  cursor: pointer;


}
.box.box-element.ui-draggable {
    padding-top:4em;
}
