<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{$title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="expires" content="Sunday 26 October 2008 01:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    {{if $android}}
    <meta name="mobile-web-app-capable" content="yes">
    {{/if}}
    {{if $ios}}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{$siteName}}">
    {{/if}}

    {{if false}}
    optimize for web app
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    {{/if}}
    {{if $ie10plus}}
    <meta name="msapplication-tap-highlight" content="no" />
    {{/if}}


    {{if $win7plus}}
    <!-- Name the Pinned Site for Windows -->
    <meta name="application-name" content="{{$siteName}}">
    <!-- Give your Pinned Site a tooltip-->
    <meta name="msapplication-tooltip" content="{{$siteDesc}}">
    <!-- Set a default page for your Pinned Site -->
    <meta name="msapplication-starturl" content="{{$siteUrl}}">
    {{/if}}



    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="{{$imgdir}}apple-touch-icon-precomposed.png">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{$imgdir}}logo-72x72.png">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{$imgdir}}logo-76x76.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{$imgdir}}logo-114x114.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{$imgdir}}logo-120x120.png">
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{$imgdir}}logo-144x144.png">
    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{$imgdir}}logo-152x152.png">



    <!-- Morris chart
    <link href="{{$cssdir}}morris.css" rel="stylesheet" type="text/css" />
     -->
    <!-- jvectormap
    <link href="{{$cssdir}}jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    -->
    <!-- fullCalendar
    <link href="{{$cssdir}}fullcalendar.css" rel="stylesheet" type="text/css" />
    -->
    <!-- Daterange picker
    <link href="{{$cssdir}}daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
     -->
    <!-- bootstrap wysihtml5 - text editor
    <link href="{{$cssdir}}bootstrap3-wysihtml5.css" rel="stylesheet" type="text/css" />
     -->
    <!-- Theme style -->


    {{if $actionCss}}
    <link rel="stylesheet" href="{{$actionCss}}"/>
    {{/if}}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
        form {
            font-size: 1em;

        }
        #compile-error {
            background-color: #ddd;
        }
        input[type=submit]   {
            min-height: 2em;
            line-height: 2em;
            font-size: 4em;

        }
        .job-finish {
            padding: 10px;
            background: #ddd;
        }
        #down_tips {display: none}
    </style>

    <script src="/js/jqm.js"></script>
    <script>
        var prefix="http://192.168.10.200";
{{if !empty($fileName)}}
        (function(){
                var interval=setInterval(function(){
                    $.get("/test/jobstatus",{id:$("#jid").val()},function(data){
                        var data=$.parseJSON(data);
                        if(data.code==1){

                            if(data.data.status==1 ){
                                if(/^\/.+$|^http:\/\/.+$/.test(data.data.url)){
                                    var url=prefix+data.data.url;
                                    $("#down_tips").show();

                                    setTimeout(function(){
                                        document.getElementById("download").src=url;
                                        $("#down_tips").hide();
                                    }, 3* 1000);
                                    var intSec=setInterval(function(){
                                        var leftSec=parseInt($("#down_sec").text());
                                        if(leftSec>0){
                                            $("#down_sec").text((parseInt($("#down_sec").text())-1));
                                        } else {
                                            clearInterval(intSec);
                                        }

                                    },1000);
                                    //$("<iframe>").attr("src",url);
                                    $(".job-finish").append(

                                        $("#jid").attr('data')+"compiling finished    <a href='"+url+"' download>Download</a><br>"
                                    );
                                    clearInterval(interval);
                                } else {
                                    clearInterval(interval);
                                    $("#compile-error").html("<pre><code>"+data.data.url+"</code></pre>");
                                }

                            }
                        }
                });
            },2000);

        }());
{{/if}}


    </script>
</head>
<body>


{{if !empty($error)}}
<div style="font-size: red">
    compiling result:{{$error.msg}}...
</div>

{{/if}}
{{if !empty($fileName)}}
<div>
    start compiling:{{$fileName}}...
</div>
<div class="job-finish">
</div>
{{/if}}
<div id="down_tips"><span id="down_sec">3</span>秒后自动下载</div>
<iframe id="download" width="1" height="1" style="display:none"></iframe>
<input type="hidden" value="{{$jid}}" name="jid" id="jid" data="{{$fileName}}"/>
<form  method="post" enctype = "multipart/form-data" >
    编译包:
    <input type="file" name="file"/><br/>
    <input type="submit" value="提交" /><br/>
</form>
<div><div>Compile Error Msg:</div><div id="compile-error"></div></div>
</body>

</html>


