<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{$title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="expires" content="Sunday 26 October 2008 01:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    {{if $android}}
    <meta name="mobile-web-app-capable" content="yes">
    {{/if}}
    {{if $ios}}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{$siteName}}">
    {{/if}}

    {{if false}}
    optimize for web app
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    {{/if}}
    {{if $ie10plus}}
    <meta name="msapplication-tap-highlight" content="no" />
    {{/if}}


    {{if $win7plus}}
    <!-- Name the Pinned Site for Windows -->
    <meta name="application-name" content="{{$siteName}}">
    <!-- Give your Pinned Site a tooltip-->
    <meta name="msapplication-tooltip" content="{{$siteDesc}}">
    <!-- Set a default page for your Pinned Site -->
    <meta name="msapplication-starturl" content="{{$siteUrl}}">
    {{/if}}



    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="{{$imgdir}}apple-touch-icon-precomposed.png">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{$imgdir}}logo-72x72.png">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{$imgdir}}logo-76x76.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{$imgdir}}logo-114x114.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{$imgdir}}logo-120x120.png">
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{$imgdir}}logo-144x144.png">
    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{$imgdir}}logo-152x152.png">



    <!-- Morris chart
    <link href="{{$cssdir}}morris.css" rel="stylesheet" type="text/css" />
     -->
    <!-- jvectormap
    <link href="{{$cssdir}}jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    -->
    <!-- fullCalendar
    <link href="{{$cssdir}}fullcalendar.css" rel="stylesheet" type="text/css" />
    -->
    <!-- Daterange picker
    <link href="{{$cssdir}}daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
     -->
    <!-- bootstrap wysihtml5 - text editor
    <link href="{{$cssdir}}bootstrap3-wysihtml5.css" rel="stylesheet" type="text/css" />
     -->
    <!-- Theme style -->

    <link rel="stylesheet" href="/css/mui.css"/>
    {{if $actionCss}}
    <link rel="stylesheet" href="{{$actionCss}}"/>
    {{/if}}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script>
        /*TMODJS:{"version":"1.0.0"}*/
        !function(){function a(a,b){return(/string|function/.test(typeof b)?h:g)(a,b)}function b(a,c){return"string"!=typeof a&&(c=typeof a,"number"===c?a+="":a="function"===c?b(a.call(a)):""),a}function c(a){return l[a]}function d(a){return b(a).replace(/&(?![\w#]+;)|[<>"']/g,c)}function e(a,b){if(m(a))for(var c=0,d=a.length;d>c;c++)b.call(a,a[c],c,a);else for(c in a)b.call(a,a[c],c)}function f(a,b){var c=/(\/)[^/]+\1\.\.\1/,d=("./"+a).replace(/[^/]+$/,""),e=d+b;for(e=e.replace(/\/\.\//g,"/");e.match(c);)e=e.replace(c,"/");return e}function g(b,c){var d=a.get(b)||i({filename:b,name:"Render Error",message:"Template not found"});return c?d(c):d}function h(a,b){if("string"==typeof b){var c=b;b=function(){return new k(c)}}var d=j[a]=function(c){try{return new b(c,a)+""}catch(d){return i(d)()}};return d.prototype=b.prototype=n,d.toString=function(){return b+""},d}function i(a){var b="{Template Error}",c=a.stack||"";if(c)c=c.split("\n").slice(0,2).join("\n");else for(var d in a)c+="<"+d+">\n"+a[d]+"\n\n";return function(){return"object"==typeof console&&console.error(b+"\n\n"+c),b}}var j=a.cache={},k=this.String,l={"<":"&#60;",">":"&#62;",'"':"&#34;","'":"&#39;","&":"&#38;"},m=Array.isArray||function(a){return"[object Array]"==={}.toString.call(a)},n=a.utils={$helpers:{},$include:function(a,b,c){return a=f(c,a),g(a,b)},$string:b,$escape:d,$each:e},o=a.helpers=n.$helpers;a.get=function(a){return j[a.replace(/^\.\//,"")]},a.helper=function(a,b){o[a]=b},"function"==typeof define?define(function(){return a}):"undefined"!=typeof exports?module.exports=a:this.template=a,/*v:1*/
            a("badge",function(a){"use strict";var b=this,c=(b.$helpers,b.$escape),d=a.className,e="";return e+='<div class="mui-content-padded"> <span class="mui-badge ',e+=c(d),e+='">1</span> </div>',new k(e)}),/*v:2*/
            a("button",function(a){"use strict";var b=this,c=(b.$helpers,b.$escape),d=a.className,e=a.text,f="";return f+='<button class="mui-btn ',f+=c(d),f+='">',f+=c(e),f+="</button> fdasf ",new k(f)}),/*v:1*/
            a("icon_button",function(a){"use strict";var b=this,c=(b.$helpers,b.$escape),d=a.className,e=a.text,f="";return f+='<button class="mui-btn"> <span class="mui-icon ',f+=c(d),f+='"></span> ',f+=c(e),f+=" </button>",new k(f)})}();
    </script>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/test/c.css"/>
    <script src="/js/jqm.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/seajs.js"></script>
</head>
<body>
<a href="#ajax" id="ajax">ajax get test</a>
<script>
    var config={
        lang:{{$lang}}
    };
    seajs.config({
        base: "/js/"

    });
    $(function(){
        seajs.use(["comp_config.js?v="+~new Date()],function(compConfig){

            var json= {
                "id": "",

                "className": "",

                "theme": "",

                "options": {
                    "fixed": "false,true"
                },

                "content": {
                    "left": [{
                        "link": "",
                        "title": "",
                        "icon": "",
                        "customIcon": "",
                        "className": ""
                    }],

                    "title": "",

                    "right": [{
                        "link": "",
                        "title": "",
                        "icon": "",
                        "customIcon": "",
                        "className": ""
                    }]
                }
            };

           var html=compConfig.processContent(json,'result',config.lang,'header');
            //console.log(html);
           $("#content").html('<form class="form-horizontal">'+html+'</form>');

        });


    });


</script>

<div id="content"></div>


<!--
<script id="header" type="text/html">
{{literal}}
{{include "button"}}
{{/literal}}
</script>
-->
<script>
    $("#ajax").on('click',function(){
        $.post('/test/ak1',{},function(data){



        });

    });
var html=template("button")({'className':"btn-default",'text':'zhongguoren'});
    $("#content").append(html);
    alert(html);

</script>
</body>

</html>


