
<!DOCTYPE html>

<html class="expanded">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title></title>

    <script src="http://lightapp.duapp.com/lightapp_builder.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="/static/home/css/lib/base_8f63375.css"/><link rel="stylesheet" type="text/css" href="/static/home/css/cell_model_95a0ef2.css"/><link rel="stylesheet" type="text/css" href="/static/home/css/lego_panel_b3e86d0.css"/></head>

<body>

<div class="main_body" id="main_body">
<div class="left_panel">
<div id="page_panel" class="page_panel">
    <h3 class="panel_title">页面管理<span class="add_page" title="新增页面"></span></h3>
    <ul id="page_list">
        <li class="p_active" pid="pg23473495782910494">
            <span class="p_title">默认页</span>
            <em class="p_copy" title="复制页面"></em>
            <em class="p_up" title="编辑标题"></em>
        </li>
        <li class="p_switch" pid="pg23473525345588671">
            <span class="p_title">复制页面</span>
            <em class="p_del" title="删除页面"></em>
            <em class="p_copy" title="复制页面"></em>
            <em class="p_up" title="编辑标题"></em>
        </li>
    </ul>
</div>
<div id="cpt_panel" class="cpt_panel">
<h3>
    <div class="common anchor" id="general">通用组件<em></em></div>
    <div class="common" id="global">全局组件<em></em></div>
    <div class="common" id="cover">封面组件<em></em></div>
</h3>
<div class="all_cpt">
    <div class="cpt_box">
        <div id="core_cpt" class="core_cpt">
            <h4>基础组件</h4>
            <div class="cpt_item">
                <div class="cpt_node" name="nav" plugid="pl0">
                    <em class="nav"></em>
                    <span>导航</span>
                </div>
            </div>
            <div class="cpt_item">
                <div class="cpt_node"  name="slide" plugid="pl0">
                    <em class="slide"></em>
                    <span>幻灯片</span>
                </div>
            </div>
            <div class="cpt_item">
                <div class="cpt_node"  name="pic" plugid="pl0">
                    <em class="pic"></em>
                    <span>图片</span>
                </div>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="gallery" plugid="pl0">
                    <em class="gallery"></em>
                    <span>图集</span>
                </div>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="text" plugid="pl0">
                    <em class="text"></em>
                    <span>文本</span>
                </div>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="video" plugid="video">
                    <em class="video"></em>
                    <span>视频</span>
                </div>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="title" plugid="pl0">
                    <em class="title"></em>
                    <span>标题</span>
                </div>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="list" plugid="pl1">
                    <em class="list"></em>
                    <span>文章列表</span>
                </div>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="table" plugid="pl0">
                    <em class="table"></em>
                    <span>表格</span>
                </div>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="link" plugid="pl0">
                    <em class="link"></em>
                    <span>链接</span>
                </div>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="html" plugid="pl0">
                    <em class="html"></em>
                    <span class="html">Html</span>
                </div>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="button" plugid="button">
                    <em class="button"></em>
                    <span class="button">按钮</span>
                </div>
            </div>
            <h4>功能组件</h4>
            <div class="cpt_item">
                <div class="cpt_node" name="telephone" plugid="pl0">
                    <em class="phone"></em>
                    <span>电话</span>
                </div>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="message" plugid="pl0">
                    <em class="message"></em>
                    <span>短信</span>
                </div>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="map" plugid="pl0">
                    <em class="map"></em>
                    <span>地图</span>
                </div>
            </div><div class="cpt_item">
                <div class="cpt_node" name="share" plugid="pl0">
                    <em class="enjoy"></em>
                    <span>分享</span>
                </div>
            </div><div class="cpt_item">
                <div class="cpt_node" name="lottery" plugid="lottery">
                    <em class="lottery"></em>
                    <span>抽奖</span>
                </div>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="form" plugid="pl2">
                    <em class="form"></em>
                    <span>留言板</span>
                </div>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="contact" plugid="contact">
                    <em class="contact"></em>
                    <span>通讯录</span>
                </div>
            </div>
            <h4>自定义布局组件</h4>
            <div class="cpt_item">
                <div class="cpt_node" name="column_show" plugid="pl3">
                    <em class="layout"></em>
                    <span>分栏</span>
                </div>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="tab_show" plugid="pl3">
                    <em class="tab"></em>
                    <span>Tab</span>
                </div>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="hr" plugid="hr">
                    <em class="hr"></em>
                    <span>分隔符</span>
                </div>
            </div>
        </div><div id="whole_cpt" class="whole_cpt">
            <div class="cpt_item">
                <div class="cpt_node" name="ECOM" plugid="pl0">
                    <em class="ecom"></em>
                    <span>商务合作</span>
                </div>
                <button type="button" class="switch_off">使用</button>
                <strong></strong>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="tongji" plugid="pl0">
                    <em class="tongji"></em>
                    <span>统计</span>
                </div>
                <button type="button" class="switch_off">使用</button>
                <strong></strong>
            </div>
        </div><div id="cover_cpt" class="whole_cpt">
            <div class="cpt_item">
                <div class="cpt_node" name="cover1" plugid="pl5">
                    <em class="cover1"></em>
                    <span>封面一</span>
                </div>
                <button type="button" class="switch_off">使用</button>
                <strong></strong>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="cover2" plugid="pl5">
                    <em class="cover2"></em>
                    <span>封面二</span>
                </div>
                <button type="button" class="switch_off">使用</button>
                <strong></strong>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="cover3" plugid="pl5">
                    <em class="cover3"></em>
                    <span>封面三</span>
                </div>
                <button type="button" class="switch_off">使用</button>
                <strong></strong>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="cover4" plugid="pl5">
                    <em class="cover4"></em>
                    <span>封面四</span>
                </div>
                <button type="button" class="switch_off">使用</button>
                <strong></strong>
            </div>
            <div class="cpt_item">
                <div class="cpt_node" name="cover5" plugid="pl5">
                    <em class="cover5"></em>
                    <span>封面五</span>
                </div>
                <button type="button" class="switch_off">使用</button>
                <strong></strong>
            </div>
            <div class="show_tips">封面组件利于您站点首页更个性化展示。封面页不支持通用/全局组件添加，若需添加通用/全局组件请切换至非封面页。</div>
        </div></div>
</div>
</div>
</div>
<div class="guid_layer"><span class="close_guid_layer"></span></div>
<div class="cell_panel">
    <div class="preview_page">
        <em></em>
        <span>预览</span>
    </div>
    <div class="cell_body">
        <em class="set_app_style"></em>
        <div class="cell_container">
            <div class="app_title">
                <div class="cpt_cover"></div>
                <iframe scrolling="no" src="http://legoappcore.duapp.com/light/index?token=tMJeonxsNGcVFGU*B11xJgQNdwG6KV1nBHED2Iks2rNAooFh&control=page&plugId=pl0&cptName=titleBar&timestmap=1417681875&preview=1" data="http://legoappcore.duapp.com/light/index?token=tMJeonxsNGcVFGU*B11xJgQNdwG6KV1nBHED2Iks2rNAooFh&control=page&plugId=pl0&cptName=titleBar&timestmap=1417681875&preview=1"></iframe>
            </div>
            <div class="show_panel" id="show_panel"></div>
        </div>
        <div class="cover_container">
        </div>
    </div>
    <div id="save_tips"><div>信息保存成功</div></div>
</div>
<div class="config_panel" id="config_panel">
    <h3 class="config_title" id="config_title">组件管理</h3>
    <dl>
        <dt></dt>
        <dd>使用状态</dd>
        <dd class="s_on">
            <span>开</span>
        </dd>
        <dd class="s_off">
            <span>关</span>
        </dd>
    </dl>
    <div class="config_item" id="config_item">
        <div class="tips">请在手机预览区域选择组件</div>
    </div>
    <div id="app_style">
        <h3>整体风格</h3>
        <ul id="theme_style">
            <li data="#00a3e7"><span></span><img src="/static/home/images/selected_bg_c45996a.png" /></li>
            <li data="#2dbb69"><span></span></li>
            <li data="#2eb6aa"><span></span></li>
            <li data="#1e75c9"><span></span></li>
            <li data="#5e7489"><span></span></li>
            <li data="#7f30b7"><span></span></li>
            <li data="#e700b6"><span></span></li>
            <li data="#f22857"><span></span></li>
            <li data="#ff7800"><span></span></li>
            <li data="#ff9a00"><span></span></li>
            <li data="#222a2e"><span></span></li>
            <li data="#d44a47"><span></span></li>
        </ul>
        <h3 class="last">展示样式</h3>
        <ul id="match_style">
            <li data="1" class="focus">
                <h4 style="background-color:#00a3e7"><span>应用名称</span></h4>
                <div style="color:#00a3e7">
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span class="last_nav"><em>收起∧</em></span>
                </div>
                <button type="button" style="background-color:#00a3e7;"></button>
            </li>
            <li data="2" >
                <h4 style="background-color:#00a3e7;color:#fff;"><span>应用名称</span></h4>
                <div style="background-color:#00a3e7;color:#fff;">
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span class="last_nav"><em>收起∧</em></span>
                </div>
                <button type="button" style="background-color:#00a3e7;"></button>
            </li>
            <li data="3" >
                <h4 style="background-color:#fff;color:#00a3e7;"><span>应用名称</span></h4>
                <div style="background-color:#fff;color:#00a3e7;">
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span><em>导航</em></span>
                    <span class="last_nav"><em>收起∧</em></span>
                </div>
                <button type="button" style="background-color:#00a3e7;"></button>
            </li>
        </ul>
    </div></div>
</div>
<div class="pop_help_layer" id="pop_layer">
    <div class="tip_panel">
        <div class="define_name">
            <h3 class="pop_title">添加页面<em class="close_pop"></em></h3>
            <div class="pop_body">
                <p>页面名字：</p>
                <input id="page_name" type="text" placeholder="请输入文字" />
                <span id="add_tips">不超过6个字</span>
                <button id="add_ok" class="add_ok" type="button">确定</button>
                <button id="add_cancel" class="add_cancel" type="button">取消</button>
            </div>
        </div>
        <div class="del_req">
            <em class="close_pop"></em>
            <div class="pop_body">
                <h4>确定要删除当前信息？</h4>
                <button id="del_ok" class="del_ok" type="button">确定</button>
                <button id="del_cancel" class="del_cancel" type="button">取消</button>
            </div>
        </div>
    </div></div>
<div class="pop_help_layer" id="preview_page">
    <div class="cell_body">
        <div class="close_preview"></div>
        <div class="cell_container">
            <iframe id="cell_preview" data="http://lightapp.duapp.com/light/index?token=tMJeonxsNGcVFGU*B11xJgQNdwG6KV1nBHED2Iks2rNAooFh&preview=1&pageId="></iframe>
            <div class="iframe_loading">
                <div class="loading-content"><i></i></div>
                <span class="loading-words">加载中...</span>
            </div>
        </div>
        <div class="qcode_area">
            <div class="tip">手机扫描二维码预览效果</div>
            <div id="qcode"></div>
            <p class="intro">提示：此图非真实二维码，仅为预览服务，真实二维码请在<a href="http://developer.baidu.com/console#light/4963361" target="_blank">轻应用详情页面</a>查看</p>
        </div>
    </div>
</div>
<div class="pop_help_layer" id="add_channel">
    <div class="pop_iframe add_channel">
        <h2 class="main_head">添加频道<em class="close_pop_iframe">×</em></h2>
    </div>
</div>
<div class="foot_panel">
    <div class="btn_panel">
        <a id="back_basic" href="http://qing.baidu.com/console#light!from=works&ref=home&tpl=72&appid=4963361" target="_top">返回基本信息</a>
        <a id="blue_btn"  href="lego_manage?token=tMJeonxsNGcVFGU*B11xJgQNdwG6KV1nBHED2Iks2rNAooFh&openid=4963361">完成</a>
        <a id="drop_out" href="http://qing.baidu.com/console#light/4963361" target="_top">退出</a>
    </div>
</div>
<script>
    var Hunter = window.Hunter || {};
    Hunter.userConfig = Hunter.userConfig || [];
    Hunter.userConfig.push({
        hid: 60546
    });
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];
</script>
<script type="text/javascript">
    var global = 'lego_tpl';
    var token = 'tMJeonxsNGcVFGU*B11xJgQNdwG6KV1nBHED2Iks2rNAooFh';
    var pageId = 'pg23473495782910494';
    var appid = 1354887;
    var timestamp = 1417681875;
    var app_core = 'http://legoappcore.duapp.com/light/index';
    var openid = 4963361;
    var cptData = JSON.parse('[{"cptId":"cp23473504710663736","plugId":"pl0","cptName":"gallery"},{"cptId":"cp23473602976436124","plugId":"pl0","cptName":"table"},{"cptId":"cp23473842411855268","plugId":"pl0","cptName":"slide"},{"cptId":"cp23473512327541878","plugId":"pl0","cptName":"map"},{"cptId":"cp23473802835313726","plugId":"pl0","cptName":"gallery"}]');
    var appColor = JSON.parse('{\"themeColor\":\"#00a3e7\",\"match\":\"1\",\"titleColor\":\"#fff\"}');
    var globalCptData = JSON.parse('[{"cptId":0,"plugId":"pl0","cptName":"titleBar","position":"top","permission":0}]');
    var pageCoverId = '';
    var isFrom = 0;
    var hasCpt = 1;
    var is_whitelist_user = '';
</script>

</body><script type="text/javascript" src="/static/home/js/lib/jquery-1.7.1.min_229476e.js"></script>
<script type="text/javascript" src="/static/home/js/lib/ui/ui.core_3832898.js"></script>
<script type="text/javascript" src="/static/home/js/lib/ui/ui.draggable_2b8b8d1.js"></script>
<script type="text/javascript" src="/static/home/js/lib/ui/ui.droppable_b6f8a47.js"></script>
<script type="text/javascript" src="/static/home/js/lib/ui/ui.sortable_2784b4f.js"></script>
<script type="text/javascript" src="/static/home/js/lib/qrcode_d78d6c7.js"></script>
<script type="text/javascript" src="/static/home/js/lib/jquery.qrcode_aca229c.js"></script>
<script type="text/javascript" src="/static/home/js/lego_panel_29fb772.js"></script>
</html>