<!--<ol id='auto-radio-buttons' data-name='foo'>-->
<!--    <li class='expanded' data-value='0'>All-->
<!--        <ol>-->
<!--            <li data-value='1'>One</li>-->
<!--            <li data-value='2'>-->
<!--                Two-->
<!--                <ol>-->
<!--                    <li data-value='3'>-->
<!--                        Three-->
<!--                        <ol>-->
<!--                            <li data-value='4' data-checked='1'>Four</li>-->
<!--                        </ol>-->
<!--                    </li>-->
<!--                    <li data-value='5'>Five</li>-->
<!--                </ol>-->
<!--            </li>-->
<!--        </ol>-->
<!--    </li>-->
<!--</ol>-->
<!---->
<body></body>
<script src="/js/jqm.js"></script>
<script src="/js/jq.qubit.js"></script>
<script src="/js/jquery.bonsai.js"></script>
<script>
    var abc={"18":{"id":"18","product_name":"ninja","icon":"fa fa-info","name":"环境信息","type":"1","href":"/admin/table/view/?ztb=SensorInfoM&menuid=18","pid":"0","is_active":"0","hidden":"0","level":"10","order":"2","subs":null},"19":{"id":"19","product_name":"ninja","icon":"fa fa-wechat","name":"微信菜单管理","type":"1","href":"/admin/table/view/?ztb=WechatMenu&menuid=19","pid":"0","is_active":"0","hidden":"0","level":"10","order":"3","subs":null},"20":{"id":"20","product_name":"ninja","icon":"fa fa-user","name":"访客管理","type":"1","href":"/admin/table/view/?ztb=WechatUserM&menuid=20","pid":"0","is_active":"0","hidden":"0","level":"10","order":"4","subs":null},"27":{"id":"27","product_name":"ninja","icon":"fa fa-mall","name":"商场管理","type":"0","href":"","pid":"0","is_active":"0","hidden":"0","level":"10","order":"5","subs":{"17":{"id":"17","product_name":"ninja","icon":"fa fa-android","name":"环境卫士管理","type":"1","href":"/admin/table/view/?ztb=Ibeacon&menuid=17","pid":"27","is_active":"0","hidden":"0","level":"10","order":"1","subs":null},"28":{"id":"28","product_name":"ninja","icon":"fa fa-cog","name":"商铺管理","type":"1","href":"/admin/table/view/?ztb=UserShop&menuid=28","pid":"27","is_active":"0","hidden":"0","level":"10","order":"0","subs":null},"29":{"id":"29","product_name":"ninja","icon":"fa fa-info","name":"商铺类型","type":"1","href":"/admin/table/view/?ztb=ShopCls&menuid=29","pid":"27","is_active":"0","hidden":"0","level":"10","order":"0","subs":null}}}};
    var result=[];
    function jsMenus(menus,result){

        var tempArr=[];
        for(var key in menus){

            if(menus[key]['subs']){

                result.push("<li data-value='1'>"+menus[key]['name']+"<ol>"+jsMenus(menus[key]['subs'],result)+"</ol></li>");

            } else{
                var liHtml="<li data-value='1'"+(menus[key]['is_checked']?" data-checked='1'":"")+">"+menus[key]['name']+"</li>";
                if(menus[key]['pid']==0){
                    result.push(liHtml);
                } else {
                    tempArr.push(liHtml);
                }

            }

        }
        return tempArr.join("");
    }
    jsMenus(abc,result);
    var result=result.join("");
    var ols='<ol id="menu-content" data-name="foo"><li class="expanded" data-value="0">All<ol>'+result+"</ol></li></ol>";
    var menus=$(ols);
    $("body").append(menus);

    menus.bonsai({
        expandAll: true,
        createInputs: 'radio'
    });


</script>