<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>WebUploader演示 - 带裁剪功能 </title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/webuploader.css" />
    <style>
        #wrapper {
            width: 980px;
            margin: 0 auto;

            margin: 1em;
            width: auto;
        }

        .img-preview {
            width: 160px;
            height: 90px;
            margin-top: 1em;
            border: 1px solid #ccc;
        }

        .cropper-wraper {
            position: relative;
        }

        .upload-btn {
            background: #ffffff;
            border: 1px solid #cfcfcf;
            color: #565656;
            padding: 10px 18px;
            display: inline-block;
            border-radius: 3px;
            margin-left: 10px;
            cursor: pointer;
            font-size: 14px;

            position: absolute;
            right: 1em;
            bottom: 2em;
        }
        .upload-btn:hover {
            background: #f0f0f0;
        }
        .webuploader-pick .info {font-size:12px;}
        .webuploader-pick {
            padding:0px
        }
        .webuploader-pick .progress {
            color:red;
            height:5px;
        }

    </style>

    <script type="text/javascript" src="/js/holder.js"></script>
</head>

<body>
<div id="launchUp">wwww</div>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <div type="file" id="filePicker" class="pull-left"></div>
        <div type="file" id="filePicker3"></div>
    </div>
  </div>

</form>
<form class="form-horizontal" role="form" action="/test/form" method="post">
    <div class="form-group">
     <input type="text" name="nameya" class="pull-left">
        <input type="file" name="nameya" class="pull-left">

    </div>
  </div>
 <input type="submit" id="submit" value="submit">
</form>



<script type="text/javascript" src="/js/seajs.js"></script>
<script type="text/javascript" src="/js/jqm.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/webuploader.js"></script>
<script type="text/javascript" src="/js/holder.js"></script>
<script type="text/javascript" src="/js/u.js"></script>
<script>
    ajaxCbs=ajaxCbs || {};
    $(function(){
        $("body").on('click','.glyphicon-trash',function(evt){
            evt.preventDefault();
            return false;
        });

    });
    $(document).on('ajax_timeout',function(evt,data){
        if($.isPlainObject(data)){
            if(data.reqId){
                ajaxCbs[data.reqId] && ajaxCbs[data.reqId][2] && ajaxCbs[data.reqId][2](data.reqId);
            }
        }
    });
    $.ajaxSetup({
      crossDomain:true,timeout:1000,error:function(xhr, status, error){
            if(status=='timeout'){
                $(document).trigger('ajax_timeout',{'reqId':"windows"});
            }
        }

    });
    $.post('/test/ajax_mock_timeout/timeout/10',function(data){

    });
    seajs.use('/js/u',function(){

        createUploader({id:'#filePicker'});
        createUploader({id:'#filePicker3'});
    });
    Holder.run();

</script>

</body>
</html>