<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>WebUploader演示 - 带裁剪功能 </title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/webuploader.css" />
    <link rel="stylesheet" type="text/css" href="/css/cropper.css" />
    <style>
        #wrapper {
            width: 980px;
            margin: 0 auto;

            margin: 1em;
            width: auto;
        }


    </style>
</head>
<body>


<div class="upload-icon" style="width:80px;height:80px;cursor:pointer">
    <img data-src="holder.js/80x80?text=80x80 \n 小于 100k" data-upload="1" id="img-upload">
    <div class="caption">
        <span class="glyphicon glyphicon-upload pull-left" style="cursor:pointer"></span>
        <span class="glyphicon glyphicon-trash pull-right" style="cursor:pointer"></span>
    </div>
</div>
<script type="text/javascript" src="/js/seajs.js"></script>
<script type="text/javascript" src="/js/jqm.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>

<script>

seajs.use(['webuploader'],function(){
    seajs.use('z_uploader',function(uploadDialog){


        $(".upload-icon").on('click',function(evt){
            uploadDialog.show($(this).attr("id"),{
                cbs:{
                    afterSendFile:function(file,data){
                        uploadDialog.hide($(this).attr("id"),$("#img-upload"));
                        console.log(arguments);
                    }

                }
            });
        });
    });

});



</script>
</body>
</html>