<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A complete example of Cropper.">
    <meta name="keywords" content="HTML, CSS, JS, JavaScript, jQuery, PHP, image cropping, web development">
    <meta name="author" content="Fengyuan Chen">
    <title>Crop Avatar - Cropper</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/weuploader.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container" id="crop-avatar">

<!-- Current avatar -->
<div class="avatar-view" title="Change the avatar">
    <img src="/img/logo.png" alt="Avatar">
</div>
<style type="text/css">
    body {
        background-color: #fcfcfc;
    }

    .avatar-view {
        display: block;
        margin: 15% auto 5%;
        height: 220px;
        width: 220px;
        border: 3px solid #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0,0,0,.15);
        cursor: pointer;
        overflow: hidden;
    }

    .avatar-view img {
        width: 100%;
    }

    .avatar-body {
        padding-right: 15px;
        padding-left: 15px;
    }

    .avatar-upload {
        overflow: hidden;
    }

    .avatar-upload label {
        display: block;
        float: left;
        clear: left;
        width: 100px;
    }

    .avatar-upload input {
        display: block;
        margin-left: 110px;
    }

    .avatar-alert {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .avatar-wrapper {
        height: 364px;
        width: 100%;
        margin-top: 15px;
        box-shadow: inset 0 0 5px rgba(0,0,0,.25);
        background-color: #fcfcfc;
        overflow: hidden;
    }

    .avatar-wrapper img {
        display: block;
        height: auto;
        max-width: 100%;
    }

    .avatar-preview {
        float: left;
        margin-top: 15px;
        margin-right: 15px;
        border: 1px solid #eee;
        border-radius: 4px;
        background-color: #fff;
        overflow: hidden;
    }

    .avatar-preview:hover {
        border-color: #ccf;
        box-shadow: 0 0 5px rgba(0,0,0,.15);
    }

    .avatar-preview img {
        width: 100%;
    }

    .preview-lg {
        height: 184px;
        width: 184px;
        margin-top: 15px;
    }

    .preview-md {
        height: 100px;
        width: 100px;
    }

    .preview-sm {
        height: 50px;
        width: 50px;
    }

    @media (min-width: 992px) {
        .avatar-preview {
            float: none;
        }
    }

    .avatar-btns {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .avatar-btns .btn-group {
        margin-right: 5px;
    }

    .loading {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #fff url("../img/loading.gif") no-repeat center center;
        opacity: .75;
        filter: alpha(opacity=75);
        z-index: 20140628;
    }

    .avatar-btns .btn-group {
        margin-bottom: 10px;
    }
    .fileUpload {
        position: relative;
        overflow: hidden;

    }

    .fileUpload>input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        width:100%;
        height:100%;
        filter: alpha(opacity=0);
    }</style>
<!-- Cropping modal -->
<form action="/test/sub" method="POST">
    <input type="text" name="name[abc][]"/>
    <input type="text" name="name[abc][]"/>
    <input type="text" name="name1-abc"/>
    <input type="text" name="name2-abc"/>
    <input type="submit" value="submit">
</form>

<form class="avatar-form" id="avatar-form" action="http://biz.n.cc/media/uploadAvatar" enctype="multipart/form-data" method="post">

    <div class="modal-body">
        <div class="avatar-body">

            <!-- Upload image and data -->
            <div class="avatar-upload">
                <input class="avatar-src" name="avatar_src" type="hidden">
                <input class="avatar-data" name="avatar_data" type="hidden">
                <div class="media">
                    <div class="media-left">
                        <div class="fileUpload btn btn-primary">
                            <span class="glyphicon glyphicon-upload" style="font-size: 3em"></span>
                            <input type="file" class="upload avatar-input" id="avatarInput" name="avatar_file"/>
                        </div>



                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">尺寸:最小90 x 90像素</h4>

                        大小:限300k<br>
                        格式:png或jpg或gif

                    </div>

                </div>
            </div>

            <!-- Crop and preview -->
            <div class="row">
                <div class="col-md-9">
                    <div class="avatar-wrapper"></div>
                </div>
                <div class="col-md-3">
                    <div class="avatar-preview preview-lg"></div>
                    <div class="avatar-preview preview-md"></div>
                    <div class="avatar-preview preview-sm"></div>
                </div>
            </div>

            <div class="row avatar-btns">
                <div class="col-md-9">
                    <div class="btn-group">
                        <button class="btn btn-primary" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees">Rotate Left</button>
                        <button class="btn btn-primary" data-method="rotate" data-option="-15" type="button">-15deg</button>
                        <button class="btn btn-primary" data-method="rotate" data-option="-30" type="button">-30deg</button>
                        <button class="btn btn-primary" data-method="rotate" data-option="-45" type="button">-45deg</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees">Rotate Right</button>
                        <button class="btn btn-primary" data-method="rotate" data-option="15" type="button">15deg</button>
                        <button class="btn btn-primary" data-method="rotate" data-option="30" type="button">30deg</button>
                        <button class="btn btn-primary" data-method="rotate" data-option="45" type="button">45deg</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary btn-block avatar-save" type="submit">完成</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="modal-footer">
      <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
    </div> -->
</form>



<!-- Loading state -->
<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
</div>

<script src="/js/jqm.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/webuploader.js"></script>
<script>
    (function (factory) {
        if (typeof define === 'function' && define.amd) {
            define(['jquery'], factory);
        } else if (typeof exports === 'object') {
            // Node / CommonJS
            factory(require('jquery'));
        } else {
            factory(jQuery);
        }
    });

    $(function () {
      //  return new CropAvatar($('#crop-avatar'));
    });



</script>
</body>
</html>
