<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>微信测试公众号第三方平台</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="expires" content="Sunday 26 October 2008 01:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />





    <script src="/js/jqm.js"></script>



</head>
<body>
<a href="https://mp.weixin.qq.com/cgi-bin/componentloginpage?component_appid={{$appId}}&pre_auth_code={{$preAuthCode}}&redirect_uri=http://www.gogoinfo.cn/wechat/officialLogin" target="_blank"><img src="https://open.weixin.qq.com/zh_CN/htmledition/res/assets/res-design-download/icon_button3_1.png" alt=""/>
</a>

</body>

</html>


