
<div id="lockScreenMask"></div>
<img src="/img/ajax-loading.gif" alt="" style="display:none" class="loading-icon"/>
<link rel="stylesheet" href="/css/loading.css"/>
<div id="loading-normal" style="position: absolute;top:50%;left:50%;display: none"> <div class="blockG" id="rotateG_01"></div> <div class="blockG" id="rotateG_02"></div> <div class="blockG" id="rotateG_03"></div> <div class="blockG" id="rotateG_04"></div> <div class="blockG" id="rotateG_05"></div> <div class="blockG" id="rotateG_06"></div> <div class="blockG" id="rotateG_07"></div> <div class="blockG" id="rotateG_08"></div> </div>
<!--when cant request cdn lib sucessfully
<script type='text/javascript'>//<![CDATA[

    if (typeof jQuery == 'undefined') {

        document.write(unescape("%3Cscript src='/Script/jquery-1.4.1.min.js' type='text/javascript' %3E%3C/script%3E"));
    }//]]>
</script>
 -->
<script src="/js/common/footer.js"></script>
<script src="/js/common/header.js?v=12"></script>
<script>
    seajs.config({
        base: "/js/",
        paths: {
            echarts : 'echarts/src',
            zrender : 'zrender/src',
            vendor:'vendor',
            amazeui:'bower_components/amazeui/dist'
        },
        alias : {
            amazeui: 'vendor/js/amazeui',
            echarts : 'echarts/echarts',
            zrender : 'zrender/zrender'
        }
    });
    {{if $isJsTest}}
        seajs.use(['/js/qunit','/css/qunit.css']);
        {{/if}}


            Modernizr.load([
                // Presentational polyfills
                {
                    // Logical list of things we would normally need
                    test : Modernizr.prefixed("maxWidth") && Modernizr.prefixed("minWidth"),
                    // Modernizr.load loads css and javascript by default
                    nope : ['/js/respond.js']
                },
                {
                    test : Modernizr.prefixed('console',window),
                    nope : '/js/console.js',

                    //both : [ 'app.js', 'extra.js' ],
                    complete : function () {

                    }
                },


            ]);

            /**
             * all payload will be encoded as x-wwww-url-encode when emulateHttp is enable
             */
                // Backbone.emulateHTTP = true;

            Backbone.sync = (function () {
                var oldSync = Backbone.sync;

                return function (method, model, options) {
                    options = options || {};
                    console.log("pre exec sync", method, model, options);
                    if (method.toLowerCase() != 'read') {
                        /**
                         * add post ctoken
                         */
                        options = $.extend({beforeSend: sendAuth}, options);
                    }
                    if (model.urls) {

                        options.url = (method.toLowerCase() == 'delete') ? (model.urls[method.toLowerCase()] + '/' + model.get((typeof model.idAttribute === 'undefined') ? 'id' : model.idAttribute) + ".json") : model.urls[method.toLowerCase()];
                        options.url = (method.toLowerCase() == 'put') ? (model.urls['put']?model.urls['put']:model.urls['create']): options.url;
                    }
                    oldSync(method, model, options);

                }


            })();
            $.ajaxSetup({
                beforeSend:sendAuth,
                timeout:10000

            });
            /**
             *  prevent submitting multiple time in short period
             */

            var ajaxSubmitHandler2=_.throttle(ajaxSubmitHandler, 2000);
            $("body").on('submit',"form.ajax-form",ajaxSubmitHandler2);

            checkInput();
            /**
             * use local JSONNATIVE method
             */



            {{if $actionHeaderJs}}
                seajs.use(["{{$actionHeaderJs}}"],function(){
                    {{if $actionJs}}
                        seajs.use(["{{$actionJs}}"]);
                        {{/if}}

                        });{{else}}
                        seajs.use(["{{$actionJs}}"]);
                        {{/if}}


</script>


