
<div id="lockScreenMask"></div>


<script type="text/javascript" src="/js/seajs.js"></script>


<script src="/js/modernizr.js"></script>
<script>



                            Modernizr.load([
                                // Presentational polyfills
                                {
                                    // Logical list of things we would normally need
                                    test : Modernizr.prefixed("maxWidth") && Modernizr.prefixed("minWidth"),
                                    // Modernizr.load loads css and javascript by default
                                    nope : ['/js/respond.js']
                                },
                                {
                                    test : Modernizr.prefixed('console',window),
                                    nope : '/js/console.js',

                                    //both : [ 'app.js', 'extra.js' ],
                                    complete : function () {

                                    }
                                }

                                // Run your analytics after you've already kicked off all the rest
                                // of your app.
                            ]);



    //checkInput();

</script>
<script src="/js/jqm.js"></script>

<script src="/js/air/header.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/jq.unparam.js"></script>
<script src="/js/art.js"></script>
<script src="/js/lodash.js"></script>
<script src="/js/hammer.js"></script>
<script src="/js/routie.js"></script>
<script src=""></script>
<script src=""></script>
<script>
    $.ajaxSetup({
        beforeSend:sendAuth

    });
    /**
     *  prevent submitting multiple time in short period
     */

    var ajaxSubmitHandler2=_.throttle(ajaxSubmitHandler, 2000);
    $("body").on('submit',"form.ajax-form",ajaxSubmitHandler2);
</script>
<script src="/js/air/index.js"></script>
<img src="/img/ajax-loading.gif" alt="" style="display:none" class="loading-icon"/>
