<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="http://www.gogoinfo.cn"/>
    <link rel="dns-prefetch" href="http://c1.gogoinfo.cn"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{$title}}</title>
    <!--预先获取待解析的DNS -->

    <meta name="renderer" content="webkit">


    <meta name="description" content="{{$desc}}">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    {{if $android}}
    <meta name="mobile-web-app-capable" content="yes">
    {{/if}}
    {{if $ios}}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{$siteName}}">
    {{/if}}

    {{if false}}
    optimize for web app
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    {{/if}}
    {{if $ie10plus}}
    <meta name="msapplication-tap-highlight" content="no" />
    {{/if}}


    {{if $win7plus}}
    <!-- Name the Pinned Site for Windows -->
    <meta name="application-name" content="{{$siteName}}">
    <!-- Give your Pinned Site a tooltip-->
    <meta name="msapplication-tooltip" content="{{$siteDesc}}">
    <!-- Set a default page for your Pinned Site -->
    <meta name="msapplication-starturl" content="{{$siteUrl}}">
    {{/if}}

    <!--让360，搜狗等使用webkit浏览，ie-comp，ie-stand-->
    <meta name="renderer" content="webkit">
    <!--总是带referer或者origin,never-->

    <meta name="referrer" content="never">
    <!--  open graph bullshit,  search engine
    <link rel="canonical" href="http://themes.getbootstrap.com/products/marketing" />
    <meta property="og:type" content="product" />
    <meta property="og:title" content="Marketing" />

    <meta property="og:image" content="http://cdn.shopify.com/s/files/1/0691/5403/products/marketing-screenshot_d94d5444-7f9f-400b-ba40-2c32b3f9a299_grande.jpg?v=1439960061" />
    <meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/0691/5403/products/marketing-screenshot_d94d5444-7f9f-400b-ba40-2c32b3f9a299_grande.jpg?v=1439960061" />

    <meta property="og:price:amount" content="99.00" />
    <meta property="og:price:currency" content="USD" />



    <meta property="og:description" content="Building beautiful marketing sites is easier than ever. Over 15 new CSS and JS components adapt to any brand or style." />

    <meta property="og:url" content="http://themes.getbootstrap.com/products/marketing" />
    <meta property="og:site_name" content="Bootstrap Themes" />



    <meta name="twitter:card" content="product" />
    <meta name="twitter:title" content="Marketing" />
    <meta name="twitter:description" content="Building beautiful marketing sites is easier than ever. Over 15 new CSS and JS components adapt to any brand or style." />
    <meta name="twitter:image" content="http://cdn.shopify.com/s/files/1/0691/5403/products/marketing-screenshot_d94d5444-7f9f-400b-ba40-2c32b3f9a299_large.jpg?v=1439960061" />
    <meta name="twitter:label1" content="Price" />
    <meta name="twitter:data1" content="$99.00 USD" />

    <meta name="twitter:label2" content="Brand" />
    <meta name="twitter:data2" content="Strapping.io" />

    -->
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="{{$imgdir}}apple-touch-icon-precomposed.png">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{$imgdir}}logo-72x72.png">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{$imgdir}}logo-76x76.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{$imgdir}}logo-114x114.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{$imgdir}}logo-120x120.png">
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{$imgdir}}logo-144x144.png">
    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{$imgdir}}logo-152x152.png">

    <!-- build:css style.min.css -->
    <link rel="stylesheet" href="{{$cssdir}}bootstrap.css"/>
    <link rel="stylesheet" href="{{$cssdir}}site_fonts.css"/>
    <link rel="stylesheet" href="{{$cssdir}}site.css"/>
    <!-- /build -->
    {{if $actionCss}}
    <link rel="stylesheet" href="{{$actionCss}}"/>
    {{/if}}


    <!-- 为调试暂时合并到index.css
    <link rel="stylesheet" href="{{$cssdir}}site.css"/>
    -->



    <!--[if lt IE 8]>
    <link href="/css/bs-ie7.css" rel="stylesheet">
    <![endif]-->
    {{if $isMobile or $isTablet }}
    <link href="/css/common/mobile.css" rel="stylesheet">
    {{/if}}

    <!--support html5 tag and css3 media query -->
    <!--[if lt IE 9]>

          <script src="/js/html5shiv.js"></script>
    <![endif]-->

    <script>

          var config={
                    uploadPrefix:"{{$uploadPrefix}}",
                  module:"{{$module}}",
                tempdir:"{{$tempdir}}",
              loadedJs:["{{$actionHeaderJs}}","{{$actionJs}}"],
                moduleName:"{{$moduleName}}",
                isDebug:'{{$isDebug}}',
              emoji:["$emoji_spliter_l","$emoji_spliter_r"],
                filebase:"{{$filebase}}",
              ctoken:"{{$ctoken}}",

                                      host:location.host,
                                      chUrl:(location.protocol+'//'+location.host),
                                      jsdir:"{{$jsdir}}",
                                      fontdir:"{{$fontdir}}",
                                      imgdir:"{{$imgdir}}",
                                      cssdir:"{{$cssdir}}",
                                      viewdir:"{{$viewdir}}",
                                      tmpId:"{{$qrTmpId}}",
                                      openUri:(location.protocol+'//'+location.host+"/callback/connect/?provider=")


                                  };

  var istore=function(){
      if(window.localStorage) return window.localStorage;

      return {
          getItem:function(key){
              $(document).data(key)
          },
          setItem:function(k,v){$(document).data(k,v);},
          removeItem:function(k){$(document).removeData(k);}
      }


  }();
          var ajaxCbs={};


    </script>
    <script>
        config.feature={{$featureJson}}; config.chats={{$chats}}; config.user={{$userJson}}; config.lang={{$langJson}}; config.friends={{$friendsJson}}; config.groups={{$groupJson}}; config.setting={{$setting}};config.meta={{$meta}};var ival={{$ival}};
    </script>

