{{if $wechatCfg}}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    wx.config({
        debug: true,
        appId: '{{$wechatCfg.appId}}',
        timestamp: {{$wechatCfg.timestamp}},
    nonceStr: '{{$wechatCfg.nonceStr}}',
        signature: '{{$wechatCfg.signature}}',
        jsApiList: [
        'openWXDeviceLib','closeWXDeviceLib','getWXDeviceInfos','getWXDeviceTicket','setSendDataDirection','startScanWXDevice',
        'connectWXDevice','disconnectWXDevice','stopScanWXDevice','checkJsApi', 'onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'hideMenuItems', 'showMenuItems', 'hideAllNonBaseMenuItem', 'showAllNonBaseMenuItem', 'translateVoice', 'startRecord', 'stopRecord', 'onRecordEnd', 'playVoice', 'pauseVoice', 'stopVoice', 'uploadVoice', 'downloadVoice', 'chooseImage', 'previewImage', 'uploadImage', 'downloadImage', 'getNetworkType', 'openLocation', 'getLocation', 'hideOptionMenu', 'showOptionMenu', 'closeWindow', 'scanQRCode', 'chooseWXPay', 'openProductSpecificView', 'addCard', 'chooseCard', 'openCard'

    ]
    });
    var readyFunc = function onBridgeReady() {
        wechatReadyFunc();

    };
    wx.ready(function () {
        if(typeof wechatReadyFunc != 'function'){
            wechatReadyFunc=function(){

            }
        }
        if (typeof WeixinJSBridge === "undefined") {
            document.addEventListener('WeixinJSBridgeReady', readyFunc, false);
        } else {
            readyFunc();
        }

    });
</script>
{{/if}}
