{{include file="common/header_nobody.phtml"}}


<div class="container">
<style>
     body {background-color:#eee !important}
    .login-img-wrap {padding-top:20px;background: url(/img/loader.gif) no-repeat center center;}
    .login-img {
        -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        border-radius: 150px;
        margin: 0 auto 20px auto;
        width: 200px;
        height: 200px;
        display: block;
    }

     .ui-ios-overlay {
         z-index: 9999 !important;
         position: fixed;
         top: 50%;
         left: 50%;
         width: 200px;
         height: 200px;
         margin-left: -100px;
         margin-top: -100px;
         filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
         background: rgba(0,0,0,0.8);
         -webkit-border-radius: 20px;
         -moz-border-radius: 20px;
         border-radius: 20px;
     }
     .ui-ios-overlay .title {
         color: #FFF;
         font-weight: bold;
         text-align: center;
         display: block;
         font-size: 22px;
         position: absolute;
         bottom: 30px;
         left: 0;
         width: 100%;
     }
     .ui-ios-overlay img {
         display: block;
         margin: 20% auto 0 auto;
     }
     .ui-ios-overlay .spinner {
         left: 50% !important;
         top: 40% !important;
     }

     .ui-ios-overlay .fa{
         margin:6% 33%;
         z-index:9999;
         font-size:6em;
         color:#fff;
     }
     .ui-ios-overlay .fa.fa-spin{
         margin:6% 80%;
         z-index:9999;
         font-size:4em;
     }
     .ios-overlay-show {
         -webkit-animation-name: ios-overlay-show;
         -webkit-animation-duration: 750ms;
         -moz-animation-name: ios-overlay-show;
         -moz-animation-duration: 750ms;
         -ms-animation-name: ios-overlay-show;
         -ms-animation-duration: 750ms;
         -o-animation-name: ios-overlay-show;
         -o-animation-duration: 750ms;
         animation-name: ios-overlay-show;
         animation-duration: 750ms;
     }

    .login-body {
        background-color: #f1f2f7;

    }

    .form-signin {
        max-width: 330px;
        margin: 100px auto 0;
        background: #fff;
    }

    .form-signin h2.form-signin-heading {
        margin: 0;
        padding:20px 15px;
        text-align: center;
        background: #41cac0;

        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
    }
    .login-wrap .user-login {
        margin-bottom: 1em;

    }
    .form-signin .checkbox {
        margin-bottom: 14px;
    }
    .form-signin .checkbox {
        font-weight: normal;
        color: #b6b6b6;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
    }
    .form-signin .form-control {
        position: relative;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }


    .form-signin .btn-login {
        background: #f67a6e;
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 20px;
    }

    .form-signin p {
        text-align: center;
        color: #b6b6b6;
        font-size: 16px;
        font-weight: 300;
    }

    .form-signin a {
        color: #41cac0;
    }

    .form-signin a:hover {
        color: #b6b6b6;
    }

    .login-wrap {
        padding: 20px;
    }

    .login-social-link  {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .login-social-link a {
        color: #fff;
        padding: 5px;
    }

    .login-social-link a:hover {
        color: #fff;
    }

    .login-social-link a i {
        font-size: 1.2em;
        padding: 0px 8px;
    }

    .login-social-link a.facebook {
        background: #5193ea;
        margin-right: 5px;
        float:left;
    }

    .login-social-link a.twitter {
        background: #44ccfe;
        float:left;
    }




    body {
        background-color: #f2f3f8;
    }


</style>
<form class="form-signin pull-right ajax-form" action="/user/login" method="post" id="signInForm">
    <div class="well well-sm">{{$title}}</div>
    <div class="login-img-wrap"><div class="login-img"></div></div>
    <div class="return-error"></div>
    <div class="login-wrap">
        <div class="input-group input-group-lg user-login">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="hidden" class="form-control"  name="referer" value="{{$referer}}">
            <input type="text"  name="username" class="form-control" value="" placeholder="{{$lang.username}}" ref='{"reg":"user","r":1}'>
        </div>

        <div class="input-group input-group-lg user-login">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="{{$lang.pwd}}" ref='{"reg":"password","r":1}' name="password" AUTOCOMPLETE="off">
        </div>
        <label class="checkbox">
            <input type="checkbox" value="remember-me" name="remember_me"> {{$lang.remember}}
            <!--


                <span class="pull-right">
                    <a data-toggle="modal" href="#forgetModel"> {{$lang.forgetpwd}}?</a>

                </span>
                -->
        </label>
        <button class="btn btn-lg btn-login btn-block" type="submit" id="loginBtn">{{$lang.signin}}</button>
        {{if ($feature[$action] && $feature[$action].social_login) ||  (!$feature[$action]) }}
        <p>{{$lang.sign_social}}</p>
        <div class="login-social-link">
            <a href="index.html" class="facebook">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="index.html" class="twitter">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
        {{/if}}
        <!--
        <div class="registration">
            {{$lang.havenouser}}?
            <a class="" href="#" id="showCreateBtn">
                {{$lang.createuser}}.
            </a>
        </div>
        -->

    </div>



    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="forgetModel" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                   <!--
                    <h4 class="modal-title">{{$lang.forgetpwd}}?</h4>
                    -->
                </div>
                <div class="modal-body">
                    <p>{{$lang.resetpwd}}.</p>
                    <input type="text" name="email" placeholder="{{$lang.email}}" autocomplete="off" class="form-control placeholder-no-fix">

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">{{$lang.cancel}}</button>
                    <button class="btn btn-success" type="button" id="findPwdBtn">{{$lang.submit}}</button>
                </div>
            </div>
        </div>
    </div>

</form>

<form class="form-signin pull-right" action="/user/login" method="post" id="regForm" style="display:NONE">
    <div class="well well-sm">{{$title}}</div>
    <h2 class="form-signin-heading"><i class="fa fa-arrow-circle-left pull-left fa-2x" style="margin-top: -7px;cursor: pointer" id="backLoginBtn"></i>{{$lang.reg}}</h2>
    <div class="return-error"></div>
    <div class="login-wrap">
        <div class="input-group input-group-lg user-login">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text"  name="reg_username" class="form-control" value="" placeholder="{{$lang.username}}" ref='{"reg":"username","r":1}'>
        </div>
        <div class="input-group input-group-lg user-login">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>

            <input type="password" class="form-control" placeholder="{{$lang.pwd}}" name="reg_password">
        </div>
        <div class="input-group input-group-lg user-login">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="{{$lang.pwdagain}}" name="reg_repassword" ref='{"reg":"password","r":1,"ref":"reg_password"}'>
        </div>
        <div class="input-group input-group-lg user-login">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input type="text"  name="reg_email" class="form-control" value="" placeholder="{{$lang.email}}" ref='{"reg":"email","r":1}'>
        </div>
        <button class="btn btn-lg btn-login btn-block" type="button" id="createUserBtn">{{$lang.create}}</button>



    </div>
</form>

</div>

{{include file="common/footer.phtml"}}


