<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{$title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    {{if $android}}
    <meta name="mobile-web-app-capable" content="yes">
    {{/if}}
    {{if $ios}}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{$siteName}}">
    {{/if}}

    {{if false}}
    optimize for web app
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    {{/if}}
    {{if $ie10plus}}
    <meta name="msapplication-tap-highlight" content="no" />
    {{/if}}


    {{if $win7plus}}
    <!-- Name the Pinned Site for Windows -->
    <meta name="application-name" content="{{$siteName}}">
    <!-- Give your Pinned Site a tooltip-->
    <meta name="msapplication-tooltip" content="{{$siteDesc}}">
    <!-- Set a default page for your Pinned Site -->
    <meta name="msapplication-starturl" content="{{$siteUrl}}">
    {{/if}}



    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="{{$imgdir}}apple-touch-icon-precomposed.png">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{$imgdir}}logo-72x72.png">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{$imgdir}}logo-76x76.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{$imgdir}}logo-114x114.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{$imgdir}}logo-120x120.png">
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{$imgdir}}logo-144x144.png">
    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{$imgdir}}logo-152x152.png">

    <!-- build:css style.min.css -->


    <!-- /build -->
    {{if $actionCss}}
    <link rel="stylesheet" href="{{$actionCss}}"/>
    {{/if}}



    <!-- 为调试暂时合并到index.css
    <link rel="stylesheet" href="{{$cssdir}}site.css"/>
    -->



    <!--[if lt IE 8]>
    <link href="/css/bs-ie7.css" rel="stylesheet">
    <![endif]-->
    {{if $isMobile or $isTablet }}
    <link href="/css/common/mobile.css" rel="stylesheet">
    {{/if}}

    <!--support html5 tag and css3 media query -->
    <!--[if lt IE 9]>

    <script src="/js/html5shiv.js"></script>
    <![endif]-->



    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>





</head>

<body style="min-height: 775px;" class="en None gecko"><div style="display: none;" id="modal-behind"></div><div style="display: none;" id="modal"><div id="modal-box"><a href="#" id="modal-x" onclick="javascript: Modal.hide(); Event.stop(event); return false;"></a><h2 id="modal-title"></h2><div id="modal-content"></div></div></div><div style="display: none;" id="modal-overlay" onclick="Modal.hide(); Event.stop(event); return false;"></div><div id="floaters"></div><div style="display: none;" id="trash-can"></div><div style="display: none;" id="grave-yard"></div><div style="display: none;" class="external-drop-indicator top"></div><div style="display: none;" class="external-drop-indicator right"></div><div style="display: none;" class="external-drop-indicator bottom"></div><div style="display: none;" class="external-drop-indicator left"></div><div style="display: none; margin-bottom: -10px;" id="translate-div"><form action="http://open.fogpod.com/translation_suggest" onsubmit="TranslationSuggest.submit_suggest(event); return false;" method="POST" id="translation-suggest-form"><input name="locale" value="en" type="hidden"><input name="locale_url" value="http://open.fogpod.com/developers/reference/api" type="hidden"><input name="msg_id" value="" id="translation-msg-id" type="hidden"><p class="clean"><label for="bad_text">Please paste or type the improper translation</label></p><div id="part-one"><p><span style="display: none;" id="bad-i18n-text-error" class="error-message">We could not find that string on this page.</span><textarea style="width: 1px;" autocomplete="off" class="act_as_block textinput" rows="3" cols="40" id="bad-i18n-text" name="bad_text"></textarea></p><div style="display: none;" id="bad-i18n-text-complete" class="autocomplete"></div></div><div id="part-two"><div style="margin-bottom: 10px;" id="translation-msg-display" class="emo hotbox"></div><p class="clean">Original English text</p><div style="margin-bottom: 10px;" id="translation-orig-msg-display" class="green-hotbox"></div><p class="clean"><label for="suggested_text">Suggested translation</label></p><p><textarea style="width: 1px;" rows="3" cols="40" name="suggested_text" class="textinput act_as_block"></textarea></p><p class="clean"><label for="explanation">Explanation of the problem</label></p><p><textarea style="width: 1px;" rows="3" cols="40" name="explanation" class="textinput act_as_block"></textarea></p><div class="modal-buttons"><input onclick="TranslationSuggest.start_wizard(event);return false;" id="translation-back-button" value="Back" class="freshbutton" type="button"><input  value="Suggest translation" class="freshbutton-blue" type="submit"></div></div></form></div><div id="notify-wrapper"><span style="display: none;" id="notify"><span id="notify-msg">Sorry, there was a problem loading this page.</span></span></div><div id="outer-frame"><div id="page-header"><div id="account-header"><ul class="nav"><li><div id="top-login-wrapper"><a href="//www.fogpod.com/landing/index" id="login-hover-link" target="_blank">Sign in</a><div id="login-hover-cont" class="offscreen chat-bubble"><form action="http://open.fogpod.com/login" method="post"><input name="t" value="0V-koQwGqfkHRMDNJ4toQVdC" type="hidden"><div id="anonymous_element_1" class="sick-input small"><label for="login_email_elm">Email</label><input value="" id="login_email_elm" name="login_email" tabindex="1" type="text"></div><div id="anonymous_element_2" class="sick-input small"><label for="login_password_elm">Password</label><input id="login_password_elm" name="login_password" tabindex="2" type="password"></div><p style="margin-bottom: 0.5em; line-height: 28px;"><input style="vertical-align: middle; margin-left: 0px;" name="remember_me" class="no-border" id="remember_me" tabindex="3" type="checkbox"><label style="vertical-align: middle; cursor: pointer;" for="remember_me">Remember me</label><input tabindex="4" class="freshbutton-blue" value="Sign in" id="toplogin-submit" type="submit"><input name="cont" value="http://open.fogpod.com/developers/reference/api" type="hidden"></p><p class="create-account"><a href="http://open.fogpod.com/register" id="login-create-an-account">Create an account</a></p></form><div class="chat-bubble-arrow-border"></div><div class="chat-bubble-arrow"></div></div></div></li></ul></div></div> <div id="page-logo-header" class="noborder"><a href="http://open.fogpod.com/"><img style="height:48px;width:auto" src="/img/logo.png" height="10px" width="auto" alt="fogpod home"></a></div>  <div style="display: none;" id="modal-locale-selector"><ul><li><a data-locale="de" class="locale-option">Deutsch</a></li><li><a data-locale="en" class="locale-option">English</a></li><li><a data-locale="es" class="locale-option">Español (Latinoamérica)</a></li><li><a data-locale="es_ES" class="locale-option">Español (España)</a></li><li><a data-locale="fr" class="locale-option">Français</a></li><li><a data-locale="it" class="locale-option">Italiano</a></li><li><a data-locale="ja" class="locale-option">日本語</a></li><li><a data-locale="ko" class="locale-option">한국어</a></li></ul></div><div id="page-content">

<div id="nav">

    <ul>



        <li class="head">
            <!--
            <a href="http://open.fogpod.com/developers/chooser">

                fogpod Chooser
            </a>
            -->
        </li>


        <li class="head">
            <a href="javascript:">

                Core API
            </a>
        </li>
        <li class="selected">
            <a href="javascript:">Documention</a>
        </li>
        <li>
            <a href="javascript:">SDKs</a>
        </li>
        <li >
            <a href="javascript:">Test tools</a>
        </li>



        <!--
              <li class="head">
            <a href="#">

                Developer home
            </a>
        </li>


        <li class="head">
            <a href="javascript:">

                My apps
            </a>
        </li>

        <li class="head">
            <a href="javascript:">

                Reference
            </a>
        </li>
        <li>
            <a href="javascript:">Best practices</a>
        </li>
        <li>
            <a href="javascript:">Branding guide</a>
        </li>
        <li>
            <a href="javascript:">Terms and conditions</a>
        </li>
        <li class="head">
            <a href="http://api.fogpod.com/oauth_test/index.php">
                Api Test Tools
            </a>
        </li>

        <li class="head">
            <a href="javascript:">

                Dev blog
            </a>
        </li>


        <li class="head"><a href="javascript:">Forums</a></li>
         <li class="head"><a href="javascript:" onclick="Apps.developer_support(); return false;">API support</a></li>
        -->

    </ul>
</div>


<div id="dev-support-modal" style="display: none;">
    <p>
        Please <a href="http://open.fogpod.com/login">sign in</a> to submit a fogpod help request.
    </p>
</div>
<div id="right-content">

<span class="dev-content">

<div class="" style="padding: 5px 0px 0px; " id="toc">

    <select name="doc-select" id="doc-select">
       {{$options}}
    </select>
    {{foreach name=catName item=apis key=apicat from=$allapis}}

    <h4>{{$apicat|capitalize}} </h4>

    <ul>
        {{foreach name=catName item=api key=key from=$apis}}


        <li id="toc-{{$api.url_id}}"><a href="#{{$api.url_id}}">{{$api.desc}}</a></li>
        {{/foreach}}
    </ul>
    {{/foreach}}


</div>


<style>
    button {margin:4px}

</style>

<div class="section" id="api-category" style="display: none">
    <div class="well well-small strong big">
        <span style="color:#08C">API Category</span><br><br>


        {{foreach name=catName item=apis key=apicat from=$allapis}}

        <a href="#{{$apis[0].url_id}}" class="btn btn--m btn--blue">{{$apicat|capitalize}}</a>

        {{/foreach}}


    </div>


</div>
<div class="section" id="api-specification">
    <h1 style="margin-top: 9px;">REST API</h1>
    <p>The REST API is the underlying interface for all of our official <a href="http://open.fogpod.com/mobile" target="_top">fogpod mobile apps</a> and our <a href="http://open.fogpod.com/developers/reference/sdk">SDKs</a>. It's the most direct way to access the API. This reference document is designed for those interested in developing for platforms not supported by the SDKs or for those interested in exploring API features in detail.</p>

    <div class="api-method" id="general-notes"></div>
    <h2 style="margin-top: 28px;" id="general-notes">General notes</h2><a class="headerlink" href="#general-notes"></a>

    <h3 style="margin-top: 9px;">SSL only</h3>
    <p>We require that all requests are done over SSL.</p>


    <h3>UTF-8 encoding</h3>
    <p>Every string passed to and from the fogpod API needs to be UTF-8 encoded.  For maximum compatibility, normalize to <a href="http://unicode.org/reports/tr15/" target="_top">Unicode Normalization Form C</a> (NFC) before UTF-8 encoding.</p>

    <h3>Version numbers</h3>
    <p>The current version of our API is version 0.1.</p>

    <div id="date-format">
        <h3>Date format</h3>
        <p>All dates in the API are strings in the following format:</p>
        <pre class="literal-block">"Sat, 21 Aug 2010 22:31:20 +0000"</pre>
        <p>In code format, which can be used in all programming languages that support <code>strftime</code> or <code>strptime</code>:</p>
        <pre class="literal-block">"%a, %d %b %Y %H:%M:%S %z"</pre>
    </div>

    <div class="api-method" id="param.locale"></div>
    <h3>Locale global request parameter</h3>
    <p>fogpod uses the <code>locale</code> parameter to specify language settings of content responses. If your app supports any language other than English, insert the appropriate <a href="http://en.wikipedia.org/wiki/IETF_language_tag" target="_top">IETF language tag</a>. When a <a href="http://open.fogpod.com/help/31" target="_top">supported language</a> is specified, fogpod will returned translated <code>size</code> and/or <code>user_error</code> fields (where applicable).</p>


    <div class="section api-method" id="error-handling">
        <h2>返回值内容说明</h2><a class="headerlink" href="#error-handling"></a>

        <p>Errors are returned using standard HTTP error code syntax. Any additional info is included in the body of the return call, JSON-formatted. Error codes not listed here are in the REST API methods listed below.</p>
        <h3>请求成功,数据返回码说明</h3>
        <table class="api-param-values center-first-col">
            <tbody><tr>
                <th>代码</th><th>描述</th>
                <pre class="literal-block">
{
    code:1,
    msg:"请求成功",
    data:{
     }

}
                </pre>
            </tr>
            <tr>
                <td>1</td><td>表示请求成功,并且操作成功,msg为请求成功信息,data里是请求响应的数据</td>
            </tr>
            <tr>
                <td>其他代码</td><td>请求失败,msg为请求失败信息,data是请求失败的具体描述</td>
            </tr>
            </tbody>
        </table>

        <h3>Standard API errors</h3>

        <table class="api-param-values center-first-col">
            <tbody><tr>
                <th>Code</th><th>Description</th>
            </tr>
            <tr>
                <td>400</td><td>Bad input parameter. Error message should indicate which one and why.</td>
            </tr>
            <tr>
                <td>401</td><td>Bad or expired token. This can happen if the user or fogpod revoked or expired an access token. To fix, you should re-authenticate the user.</td>
            </tr>
            <tr>
                <td>403</td><td>Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won't help here.</td>
            </tr>
            <tr>
                <td>404</td><td>File or folder not found at the specified path.</td>
            </tr>
            <tr>
                <td>405</td><td>Request method not expected (generally should be GET or POST).</td>
            </tr>
            <tr>
                <td>503</td><td>Your app is making too many requests and is being rate limited. 503s can trigger on a per-app or per-user basis.</td>
            </tr>
            <tr>
                <td>507</td><td>User is over fogpod storage quota.</td>
            </tr>
            <tr>
                <td>5xx</td><td>Server error. Check our ops Twitter feed <a href="http://twitter.com/fogpodops" target="_top">@fogpodOps</a>.</td>
            </tr>
            </tbody>

        </table>

    </div><!--error-handling-->



    <div class="section" id="authentication-methods">
        <h2>Access Token获取方法</h2>

        <p>access_token是公众号的全局唯一票据，公众号调用各接口时都需使用access_token。开发者需要进行妥善保存。access_token的存储至少要保留512个字符空间。access_token的有效期目前为24小时，需定时刷新，重复获取将导致上次获取的access_token失效。API调用所需的access_token的使用及生成方式说明:可以使用AppID和AppSecret调用本接口来获取access_token。AppID和AppSecret可在
            <a href="http://admin.gogoinfo.cn/">管理员登录</a>->设置->开发者中心页中获得（需要已经成为开发者，且帐号没有异常状态).</p>
        {{foreach name=catName item=apis key=apicat from=$allapis}}

        <div class="section" id="oauth_{{$apicat}}">


            {{foreach name=catName item=api key=key from=$apis}}





            <div class="section api-method" id="{{$api.url_id}}">

                <h3 class="method-title-first">{{$prefix}}{{$api.url}}<a class="headerlink" href="#{{$api.url_id}}" title="{{$api.desc}}"></a>
                    <ul>
                        <li><a href="http://open.fogpod.com/developers/sdk/python/{{$apicat}}.html">Python</a></li>
                        <li><a href="http://open.fogpod.com/developers/sdk/java/{{$apicat}}.html">Java</a></li>
                        <li><a href="http://open.fogpod.com/developers/sdk/php/{{$apicat}}.html">Php</a></li>
                    </ul>
                </h3>
                <dl>
                    <dt>Description</dt>
                    <dd>
                        <p>
                            {{$api.desc}}
                        </p>
                    </dd>

                    <dt class="url-label">URL Structure</dt>
                    <dd>
                        <pre class="literal-block">{{$host}}{{$prefix}}{{$api.url}}</pre>
                    </dd>

                    <dt>Versions</dt><dd>{{$api.version}}</dd>
                    <dt>Method</dt><dd>{{$api.method}}</dd>

                    <dt>Parameters</dt>
                    <dd>
                        <p>
                            {{if $api.params eq ''}}
                            There are no fogpod-specific parameters for this method.

                            {{else}}

                        <pre class="literal-block">{{$api.params}}</pre>

                        {{/if}}



                        </p>

                    </dd>
                    <dt>
                    Sample Request
                    </dt>
                    <dd> <pre class="literal-block">{{$api.samp_req}}</pre></dd>
                    <dt>Returns</dt>
                    <dd>
                        <pre class="literal-block">{{$api.return}}</pre>
                        <p><strong>Sample response</strong></p>
                        <pre class="literal-block">{{$api.samp_resp}}</pre>
                    </dd>
                </dl>
            </div>

            {{/foreach}}
            </ul>
            {{/foreach}}
            <!--fileops-move-->


        </div><!-- fileops -->






    </div><!-- /api-specification -->
    <br class="clear">
</span>


</div>

</div>

{{include file="common/footer_nodata.phtml"}}
<script>


    /*
     * 频率控制 返回函数连续调用时，fn 执行频率限定为每多少时间执行一次
     * @param fn {function}  需要调用的函数
     * @param delay  {number}    延迟时间，单位毫秒
     * @param immediate  {bool} 给 immediate参数传递false 绑定的函数先执行，而不是delay后后执行。
     * @return {function}实际调用函数
     */
    var menus=[];
    var throttle = function (fn,delay, immediate, debounce) {
        var curr = +new Date(),//当前事件
            last_call = 0,
            last_exec = 0,
            timer = null,
            diff, //时间差
            context,//上下文
            args,
            exec = function () {
                last_exec = curr;
                fn.apply(context, args);
            };
        return function () {
            curr= +new Date();
            context = this,
                args = arguments,
                diff = curr - (debounce ? last_call : last_exec) - delay;
            clearTimeout(timer);
            if (debounce) {
                if (immediate) {
                    timer = setTimeout(exec, delay);
                } else if (diff >= 0) {
                    exec();
                }
            } else {
                if (diff >= 0) {
                    exec();
                } else if (immediate) {
                    timer = setTimeout(exec, -diff);
                }
            }
            last_call = curr;
        }
    };

    /*
     * 空闲控制 返回函数连续调用时，空闲时间必须大于或等于 delay，fn 才会执行
     * @param fn {function}  要调用的函数
     * @param delay   {number}    空闲时间
     * @param immediate  {bool} 给 immediate参数传递false 绑定的函数先执行，而不是delay后后执行。
     * @return {function}实际调用函数
     */

    var debounce = function (fn, delay, immediate) {
        return throttle(fn, delay, immediate, true);
    };
    function whichEle(arr,ele)
    {
        var len=arr.length;
        //console.log(arr);
        for(var i=0;i<len;i++)
        {
            if(ele>arr[i])
            {
                return arr[i];
            }
            continue;
        }
        return 0;

    }

    $(function(){
        //$("#toc").addClass("toc-fixed");
        //current window could be viewed

        $("#toc li a").bind('click',function(e){

            var wh=$(window).height();

            var doc=$(this).attr("href");
            var docpos=$(doc).offset().top;


            var apos=$(this).parent().offset().top;
            var tocpos=$("#toc").offset().top;
            var diffpos=apos-tocpos;

            var addpos=((diffpos+70-wh)>0)?(diffpos+140-wh):0;

            if(diffpos>(wh-50))
            {
                var org=parseInt($("#toc").css("margin-top").replace("/px/",''));

                $("#toc").css("margin-top",(org-50)+"px");


            }
            //console.log(diffpos,apos,tocpos,wh);

            //$(window).scrollTop(docpos);

            $("#toc ul li.toc-selected").removeClass("toc-selected");
            $("#toc ul li a").css("color","#1F75CC");
            $(this).css('color','white');
            $(this).parent().addClass("toc-selected");
            $(document).data('isClick',true);
            //return false;

        });
        var posarr=[];
        var posdic={};
        $("#toc li a").each(function(){
            // console.log(this);
            var name=$(this).attr("href");
            var pos=$(name).offset().top;
            posdic[pos]=name;
            posarr.push(pos);

        });
        var posarr=posarr.sort(function(a,b){return parseFloat(a)-parseFloat(b)}).reverse();
        var len=posarr.length;
        var last=1;
        var setcond1=false;
        var setcond2=false;
        var setcond3=false;
        var deFunc=debounce(function () {

            var curpos=$(this).scrollTop();

            var e=whichEle(posarr,curpos);

            if(last!=0 && last!=e && typeof posdic[e]!='undefined')
            {
                var docpos=e;
                var elename=posdic[e];
                //console.log('sc'+ele);
                last=e;
                var ele=$("#toc ul li a[href="+elename+"]");

                console.log(elename);
                if(!$(document).data('isClick')){


                    $("#toc ul li.toc-selected").removeClass("toc-selected");
                    $("#toc ul li a").css("color","#1F75CC");
                    if(((ele.parent().position().top)>($(window).height()-50))){
                        //when scroll to the bottom of the window,the left nav bar  move up 50px
                        var org=parseInt($("#toc").css("margin-top").replace("/px/",''));

                        $("#toc").css("margin-top",(org-50)+"px");
                    }

                    ele.css('color','white');
                    ele.parent().addClass("toc-selected");


                }
                else {

                    $(document).data('isClick',false);
                }


            }
            if(curpos>600 && setcond1==false)
            {
                setcond1=true;
                setcond2=false;
                setcond3=false;
                // console.log($(this).scrollTop());
                $("#toc").css({'position': 'fixed','margin-top': '-96px'});
            }
            if(curpos<600 && setcond3==false)
            {
                setcond3=true;
                setcond1=false;
                setcond2=false;
                // console.log($(this).scrollTop());
                $("#toc").css({'position': 'absolute','margin-top': '115px'});
            }
            if(curpos>20600 && setcond2==false)
            {
                setcond2=true;
                setcond1=false;
                setcond3=false;
                $("#toc").css({'position': 'absolute','margin-top': 'margin-top: 23230px'});
            }

        },200,true);
        $(document).scroll(deFunc);
        $("#toc>h4").on('click',function(){
            $(this).next().toggle();
            return false;
        });
        $("#doc-select").on('change',function(){
            location.href="/index/index?"+$(this).val();

        });
//        var defSel="{{$defSel}}";
//        if(location.search.indexOf("?doc=")!=-1 && location.search.indexOf("?doc="+defSel)===-1)
//        {
//            var query=location.search.split("&");
//            var doc='';
//            for(var i=0;i<query.length;i++){
//                if(query[i].indexOf("doc=")!=-1){
//                    doc=query[i];
//                    break;
//                }
//            }
//            var selected=doc.split("=")[1];
//            console.log(selected);
//            $("#doc-select option[value='doc="+selected+"']").prop("selected",true);
//        }

//            $(".btn.btn-default.btn-info").on('click',function(){
//
//                location.href=location.href.match((/http[s]?:\/\/[^\/]+/))[0]+"/index/"+$(this).text().toLowerCase();
//
//            });
    });

</script>


</body></html>