
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no"  />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name="full-screen" content="yes">
    <title>硬件JSAPI测试</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        body {
            background: none repeat scroll 0% 0% rgb(255, 255, 255);
            font-family: YaHei,Helvetica,Tahoma,sans-serif;
            font-size: 16px;
            color: #cccccc;
            margin: 0px;
            padding: 0px;
            background-color: #343434;
        }
        #debug {
            background-color: white;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            border: 1px solid #000;
            margin: 10px;
            height: 270px;
            overflow: scroll;
            color: black;
            font-size: 12px;
        }
        #debug p {
            padding: 3px 5px;
            word-wrap: break-word;
        }
        .gray {
            background-color: #ddd;
        }
        #debug span {
            display: block;
            word-wrap: break-word;
            margin-bottom: 2px;
        }
        #buttons {
            text-align: center;
        }
        .button {
            display: inline-block;
            margin: 5px 5px;
            padding: 7px 10px;
            text-align: center;
            text-decoration: none;

            text-shadow: 1px 1px 1px rgba(255,255,255, .22);

            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;

            -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
            -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
            box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

            -webkit-transition: all 0.15s ease;
            -moz-transition: all 0.15s ease;
            -o-transition: all 0.15s ease;
            -ms-transition: all 0.15s ease;
            transition: all 0.15s ease;

            color: #19667d;
            background: #70c9e3; /* Old browsers */
            background: -moz-linear-gradient(top,  #70c9e3 0%, #39a0be 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70c9e3), color-stop(100%,#39a0be)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* IE10+ */
            background: linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* W3C */
        }
    </style>
</head>
<body>
<div id="debug"></div>
<div id="buttons">
    <div>
        <a href="javascript:void(0)" class="button" id="openWXDeviceLib">API初始化</a>
        <a href="javascript:void(0)" class="button" id="closeWXDeviceLib">API释放</a>
    </div>
    <div>
        <a href="javascript:void(0)" class="button" id="getWXDeviceInfos">设备状态</a>
        <a href="javascript:void(0)" class="button" id="getWXDeviceBindTicket">绑定票据</a>
        <a href="javascript:void(0)" class="button" id="getWXDeviceUnbindTicket">解绑票据</a>
        <a href="javascript:void(0)" class="button" id="setSendDataDirection">设置SendData目标</a>
    </div>
    <div>
        <a href="javascript:void(0)" class="button" id="startScanWXDevice">开始扫描</a>
        <a href="javascript:void(0)" class="button" id="stopScanWXDevice">停止扫描</a>
    </div>
    <div>
        <a href="javascript:void(0)" class="button" id="connectWXDevice">连接设备</a>
        <a href="javascript:void(0)" class="button" id="disconnectWXDevice">断开设备</a>
        <a href="javascript:void(0)" class="button" id="sendDataToWXDevice">发送数据</a>
    </div>
</div>

<script type="text/javascript">

    function dump_obj(myObject) {
        var s = '';
        for (var property in myObject) {
            s += '<span>' + property +": " + myObject[property] + '</span>';
        }
        return s;
    }

    var i = 0;
    console.log = (function(old_funct, div_log) {
        return function(func, text) {
            old_funct(text);
            var p = '';
            if (i%2 == 0)
                p = '<p>';
            else
                p = '<p class=\'gray\'>';

            if (typeof text === "object")
                div_log.innerHTML += p + func + ': ' + JSON.stringify(text) + '</p>';
            // div_log.innerHTML += p + dump_obj(text) + '</p>';
            else
                div_log.innerHTML += p + text + '</p>';

            div_log.scrollTop = div_log.scrollHeight;
            i += 1;
        };
    } (console.log.bind(console), document.getElementById("debug")));
    console.error = console.debug = console.info =  console.log

</script>
<script src="/js/jqm.js"></script>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>


<script src="http://www.gogoinfo.cn/air/wechatconfig?_n=peach"></script>

<script>


    var readyFunc = function onBridgeReady() {
        document.querySelector('#openWXDeviceLib').addEventListener('touchstart', function(e){
            WeixinJSBridge.invoke('openWXDeviceLib', {}, function(res){
                console.log('openWXDeviceLib', res);
            });
        });
        document.querySelector('#closeWXDeviceLib').addEventListener('touchstart', function(e){
            WeixinJSBridge.invokre('closeWXDeviceLib', {}, function(res){
                console.log('closeWXDeviceLib', res);
            });
        });

        document.querySelector('#getWXDeviceInfos').addEventListener('touchstart', function(e){
            WeixinJSBridge.invoke('getWXDeviceInfos', {}, function(res){
                console.log('getWXDeviceInfos', res);
            });
        });
        document.querySelector('#getWXDeviceBindTicket').addEventListener('touchstart', function(e){
            WeixinJSBridge.invoke('getWXDeviceTicket', {"deviceId":deviceId, "type":"1"}, function(res){
                console.log('getWXDeviceTicket', res);
            });
        });
        document.querySelector('#getWXDeviceUnbindTicket').addEventListener('touchstart', function(e){
            WeixinJSBridge.invoke('getWXDeviceTicket', {"deviceId":deviceId, "type":"2"}, function(res){
                console.log('getWXDeviceTicket', res);
            });
        });
        document.querySelector('#setSendDataDirection').addEventListener('touchstart', function(e){
            WeixinJSBridge.invoke('setSendDataDirection', {"deviceId":deviceId, "direction":1 }, function(res){
                console.log('setSendDataDirection', res);
            });
        });

        document.querySelector('#startScanWXDevice').addEventListener('touchstart', function(e){
            WeixinJSBridge.invoke('startScanWXDevice', {}, function(res){
                console.log('startScanWXDevice', res);
            });
        });
        document.querySelector('#stopScanWXDevice').addEventListener('touchstart', function(e){
            WeixinJSBridge.invoke('stopScanWXDevice', {}, function(res){
                console.log('stopScanWXDevice', res);
            });
        });

        document.querySelector('#connectWXDevice').addEventListener('touchstart', function(e){
            WeixinJSBridge.invoke('connectWXDevice', {"deviceId":deviceId}, function(res){
                console.log('connectWXDevice', res);
            });
        });
        document.querySelector('#disconnectWXDevice').addEventListener('touchstart', function(e){
            WeixinJSBridge.invoke('disconnectWXDevice', {"deviceId":deviceId}, function(res){
                console.log('disconnectWXDevice', res);
            });
        });
        document.querySelector('#sendDataToWXDevice').addEventListener('touchstart', function(e){
            WeixinJSBridge.invoke('sendDataToWXDevice', {"deviceId":deviceId, "base64Data":"Ejl="}, function(res){
                console.log('sendDataToWXDevice', res);
            });
        });

        WeixinJSBridge.on('onWXDeviceBindStateChange', function(argv) {
            console.log('onWXDeviceBindStateChange', argv);
        });
        WeixinJSBridge.on('onWXDeviceStateChange', function(argv) {
           // console.log('onWXDeviceStateChange', argv);
        });
        WeixinJSBridge.on('onScanWXDeviceResult', function(argv,result) {
            //JSON.stringify(argv)

            console.log('onScanWXDeviceResult come',argv);
            console.log('result come',(typeof result=='undefined'?"no data":result));
        });
        WeixinJSBridge.on('onReceiveDataFromWXDevice', function(argv) {
            console.log('onReceiveDataFromWXDevice', argv);
        });
        WeixinJSBridge.on('onWXDeviceBluetoothStateChange', function(argv) {
            console.log('onWXDeviceBluetoothStateChange', argv);
        });
    };
    wx.ready(function () {
        var deviceId = "gh_3caf6c97a9dc_d45b7ceb677f06f0d1f5727892296f80";

        if (typeof WeixinJSBridge === "undefined") {
            document.addEventListener('WeixinJSBridgeReady', readyFunc, false);
        } else {
            readyFunc();
        }

    });
    function binToHex(str){
//
//        var ar=[];
//        for (var i = 0; i < str.length; i++) {
//            var a= str.charCodeAt(i);
//            ar.push(a);
//        }
//        str=ar.join("\\x");
//        str="\\x"+str;
//        alert(str);
//        return str;
    }
</script>
<textarea id="a" cols="100" rows="5">ww</textarea>
<form action="/air/decode" method="POST">
    base64:<input type="text" name="code"/>
    <input type="submit" value="decode"/>
</form>
<script>
    $("#a").val(window.ticket+"fds");
</script>

</body>
</html>