<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{$title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    {{if $android}}
    <meta name="mobile-web-app-capable" content="yes">
    {{/if}}
    {{if $ios}}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{$siteName}}">
    {{/if}}

    {{if false}}
    optimize for web app
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    {{/if}}
    {{if $ie10plus}}
    <meta name="msapplication-tap-highlight" content="no" />
    {{/if}}


    {{if $win7plus}}
    <!-- Name the Pinned Site for Windows -->
    <meta name="application-name" content="{{$siteName}}">
    <!-- Give your Pinned Site a tooltip-->
    <meta name="msapplication-tooltip" content="{{$siteDesc}}">
    <!-- Set a default page for your Pinned Site -->
    <meta name="msapplication-starturl" content="{{$siteUrl}}">
    {{/if}}






    <link rel="stylesheet" href="{{$cssdir}}bootstrap.css"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="/js/jqm.js"></script>   <script src="/js/bootstrap.js"></script>
</head>
<body>
<style>

    .bs-glyphicons {
        padding-left: 0;
        padding-bottom: 1px;
        margin-bottom: 20px;
        list-style: none;
        overflow: hidden;
    }
    .bs-glyphicons li {
        float: left;
        width: 25%;
        height: 115px;
        padding: 10px 0px;
        margin: 0 -1px -1px 0;
        font-size: 12px;
        line-height: 1.4;
        text-align: center;
        border: 1px solid #ddd;
    }
    .bs-glyphicons .glyphicon {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 24px;
    }
    .bs-glyphicons .glyphicon-class {
        display: block;
        text-align: center;
        word-wrap: break-word; /* Help out IE10+ with class names */
    }
    .bs-glyphicons li:hover {
        background-color: rgba(86,61,124,.1);
    }

    @media (min-width: 768px) {
        .bs-glyphicons li {
            width: 12.5%;
        }
    }
    .bs-glyphicons a {
        text-decoration: none;
    }

    .bs-glyphicons li {font-size: 1em;cursor: pointer}
    .bs-glyphicons>li img {width:70px;height: 70px}

</style>
<!-- tabs -->



<!-- vertical stack -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#production"  data-toggle="tab">线上</a></li>
  <li><a href="#dev" data-toggle="tab">本地版本</a></li>
</ul>


    <div class="tab-content panel-body">
        <div class="tab-pane active" id="production">
            <ul class="bs-glyphicons">
                <li class="search-item app-item">
                    <a href="/air/bluetooth">   <img src="/img/apps/mail.png">
                        <span class="glyphicon-class search_item_txt">Bluetooth</span></a>
                </li>
                <li class="search-item app-item">
                    <a href="/air/blue">   <img src="/img/apps/mail.png">
                        <span class="glyphicon-class search_item_txt">Blue</span></a>
                </li>
                <li class="search-item app-item">
                    <a href="http://www.gogoinfo.cn/templates/dinning/1/res/module/lineup/">   <img src="/img/apps/mail.png">
                        <span class="glyphicon-class search_item_txt">Lineup</span></a>
                </li>
                <li class="search-item app-item">
                    <a href="http://www.gogoinfo.cn/templates/dinning/1/res/module/takeout/"><img src="/img/apps/mail.png">
                        <span class="glyphicon-class search_item_txt">Takeout</span></a>
                </li>

                <li class="search-item app-item">
                    <a href="http://www.gogoinfo.cn/templates/dinning/1/res/module/order_dish/"><img src="/img/apps/mail.png">
                        <span class="glyphicon-class search_item_txt">Order_Dish</span></a>
                </li>

                <li class="search-item app-item">
                    <a href="http://www.gogoinfo.cn/templates/workplace/1/res/"><img src="/img/apps/mail.png">
                        <span class="glyphicon-class search_item_txt">Workplace</span></a>
                </li>
                
            </ul>
        </div>
        <div class="tab-pane" id="dev">
            <ul class="bs-glyphicons">
                <li class="search-item app-item">
                    <a href="http://n.cc/templates/dinning/1/res/lineup/">   <img src="/img/apps/mail.png">
                        <span class="glyphicon-class search_item_txt">Lineup</span></a>
                </li>
                <li class="search-item app-item">
                    <a href="http://n.cc/templates/dinning/1/res/takeout/"><img src="/img/apps/mail.png">
                        <span class="glyphicon-class search_item_txt">Takeout</span></a>
                </li>

                <li class="search-item app-item">
                    <a href="http://n.cc/templates/dinning/1/res/order_dish/"><img src="/img/apps/mail.png">
                        <span class="glyphicon-class search_item_txt">Order_Dish</span></a>
                </li>

                <li class="search-item app-item">
                    <a href="http://n.cc/templates/workplace/1/res/"><img src="/img/apps/mail.png">
                        <span class="glyphicon-class search_item_txt">Workplace</span></a>
                </li>


            </ul>
        </div>
        </div>

<!-- pills justified -->



</body>

</html>