{{include file="common/header_air.phtml"}}
<script src="{{$jsDir/air/wechatconfig}}"></script>

<link rel="stylesheet" href="/css/animate.css"/>
<link rel="stylesheet" href="/css/iconfont_air.css"/>
</head>
<body>


<footer>

    <div class="tab-content z-content">

        <div class="tab-pane active" id="sensor-sec">
            <div class="widget-container widget-weather boxed clearfix air-card">
                <div class="air-temp"><strong>{{$air.pm25}}</strong></div>
                <div class="water-temp"><strong>{{$air.hum}}%</strong></div>
                <div class="wind-speed"><strong>{{$air.temp}}°C</strong></div>
            </div>
            <div class="comment-list styled clearfix adv">
                <ol>
                    <li class="comment first last">
                        <div class="comment-body boxed">
                            <div class="comment-arrow"></div>
                            <div class="comment-avatar">
                                <div class="avatar"><img src="{{$adv.pic_url}}" alt=""></div>
                            </div>
                            <div class="comment-text">
                                <div class="comment-author clearfix">
                                    <a href="#" class="link-author" hidefocus="true" style="outline: none;"> {{$adv.title}}</a>
                                </div>
                                <div class="comment-entry">
                                        {{$adv.desc}}
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="air-detail-card" style="display:none " id="air-detail-card">
                <div class="widget-container widget-trade boxed">
                    <div class="widget-title">
                        <span class="trade-rate trade-rate-up" id="cur_air_temp"></span>
                        <span class="trade-rate-change" id="cur_air_hum"></span>
                        <span class="iconfont air_cond" id="cur_air_cond"></span>
                    </div>
                    <div class="inner">
                        <div class="trade-time"id="air_time"></div>
                        <h4 class="trade-location"><a href="#" hidefocus="true" style="outline: none;" id="cur_air_city_name"></a></h4>
                        <ul class="stats-data clearfix">
                            <li class="first"><a href="#" hidefocus="true" style="outline: none;"><strong id="cur_air_pm25"></strong><span>PM2.5</span></a></li>
                            <li class="red"><a href="#" hidefocus="true" style="outline: none;"><strong id="cur_air_so2"></strong><span>SO2</span></a></li>
                            <li class="blue"><a href="#" hidefocus="true" style="outline: none;"><strong id="cur_air_no2"></strong><span>NO2</span></a></li>
                            <li class="yellow last"><a href="#" hidefocus="true" style="outline: none;"><strong id="cur_air_pm10"></strong><span>PM10</span></a></li>
                        </ul>


                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="buy-sec">
            <div class="widget-container widget_avatar boxed buy-widget">
                <div class="row product-info">

                    <div class="product-slide">
                        <div class="widget-container widget_gallery boxed col-xs-12 col-sm-6  col-md-5 col-lg-5">
                        <div class="inner">
                            <div id="myCarousel2" class="carousel slide" data-interval="20000">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="item"><img src="/images/temp/post_img6.jpg" alt="" style="height: 200px; margin-left: -77px;"><div class="carousel-desc"><span>Wild Deer</span></div></div>
                                    <div class="item"><img src="/images/temp/post_img1.jpg" alt="" style="height: 200px; margin-left: -131px;"><div class="carousel-desc"><span>Change your fate</span></div></div>
                                    <div class="item active"><img src="/images/temp/post_img3.jpg" alt="" style="height: 200px; margin-left: -29px;"><div class="carousel-desc"><span>Unstoppable hero</span></div></div>
                                    <div class="item"><img src="/images/temp/post_img2.jpg" alt="" style="height: 200px; margin-left: -93px;"><div class="carousel-desc"><span>Change your fate</span></div></div>
                                    <div class="item"><img src="/images/temp/post_img4.jpg" alt="" style="width: 327px; margin-top: -19px;"><div class="carousel-desc"><span>Unstoppable hero</span></div></div>
                                </div>
                                <!-- Carousel indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="first"></li>
                                    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                                    <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                    <li data-target="#myCarousel" data-slide-to="4" class="last"></li>
                                </ol>
                                <!-- Carousel nav -->
                                <a class="carousel-control left" href="#myCarousel2" data-slide="prev"></a>
                                <a class="carousel-control right" href="#myCarousel2" data-slide="next"></a>
                            </div>
                        </div>
                    </div>
                    </div>



                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 product-sell">

                        <div class="inner clearfix ">
                            <!--
                            <div class="avatar">
                                <img src="http://192.168.10.200/code/PixelKit-Bootstrap-UI-Kits/metro-vibes/metro-vibes-css/images/temp/avatar.png" alt="" />
                            </div>
                            -->
                            <h5>{{$product.name}}</h5>
        <span class="subtitle">
            {{$product.desc}}
        </span>
                        </div>
                        <ul class="stats-data clearfix product-price">
                            <li class="first"><a href="#" hidefocus="true" style="outline: none;"><span>{{$lang.price}}</span><strong>&#165;{{$product.price.price}}</strong></a></li>
                            {{if $product.price.promotion}}
                            <li class="red"><a href="#" hidefocus="true" style="outline: none;"><span>{{$lang.promotion_price}}</span><strong>&#165;{{$product.price.promotion}}</strong></a></li>
                            {{/if}}
                        </ul>
                        <div class="input-group input-group-md">
                            <span class="input-group-addon product-number">{{$lang.number}}</span>
                            <input type="number" name="number" class="form-control" placeholder="{{$lang.number}}" min="1" pattern="\d*">
                        </div>
                        <div class="post-meta-links" style="margin-top: 10px">

                            <div class="product-type">
                                <a href="#"><span><i></i>{{$lang.color}}</span></a>
                            </div>
                            <ul class="clearfix  product-select  color-data">


                                {{foreach name=color item=colorItem key=key from=$product.color}}
                                <li class="post-comm color-sel">
                                    <a href="#"><span><i></i>{{$colorItem}}</span></a>
                                </li>
                                {{/foreach}}

                            </ul>
                        </div>
                        <div class="post-meta-links">
                            <div class="product-type  product-select">
                                <a href="#"><i></i><span>{{$lang.model}}</span></a>
                            </div>
                            <ul class="clearfix product-select  model-data">

                                {{foreach name=model item=modelItem key=key from=$product.model}}
                                <li class="post-comm model-sel">
                                    <a href="#"><span><i></i>{{$modelItem}}</span></a>
                                </li>
                                {{/foreach}}
                            </ul>
                        </div>

                    </div>

                </div>


                <a href="#" class="btn btn-green btn-middle  buy-btn" hidefocus="true" style="outline: none;" id="buy-btn" data="{{$product._id}}"><span class="gradient">{{$lang.buy}}</span></a></div>
                <div>


            <div class="tabs_framed styled hidden">
                <ul class="tabs clearfix tab_id2 bookmarks3 active_bookmark1 about-tab">
                    <li class="first active"><a href="#about" data-toggle="tab" hidefocus="true" style="outline: none;">{{$lang.product_detail}}</a></li>
                    <li class=""><a href="#history" data-toggle="tab" hidefocus="true" style="outline: none;">{{$lang.product_param}}</a></li>
                    <li class="last"><a href="#past" data-toggle="tab" hidefocus="true" style="outline: none;">{{$lang.product_comment}}</a></li>
                    <li class="last"><a href="#past" data-toggle="tab" hidefocus="true" style="outline: none;">{{$lang.deal_record}}</a></li>
                </ul>

                <div class="tab-content boxed clearfix">
                    <div class="tab-pane fade active in" id="about">
                        <div class="inner clearfix">
                            <div class="tab_image pull-left"><img src="images/temp/tabimage8.png" alt=""></div>
                            <h2><a href="#" hidefocus="true" style="outline: none;">Michael Ormond</a></h2>
                            <!-- Rating Stars -->
                            <div class="rating">
                                <span class="star on"><input type="hidden" value="1" hidefocus="true" style="outline: none;"></span><!--
                                    --><span class="star on"><input type="hidden" value="2" hidefocus="true" style="outline: none;"></span><!--
                                    --><span class="star on"><input type="hidden" value="3" hidefocus="true" style="outline: none;"></span><!--
                                    --><span class="star off"><input type="hidden" value="4" hidefocus="true" style="outline: none;"></span><!--
                                    --><span class="star off"><input type="hidden" value="5" hidefocus="true" style="outline: none;"></span>
                            </div>
                            <!--/ Rating Stars -->
                            <div class="tab-text"><p>He made his film debut with a minor part in Back to The Future Part II and then he became very popular.</p></div>
                            <div class="buttons">
                                <a href="#" class="btn" hidefocus="true" style="outline: none;"><span class="gradient">Normal</span></a>
                                <a href="#" class="btn hover" hidefocus="true" style="outline: none;"><span class="gradient">Hover</span></a>
                                <a href="#" class="btn active" hidefocus="true" style="outline: none;"><span class="gradient">Pressed</span></a>
                            </div>
                            <div class="buttons">
                                <a href="#" class="btn btn-left" hidefocus="true" style="outline: none; opacity: 1;"><span class="gradient">&nbsp;&nbsp;Left&nbsp;</span></a>
                                <a href="#" class="btn btn-green" hidefocus="true" style="outline: none;"><span class="gradient">Change</span></a>
                                <a href="#" class="btn btn-right" hidefocus="true" style="outline: none;"><span class="gradient">Right&nbsp;</span></a>
                            </div>
                        </div>
                        <div class="bottom clearfix">
                            <div class="tagcloud pull-right">
                                <a href="#" class="tag-link-1" title="2 topics" hidefocus="true" style="outline: none;"><span>Web Design</span></a>
                                <a href="#" class="tag-link-2" title="3 topics" hidefocus="true" style="outline: none;"><span>Illustration</span></a>
                                <a href="#" class="tag-link-3" title="5 topics" hidefocus="true" style="outline: none;"><span>Fashion Style</span></a>
                                <a href="#" class="tag-link-4" title="8 topics" hidefocus="true" style="outline: none;"><span>Typography</span></a>
                                <a href="#" class="tag-link-5" title="9 topics" hidefocus="true" style="outline: none;"><span>Interface</span></a>
                                <a href="#" class="tag-link-6" title="3 topics" hidefocus="true" style="outline: none;"><span>High resolution</span></a>
                            </div>
                            <h3>Tags</h3>
                            <p>He made his film debut with a minor part in Back to The Future Part II</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="history">
                        <div class="inner clearfix">
                            <div class="tab_image pull-right"><img src="images/temp/tabimage9.png" alt=""></div>
                            <h2><a href="#" hidefocus="true" style="outline: none;">Elijah Wood</a></h2>
                            <!-- Rating Stars -->
                            <div class="rating">
                                <span class="star on"><input type="hidden" value="1" hidefocus="true" style="outline: none;"></span><!--
                                    --><span class="star on"><input type="hidden" value="2" hidefocus="true" style="outline: none;"></span><!--
                                    --><span class="star on"><input type="hidden" value="3" hidefocus="true" style="outline: none;"></span><!--
                                    --><span class="star on"><input type="hidden" value="4" hidefocus="true" style="outline: none;"></span><!--
                                    --><span class="star off"><input type="hidden" value="5" hidefocus="true" style="outline: none;"></span>
                            </div>
                            <!--/ Rating Stars -->
                            <div class="tab-text"><p>He made his film debut with a minor part in Back to The Future Part II and then he became very popular.</p></div>
                            <div class="buttons">
                                <a href="#" class="btn" hidefocus="true" style="outline: none;"><span class="gradient">Normal</span></a>
                                <a href="#" class="btn hover" hidefocus="true" style="outline: none;"><span class="gradient">Hover</span></a>
                                <a href="#" class="btn" hidefocus="true" style="outline: none;"><span class="gradient">Pressed</span></a>
                            </div>
                            <div class="buttons">
                                <a href="#" class="btn btn-left" hidefocus="true" style="outline: none;"><span class="gradient">&nbsp;&nbsp;Left&nbsp;</span></a>
                                <a href="#" class="btn btn-green" hidefocus="true" style="outline: none;"><span class="gradient">Change</span></a>
                                <a href="#" class="btn btn-right" hidefocus="true" style="outline: none;"><span class="gradient">Right&nbsp;</span></a>
                            </div>
                        </div>
                        <div class="bottom clearfix">
                            <div class="tagcloud pull-left">
                                <a href="#" class="tag-link-1" title="2 topics" hidefocus="true" style="outline: none;"><span>Web Design</span></a>
                                <a href="#" class="tag-link-2" title="3 topics" hidefocus="true" style="outline: none;"><span>Illustration</span></a>
                                <a href="#" class="tag-link-3" title="5 topics" hidefocus="true" style="outline: none;"><span>Fashion Style</span></a>
                                <a href="#" class="tag-link-4" title="8 topics" hidefocus="true" style="outline: none;"><span>Typography</span></a>
                                <a href="#" class="tag-link-5" title="9 topics" hidefocus="true" style="outline: none;"><span>Interface</span></a>
                                <a href="#" class="tag-link-6" title="3 topics" hidefocus="true" style="outline: none;"><span>High resolution</span></a>
                            </div>
                            <h3>Tags</h3>
                            <p>He made his film debut with a minor part in Back to The Future Part II</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="past">
                        <div class="inner clearfix">
                            <div class="tab_image pull-left"><img src="images/temp/tabimage10.png" alt=""></div>
                            <h2><a href="#" hidefocus="true" style="outline: none;">John Carpenter</a></h2>
                            <!-- Rating Stars -->
                            <div class="rating">
                                <span class="star on"><input type="hidden" value="1" hidefocus="true" style="outline: none;"></span><!--
                                    --><span class="star on"><input type="hidden" value="2" hidefocus="true" style="outline: none;"></span><!--
                                    --><span class="star on"><input type="hidden" value="3" hidefocus="true" style="outline: none;"></span><!--
                                    --><span class="star on"><input type="hidden" value="4" hidefocus="true" style="outline: none;"></span><!--
                                    --><span class="star off"><input type="hidden" value="5" hidefocus="true" style="outline: none;"></span>
                            </div>
                            <!--/ Rating Stars -->
                            <div class="tab-text"><p>He made his film debut with a minor part in Back to The Future Part II and then he became very popular.</p></div>
                            <div class="buttons">
                                <a href="#" class="btn" hidefocus="true" style="outline: none;"><span class="gradient">Normal</span></a>
                                <a href="#" class="btn hover" hidefocus="true" style="outline: none;"><span class="gradient">Hover</span></a>
                                <a href="#" class="btn active" hidefocus="true" style="outline: none;"><span class="gradient">Pressed</span></a>
                            </div>
                            <div class="buttons">
                                <a href="#" class="btn btn-left" hidefocus="true" style="outline: none;"><span class="gradient">&nbsp;&nbsp;Left&nbsp;</span></a>
                                <a href="#" class="btn btn-green" hidefocus="true" style="outline: none;"><span class="gradient">Change</span></a>
                                <a href="#" class="btn btn-right" hidefocus="true" style="outline: none; opacity: 1;"><span class="gradient">Right&nbsp;</span></a>
                            </div>
                        </div>
                        <div class="bottom clearfix">
                            <div class="tagcloud pull-left">
                                <a href="#" class="tag-link-1" title="2 topics" hidefocus="true" style="outline: none;"><span>Web Design</span></a>
                                <a href="#" class="tag-link-2" title="3 topics" hidefocus="true" style="outline: none;"><span>Illustration</span></a>
                                <a href="#" class="tag-link-3" title="5 topics" hidefocus="true" style="outline: none;"><span>Fashion Style</span></a>
                                <a href="#" class="tag-link-4" title="8 topics" hidefocus="true" style="outline: none;"><span>Typography</span></a>
                                <a href="#" class="tag-link-5" title="9 topics" hidefocus="true" style="outline: none;"><span>Interface</span></a>
                                <a href="#" class="tag-link-6" title="3 topics" hidefocus="true" style="outline: none;"><span>High resolution</span></a>
                            </div>
                            <h3>Tags</h3>
                            <p>He made his film debut with a minor part in Back to The Future Part II</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="tab-pane" id="download-sec">

            <div class="tabs_framed styled widget-stats">
                <ul class="tabs clearfix tab_id1 bookmarks2 active_bookmark1">
                    <li class="first active"><a href="#diagram" data-toggle="tab" hidefocus="true" style="outline: none;">{{$lang.ry_apple}}</a></li>
                </ul>

                <div class="tab-content boxed clearfix">
                    <div class="tab-pane fade active in" id="diagram">

                        <div class="comment-list styled clearfix download">
                            <ol>
                                <li class="comment first last">
                                    <div class="comment-body boxed">
                                        <div class="comment-arrow"></div>
                                        <div class="comment-avatar">
                                            <div><i class="fa fa-apple fa-5x" alt=""></i></div>
                                        </div>
                                        <div class="comment-text">

                                            <div class="comment-entry">
                                                {{$lang.iphone_client_desc}}
                                            </div>
                                            <div class="comment-author clearfix">
                                                <a href="#" class="btn btn-green download-btn" hidefocus="true" style="outline: none;"><span class="gradient">{{$lang.download}}</span></a>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </li>
                            </ol>
                        </div>

                        <div class="comment-list styled clearfix download">
                            <ol>
                                <li class="comment first last">
                                    <div class="comment-body boxed">
                                        <div class="comment-arrow"></div>
                                        <div class="comment-avatar">
                                            <div><i class="fa fa-android fa-5x" alt=""></i></div>
                                        </div>
                                        <div class="comment-text">

                                            <div class="comment-entry">
                                                {{$lang.android_client_desc}}
                                            </div>
                                            <div class="comment-author clearfix">
                                                <a href="#" class="btn btn-green download-btn" hidefocus="true" style="outline: none;"><span class="gradient">{{$lang.download}}</span></a>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <div class="comment-list styled clearfix download">
                            <ol>
                                <li class="comment first last">
                                    <div class="comment-body boxed">
                                        <div class="comment-arrow"></div>
                                        <div class="comment-avatar">
                                            <div><i class="fa fa-windows fa-5x" alt=""></i></div>

                                        </div>
                                        <div class="comment-text">

                                            <div class="comment-entry">
                                                {{$lang.windows_phone_client_desc}}
                                            </div>

                                            <div class="comment-author clearfix">
                                                <a href="#" class="btn btn-green download-btn" hidefocus="true" style="outline: none;"><span class="gradient">{{$lang.download}}</span></a>                                      </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="month">

                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane" id="airenv-sec-detail">
            <div class="widget-container widget-trade boxed air-detail">
                <div class="widget-title">
                    <span class="trade-rate trade-rate-up" id="air_temp"></span>
                    <span class="trade-rate-change" id="air_hum"></span>
                    <span class=" iconfont icon-xiaoxue air_cond" id="air_cond"></span>
                </div>
                <div class="inner">
                    <div class="trade-time"id="air_time"></div>
                    <h4 class="trade-location"><a href="#" hidefocus="true" style="outline: none;" id="air_city_name"></a></h4>
                    <ul class="stats-data clearfix">
                        <li class="first"><a href="#" hidefocus="true" style="outline: none;"><strong id="air_pm25"></strong><span>PM2.5</span></a></li>
                        <li class="red"><a href="#" hidefocus="true" style="outline: none;"><strong id="air_so2"></strong><span>SO2</span></a></li>
                        <li class="blue"><a href="#" hidefocus="true" style="outline: none;"><strong id="air_no2"></strong><span>NO2</span></a></li>
                        <li class="yellow last"><a href="#" hidefocus="true" style="outline: none;"><strong id="air_pm10"></strong><span>PM10</span></a></li>
                    </ul>



                    <div class="clear"></div>
                </div>
            </div>
            </div>
        <div class="tab-pane" id="airenv-sec">


            <div>
                <div class="form-group has-success has-feedback">
                    <input type="text" class="form-control" id="search_place" name="search_place" aria-describedby="inputSuccess2Status" placeholder="{{$lang.search_city_weather}}">
                    <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                </div>


                <div class="clearfix"></div>


            </div>

            <div class="clearfix"></div>
            <ul class="list-group" id="city-list">

            </ul>
            <ul class="list-group" id="province-list">
                
                {{foreach name=provName item=prov key=key from=$provinces}}

                <li class="list-group-item  search-item"  data="{{$prov.code}}">
                    <span class="fa fa-angle-right expand-item"></span>

                    <span class="search-item-txt">{{$prov.name}}</span>
                </li>


                {{/foreach}}

            </ul>


        </div>
    </div>

    <div style="text-align: center;position: fixed;left:0px;right:0px;bottom:25px">
        <img src="/img/arrow_down.png" id="arrow-down" class="fadeInDown-arrow" style="display: none"/>
    </div>
    <div class="navbar navbar-fixed-bottom z-nav-bottom">

        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#sensor-sec" data-toggle="tab" id="sensor-tab">{{$lang.envinfo}}</a></li>

            <li role="presentation" class="dropdown">
                <a id="drop5" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                    {{$lang.service}}
                    <span class="caret"></span>
                </a>
                <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
                    <li role="presentation"><a role="menuitem" data-toggle="tab" id="download-tab" href="#download-sec" tabindex="-1">{{$lang.download_app}}</a></li>
                    <li role="presentation"><a role="menuitem" data-toggle="tab" id="airenv-tab" href="#airenv-sec" tabindex="-1">{{$lang.air_env}}</a></li>
                    <!--
                    <li role="presentation" class="divider"></li>
                     <li role="presentation"><a role="menuitem" tabindex="-1" href="https://twitter.com/fat">{{$lang.air_env}}</a></li>
                    -->
                </ul>
            </li>
            <li role="presentation"><a href="#buy-sec" data-toggle="tab" id="buy-tab">{{$lang.buy}}</a></li>
        </ul>

    </div>
</footer>
    {{include file="common/footer_bs.phtml"}}
    <!-- jQuery 2.0.2 -->
    <!-- jQuery UI 1.10.3 -->
<script>
    //var wechatAppId={{$wechatAppId}};
</script>
</body></html>