{{include file="common/header_air.phtml"}}
</head>
<body>



<div><img src="img/qr.jpg" alt="二维码图片" /></div>
<div style="position:absolute; top:660px; left:225px; z-index:1000;"><img src="/img/air/wifi.png" alt="二维码图片" /></div>

<script>
    


</script>


{{include file="common/footer_bs.phtml"}}
<!-- jQuery 2.0.2 -->
<!-- jQuery UI 1.10.3 -->
<script>
    //var wechatAppId={{$wechatAppId}};
</script>
</body></html>