<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{$link.txt}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    {{if $android}}
    <meta name="mobile-web-app-capable" content="yes">
    {{/if}}
    {{if $ios}}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{$siteName}}">
    {{/if}}

    {{if false}}
    optimize for web app
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    {{/if}}
    {{if $ie10plus}}
    <meta name="msapplication-tap-highlight" content="no" />
    {{/if}}


    {{if $win7plus}}
    <!-- Name the Pinned Site for Windows -->
    <meta name="application-name" content="{{$siteName}}">
    <!-- Give your Pinned Site a tooltip-->
    <meta name="msapplication-tooltip" content="{{$siteDesc}}">
    <!-- Set a default page for your Pinned Site -->
    <meta name="msapplication-starturl" content="{{$siteUrl}}">
    {{/if}}



    <link rel="stylesheet" href="{{$cssdir}}bootstrap.css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>

        /* body内容的居中

        body {*/
            /*margin: 0;*/
            /*padding: 0;*/
            /*width: 100%;*/
            /*height: 100%;*/
            /*display: table*/
        /*}*/
        /*.shake-page {*/
            /*display: table-cell;*/
            /*text-align: center;*/
            /*vertical-align: middle*/
        /*}*/
        .shake-page {
             margin: 0;
             padding: 0;
             width: 100%;
             height: 100%;
             display: table
         }
         .content {
             display: table-cell;
             text-align: center;
             vertical-align: middle
         }


    </style>
</head>
<body>

<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">{{$data.dinning_name}}</a>
    </div>



  </div>
</header>
<div class="shake-page">
<div class="row content">
      <div class="col-xs-6  col-sm-6 col-md-6">
        <div class="thumbnail">
           <img src="/img/air/wifi_qr.png" alt="100%x200" src="" style="height: 200px; width: 100%; display: block;">
          <div class="caption">
            <h3>连接Wifi</h3>
          </div>

        </div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="thumbnail">
            <a href="{{$link.link}}"><img src="{{$link.img}}" alt="100%x200" src="" style="height: 200px; width: 100%; display: block;">
          <div class="caption">
            <h3><a href="{{$link.link}}">{{$link.txt}}</a></h3>
          </div>
            </a>
        </div>
      </div>
    </div>
</div>
</body>

</html>


