{{include file="common/header_common.phtml"}}
</head>

<body>

<!-- Simple splash screen-->
<div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>{{$splash.title}}</h1><p>{{$splash.content}} </p><img src="{{$imgdir}}/{{$splash.img}}" width="64" height="64" /> </div> </div>
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
{{include file="common/top_header.phtml"}}

{{include file="common/left_aside.phtml"}}
<div id="wrapper">

<div class="container" id="page-editor">
<div id="rootwizard" class="animate-panel">
<ul>
    <li><a href="#tab1" data-toggle="tab"><span class="label">1</span>{{$lang.choose_sub}}</a></li>
    <li><a href="#tab1" data-toggle="tab"><span class="label">2</span>{{$lang.sub_obj}}</a></li>
    <li><a href="#tab2" data-toggle="tab"><span class="label">3</span>{{$lang.trigger_action}}</a></li>
    <li><a href="#tab3" data-toggle="tab"><span class="label">4</span>{{$lang.sub_desc}}</a></li>
    <li><a href="#tab3" data-toggle="tab"><span class="label">5</span>{{$lang.complete}}</a></li>

</ul>
<div class="tab-content" style="margin-top: 7px">

<div class="tab-pane panel panel-default" id="tab1" style="border-top:0px">


<div id="create-div" class="tabbable tabs-left row" style="height:100%">

<div class="col-md-3" style="height:100%" id="left-temp">
    <div class="panel panel-default" style="height:100%"><div class="panel-heading">{{$lang.sub_temp}}</div>
        <div class="panel-body"  style="height:100%">


            <ul class="nav nav-pills nav-stacked display-type" style="height:100%" id="right-temp">

                <a type="#" class="btn btn-primary btn-lg">{{$lang.all}} </a>

                {{foreach name=catName item=catItem key=key from=$tempCats}}



                <a href="#{{$catItem.name}}" class="btn btn-default btn-lg">{{$catItem.name}} </a>


                {{/foreach}}



            </ul>
        </div></div>
</div>
<div class="col-md-9">

<div class="tab-content">
<div class="input-group">
    <input type="text" class="form-control">
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
</div>
<div class="tab-pane active" id="tabsleft-tab1">
    <div class="row temp-list">

        {{foreach name=catName item=temp key=key from=$temps}}
        <div class="col-sm-6 col-md-4 col-lg-3 site-temp">
            <div id="site-{{$temp._id}}" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {{foreach name=subCatName item=subItem key=subKey from=$temp.pages}}
                        {{if $smarty.foreach.subCatName.index==0}}
                        <li data-target="#site-1" data-slide-to="{{$smarty.foreach.subCatName.index}}" class="active"></li>
                        {{else}}
                        <li data-target="#site-1" data-slide-to="{{$smarty.foreach.subCatName.index}}"></li>
                        {{/if}}


                    {{/foreach}}

                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {{foreach name=subCatName item=subItem key=subKey from=$temp.pages}}
                        {{if $smarty.foreach.subCatName.index==0}}
                        <div class="item active">
                            <img src="{{$subItem.pic_url}}" alt="...">
                            <div class="carousel-caption">
                                <h3>{{$subItem.name}}</h3>
                            </div>
                        </div>
                        {{else}}
                        <div class="item">
                            <img src="{{$subItem.pic_url}}" alt="...">
                            <div class="carousel-caption">
                                <h3>{{$subItem.name}}</h3>
                            </div>
                        </div>
                        {{/if}}


                    {{/foreach}}

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#site-{{$temp._id}}" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#site-{{$temp._id}}" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <div class="caption">
                <h3>Empty Template</h3>
                <p>Empty</p>
                <p><a href="#" class="btn btn-default choose-btn" role="button">{{$lang.choose}}</a> </p>
            </div>
        </div>





        {{/foreach}}

        <div class="tab-pane active" id="all_apps" >


            {{foreach name=topicName item=topics key=catName from=$allTopics}}
            <section id="app_cat_{{$catId}}">
                <h4 class="page-header" id="{{$catName}}">{{$catName}}</h4>

                <ul class="bs-glyphicons">
                    {{foreach name=subCatName item=topic key=subKey from=$topics}}

                    <li class="search-item app-item" id="m_{{$topic._id}}">
                        <div class="app_mask">content</div>
                        {{if  strpos($topic.icon_url," ")!==false}}
                        <span class="item-dist {{$topic.icon_url}}"></span>
                        {{else}}
                        <img src="{{$topic.icon_url}}">
                        {{/if}}
                        <span class="glyphicon-class search_item_txt">{{$topic.name}}</span>
                    </li>

                    {{/foreach}}



                </ul>

            </section>
            {{/foreach}}
        </div>






    </div>

</div>
<div class="tab-pane" id="tabsleft-tab3">

    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img data-src="holder.js/220x200" alt="...">
                <div class="caption">
                    <h3>Empty Template</h3>
                    <p>Empty</p>
                    <p><a href="#" class="btn btn-primary" role="button">Choose</a> </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img data-src="holder.js/220x200" alt="...">
                <div class="caption">
                    <h3>视频模板</h3>
                    <p>视频描述</p>
                    <p><a href="#" class="btn btn-primary" role="button">Choose</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img data-src="holder.js/220x200" alt="...">
                <div class="caption">
                    <h3>营销</h3>
                    <p>营销描述</p>
                    <p><a href="#" class="btn btn-primary" role="button">Choose</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img data-src="holder.js/220x200" alt="...">
                <div class="caption">
                    <h3>教育模板</h3>
                    <p>教育描述</p>
                    <p><a href="#" class="btn btn-primary" role="button">Choose</a> </p>
                </div>
            </div>
        </div>



    </div>

</div>
<div class="tab-pane" id="tabsleft-tab2">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img data-src="holder.js/220x200" alt="...">
                <div class="caption">
                    <h3>Empty Template</h3>
                    <p>Empty</p>
                    <p><a href="#" class="btn btn-primary" role="button">Choose</a> </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img data-src="holder.js/220x200" alt="...">
                <div class="caption">
                    <h3>汽车模板</h3>
                    <p>汽车描述</p>
                    <p><a href="#" class="btn btn-primary" role="button">Choose</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img data-src="holder.js/220x200" alt="...">
                <div class="caption">
                    <h3>手机</h3>
                    <p>手机描述</p>
                    <p><a href="#" class="btn btn-primary" role="button">Choose</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img data-src="holder.js/220x200" alt="...">
                <div class="caption">
                    <h3>餐饮模板</h3>
                    <p>营销描述</p>
                    <p><a href="#" class="btn btn-primary" role="button">Choose</a> </p>
                </div>
            </div>
        </div>



    </div>

</div>
<div class="tab-pane" id="tabsleft-tab4">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img data-src="holder.js/220x200" alt="...">
                <div class="caption">
                    <h3>Empty Template</h3>
                    <p>Empty</p>
                    <p><a href="#" class="btn btn-primary" role="button">Choose</a> </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img data-src="holder.js/220x200" alt="...">
                <div class="caption">
                    <h3>服务号模板</h3>
                    <p>营销描述</p>
                    <p><a href="#" class="btn btn-primary" role="button">Choose</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img data-src="holder.js/220x200" alt="...">
                <div class="caption">
                    <h3>营销</h3>
                    <p>营销描述</p>
                    <p><a href="#" class="btn btn-primary" role="button">Choose</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img data-src="holder.js/220x200" alt="...">
                <div class="caption">
                    <h3>餐饮模板</h3>
                    <p>营销描述</p>
                    <p><a href="#" class="btn btn-primary" role="button">Choose</a> </p>
                </div>
            </div>
        </div>



    </div>

</div>
<div class="tab-pane" id="tabsleft-tab5">
    5
</div>
<div class="tab-pane" id="tabsleft-tab6">
    6
</div>
<div class="tab-pane" id="tabsleft-tab7">
    7
</div>

</div></div>
</div>
</div>
<div class="tab-pane" id="tab2">
    <h4 class="page-header">{{$lang.set_site_info}}</h4>
    <form role="form" action="/page/create" method="post" id="pageinfo-form">
        <div class="return-error"></div>
        <div class="return-suc"></div>
        <div class="form-group required">
            <label for="title" class="control-label">{{$lang.site_name}}</label>
            <input type="text" class="form-control required" style="width:85%" name="title" id="title" placeholder="{{$lang.page_name}}">
        </div>
        <div class="form-group required">
            <label for="desc" class="control-label">{{$lang.site_desc}}</label>
            <textarea  name="desc" class="form-control required" style="width:85%" id="desc" placeholder="{{$lang.page_desc}}" rows="4"></textarea>
        </div>



    </form>
</div>
<div class="tab-pane" id="tab3">
<div class="row">
<div class="col-md-4 col-lg-4 col-sm-4">

    <!--With list groups  panel-primary,panel-success,panel-info,panel-warning,panel-danger -->
    <div class="panel panel-default" id="app-pages">
        <!-- Default panel contents -->

        <div class="panel-heading">

            <div class="app-title">页面</div>

            <div class="top-search"><span class="fa fa-plus fa-14x"></span></div><div class="form-group has-success has-feedback" class="pull-right">
                <input type="text" class="form-control search_txt" name="search_txt" aria-describedby="inputSuccess2Status">
                <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                <span id="inputSuccess2Status" class="sr-only">(success)</span>
            </div>
        </div>
        <div class="panel-body">

        </div>

        <!-- List group -->



    </div>


    <!--With table-->

    <!--without heading-->


    <div class="sidebar-nav panel panel-default"  id="comp-panel">
        <div class="panel-heading" style="width:100%">组件</div>
        <div class="panel-body">

            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#comp_cls_common" data-toggle="tab">{{$lang.common}}</a></li>
                <li><a href="#comp_cls_cover" data-toggle="tab">{{$lang.cover}}</a></li>

                <li><a href="#comp_cls_global" data-toggle="tab">{{$lang.global}}</a></li>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="comp_cls_common">




                        <div class="bs-glyphicons">
                            <ul class="bs-glyphicons-list">

                                <li class="box box-element ui-draggable">


                                    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>

                                    <div class="preview drag">

                                        <span class="iconfont icon-wenben fa-4x" aria-hidden="true"></span>
                                        <span class="glyphicon-class">glyphico</span>


                                    </div>
                                    <div class="view">
                                        <h3>h3. Lorem ipsum dolor sit amet.</h3>
                                    </div>




                                </li>

                                <li class="box box-element ui-draggable">


                                    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>

                                    <div class="preview drag">

                                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                        <span class="glyphicon-class">glyphicon glyphicon-asterisk</span>


                                    </div>
                                    <div class="view">
                                        <h3>h3. Lorem ipsum dolor sit amet.</h3>
                                    </div>




                                </li>

                                <li class="box box-element ui-draggable">


                                    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>

                                    <div class="preview drag">

                                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                        <span class="glyphicon-class">glyphicon glyphicon-asterisk</span>


                                    </div>
                                    <div class="view">
                                        <h3>h3. Lorem ipsum dolor sit amet.</h3>
                                    </div>




                                </li>
                                <li class="box box-element ui-draggable">


                                    <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> </a>

                                    <div class="preview drag">

                                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                        <span class="glyphicon-class">glyphicon glyphicon-asterisk</span>


                                    </div>
                                    <div class="view">
                                        <h3>h3. Lorem ipsum dolor sit amet.</h3>
                                    </div>




                                </li>




                            </ul>
                        </div>



                    </div>

                    <div role="tabpanel" class="tab-pane" id="comp_cls_cover"></div>

                    <div role="tabpanel" class="tab-pane" id="comp_cls_global">wfdasw</div>

                </div>




                <!-- BuySellAds Zone Code -->

                <!-- End BuySellAds Zone Code -->
        </div>
    </div>
</div>
<!--/span-->





</div>

</div>


<ul class="pager wizard">
    <li class="previous first" style="display:none;"><a href="#">{{$lang.first}}</a></li>
    <li class="previous"><a href="#">{{$lang.n_prev}}</a></li>
    <li class="next last" style="display:none;"><a href="#">{{$lang.n_last}}</a></li>
    <li class="next"><a href="#">{{$lang.n_next}}</a></li>
</ul>
</div>
</div>
</div>

</div><!--/.fluid-container-->






{{include file="common/footer.phtml"}}


</body></html>