<table id="tb_{{$data.tbName}}" class="table demo filterable" data-filter="#{{$data.tbName}}_keyword" data-filter-text-only="true"  data-page-size="{{$data.len}}">
    <thead>
    {{if false}}
    <tr class="filters" data="{{$data.tbName}}">


        <th>#</th>
        {{foreach  from=$data.columns item=val key=key name=columns}}
        {{if $val.reg=='timestamp' or $val.reg=='datetime'}}
        <th data="c_{{$key}}"><input type="datetime"  class="form-control col-filter" placeholder="{{$val.desc}}" disabled data="c_{{$key}}" ref='{"reg":"$val.reg"}'></th>
        {{else}}
        <th data="c_{{$key}}"><input type="text" class="form-control col-filter" placeholder="{{$val.desc}}" disabled data="c_{{$key}}" ref='{"reg":"$val.reg"}'></th>
        {{/if}}


        {{/foreach}}
        <th>#</th>

    </tr>
    {{/if}}
    <tr class="col-meta">
        <!--data-hide="phone"-->
        <th  data-ignore="true" class="edit-row"><input type="checkbox" name="sel_all"/></th>
        {{foreach  from=$data.columns item=val key=key name=columns}}
        <th data-toggle="true" data="c_{{$key}}">
            {{$val.desc}}
        </th>


        {{/foreach}}
        <th data-toggle="true" data="operation">
            {{$lang.operation}}
        </th>
    </tr>
    </thead>
    <tbody>
    {{foreach  from=$data.records item=val key=key name=record}}
    <tr id="r_{{$val[$data.primaryKey]}}">

        <th  data-ignore="true" class="edit-row">
            <input type="checkbox"/></th>
        {{foreach  from=$data.columns item=val2 key=key2 name=columns}}
        {{if $val2.reg=='timestamp'}}
        <td data="c_{{$key2}}">{{$val.$key2|date_format:"%Y-%m-%d %H:%M:%S"}}</td>

        {{elseif $val2.reg=='text'}}
        <td data="c_{{$key2}}" data-prev="{{$val.$key2}}">{{$val.$key2|truncate:100:"..."}} </td>

        {{else}}
        <td data="c_{{$key2}}">{{$val.$key2}}</td>
        {{/if}}
        {{/foreach}}
        <td class="operation">
            <ul class="nav navbar-nav" data="r_{{$val[$data.primaryKey]}}" data-table="{{$data.tbName}}">

                <!--
                                                            <i class="fa fa-edit fa-15x" data="c_{{$key}}"></i>
                                                            <i class="fa fa-times fa-15x" data="c_{{$key}}"></i>
                                                            -->
                {{if ($smarty.session.user.rights.t[$tableName].rights & 2) || !$smarty.session.user.rights.t[$tableName].rights}}
                {{if (empty($data.opAction.crud)) || $data.opAction.crud.edit!=false}}
                <li>
                    <a href="#"  class="opt-edit" data-id="{{$val[$data.primaryKey]}}">
                        <i class="fa fa-edit fa-15x" ></i>
                    </a>

                </li>
                {{/if}}


                <li>
                    <a href="#" data="{{$data.tbName}}" class="opt-times" data-id="{{$val[$data.primaryKey]}}">
                        <i class="fa fa-times fa-15x"></i>
                    </a>

                </li>
                {{/if}}
                {{if $data.opAction.extra}}
                {{foreach name=opName item=action key=key from=$data.opAction.extra}}


                <li>
                    <a href="#" data-tran-title="{{$action.title}}" data="{{$data.tbName}}" class="opt-{{$key}}" data-id="{{$val[$data.primaryKey]}}">
                        <i class="fa {{$action.icon}} fa-15x"></i>
                    </a>

                </li>



                {{/foreach}}
                {{/if}}
                {{if $data.tbName=="page"}}
                <li>
                    <a href="#"  class="opt-qrcode" data-id="{{$val[$data.primaryKey]}}">
                        <i class="fa fa-qrcode fa-15x" ></i>
                    </a>

                </li>
                {{/if}}
                <!--
            <li class="dropdown pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-list fa-15x"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#" data-id="{{$val[$data.primaryKey]}}">
                            <span class="fa fa-file-code-o"></span> {{$lang.more}}

                        </a>
                    </li>
                    <!--
                    <li>
                        <a href="#" data-id="{{$val[$data.primaryKey]}}">
                            <span class="fa fa-file-pdf-o"></span>{{$lang.excel}}
                        </a>
                    </li>

                    <li class="divider"></li>

                </ul>
            </li>
            -->

            </ul>
        </td>

    </tr>
    {{/foreach}}








    <!--
    <tr>
        <th  data-ignore="true" class="edit-row">
            <input type="checkbox"/></th>

        <td data="firstname">TTTTTTTT</td>
        <td data="lastname"><a href="#">GGGGGG</a></td>
        <td data="job">ssss Court JJJKK</td>
        <td data="dob" data-value="78025368997">22 wen 1988</td>
        <td data="status" data-value="1"><span class="status-metro status-active" title="Active">SSSSS</span></td>
        <td data="operation"><i class="fa fa-times"></i><i class="fa fa-edit"></i></td>
    </tr>

    <tr>
        <th  data-ignore="true" class="edit-row">
            <input type="checkbox"/></th>

        <td data="firstname">www</td>
        <td data="lastname"><a href="#">EEE</a></td>
        <td data="job">AAA</td>
        <td data="dob" data-value="78025368997">22 Jun 1972</td>
        <td data="status" data-value="1"><span class="status-metro status-active" title="Active">Active</span></td>
        <td data="operation"><i class="fa fa-times"></i><i class="fa fa-edit"></i></td>
    </tr>
    -->
    </tbody>
    <tfoot>

    {{if $isPaging}}
    <tr class="hide-if-no-paging" data="{{$data.tbName}}_cs">
        {{else}}
    <tr  data="{{$data.tbName}}_cs">
        {{/if}}
        <td colspan="{{$data.colCnt}}">
            <div class="pagination pagination-centered"></div>
        </td>
    </tr>
    </tfoot>
</table>