
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>锐亚商城</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        /*!
 * Start Bootstrap - Shop Item HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

        body {
            padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }

        .thumbnail img {
            width: 100%;
        }

        .ratings {
            padding-right: 10px;
            padding-left: 10px;
            color: #d17581;
        }

        .thumbnail {
            padding: 0;
        }

        .thumbnail .caption-full {
            padding: 9px;
            color: #333;
        }

        footer {
            margin: 50px 0;
        }
    </style>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">锐亚商城首页</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="http://www.ryatek.cn">关于我们</a>
                </li>
                <li>
                    <a href="http://www.ryatek.cn">服务</a>
                </li>
                <li>
                    <a href="http://www.ryatek.cn">联系方式</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">商品类目</p>
            <div class="list-group">
                <a href="#" class="list-group-item active">手机 <a href="#" class="list-group-item">赛车</a>
                    <a href="#" class="list-group-item">空气净化器</a></a>

            </div>
        </div>

        <div class="col-md-9">

            <div class="thumbnail">
                <img class="img-responsive" src="http://img.alicdn.com/bao/uploaded/i8/TB1CLN0HpXXXXaIXFXXLphf_FXX_060447.jpg_430x430q90.jpg" alt="" style="max-height: 300px">
                <div class="caption-full">
                    <h4 class="pull-right">1899.99元</h4>
                    <h4><a href="#">产品名称</a>
                    </h4>

                        </strong>小米手机</p>
                    <p>品牌名称：Xiaomi/小米关注
                        更多参数产品参数：
                        产品名称：MIUI/小米 红米note 4G标... 型号: 红米note 4G标准版机身颜色: 象牙白运行内存RAM: 1GB机身内存: 8GB网络模式: 双卡多模电池容量: 3100mAh</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">3 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div>
            </div>

            <div class="thumbnail">
                <img class="img-responsive" src="http://gdp.alicdn.com/imgextra/i4/551995190/TB26pAlcpXXXXbMXXXXXXXXXXXX-551995190.jpg" alt="" style="max-height: 300px">
                <div class="caption-full">
                    <h4 class="pull-right">3100.99元</h4>
                    <h4><a href="#">产品名称</a>
                    </h4>

                    </strong>三星手机</p>
                    <p>产品名称：Samsung/三星 galaxy s5三星型号: galaxy s5机身颜色: 精灵黑 魔幻金 雪域白运行内存RAM: 2GB机身内存: 16GB网络模式: 双卡多模电池容量: 2600mAh</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">3 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div>
            </div>
            <div class="thumbnail">
                <img class="img-responsive" src="http://img04.taobaocdn.com/imgextra/i4/1023691747/TB2hWTDbpXXXXbxXXXXXXXXXXXX_!!1023691747.jpg_.webp" alt="" style="max-height: 300px">
                <div class="caption-full">
                    <h4 class="pull-right">1468.99元</h4>
                    <h4><a href="#">产品名称</a>
                    </h4>

                    </strong>Meizu/魅族</p>
                    <p>
                        产品名称：Meizu/魅族 MX4移动版魅族型号: MX4移动版机身颜色: 灰色 银黑 银白色 金色运行内存RAM: 2GB机身内存: 16GB 32GB网络模式: 单卡多模电池容量: 3100mAh</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">3 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div>
            </div>
            <div class="thumbnail">
                <img class="img-responsive" src="http://img03.taobaocdn.com/imgextra/i3/1791947350/TB2yILwcVXXXXbEXXXXXXXXXXXX_!!1791947350.jpg_.webp" alt="" style="max-height: 300px">
                <div class="caption-full">
                    <h4 class="pull-right">4533.99元</h4>
                    <h4><a href="#">产品名称</a>
                    </h4>

                    </strong>苹果手机Iphone6</p>
                    <p>产品参数：
                        产品名称：Apple/苹果 iPhone 6Apple型号: iPhone 6机身颜色: 银色 金色 深空灰色运行内存RAM: 1GB机身内存: 16GB网络模式: 单卡多模电池容量: 1560mAh
                    </p>
                </div>
                <div class="ratings">
                    <p class="pull-right">3 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div>
            </div>
            <div class="thumbnail">
                <img class="img-responsive" src="http://gdp.alicdn.com/imgextra/i3/1114511827/TB27Ul1dXXXXXcsXpXXXXXXXXXX_!!1114511827.jpg" alt="" style="max-height: 300px">
                <div class="caption-full">
                    <h4 class="pull-right">2251.99元</h4>
                    <h4><a href="#">产品名称</a>
                    </h4>

                    </strong>华为手机</p>
                    <p>产品名称：Huawei/华为 荣耀6plus华为型号: 荣耀6plus机身颜色: 白色 黑色运行内存RAM: 3GB机身内存: 16GB 32GB网络模式: 单卡多模电池容量: 3100mAh</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">3 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div>
            </div>
        </div>







    </div>

</div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->

</body>

</html>
