
<section class="content-header">
    <h1>
        <small></small>
    </h1>
    <ol class="breadcrumb">
        {{foreach item=item key=key from=$site.menus.hmenus name=hmenus}}
        {{if  $smarty.foreach.hmenus.last}}
        <li class="active">
            {{else}}
        <li>
            {{/if}}
            {{if $item.type!=0}}
            <a href="{{$item.href}}">
                {{if $item.isUrl}}

                <img src="{{$item.icon}}" alt="" width="24px" height="24px"/>
                 {{else}}
                <i class="{{$item.icon}}"></i>
                {{/if}}
                {{$item.name}}
            </a>
            {{else}}
            <span class="nav-last">   {{$item.name}}</span>

            {{/if}}
        </li>

        {{/foreach}}
    </ol>
</section>
