<div id="lockScreenMask"></div>
<img src="/img/ajax-loading.gif" alt="" style="display:none" class="loading-icon"/>
<link rel="stylesheet" href="/css/loading.css"/>
<div id="loading-normal" style="position: absolute;top:50%;left:50%;display: none"> <div class="blockG" id="rotateG_01"></div> <div class="blockG" id="rotateG_02"></div> <div class="blockG" id="rotateG_03"></div> <div class="blockG" id="rotateG_04"></div> <div class="blockG" id="rotateG_05"></div> <div class="blockG" id="rotateG_06"></div> <div class="blockG" id="rotateG_07"></div> <div class="blockG" id="rotateG_08"></div>
</div>
{{if $isJsTest}}
<link rel="stylesheet" href="/css/qunit.css"/>
<script src="/js/qunit.js"></script>
{{/if}}
<script src="/admin/js/common/footer.js"></script>
<script src="/admin/js/common/header.js"></script>


<script>

    seajs.config({
        base: "/js/",
        paths: {
            echarts : 'echarts/src',
            zrender : 'zrender/src',
            vendor:'vendor',
            admin:'/../admin/js'
        },
        alias : {
            amazeui: 'vendor/js/amazeui',
            echarts : 'echarts/echarts',
            zrender : 'zrender/zrender'
        }
    });
    var reloginQuit=function(time){

        if($("#logout-modal").size()==0){
            openModal($("body"),config.lang.offline_alert,config.lang.another_login,{ok:function(id){
                location.href="/user/logout";
            },cancel:function(id){
                window.close();
            },show:function(obj){
                $(obj).find("button.close,button.cancel-btn").hide();
            }},{},{id:"logout-modal"}, {cancelTxt:config.lang.iquit, okTxt:config.lang.relogin},{backdrop:'static',keyboard:false});
        } else {
            $("#logout-modal").modal('show');
        }


    };

    Modernizr.load([
        // Presentational polyfills
        {
            // Logical list of things we would normally need
            test : Modernizr.prefixed("maxWidth") && Modernizr.prefixed("minWidth"),
            // Modernizr.load loads css and javascript by default
            nope : ['/js/respond.js']
        },
        {
            test : Modernizr.prefixed('console',window),
            nope : '/js/console.js',

            //both : [ 'app.js', 'extra.js' ],
            complete : function () {

            }
        }

    ]);
    Backbone.Collection.prototype.bulk_destroy = function() {

        var ids = this.models.map(function(model) { return model.id });
        $.post(this.url,{ids:ids}).done(function(data){

        });
        // Send ajax request (jQuery, xhr, etc) with the ids attached
        // Empty the collection after the request
        // You may want to include this as a success callback to the ajax request
        this.reset();
    };

    Backbone.sync = (function () {
        var oldSync = Backbone.sync;

        return function (method, model, options) {
            options = options || {};
            console.log("pre exec sync", method, model, options);
            if (method.toLowerCase() != 'read') {
                /**
                 * add post ctoken
                 */
                options = $.extend({beforeSend: sendAuth}, options);
            }
            if (model.urls) {

                options.url = (method.toLowerCase() == 'delete') ? (model.urls[method.toLowerCase()] + '/' + model.get((typeof model.idAttribute === 'undefined') ? 'id' : model.idAttribute) + ".json") : model.urls[method.toLowerCase()];
                options.url = (method.toLowerCase() == 'put') ? (model.urls['put']?model.urls['put']:model.urls['create']): options.url;
            }
            oldSync(method, model, options);

        }


    })();
    $.ajaxPrefilter(function( options ) {

//        var prefix="^"+location.protocol+"\\/\\/"+location.host;
//        var prefixAdmin="^"+location.protocol+"\\/\\/"+location.host+"\\/admin\\/";
//        var preReg=new RegExp(prefix,'i');
//        var startWithHttp="^"+location.protocol+"\\/\\/";
//        var startWithHttp=new RegExp(startWithHttp,'i');
//        if(startWithHttp.test(options.url)){
//            return;
//        } else {
//
//            if(/^\/admin\//.test(options.url)){
//                return;
//            }
//            else {
//                options.url="/admin"+options.url.replace(preReg,"");
//            }
//        }
//
        options.crossDomain = true;
    });

    var  CH = io.connect(config.chUrl);

    CH.emit('login',config.user);

    CH.on('disconnect', function() {
        console.log('client receive  disconnected');
    });
    CH.on('quit_session', function(data) {
        reloginQuit();

    });

    CH.on('notify',function(data){
        console.log("notify data",data);
        if('_notify_type' in data){
            $.publish(data['_notify_type'],data);
        }

        else if (typeof window[data['type']+capStr(data['action'])] == 'function'){
                window[data['type']+capStr(data['action'])](data);
            }


    });
    var duelAuthCode=function(obj){
        $.get("/user/duelAuthCode",function(data){


        });

    }
    $.ajaxSetup({
        beforeSend:sendAuth,crossDomain:true,timeout:30000

    });
    var duelAuth=function(auth){
        $.get("/js/user/temp/duel_auth.html?v="+~new Date()).done(function(data){
                var html=template.compile(data)($.extend(auth,{lang:{'auth':config.lang.auth,'mobile':config.lang.mobile,'email':config.lang.email,'wechat':config.lang.wechat}}));
                openModal($("body"),config.lang.duel_auth,html,{},{},{},{},{'show_footer':true});

        });

    }
    $(document).ajaxSuccess(function(event, xhr, settings){

        var data=xhr.responseText;
        if((typeof data).toLocaleLowerCase()=='string' && ival.json.test(data)){
            data= $.parseJSON(data);
        }
        /**
         * 需要二次认证
         */

        if(data.code=="222"){
            alert(JSON.stringify(data.data));
            duelAuth(data.data);
        }
    });
    $("body").on('submit',"form.ajax-form",ajaxSubmitHandler);




    //if(JSONNATIVE){$.parseJSON=JSONNATIVE.parse;$.toJSON= JSONNATIVE.stringify;}

    $(function(){
        $("#sign-out").on('click',function(){
            this.href="/user/logout";
        });
        $("#profile-setting").on('click',function(){
            accountSetting();

        });
        var liSearch=$("#menu_filter");
        var autoFilterMenu= _.debounce(function () {

            var filterLis = $(".sidebar-menu li.search-item");

            var rex = new RegExp($(this).val(), 'i');
            filterLis.hide();
            filterLis.filter(function () {
                return rex.test($(this).find('>a>.menu-txt').text());
            }).show();
        },300);

        $("#menu_filter").on('keyup', autoFilterMenu).show();

        $("img.user-avatar").on('error',function(){
            $(this).attr('src','/img/unknown.png');
        });
    });
    var wechatLink=function(data){

        openIdList.add(data);
    }
    var wechatUnlink=function(data){
        openIdList.remove(new OpenId(data));
    }
    // seajs.use(config.loadedJs);

</script>


{{if !empty($backboneJs)}}

<script>

{{if $backboneJs.m}}
    {{foreach name=model item=model key=modelName from=$backboneJs.m}}
        var {{$modelName|ucwords}}=Backbone.Model.extend({{if $model.init}}{{$model.init}}{{/if}});
    {{/foreach}}

{{/if}}
{{if $backboneJs.c}}

    {{foreach name=modelName item=cols key=colName from=$backboneJs.c}}
        var {{$colName|ucwords}}s=Backbone.Collection.extend({{if $cols.init}}{{$cols.init}}{{/if}});
        {{if $model}}
            var {{$colName}}s=new {{$colName|ucwords}}s();
                {{$colName}}s.add({{$cols.data}});
        {{/if}}
    {{/foreach}}

{{/if}}

</script>
{{/if}}

{{if $actionHeaderJs}}
<script src="{{$actionHeaderJs}}.js"></script>
{{/if}}

{{if $actionJs}}
<script src="{{$actionJs}}.js"></script>
{{/if}}
{{if $modelJs}}
<script src="{{$modelJs}}.js"></script>
{{/if}}