
<aside id="menu">
    <div id="navigation">
        <div class="profile-picture">
            <a href="#" class="user-icon">
                <img src="{{$user.icon_url}}" class="img-circle m-b" alt="logo">
            </a>

            <div class="stats-label text-color">
                <span class="font-extra-bold font-uppercase">{{$user.realname}}</span>




            </div>
        </div>

        <ul class="nav" id="side-menu">
            {{foreach item=item key=key from=$site.menus.vmenus name=menus}}

            <li class="search-item {{if $item.z_is_active}} active{{/if}}">
                {{if $item.href}}
                <a href="{{$item.href}}" class="menu-info"><span class="fa {{$item.icon}}"></span><span class="nav-label menu-txt">{{$item.name}}</span> {{if $item.subs}}<span class="fa arrow"></span>     {{/if}}</a>
                {{else}}
                <a href="#" class="menu-info"><span class="fa {{$item.icon}}"></span><span class="nav-label menu-txt">{{$item.name}}</span> {{if $item.subs}}<span class="fa arrow"></span>     {{/if}}</a>
                {{/if}}
                {{if $item.subs}}


                <ul class="nav nav-second-level">
                    {{foreach item=item1 key=key1 from=$item.subs name=menus}}
                    <li class="search-item {{if $item1.z_is_active}}active{{/if}}"><a class="menu-info" href="{{$item1.href}}" id="menu_{{$item1.id}}"><span class="fa {{$item1.icon}}"></span>{{$item1.name}}</a></li>
                    {{/foreach}}

                </ul>
                {{/if}}
            </li>
            {{/foreach}}
        </ul>
    </div>
</aside>