<div id="header">
    <div class="color-line">
    </div>
    <div id="logo" class="light-version">
        <a href="/admin/index/index"> <span>
            {{if !empty($left_logo)}}
                <img src="{{$left_logo}}">
                {{else}}

                {{$title}}
             {{/if}}
        </a>
        </span>
    </div>
    <nav role="navigation">
<!--        <div class="header-link">-->
<!--            <a href="/admin/index/index">{{$lang.homepage}}</a>-->
<!--        </div>-->
        <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
        <div class="small-logo">
            <span class="text-primary">HOMER APP</span>
        </div>
        <!--
        <form role="search" class="navbar-form-custom" method="post" action="#">
            <div class="form-group">
                <input type="text" placeholder="{{$lang.search}}" class="form-control" name="search">
            </div>
        </form>
        -->
        <div class="navbar-right">
            <ul class="nav navbar-nav no-borders nav-pill">

                <li>
                    <a href="#" id="profile-setting"><span class="fa fa-cogs"></span></a>
                </li>
                <!--
                <li class="dropdown">
                    <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">4</span>
                    </a>
                    <ul class="dropdown-menu hdropdown animated flipInX">
                        <div class="title">
                            You have 4 new messages
                        </div>
                        <li>
                            <a>
                                It is a long established.
                            </a>
                        </li>
                        <li>
                            <a>
                                There are many variations.
                            </a>
                        </li>
                        <li>
                            <a>
                                Lorem Ipsum is simply dummy.
                            </a>
                        </li>
                        <li>
                            <a>
                                Contrary to popular belief.
                            </a>
                        </li>
                        <li class="summary"><a href="#">See All Messages</a></li>
                    </ul>
                </li>
                -->
                <li class="dropdown">
                    <a  id="sign-out">
                        <i class="fa fa-power-off"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>