
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{$site.title}}</title>
<meta name="description" content="{{$site.desc}}">
<meta content='{{$site.keyword}}' name='keywords'>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
{{if $android}}
<meta name="mobile-web-app-capable" content="yes">
{{/if}}
{{if $ios}}
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{$siteName}}">
{{/if}}

{{if false}}
optimize for web app
<meta name="apple-mobile-web-app-status-bar-style" content="black">

{{/if}}
{{if $ie10plus}}
<meta name="msapplication-tap-highlight" content="no" />
{{/if}}


{{if $win7plus}}
<!-- Name the Pinned Site for Windows -->
<meta name="application-name" content="{{$siteName}}">
<!-- Give your Pinned Site a tooltip-->
<meta name="msapplication-tooltip" content="{{$siteDesc}}">
<!-- Set a default page for your Pinned Site -->
<meta name="msapplication-starturl" content="{{$siteUrl}}">
{{/if}}



<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
<link rel="apple-touch-icon-precomposed" href="{{$imgdir}}apple-touch-icon-precomposed.png">
<!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{$imgdir}}logo-72x72.png">
<!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{$imgdir}}logo-76x76.png">
<!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{$imgdir}}logo-114x114.png">
<!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{$imgdir}}logo-120x120.png">
<!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{$imgdir}}logo-144x144.png">
<!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{$imgdir}}logo-152x152.png">

<link rel="stylesheet" href="{{$cssdir}}bootstrap.css"/>
    <link rel="stylesheet" href="{{$cssdir}}iconfont.css"/>
{{if $commonCss}}
<link rel="stylesheet" href="{{$commonCss}}"/>
{{/if}}

<style>



.input-err {border:1px red solid !important;}
.return-error {background-color: #f67a6e;font-size:1em;margin:3px 0px;padding:10px 5px;display: none}
.return-suc {background-color: #76a7fa;font-size:1em;margin:3px 0px;padding:10px 5px;display: none}
}

</style>
<!--[if lt IE 8]>
<link href="/css/bs-ie7.css" rel="stylesheet">
<![endif]-->
{{if $isMobile or $isTablet }}
<link href="/css/common/mobile.css" rel="stylesheet">
{{/if}}

<!--support html5 tag and css3 media query -->
<!--[if lt IE 9]>

<script src="/js/html5shiv.js"></script>
<![endif]-->


</head>
<body>






<div class="navbar navbar-fixed-top navbar-bold affix-top  top-header" data-spy="affix" data-offset-top="1000">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="logo-wrapper" title="Buffalo"><img class="logo" src="/img/logo.png" alt="RuiYa" /></a>

            <a class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar" style="height: 1px;">
            <ul class="nav navbar-nav top-right">

                <li>
                    <a href="/landing/index" class="navbar-brand">{{$lang.home}}</a>
                </li>



                <li class="pull-right">
                    <a id="signUp" href="#signup">{{$lang.signup}}</a>
                </li>
                <li class="pull-right">
                    <a id="sign-in"  href="#sign-in">{{$lang.signin}}</a>
                </li>
                <li class="pull-right">
                    <a id="fg-bbs" href="#fg-community-link">{{$lang.community}}</a>
                </li>
                <li class="pull-right">
                    <a id="fg-download" href="#fg-download-link">{{$lang.download}}</a>
                </li>

                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle user-lang" data-toggle="dropdown" id="user-lang" data-container="body">
                        <span class="username">{{$lang.product}}</span><b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li><a href="#fogpod_300"  data="fogpod_300">{{$lang.fg_300}}</a></li>
                        <li><a href="#fogpod_600"  data="fogpod_600">{{$lang.fg_600}}</a></li>

                    </ul>
                </li>


            </ul>
        </div>
    </div>
</div>

