{{include file="$tempdir/header.phtml"}}

<div class="hero">
    <div class="container ca-screen">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 ls-carousel">

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/img/landing/zhsh.jpg">
                            <div class="carousel-caption">
                                {{$lang.l_zhsh}}
                            </div>
                        </div>

                        <div class="item">
                            <img src="/img/landing/kpxz.jpg">
                            <div class="carousel-caption">
                                {{$lang.l_kpxz}}
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/landing/sjfx.jpg">
                            <div class="carousel-caption">
                                {{$lang.l_sjfx}}
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/landing/hlyy.jpg">
                            <div class="carousel-caption">
                                {{$lang.l_hlyy}}
                            </div>
                        </div>

                    </div>

                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span style="font-weight: bold">&lt;</span>

                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span style="font-weight: bold">&gt; </span>

                    </a>
                </div>

            </div>
            <div class="col-sm-5 col-sm-5 col-md-5 col-lg-5 rs-desc">
                <div class="nav_btn  {{$langType}}" style="vertical-align: middle;margin-top: 60px">
                    <p>{{$lang.gz_sh_jc}}</p>
                    <p class="p_sec">{{$lang.jy_gt_fx}}</p>

                </div>

                <a href="#" class="btn" style="margin-top: 2em">{{$lang.view_feature}}<span class="ss-navigateright trailing"></span></a>

            </div>
        </div>
    </div>
</div>
<div class="container" id="thumbnail-content">

    <div class="row">
        {{foreach name=catName item=thumbNail key=key from=$thumbNails}}

        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="{{$thumbNail.pic_url}}" alt="">
                <div class="caption">
                    <h4>{{$thumbNail.title}}</h4>
                    <p>{{$thumbNail.desc}}</p>
                    <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
                </div>
            </div>
        </div>

        {{/foreach}}






    </div><!-- End row -->

</div><!-- End container -->
<div class="hero-section first-section signup-section">
    <div class="sign-up-bar"><div class="container sign-up-container"><div class="reg-form"><div class="stepwizard" id="signup-wizard">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step">
                        <button data="#step-1" type="button" class="btn btn-primary btn-circle">1</button>
                        <p>{{$lang.fill_reginfo}}</p>
                    </div>
                    <div class="stepwizard-step">
                        <button data="#step-2" type="button" class="btn btn-default btn-circle" disabled>2</button>
                        <p>{{$lang.getcode}}</p>
                    </div>
                    <div class="stepwizard-step">
                        <button data="#step-3" type="button" class="btn btn-default btn-circle" disabled>3</button>
                        <p>{{$lang.finish_reg}}</p>
                    </div>
                </div>
            </div><div style="clear:both"></div>

                <form class="sign-up-form form-horizontal" id="sign-up-form" action="/user/createuser">
                    <div class="return-error"></div>
                    <div class="return-suc"></div>

                        <!--
                        <div class="col-xs-12 col-sm-6 domain col-md-5">

                            <div class="float-label">{{$lang.domain}}</div>
                            <input name="reg_username" type="text" id="reg_username" placeholder="{{$lang.domain}}" tabindex="1" class="text name" ref='{"reg":"username","r":1}'>
                            <span>fogpod.org</span>
                            <div class="sign-up-terms">
                                {{$lang.ddns_usage}}</div>
                        </div>
                        -->
                        <div class="form-group">
                            <label for="reg_username" class="col-sm-2 control-label">{{$lang.username}}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="reg_username" name="reg_username" placeholder="{{$lang.username}}" ref='{"reg":"username","r":1}'>
                                <p class="help-block">{{$lang.username_help}}</p>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="reg_password" class="col-sm-2 control-label">{{$lang.password}}</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="{{$lang.password}}" ref='{"reg":"password","r":1}'>
                                <p class="help-block">{{$lang.password_help}}</p>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="reg_repassword" class="col-sm-2 control-label">{{$lang.repassword}}</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="reg_repassword" name="reg_repassword" placeholder="{{$lang.password}}" ref='{"reg":"repassword","r":1}'>
                                <p class="help-block">{{$lang.repassword_help}}</p>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="reg_email" class="col-sm-2 control-label">{{$lang.email}}</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="reg_email" name="reg_email" placeholder="{{$lang.email}}" ref='{"reg":"email","r":1}'>
                                <p class="help-block">{{$lang.email_help}}</p>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="1" name="aggree"/><a href="#"  data-toggle="modal" data-target="#siteTerms">{{$lang.readed}}{{$lang.terms_use}}</a>
                                    </label>
                                </div>
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary btn-lg" id="sign-up" value="{{$lang.signup}}">{{$lang.signup}}</button>
                        </div>
                    </div>




                </form>
</div>

            <form class="sign-up-form ajax-form"  id="regcode-form" action="/user/newrouteruser" method="post">
                <div class="return-error"></div>
                <div class="return-suc"></div>
                <div class="row">
                    <input name="actionToken" type="hidden" value="{{$actionToken}}">
                    <div class="col-xs-12  col-md-11 sign-field row">
                        <div class="float-label col-sm-4 col-md-6">{{$lang.router_pwd}}</div>
                        <input name="router_pwd" type="text" placeholder="{{$lang.router_pwd}}" class="text name col-sm-8 col-md-6"  ref='{"reg":"password","r":1}'>


                    </div>
                    <div class="col-xs-12  col-md-11 row">
                        <div class="float-label col-sm-4 col-md-6"></div>
                        <span class="router-usage text-left col-sm-8 col-md-6">
                       {{$lang.router_pwd_usage}}</span>

                    </div>


                    <div class="col-xs-12  col-md-11 sign-field row">

                        <div class="float-label  col-sm-4 col-md-6">{{$lang.valcode}}</div>
                        <input name="requestCode" type="text" placeholder="{{$lang.valcode}}"  class="text name col-sm-8 col-md-6" ref='{"reg":"resetpwd_code","r":1}'></div>


                    <div class="col-xs-12  col-md-11 sign-field row">
                        <button type="button" id="regcode-get" class="button regcode">  {{$lang.getcode}} </button>

                        <button class="button countdown" data-diff="5" ></button>

                    </div>
                    <div class=" col-xs-12  col-md-11 sign-field">
                        <div class="float-label col-sm-4 col-md-4"></div>
                        <div class="text name col-sm-8 col-md-8"> <input type="submit" id="regcode-chk" value="{{$lang.validate}}"  class="button regcode col-md-8"></div>

                    </div>


                </div>
            </form>
            <form method="POST" name="router-form" id="router-form" class="ajax-form" style="display: none">
                {{$lang.post_cloud_registry}}
            </form>


        </div></div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-3 col-xs-12">
                <a href="/" class="logo-wrapper" title="Buffalo"><img class="logo" src="/img/logo.png"  alt="Buffalo"></a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <dl>
                    <dt><a href="#">{{$lang.support}}</a></dt>
                    <dd>{{$lang.lang_setting}}</dd>
                    <dd><a href="/landing/download">{{$lang.download}}</a></dd>

                    <dd><a href="/landing/bbs">{{$lang.community}}</a></dd>
                    <dd><a href="/landing/open">{{$lang.dev_center}}</a></dd>

                </dl>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <dl>
                    <dt><a href="#">{{$lang.fast_entry}}</a></dt>
                    <dd><a href="/landing/aboutus">{{$lang.aboutus}}</a></dd>
                    <dd><a href="/landing/product_intro">{{$lang.product_intro}}</a></dd>
                    <dd><a href="/landing/buy_product">{{$lang.buy_product}}</a></dd>
                </dl>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12">
                <dl>
                    <dt><a href="#">{{$lang.contact_us}}</a></dt>
                    <dd><a href="#s">{{$lang.address}}:{{$company.address}}</a></dd>
                    <dd><a href="#">{{$lang.hotline}}:{{$company.hotline}}</a></dd>
                    <dd><a href="#">{{$lang.wechat}}:{{$company.wechat}}</a></dd>
                    <dd><a href="#">{{$lang.email}}:{{$company.email}}</a></dd>
                </dl>
            </div>


        </div>
        <div class="row">

            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="btn-toolbar" role="toolbar">
                    <button type="button" class="btn btn-default btn-md"><span class="iconfont icon-qq" aria-hidden="true"></span>{{$lang.qq}}</button>
                    <button type="button" class="btn btn-default btn-md"><span class="iconfont icon-facebook" aria-hidden="true"></span>{{$lang.facebook}}</button>
                    <button type="button" class="btn btn-default btn-md"><span class="iconfont icon-twitter" aria-hidden="true"></span>{{$lang.twitter}}</button>
                    <button type="button" class="btn btn-default btn-md"><span class="iconfont icon-weibo" aria-hidden="true"></span>{{$lang.weibo}}</button>
                </div>
            </div>
            <div class="col-md-7 col-sm-6 col-sm-12 text-right">
                <dl class="legal">
                    <dd>{{$company.name}}<a href="/landing/privacy/">{{$lang.privacy_policy}}</a></dd>

                </dl>
            </div>
        </div>
    </div>
    <!--Trial Modal script-->

    <!-- SearchForce  -->
    <div class="dock-contact">
        <div class="tabs-left">
            <ul class="nav nav-tabs pull-right dock-icon">
                <li><a href="#collaspe-in" data-toggle="tab"><span class="iconfont  icon-erweima"></span></a></li>
                <li><a href="#youjian" data-toggle="tab"><span class="iconfont icon-youjian"></span></a></li>
                <li><a href="#erweima" data-toggle="tab"><span class="iconfont  icon-erweima"></span></a></li>
                <li><a href="#qq" data-toggle="tab" data="{{$company.qq}}"><span class="iconfont  icon-qq"></span></a></li>
                <li><a href="#scroll-up" data-toggle="tab"><span class="iconfont  icon-icon"></span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="youjian">
                    <form>

                        <div class="form-group">
                            <textarea  class="form-control" id="email_body" placeholder="{{$lang.feedback}}" name="email_body" rows="5"></textarea>
                        </div>

                        <button type="submit" class="btn btn-default">{{$lang.submit}}</button>
                    </form>
                </div>
                <div class="tab-pane" id="erweima" >
                    <img src="/img/rytek_qrcode.jpg" alt="" />
                </div>
                <div class="tab-pane" id="collaspe-in">

                </div>
            </div><!-- /tab-content -->
        </div><!-- /tabbable -->
    </div>




</div>















<!-- Modal -->
<div class="modal fade hidden" id="siteTerms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="myModalLabel">{{$lang.terms_use}}</h4>
            </div>
            <div class="modal-body">
                <div id="site-terms">
                    <h2 class="text-center">Statement of Rights and Responsibilities</h2>
                    <p>
                        This agreement was written in English (US). To the extent any translated version of this agreement conflicts with the English version, the English version controls.  Please note that Section 17 contains certain changes to the general terms for users outside the United States.

                        Date of Last Revision: November 23, 2013.
                    </p>
                    <h4>1.Privacy</h4>
                    <p>
                        Your privacy is very important to us. We designed our Data Use Policy to make important disclosures about how you can use RuiYa Tech. to share with others and how we collect and can use your content and information.  We encourage you to read the Data Use Policy, and to use it to help you make informed decisions.
                    </p>
                    <h4>2.Sharing Your Content and Information</h4>
                    <p>
                        You own all of the content and information you post on RuiYa Tech., and you can control how it is shared through your privacy and application settings. In addition:
                    </p>
                    <p>
                    <ol>
                        <li>For content that is covered by intellectual property rights, like photos and videos (IP content), you specifically give us the following permission, subject to your privacy and application settings: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with RuiYa Tech. (IP License). This IP License ends when you delete your IP content or your account unless your content has been shared with others, and they have not deleted it.</li>
                        <li>When you delete IP content, it is deleted in a manner similar to emptying the recycle bin on a computer. However, you understand that removed content may persist in backup copies for a reasonable period of time (but will not be available to others).
                        <li>When you use an application, the application may ask for your permission to access your content and information as well as content and information that others have shared with you.  We require applications to respect your privacy, and your agreement with that application will control how the application can use, store, and transfer that content and information.  (To learn more about Platform, including how you can control what information other people may share with applications, read our Data Use Policy and Platform Page.)</li>
                        <li>When you publish content or information using the Public setting, it means that you are allowing everyone, including people off of RuiYa Tech., to access and use that information, and to associate it with you (i.e., your name and profile picture).</li>
                        <li>We always appreciate your feedback or other suggestions about RuiYa Tech., but you understand that we may use them without any obligation to compensate you for them (just as you have no obligation to offer them).</li>
                    </ol>
                    </p>
                    <h4>3.Special Provisions Applicable to Software</h4>
                    <p>
                    <ol>
                        <li>If you download or use our software, such as a stand-alone software product, an app, or a browser plugin, you agree that from time to time, the software may download and install upgrades, updates and additional features from us in order to improve, enhance, and further develop the software.</li>
                        <li>You will not modify, create derivative works of, decompile, or otherwise attempt to extract source code from us, unless you are expressly permitted to do so under an open source license, or we give you express written permission.</li>
                    </ol>
                    </p>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{$lang.close}}</button>
            </div>
        </div>
    </div>

</div>

        <!-- /col -->




<script>
    var callBack="{{$callBack}}";
    var requestCode="{{$requestCode}}";
    var actionToken="{{$actionToken}}";
    var regType=3;
    var meeting={{if $meetingData}}{{$meetingData}}{{else}}{}{{/if}};
</script>
{{include file="common/footer_jq.phtml"}}
<img src="/img/ajax-loading.gif" alt="" style="display:none" class="loading-icon"/>

</body>
</html>
