<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <script type="text/javascript" src="/js/jqm.js"></script>
    <script type="text/javascript" src="/js/art.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/site_fonts.css">
    <style type="text/css">
        ._bbs .box {border-radius: 3px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); padding: 10px 25px; text-align: right; display: block; margin-top: 60px; } ._bbs .box-icon {background-color: #57a544; border-radius: 50%; display: table; height: 100px; margin: 0 auto; width: 100px; margin-top: -61px; } ._bbs .box-icon span {color: #fff; display: table-cell; text-align: center; vertical-align: middle; } ._bbs .info h4 {font-size: 26px; letter-spacing: 2px; text-transform: uppercase; } ._bbs .info > p {color: #717171; font-size: 16px; padding-top: 10px; text-align: justify; } ._bbs .info > a {background-color: #03a9f4; border-radius: 2px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); color: #fff; transition: all 0.5s ease 0s; } ._bbs .info > a:hover {background-color: #0288d1; box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12); color: #fff; transition: all 0.5s ease 0s; } </style>
</head>
<body>

<script type="text/html" id="content">

<div class="container _bbs"> <div class="row"> <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <div class="box">
    <!--
    <div class="box-icon"> <img src="https://www.baidu.com/img/baidu_jgylogo3.gif"> </div>
    -->
    <img class="box-icon img-circle" data-edit="logo" src="<%=logo%>"> <div class="info"> <h4 class="text-center" data-edit="title"><%=title%></h4> <p data-edit="content"> <%=content%></p> <a href="<%=more_link%>" class="btn" data-attr="more_link">更多</a> </div> </div> </div> </div> </div>

</script>





<script src="index.js"></script>

</body>

</html>
