
<ul class="nav nav-tabs">
    <%for(var key in authData){%>
    <li class="" id="auth_<%=key%>"><a href="#auth_<%=key%>_sec" data-toggle="tab" data="<%=key%>" title="<%=key%>" style="padding:13px 15px"><%=lang[key]%><%=lang['auth']%><span class="fa fa-envelope fa-25x offline"></span></a></li>
    <%}%>
</ul>
<div class="tab-content" id="auth_secs">

    <%for(var key in authData){%>

    <div id="auth_<%=key%>_sec" class="tab-pane">

        <form class="form-horizontal ajax-form" role="form" id="duel-auth-form" action="/user/duel_auth" method="post">

            <div class="form-group">
                <label for="pro_<%=key%>" class="col-sm-4 control-label"></label>
                <div class="col-sm-8">
                    <input type="text" readonly value="<%=authData[key]%>" class="form-control" id="pro_<%=key%>"  name="<%=key%>">
                </div>
            </div>
            <div class="form-group">
                <label for="pro_valid_code" class="col-sm-4 control-label">验证码</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="pro_valid_code" placeholder="验证码" name="valid_code" ref='{"reg":"mfa","r":1}'>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="form-control btn btn-primary btn-valid-code" onclick="duelAuthCode(this)">获取验证码</button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" id="apply-duel-auth">提交</button>
                </div>
            </div>
        </form>



    </div>
    <%}%>




</div>
