/* FROM HTTP://WWW.GETBOOTSTRAP.COM
   * Glyphicons
   *
   * Special styles for displaying the icons and their classes in the docs.
   */

.bs-glyphicons {
    padding-left: 0;
    padding-bottom: 1px;
    margin-bottom: 20px;
    list-style: none;
    overflow: hidden;
}
.bs-glyphicons li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px 0px;
    margin: 0 -1px -1px 0;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #ddd;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word; /* Help out IE10+ with class names */
}
.bs-glyphicons li:hover {
    background-color: rgba(86,61,124,.1);
}

@media (min-width: 768px) {
    .bs-glyphicons li {
        width: 12.5%;
    }
}


.bs-glyphicons li {font-size: 1em;cursor: pointer}
.bs-glyphicons>li>img {width:70px;height: 70px}



.form-group.search-field {margin-bottom: 0px}
.search-item {position: relative}
.app_mask {
    color:white;
    text-align: right;
    opacity: 0;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top:0px;background-color:rgba(0,0,0,0.7);position: absolute;width:100%;height: 100%
}
.app_mask:hover {

    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.app-remove {font-size: 2em}


@media screen and (max-width: 768px) {
    .app-dialog {
        width:100%;
    }
}
@media screen and (min-width: 768px)  {
    .app-dialog {
        width:810px;
    }
}
.app_icon {max-width:84px !important;}
/*Give content full width on xs screens*/

.popover {min-width:200px}