
/*# sourceMappingURL=bootstrap.css.map */




@media (max-width: 480px) {
    .download-bar {height:130px}
    .nav-collapse {
        -webkit-transform: translate3d(0, 0, 0); } }
@media (max-width: 760px) {
    body {
        padding-top: 0; }

    .navbar .container {
        width: auto;
        padding: 0; }

    .nav-collapse {
        clear: both; }

    .nav-collapse .nav {
        float: none;
        margin: 0 0 10px 0; }
    .nav-collapse .nav > li {
        float: none; }

    .nav-collapse .nav > li > a {
        margin-bottom: 2px;
        padding-left: 0px; }

    .nav-collapse,
    .nav-collapse.collapse {
        height: 0;
        overflow: hidden; } }
@media (max-width: 760px) and (min-width: 768px) {
    .nav-collapse .nav {
        margin-left: normal; } }

@media (min-width: 760px) {
    .nav-collapse.collapse {
        height: auto !important;
        overflow: visible !important; } }
/*
BUTTONS
*/

.carousel-indicators {
    position: absolute;
    bottom: 40px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    padding:0px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;

    *behavior: url(/htc/pie.htc);
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}
.carousel {
    position: relative;
    margin-bottom: 20px;
    line-height: 1; }

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden; }

.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left; }

.carousel-inner > .item > img {
    display: block;
    line-height: 1; }

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block; }

.carousel-inner > .active {
    left: 0; }

.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%; }

.carousel-inner > .next {
    left: 100%; }

.carousel-inner > .prev {
    left: -100%; }

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0; }

.carousel-inner > .active.left {
    left: -100%; }

.carousel-inner > .active.right {
    left: 100%; }

.carousel-control {
    position: absolute;
    top: 40%;
    left: 0;
    width: 2em;
    height: 3em;
    margin-top: -1.5em;
    font-size: 1.5em;
    font-weight: 100;
    line-height: 3.2;
    color: #ffffff;
    text-align: center;
    background: #222222;
    opacity: 0.5;
    filter: alpha(opacity=50); }

.carousel-control.right {
    right: 0;
    left: auto; }

.carousel-control:hover {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90); }

.carousel-caption {
    position: absolute;
    right: 0;
    color:white;
    bottom: 0;
    left: 0;
    padding: 1em;
    background: #0d2134;
    background: rgba(13, 33, 52, 0.75); }

.carousel-caption h4,
.carousel-caption p {
    line-height: 20px;
    color: #ffffff; }

.carousel-caption h4 {
    margin: 0 0 5px; }

.carousel-caption p {
    margin-bottom: 0; }





/* UI SECTIONS
=================================================
Styles for UI panels, modules and layouts  */










#regcode-chk {background-color: #bbb;}


.countdown {
    display: none;
}
@media (min-width: 768px) {



    button, input {
        line-height: normal;
    }
    button, input, select, textarea {
        font-family: inherit;
        font-size: 100%;
        margin: 0;
    }
    @media (min-width: 1230px) {
        .sign-up-terms {
            padding-left: 0;
            padding-right: 0;
        }
    }
    @media (min-width: 992px) {
        .sign-up-terms {
            padding: 4px 15px 0;
        }
    }
    @media (min-width: 768px) {
        .sign-up-terms {
            padding: 6px 0 0 0;
            font-size: 11px;
            color: #86b2dc;
        }
    }
}
.sign-up-terms {
font-size: 14px;
    padding: 10px 0 0 0;
    text-align: right;
    color: rgba(255,255,255,0.6);
}
form input.button,form button {
    padding: 15px 10px 13px;
    background-color: #339ce1;
    border: 1px solid rgba(0,0,0,0.15);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    text-transform: uppercase;
    font-size: 16px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.07),inset 0 1px 0 0 rgba(255,255,255,0.14),0px 0 1px 0 rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.07),inset 0 1px 0 0 rgba(255,255,255,0.14),0px 0 1px 0 rgba(0,0,0,0.05);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.07),inset 0 1px 0 0 rgba(255,255,255,0.14),0px 0 1px 0 rgba(0,0,0,0.05);
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
}




#captcha-img {cursor:pointer}
.navbar .nav .popover {text-transform: none}
#regcode-chk {display: none}

#regcode-form {display:none}
body {overflow:auto}
.collapse.in {height:100%}


@media only screen and (max-width:480px){
    .ca-screen .row  {margin-right:0px;margin-left:0px;}
    .agreement>input[type=checkbox] {
        width:6%;
    }
    .sign-up-bar>.container,.ca-screen,.ca-screen .ls-carousel {padding-right:0px;padding-left:0px;}
    .carousel-caption {padding:0.4em}
    .stepwizard-step>p {font-size:1em}
    .carousel-control {top:58%;width:1em;height:1em;line-height: 0.8em}
    #sign-in {  float: right;
        MARGIN-TOP: 8PX;
        PADDING: 0PX 10PX;}


    .rs-desc {display: none}
    .sign-field {text-align:center}
    .sign-field input {width:100%}
    #signup-wizard {margin-top:10px}

    .sign-field>button {width:100%}
/**    body,html,.download-bar,.signup-section {overflow-x:hidden !important;}

**/
    .container {padding-left: 0px ;padding-right: 0px}
    .download-bar {margin-bottom: 0px !important;bottom:0px}
    .sign-up-bar img.app-qrcode {display: none}

    .main-container>.row>ul.nav.nav-tabs>li>a {padding-left:13px;padding-right: 13px}
    .leftPanel {display: none !important}
    .nav-collapse.collapse.in{overflow:visible !important}
    .navbar .nav.utility-nav li.utility {float:none !important}
    .nav.utility-nav {margin-top:32px}
    .app-qrcode {position: relative !important;right:auto !important;}
    .nav.utility-nav .dropdown-menu {position: relative !important}
}
@media only screen and (min-width:960px){
    /* styles for browsers larger than 960px; */
}
@media only screen and (min-width:1440px){
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width:2000px){
    /* for sumo sized (mac) screens */
}
@media only screen and (min-width:480px) and (max-width:767px){
    .agreement>input[type=checkbox] {
        width: 4%;
        margin-left: -10px;
    }
    #sign-in{margin-top: 1.3em}
    .sign-field>.float-label {float: left;padding:0px 20px 0px 5px;font-size: 20px;width:25%;text-align: right}
    .sign-field>input {width:75%;margin-bottom:10px}
    .sign-field>button,.sign-field input[type=submit] {width:75%;margin-left: 25%}

    body,html,body .download-bar,.signup-section {overflow-x:hidden !important;bottom: 0px !important;}
    .app-qrcode {right:10px !important;bottom:0px}
    .main-container>.row>ul.nav.nav-tabs>li>a {padding-left:30px;padding-right: 30px}
    .container {padding-left: 0px;padding-right: 0px}
    .nav-collapse.collapse.in{overflow:visible !important}

    .navbar .nav.utility-nav li.utility {float:none !important}
}
@media only screen and (max-width:1023px) and (min-width:768px){
    .main-container>.row>ul.nav.nav-tabs>li>a {padding-left:1px;padding-right: 1px}
    .container {width:100%;}
    nav.utility-nav {margin-top:32px !important}

}
.download-bar {
background: #eee !important;
        margin-bottom: -30px;

}
#download-bar li {list-style: none;padding:0px;margin: 0px}
#download-bar li>a {float:left;padding:5px;margin-left:8px}
#download-bar li>a:hover {color:#2f3f4e}
#download-bar {margin-left: -15px}

#download-title {padding:0px 0px 0px 10px;margin-top:10px;border-left:#339ce1 4px solid ;font-size: 1.2em;color:#2e4f4f}
.download-bar .sign-up-bar {background:white;opacity: 0.8}




.nav_btn>p {font-size:3.5em;padding:0px;line-height: 1.7em;text-align:left}
.nav_btn>p.p_sec {font-size: 2.5em}

.enus.nav_btn>p {font-size:3em;padding:0px;line-height: 1.5em;text-align:left;}



.return-error {background-color: #f67a6e;font-size:1em;margin:3px 0px;padding:10px 5px;display: none;width:80%}

.countdown {
    display: none;margin-top: 26px;
}





.stepwizard-step p {
    margin-top: 0px;
    padding-top:0px;
    padding-bottom: 0px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button.disabled {
    opacity: 0.5;
    background-color: white;
    filter: alpha(opacity=50);
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.stepwizard-step>button {
    background-color: #339ce1;
}
.stepwizard-step>button[disabled] {
    background-color: white;
}
.stepwizard-step>button[disabled]:hover {
    background-color: #339ce1;
}
.btn-primary:active,
.btn-primary.active
{
    background-color: #339ce1;
}

.stepwizard-step>button+p {
    color:#333;
}
.stepwizard-step>button[disabled]+p {
    color:#ccc;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.stepwizard-step>button.btn{
    padding-top:7px;

}

.domain>.sign-up-terms {
    text-align: left;
}


.domain>span {

    padding: 13px 10px 18px;
    background: white;
    margin-left: -3px;
    line-height: 1;
    color: #555;

    background-color: #eee;
    border: 1px solid #ccc;
    border-left:0px;


}

.domain>input {


    width: auto;
    max-width: 100%;

}
.rs-desc {display: none}
input[type=text],input[type=password] {padding:10px}

.signup-section {margin-top: 80px;}
.signup.signup-section {min-height: 650px}

.app-qrcode {position:relative;height:86px;width:86px}
.li-qrcode {float:right;}
.download-bar img:not(.app-qrcode) {margin-bottom:-35px}


.sign-in {margin-top:4px}
#wechat-sign-in {position: absolute;right:60px;top:0px}


.agreement>input {
    width:5%;margin-left: -3px;
}
.agreement {
    padding-left: 0px;
    text-align: left;
}
.float-label {
    padding-top: 12px;font-size: 1.2em;
}
.sign-field {min-height: 50px}


.router-usage {padding-left:0px}
.sign-up-container {display: none;margin-top: 30px}
.dock-contact {
    position: fixed;
    right:0px;
    bottom:0px;


}
body {
    background-color: #eee !important;
}

h3 {
    margin-top: 0;
}

.badge {
    background-color: #777;
}

.tabs-left {
    margin-top: 3rem;
}

.nav-tabs {
    float: left;
    border-bottom: 0;
}
.nav-tabs li {
    float: none;
    margin: 0;
}
.nav-tabs li a {
    margin-right: 0;
    border: 0;
    background-color: #333;
}
.nav-tabs li a:hover {
    background-color: #444;
}
.nav-tabs .glyphicon {
    color: #fff;
}
.nav-tabs .active .glyphicon {
    color: #333;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0;
}

.tab-content {
    margin-left: 45px;
}
.tab-content .tab-pane {
    display: none;
    background-color: #fff;
    padding: 1.6rem;
    overflow-y: auto;
}
.tab-content .active {
    display: block;
}

.list-group {
    width: 100%;
}
.list-group .list-group-item {
    height: 50px;
}
.list-group .list-group-item h4, .list-group .list-group-item span {
    line-height: 11px;
}
.tab-content > .tab-pane {
    display: none;
    visibility: hidden;
}
.tab-content > .active {
    display: block;
    visibility: visible;
}
.nav-tabs {
    float: left;
    border-bottom: 0;
}
.nav-tabs {
    border-bottom: 1px solid #dddddd;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10.5px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.hero {
    margin-top: 80px;
}
body {
    background: white;
}
.top-header {
    width:100%;
    z-index: 9999;
    background: white;
    opacity: 0.8;

}
.top-right {
    width:80%;

}

.footer {
    background: white !important;
    opacity: 0.8;
    margin-bottom: -18px;
    padding-bottom: 0px;
}
.footer dt>a {
    font-size: 1.4em;
}
.footer dd>a {
    font-size: 1em;
}
.footer>.container {
    padding-top: 10px;
}
.footer>.container dd,.footer>.container dt  {
    padding: 4px 0px;

}
.footer dd>a {

    color:#000000;
}
#qr-sign-in>img {margin-top: -5px}

.sign-in {
    cursor: pointer;
}

.dock-contact .tab-content {
    min-width: 350px;
    min-height: 160px;

}

.ui-ios-overlay {
    z-index: 9999 !important;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
    background: rgba(0,0,0,0.8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.ui-ios-overlay .title {
    color: #FFF;
    font-weight: bold;
    text-align: center;
    display: block;
    font-size: 22px;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
}
.ui-ios-overlay img {
    display: block;
    margin: 20% auto 0 auto;
}
.ui-ios-overlay .spinner {
    left: 50% !important;
    top: 40% !important;
}

.ui-ios-overlay .fa{
    margin:6% 33%;
    z-index:9999;
    font-size:6em;
    color:#fff;
}
.ui-ios-overlay .fa.fa-spin{
    margin:6% 80%;
    z-index:9999;
    font-size:4em;
}
.ios-overlay-show {
    -webkit-animation-name: ios-overlay-show;
    -webkit-animation-duration: 750ms;
    -moz-animation-name: ios-overlay-show;
    -moz-animation-duration: 750ms;
    -ms-animation-name: ios-overlay-show;
    -ms-animation-duration: 750ms;
    -o-animation-name: ios-overlay-show;
    -o-animation-duration: 750ms;
    animation-name: ios-overlay-show;
    animation-duration: 750ms;
}

@-webkit-keyframes ios-overlay-show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes ios-overlay-show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes ios-overlay-show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes ios-overlay-show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes ios-overlay-show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.ios-overlay-hide {
    -webkit-animation-name: ios-overlay-hide;
    -webkit-animation-duration: 750ms;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: ios-overlay-hide;
    -moz-animation-duration: 750ms;
    -moz-animation-fill-mode: forwards;
    -ms-animation-name: ios-overlay-hide;
    -ms-animation-duration: 750ms;
    -ms-animation-fill-mode: forwards;
    -o-animation-name: ios-overlay-hide;
    -o-animation-duration: 750ms;
    -o-animation-fill-mode: forwards;
    animation-name: ios-overlay-hide;
    animation-duration: 750ms;
    animation-fill-mode: forwards;
}

@-webkit-keyframes ios-overlay-hide {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes ios-overlay-hide {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-ms-keyframes ios-overlay-hide {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-o-keyframes ios-overlay-hide {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes ios-overlay-hide {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.data-order {margin-right: 30px}
.popover-content form input {
    margin-top:10px;

}
.popover-content form input[type=checkbox] {
    margin:-13px;
    margin-top:5px;

}