body {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    background-repeat: no-repeat;
}

.fixed {
    position: fixed;
}
/** 生成背景是网格的css */
.section {
    /** 生成背景是网格的css,移除就是纯色*/
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/common/back_52508be.png);
    background-repeat: repeat;
}

.head {
    left: 0;
    top: 0;
    width: 100%;
}

.head_inner {
    max-width: 1000px;
    margin: 0 auto;
}

.logo {
    display: block;
    width: 177px;
    height: 47px;
    background-image: url(/img/logo.png);
    background-image: -webkit-image-set(url(/img/logo.png) 1x,url(/img/logo.png) 2x);
    float: left;
    left: 10px;
    top: 35px;
    position: relative;
}

.btn {
    display: block;
    width: 110px;
    height: 34px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/common/btn_1x_115171c.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/common/btn_1x_115171c.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/common/btn_2x_78ce514.png) 2x);
    float: right;
    right: 10px;
    top: 41px;
    position: relative;
    display: none;
}

.head_link {
    float: right;
    right: 10px;
    top: 41px;
    position: relative;
    display: block;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/common/switch_1x_c73bf9a.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/common/switch_1x_c73bf9a.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/common/switch_2x_95375cf.png) 2x);
    margin-left: 10px;
}

.link_bdsuite {
    width: 108px;
    height: 32px;
    border: 1px solid #fff;
    border-radius: 3px;
    background-position: -3px -1px;
}

.link_appse {
    width: 110px;
    height: 34px;
    background-position: -116px 0;
}

.menu {
    display: table;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 44px 0 0;
}

.menu_inner {
    display: table-cell;
    vertical-align: middle;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    width: 14px;
    height: 14px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/common/select_1x_c10695c.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/common/select_1x_c10695c.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/common/select_2x_d246df8.png) 2x);
    background-position: 0 -28px;
    margin-top: 14px;
    margin-bottom: 14px;
    cursor: pointer;
}

.menu ul li.active {
    background-position: 0 0;
    cursor: default;
}

html {
    background-color: #277fcd;
}

.main_container {
    position: relative;
}

.text_container {
    position: relative;
    margin: 0 auto;
}

.transform-3d {
    -webkit-transform-style: preserve-3d!important;
    transform-style: preserve-3d!important;
}

.transform_left_bottom {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
}

.transform_center_bottom {
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.transform_left_top {
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

a {
    outline: 0;
}

html[data-status=status1_start] {
    background-color: #277fcd;
}

.section1 .text_container {
    width: 667px;
    height: 90px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section1_1x_ac548a7.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section1_1x_ac548a7.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section1_2x_34c32c7.png) 2x);
}

.section1 .ball {
    position: relative;
    width: 298px;
    height: 298px;
    margin: 0 auto 50px;
}

.section1 .ball_base {
    position: absolute;
    width: 295px;
    height: 295px;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    opacity: 0;
}

.section1 .ball_light {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 41px;
    top: 40px;
    background: rgba(255,255,255,.85);
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 1000px 150px #fff;
    box-shadow: 0 0 1000px 150px #fff;
    opacity: .8;
}

.section1 .ball_img {
    position: absolute;
    width: 361px;
    height: 361px;
    left: -31px;
    top: -35px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/ball_1x_9a3d5e0.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/ball_1x_9a3d5e0.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/ball_2x_1102dc1.png) 2x);
}

.section1 .num_help {
    position: absolute;
    width: 185px;
    height: 220px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/num_help_1x_eed4904.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/num_help_1x_eed4904.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/num_help_2x_bd9332e.png) 2x);
    left: 52px;
    top: 46px;
    opacity: 0;
}

.section1 .num_shadow {
    position: absolute;
    width: 178px;
    height: 221px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/num_shadow_1x_3fb813d.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/num_shadow_1x_3fb813d.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/num_shadow_2x_b065214.png) 2x);
    left: 69px;
    top: 64px;
    opacity: 0;
}

.section1 .five_1 {
    position: absolute;
    width: 0;
    height: 5px;
    left: 108px;
    top: 67px;
    background: rgba(255,255,255,.1);
}

.section1 .five_2 {
    position: absolute;
    width: 0;
    height: 5px;
    left: 108px;
    top: 67px;
    background: #fff;
}

.section1 .five_3 {
    position: absolute;
    width: 0;
    height: 4px;
    left: 112px;
    top: 68px;
    background: #fff;
    -webkit-transform: rotate(105deg);
    transform: rotate(105deg);
}

.section1 .five_4 {
    position: absolute;
    width: 147px;
    height: 147px;
    left: 73px;
    top: 100px;
    clip: rect(0,147px,147px,9px);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

.section1 .five_4 .five_inner {
    position: absolute;
    width: 147px;
    height: 147px;
    clip: rect(0,147px,75px,0);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.section1 .five_4 .five_num {
    position: absolute;
    width: 147px;
    height: 147px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/num_up_1x_44fc145.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/num_up_1x_44fc145.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/num_up_2x_3fdc882.png) 2x);
    background-position: 9px 0;
    -webkit-transform: rotate(-150deg);
    transform: rotate(-150deg);
}

.section1 .five_5 {
    position: absolute;
    width: 147px;
    height: 147px;
    left: 72px;
    top: 100px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.section1 .five_5 .five_inner {
    position: absolute;
    width: 147px;
    height: 147px;
    clip: rect(71px,147px,147px,0);
}

.section1 .five_5 .five_num {
    position: absolute;
    width: 147px;
    height: 147px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/num_down_1x_18384d2.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/num_down_1x_18384d2.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/num_down_2x_5474664.png) 2x);
    background-position: 10px 70px;
    -webkit-transform: rotate(-153deg);
    transform: rotate(-153deg);
}

@-webkit-keyframes section1_arrow {
    0% {
        margin-top: 0;
    }

    100% {
        margin-top: 10px;
    }
}

@keyframes section1_arrow {
    0% {
        margin-top: 0;
    }

    100% {
        margin-top: 10px;
    }
}

.section1 .bottom {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 30px;
}

.section1 .arrow {
    margin: 0 auto;
    width: 39px;
    height: 12px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/arrow_1x_412199d.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/arrow_1x_412199d.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/arrow_2x_f3f0f72.png) 2x);
    cursor: pointer;
    -webkit-animation: section1_arrow 1s ease-out 0s infinite alternate;
    animation: section1_arrow 1s ease-out 0s infinite alternate;
}

.section1 .btn_down {
    display: block;
    margin: 50px auto 0;
    width: 202px;
    height: 60px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/btn_1x_0ca4596.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/btn_1x_0ca4596.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/btn_2x_3eb0905.png) 2x);
    cursor: pointer;
}

.section1 .ball_base[data-status=status1_start] {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
}

.section1 .num_help[data-status=status1_start],.section1 .num_shadow[data-status=status1_start] {
    opacity: 1;
}

.section1 .five_1[data-status=status1_start] {
    width: 111px;
}

.section1 .five_2[data-status=status1_start] {
    width: 100px;
}

.section1 .five_3[data-status=status1_start] {
    width: 58px;
}

.section1 .five_4 .five_num[data-status=status1_start] {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.section1 .five_5 .five_num[data-status=status1_start] {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.section1 .ball_light[data-status=status1_start] {
    -webkit-box-shadow: 0 0 1000px 150px #fff;
    box-shadow: 0 0 1000px 150px #fff;
    opacity: .8;
}

html[data-status=status2_start] {
    background-color: #62a63c;
}

.section2 .text_container {
    width: 402px;
    height: 77px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section2_1x_75ef309.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section2_1x_75ef309.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section2_2x_cda36eb.png) 2x);
}

.section2 .bigbox {
    position: relative;
    margin: 0 auto 50px;
    width: 531px;
    height: 395px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section2/box_big_1x_49e1e31.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section2/box_big_1x_49e1e31.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section2/box_big_2x_ff863e9.png) 2x);
    opacity: 0;
}

.section2 .bigbox_right {
    position: absolute;
    height: 100%;
    width: 52px;
    right: -50px;
    top: 0;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section2/box_big_1x_49e1e31.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section2/box_big_1x_49e1e31.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section2/box_big_2x_ff863e9.png) 2x);
    background-position: top right;
    opacity: 0;
}

.section2 .bigbox_bottom {
    position: absolute;
    height: 36px;
    left: 0;
    bottom: -36px;
    width: 100%;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section2/box_big_1x_49e1e31.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section2/box_big_1x_49e1e31.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section2/box_big_2x_ff863e9.png) 2x);
    background-position: bottom left;
    opacity: 0;
}

.section2 .bigbox_deco {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 350px;
    top: 110px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section2/arrow_1x_f1f7524.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section2/arrow_1x_f1f7524.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section2/arrow_2x_ec120d1.png) 2x);
    opacity: 0;
}

.section2 .smallbox {
    position: absolute;
    right: -84px;
    bottom: -38px;
    width: 412px;
    height: 480px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section2/box_small_1x_c888f18.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section2/box_small_1x_c888f18.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section2/box_small_2x_0e81c36.png) 2x);
    z-index: 2;
    opacity: 0;
}

.section2 .scissors {
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section2/sc_1x_269732d.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section2/sc_1x_269732d.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section2/sc_2x_bbbc396.png) 2x);
    z-index: 4;
    opacity: 1;
}

.section2 .scissors.vi {
    left: -10px;
    top: 128px;
}

.section2 .scissors.ho {
    left: 370px;
    top: -10px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.section2 .scissors.vi_d {
    left: -10px;
    top: 128px;
    opacity: 0;
}

.section2 .scissors.ho_d {
    left: 370px;
    top: -10px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
}

.section2 .line_vi {
    position: absolute;
    left: 0;
    top: 136px;
    height: 1px;
    width: 0;
    border-bottom: 1px dashed #fff;
}

.section2 .line_ho {
    position: absolute;
    left: 380px;
    top: 0;
    height: 0;
    width: 1px;
    border-left: 1px dashed #fff;
}

.section2 .bigbox[data-status=status2_start],.section2 .scissors.vi_d[data-status=status2_start],.section2 .scissors.ho_d[data-status=status2_start],.section2 .smallbox[data-status=status2_start],.section2 .bigbox_right[data-status=status2_start],.section2 .bigbox_bottom[data-status=status2_start],.section2 .bigbox_deco[data-status=status2_start] {
    opacity: 1;
}

.section2 .scissors.vi[data-status=status2_start] {
    left: 500px;
    opacity: 0;
}

.section2 .scissors.ho[data-status=status2_start] {
    top: 400px;
    opacity: 0;
}

.section2 .line_vi[data-status=status2_start] {
    width: 540px;
}

.section2 .line_ho[data-status=status2_start] {
    height: 396px;
}

html[data-status=status3_start] {
    background-color: #277fcd;
}

.section3 {
    overflow: hidden;
}

.section3 .text_container {
    width: 423px;
    height: 77px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section3_1x_6dd4aa2.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section3_1x_6dd4aa2.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section3_2x_f987391.png) 2x);
}

.section3 .base {
    position: relative;
    margin: 150px auto 50px;
    width: 298px;
    height: 298px;
}

.section3 .back {
    position: absolute;
    width: 298px;
    height: 298px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section3/back_circle_1x_cff54b1.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section3/back_circle_1x_cff54b1.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section3/back_circle_2x_02a8cab.png) 2x);
    opacity: 0;
}

.section3 .back_line {
    position: absolute;
    width: 419px;
    height: 95px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section3/back_line_1x_232e914.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section3/back_line_1x_232e914.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section3/back_line_2x_0523d3f.png) 2x);
    left: 50%;
    margin-left: -210px;
    top: 100px;
    opacity: 0;
}

.section3 .light {
    position: absolute;
    width: 498px;
    height: 564px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section3/light_1x_8978ad2.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section3/light_1x_8978ad2.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section3/light_2x_22b5e87.png) 2x);
    opacity: 0;
    left: -155px;
    top: -150px;
}

.section3 .rocket {
    position: absolute;
    width: 146px;
    height: 189px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section3/rocket_1x_12d1c57.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section3/rocket_1x_12d1c57.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section3/rocket_2x_e5e7d60.png) 2x);
    left: 50%;
    margin-left: -73px;
    top: 200%;
    opacity: 0;
}

.section3 .rocket .line {
    position: absolute;
    top: -35px;
    left: -38px;
    width: 224px;
    height: 242px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section3/rocket_line_1x_8155252.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section3/rocket_line_1x_8155252.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section3/rocket_line_2x_c1686bd.png) 2x);
    opacity: 0;
}

@-webkit-keyframes section3_rotate_1 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes section3_rotate_2 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes section3_rotate_1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes section3_rotate_2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.section3 .dust_pic {
    position: absolute;
    width: 206px;
    height: 270px;
    left: 50%;
    margin-left: -103px;
    top: -4px;
    opacity: 0;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section3/dust_1x_fa0289a.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section3/dust_1x_fa0289a.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section3/dust_2x_1c3062b.png) 2x);
}

.section3 .rocket[data-status=status3_start] {
    top: -160px;
    opacity: 1;
}

.section3 .back[data-status=status3_start] {
    opacity: 1;
    -webkit-animation: section3_rotate_1 2s linear 0s infinite normal;
    animation: section3_rotate_1 2s linear 0s infinite normal;
}

.section3 .dust_pic[data-status=status3_start] {
    opacity: 1;
}

.section3 .line[data-status=status3_start] {
    opacity: 1;
}

.section3 .light[data-status=status3_start] {
    opacity: 1;
}

html[data-status=status4_start] {
    background-color: #5071d1;
}

.section4 .text_container {
    width: 496px;
    height: 77px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section4_1x_5dac4a0.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section4_1x_5dac4a0.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section4_2x_e11446c.png) 2x);
}

.section4 .pc {
    position: relative;
    margin: -120px auto 30px auto;
    width: 693px;
    height: 572px;
    left: -100%;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/pc_1x_6401978.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/pc_1x_6401978.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/pc_2x_92fd735.png) 2x);
    opacity: 0;
}

.section4 .mobile {
    position: absolute;
    width: 136px;
    height: 220px;
    bottom: -5px;
    right: -100%;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/mobile_1x_7a3d9c6.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/mobile_1x_7a3d9c6.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/mobile_2x_d136b5a.png) 2x);
    opacity: 0;
}

.section4 .border {
    position: absolute;
    width: 547px;
    height: 406px;
    left: 203px;
    top: 150px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/border_1x_2a0571b.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/border_1x_2a0571b.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/border_2x_5733ae2.png) 2x);
    opacity: 0;
}

.section4 .android {
    position: absolute;
    width: 53px;
    height: 62px;
    left: 42px;
    top: 60px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/android_1x_8b784e5.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/android_1x_8b784e5.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/android_2x_51c4804.png) 2x);
    opacity: 1;
}

.section4 .icon {
    position: absolute;
    opacity: 0;
    right: -40px;
    bottom: 0;
    zoom: 0;
}

.section4 .icon1 {
    width: 87px;
    height: 86px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/icon_1_1x_f124ae1.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/icon_1_1x_f124ae1.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/icon_1_2x_dcaa1be.png) 2x);
}

.section4 .icon2 {
    width: 78px;
    height: 78px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/icon_2_1x_1800b50.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/icon_2_1x_1800b50.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/icon_2_2x_c10202f.png) 2x);
}

.section4 .icon3 {
    width: 78px;
    height: 71px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/icon_3_1x_1316eaa.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/icon_3_1x_1316eaa.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/icon_3_2x_adb7b9b.png) 2x);
}

.section4 .icon4 {
    width: 78px;
    height: 78px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/icon_4_1x_4794c5f.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/icon_4_1x_4794c5f.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section4/icon_4_2x_4292866.png) 2x);
}

.section4 .pc[data-status=status4_start] {
    left: -100px;
    opacity: 1;
}

.section4 .mobile[data-status=status4_start] {
    opacity: 1;
    right: -64px;
}

@-webkit-keyframes section4_icon_1 {
    0% {
        opacity: 0;
        right: -40px;
        bottom: 0;
        zoom: 0;
    }

    42% {
        opacity: 0;
        right: -40px;
        bottom: 0;
        zoom: 0;
    }

    58% {
        opacity: 1;
        right: 250px;
        bottom: 250px;
        zoom: 1;
    }

    100% {
        opacity: 1;
        right: 250px;
        bottom: 250px;
        zoom: 1;
    }
}

@keyframes section4_icon_1 {
    0% {
        opacity: 0;
        right: -40px;
        bottom: 0;
        zoom: 0;
    }

    42% {
        opacity: 0;
        right: -40px;
        bottom: 0;
        zoom: 0;
    }

    58% {
        opacity: 1;
        right: 250px;
        bottom: 250px;
        zoom: 1;
    }

    100% {
        opacity: 1;
        right: 250px;
        bottom: 250px;
        zoom: 1;
    }
}

@-webkit-keyframes section4_icon_2 {
    0% {
        opacity: 0;
        right: -40px;
        bottom: 0;
        zoom: 0;
    }

    42% {
        opacity: 0;
        right: -40px;
        bottom: 0;
        zoom: 0;
    }

    58% {
        opacity: 1;
        right: 155px;
        bottom: 250px;
        zoom: 1;
    }

    100% {
        opacity: 1;
        right: 155px;
        bottom: 250px;
        zoom: 1;
    }
}

@keyframes section4_icon_2 {
    0% {
        opacity: 0;
        right: -40px;
        bottom: 0;
        zoom: 0;
    }

    42% {
        opacity: 0;
        right: -40px;
        bottom: 0;
        zoom: 0;
    }

    58% {
        opacity: 1;
        right: 155px;
        bottom: 250px;
        zoom: 1;
    }

    100% {
        opacity: 1;
        right: 155px;
        bottom: 250px;
        zoom: 1;
    }
}

@-webkit-keyframes section4_icon_3 {
    0% {
        opacity: 0;
        right: -40px;
        bottom: 0;
        zoom: 0;
    }

    42% {
        opacity: 0;
        right: -40px;
        bottom: 0;
        zoom: 0;
    }

    58% {
        opacity: 1;
        right: 250px;
        bottom: 150px;
        zoom: 1;
    }

    100% {
        opacity: 1;
        right: 250px;
        bottom: 150px;
        zoom: 1;
    }
}

@keyframes section4_icon_3 {
    0% {
        opacity: 0;
        right: -40px;
        bottom: 0;
        zoom: 0;
    }

    42% {
        opacity: 0;
        right: -40px;
        bottom: 0;
        zoom: 0;
    }

    58% {
        opacity: 1;
        right: 250px;
        bottom: 150px;
        zoom: 1;
    }

    100% {
        opacity: 1;
        right: 250px;
        bottom: 150px;
        zoom: 1;
    }
}

@-webkit-keyframes section4_icon_4 {
    0% {
        opacity: 0;
        right: -40px;
        bottom: 0;
        zoom: 0;
    }

    42% {
        opacity: 0;
        right: -40px;
        bottom: 0;
        zoom: 0;
    }

    58% {
        opacity: 1;
        right: 155px;
        bottom: 150px;
        zoom: 1;
    }

    100% {
        opacity: 1;
        right: 155px;
        bottom: 150px;
        zoom: 1;
    }
}

@keyframes section4_icon_4 {
    0% {
        opacity: 0;
        right: -40px;
        bottom: 0;
        zoom: 0;
    }

    42% {
        opacity: 0;
        right: -40px;
        bottom: 0;
        zoom: 0;
    }

    58% {
        opacity: 1;
        right: 155px;
        bottom: 150px;
        zoom: 1;
    }

    100% {
        opacity: 1;
        right: 155px;
        bottom: 150px;
        zoom: 1;
    }
}

@-webkit-keyframes section4_android {
    0% {
        opacity: 1;
    }

    42% {
        opacity: 1;
    }

    58% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes section4_android {
    0% {
        opacity: 1;
    }

    42% {
        opacity: 1;
    }

    58% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.section4 .icon1[data-status=status4_start] {
    -webkit-animation: section4_icon_1 2.5s ease-in-out .2s infinite alternate;
    animation: section4_icon_1 2.5s ease-in-out .2s infinite alternate;
}

.section4 .icon2[data-status=status4_start] {
    -webkit-animation: section4_icon_2 2.5s ease-in-out .6s infinite alternate;
    animation: section4_icon_2 2.5s ease-in-out .6s infinite alternate;
}

.section4 .icon3[data-status=status4_start] {
    -webkit-animation: section4_icon_3 2.5s ease-in-out .4s infinite alternate;
    animation: section4_icon_3 2.5s ease-in-out .4s infinite alternate;
}

.section4 .icon4[data-status=status4_start] {
    -webkit-animation: section4_icon_4 2.5s ease-in-out .8s infinite alternate;
    animation: section4_icon_4 2.5s ease-in-out .8s infinite alternate;
}

.section4 .android[data-status=status4_start] {
    -webkit-animation: section4_android 2.5s ease-in-out .2s infinite alternate;
    animation: section4_android 2.5s ease-in-out .2s infinite alternate;
}

.section4 .border[data-status=status4_start] {
    opacity: 1;
}

html[data-status=status5_start] {
    background-color: #6f66f2;
}

.section5 .text_container {
    width: 401px;
    height: 78px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section5_1x_3e5ee29.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section5_1x_3e5ee29.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section5_2x_bbc0588.png) 2x);
}

.section5 .wifi {
    width: 896px;
    height: 400px;
    position: absolute;
    left: 50%;
    margin-left: -455px;
    top: -110%;
    opacity: 0;
}

.section5 .wifi_continues,.section5 .wifi_uncontinues {
    position: absolute;
    width: 896px;
    height: 400px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/wifi_1x_75f8cfc.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/wifi_1x_75f8cfc.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/wifi_2x_6b1a1cf.png) 2x);
    background-repeat: no-repeat;
}

.section5 .wifi_continues {
    background-position: 0 0;
    opacity: 1;
}

.section5 .wifi_uncontinues {
    background-position: 0 -400px;
    opacity: 0;
}

.section5 .box {
    margin: 190px auto 0;
    width: 250px;
    height: 215px;
    position: relative;
}

.section5 .pc {
    position: absolute;
    left: 0;
    top: 0;
    width: 238px;
    height: 185px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/pc_1x_f6ec815.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/pc_1x_f6ec815.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/pc_2x_78bf230.png) 2x);
    background-repeat: no-repeat;
    opacity: 0;
}

.section5 .mobile {
    position: absolute;
    right: 0;
    top: 74px;
    width: 90px;
    height: 134px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/mobile_1x_d348675.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/mobile_1x_d348675.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/mobile_2x_e91fb52.png) 2x);
    background-repeat: no-repeat;
    opacity: 0;
}

.section5 .icon_box {
    position: absolute;
    width: 600px;
    height: 300px;
    left: 50%;
    margin-left: -308px;
    top: -125%;
}

.section5 .icon_box>div {
    position: absolute;
    background-repeat: no-repeat;
    opacity: 0;
    left: 236px;
    top: 310px;
    -webkit-box-shadow: 0 8px 20px rgba(0,0,0,.15);
    box-shadow: 0 8px 20px rgba(0,0,0,.15);
}

.section5 .icon1 {
    width: 89px;
    height: 89px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/icon_1_1x_b2f9042.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/icon_1_1x_b2f9042.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/icon_1_2x_4491a25.png) 2x);
    -webkit-border-radius: 45px;
    border-radius: 45px;
}

.section5 .icon2 {
    width: 84px;
    height: 84px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/icon_2_1x_7d3a26e.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/icon_2_1x_7d3a26e.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/icon_2_2x_f1b8567.png) 2x);
    -webkit-border-radius: 42px;
    border-radius: 42px;
}

.section5 .icon3 {
    width: 134px;
    height: 134px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/icon_3_1x_b358051.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/icon_3_1x_b358051.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/icon_3_2x_bff4a1d.png) 2x);
    -webkit-border-radius: 67px;
    border-radius: 67px;
}

.section5 .icon4 {
    width: 58px;
    height: 58px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/icon_4_1x_3f7e76d.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/icon_4_1x_3f7e76d.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section5/icon_4_2x_1d60de3.png) 2x);
    -webkit-border-radius: 29px;
    border-radius: 29px;
}

.section5 .pc[data-status=status5_start] {
    opacity: 1;
}

.section5 .mobile[data-status=status5_start] {
    opacity: 1;
}

.section5 .wifi[data-status=status5_start] {
    opacity: 1;
}

.section5 .wifi_continues[data-status=status5_start] {
    opacity: 0;
}

.section5 .wifi_uncontinues[data-status=status5_start] {
    opacity: 1;
}

.section5 .icon1[data-status=status5_start] {
    opacity: 1;
    left: 62px;
    top: 36px;
}

.section5 .icon2[data-status=status5_start] {
    opacity: 1;
    left: 225px;
    top: 96px;
}

.section5 .icon3[data-status=status5_start] {
    opacity: 1;
    left: 361px;
    top: -9px;
}

.section5 .icon4[data-status=status5_start] {
    opacity: 1;
    left: 393px;
    top: 239px;
}

@-webkit-keyframes section5_icon_float_1 {
    0% {
        -webkit-transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(5deg);
    }
}

@keyframes section5_icon_float_1 {
    0% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

@-webkit-keyframes section5_icon_float_2 {
    0% {
        -webkit-transform: rotate(-10deg);
    }

    100% {
        -webkit-transform: rotate(10deg);
    }
}

@keyframes section5_icon_float_2 {
    0% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

.section5 .icon1[data-status=status5_start] {
    -webkit-animation: section5_icon_float_1 1s ease-in-out .3s infinite alternate;
    animation: section5_icon_float_1 1s ease-in-out .3s infinite alternate;
}

.section5 .icon2[data-status=status5_start] {
    -webkit-animation: section5_icon_float_2 1s ease-in-out .4s infinite alternate;
    animation: section5_icon_float_2 1s ease-in-out .4s infinite alternate;
}

.section5 .icon3[data-status=status5_start] {
    -webkit-animation: section5_icon_float_1 1.5s ease-in-out .3s infinite alternate;
    animation: section5_icon_float_1 1.5s ease-in-out .3s infinite alternate;
}

.section5 .icon4[data-status=status5_start] {
    -webkit-animation: section5_icon_float_2 .5s ease-in-out .4s infinite alternate;
    animation: section5_icon_float_2 .5s ease-in-out .4s infinite alternate;
}

html[data-status=status6_start] {
    background-color: #277fcd;
}

.section6 .text_container {
    width: 304px;
    height: 77px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section6_1x_9443023.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section6_1x_9443023.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section6_2x_a1c2904.png) 2x);
}

.section6 .title {
    margin-top: -60px;
}

.section6 .box {
    position: relative;
    margin: 0 auto;
    width: 241px;
    height: 211px;
    margin-top: 190px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/box_1x_8fe7c5c.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/box_1x_8fe7c5c.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/box_2x_d5b41db.png) 2x);
    opacity: 0;
}

.section6 .base_container {
    position: absolute;
    left: 50%;
    top: -140%;
    width: 400px;
    height: 350px;
    margin-left: -200px;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-perspective-origin: 50% 70%;
    perspective-origin: 50% 70%;
}

.section6 .base {
    width: 400px;
    height: 350px;
    -webkit-transform: translateZ(-250px);
    transform: translateZ(-250px);
}

.section6 .base_inner {
    opacity: 0;
}

.section6 .object {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 170px;
    top: 170px;
}

.section6 .object div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.section6 .object1 {
    -webkit-transform: rotateY(0deg) translateY(150px) translateZ(0px);
    transform: rotateY(0deg) translateY(150px) translateZ(0px);
}

.section6 .object1 div {
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_1_1x_a31e66f.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_1_1x_a31e66f.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_1_2x_ae98b89.png) 2x);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.section6 .object2 {
    -webkit-transform: rotateY(30deg) translateY(150px) translateZ(0px);
    transform: rotateY(30deg) translateY(150px) translateZ(0px);
}

.section6 .object2 div {
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_2_1x_3a6ce26.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_2_1x_3a6ce26.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_2_2x_4c4eef4.png) 2x);
    -webkit-transform: rotateY(-17deg);
    transform: rotateY(-17deg);
}

.section6 .object3 {
    -webkit-transform: rotateY(60deg) translateY(150px) translateZ(0px);
    transform: rotateY(60deg) translateY(150px) translateZ(0px);
}

.section6 .object3 div {
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_3_1x_c45e192.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_3_1x_c45e192.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_3_2x_4cb58d0.png) 2x);
    -webkit-transform: rotateY(-28deg);
    transform: rotateY(-28deg);
}

.section6 .object4 {
    -webkit-transform: rotateY(90deg) translateY(150px) translateZ(0px);
    transform: rotateY(90deg) translateY(150px) translateZ(0px);
}

.section6 .object4 div {
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_4_1x_5eb847e.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_4_1x_5eb847e.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_4_2x_a351d9c.png) 2x);
    -webkit-transform: rotateY(-40deg);
    transform: rotateY(-40deg);
}

.section6 .object5 {
    -webkit-transform: rotateY(120deg) translateY(150px) translateZ(0px);
    transform: rotateY(120deg) translateY(150px) translateZ(0px);
}

.section6 .object5 div {
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_5_1x_938d385.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_5_1x_938d385.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_5_2x_80947a3.png) 2x);
    -webkit-transform: rotateY(-52deg);
    transform: rotateY(-52deg);
}

.section6 .object6 {
    -webkit-transform: rotateY(150deg) translateY(150px) translateZ(0px);
    transform: rotateY(150deg) translateY(150px) translateZ(0px);
}

.section6 .object6 div {
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_6_1x_24f494a.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_6_1x_24f494a.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_6_2x_963ffaf.png) 2x);
    -webkit-transform: rotateY(-122deg);
    transform: rotateY(-122deg);
}

.section6 .object7 {
    -webkit-transform: rotateY(180deg) translateY(150px) translateZ(0px);
    transform: rotateY(180deg) translateY(150px) translateZ(0px);
}

.section6 .object7 div {
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_7_1x_7657d0e.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_7_1x_7657d0e.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_7_2x_5574f10.png) 2x);
    -webkit-transform: rotateY(-94deg);
    transform: rotateY(-94deg);
}

.section6 .object8 {
    -webkit-transform: rotateY(210deg) translateY(150px) translateZ(0px);
    transform: rotateY(210deg) translateY(150px) translateZ(0px);
}

.section6 .object8 div {
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_8_1x_e3f444c.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_8_1x_e3f444c.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_8_2x_73db53d.png) 2x);
    -webkit-transform: rotateY(100deg);
    transform: rotateY(100deg);
}

.section6 .object9 {
    -webkit-transform: rotateY(240deg) translateY(150px) translateZ(0px);
    transform: rotateY(240deg) translateY(150px) translateZ(0px);
}

.section6 .object9 div {
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_9_1x_29b8cfa.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_9_1x_29b8cfa.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_9_2x_e9a3548.png) 2x);
    -webkit-transform: rotateY(94deg);
    transform: rotateY(94deg);
}

.section6 .object10 {
    -webkit-transform: rotateY(270deg) translateY(150px) translateZ(0px);
    transform: rotateY(270deg) translateY(150px) translateZ(0px);
}

.section6 .object10 div {
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_10_1x_6d94821.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_10_1x_6d94821.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_10_2x_71e60d7.png) 2x);
    -webkit-transform: rotateY(53deg);
    transform: rotateY(53deg);
}

.section6 .object11 {
    -webkit-transform: rotateY(300deg) translateY(150px) translateZ(0px);
    transform: rotateY(300deg) translateY(150px) translateZ(0px);
}

.section6 .object11 div {
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_11_1x_d3cd3b2.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_11_1x_d3cd3b2.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_11_2x_9c6dcba.png) 2x);
    -webkit-transform: rotateY(30deg);
    transform: rotateY(30deg);
}

.section6 .object12 {
    -webkit-transform: rotateY(330deg) translateY(150px) translateZ(0px);
    transform: rotateY(330deg) translateY(150px) translateZ(0px);
}

.section6 .object12 div {
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_12_1x_6a22b3b.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_12_1x_6a22b3b.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section6/icon_12_2x_0da0b94.png) 2x);
    -webkit-transform: rotateY(25deg);
    transform: rotateY(25deg);
}

.section6 .light {
    position: absolute;
    width: 900px;
    height: 450px;
    left: 50%;
    margin-left: -450px;
    top: -195%;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-perspective-origin: 50% 70%;
    perspective-origin: 50% 70%;
}

.section6 .light_inner {
    position: absolute;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    height: 100%;
}

.section6 .light_inner div {
    background: -webkit-gradient(linear,0 100%,0 0,from(rgba(255,255,255,.1)),to(rgba(255,255,255,0)));
    background: -moz-linear-gradient(bottom,rgba(255,255,255,.1),rgba(255,255,255,0));
    background: -o-linear-gradient(bottom,rgba(255,255,255,.1),rgba(255,255,255,0));
    background: linear-gradient(bottom,rgba(255,255,255,.1),rgba(255,255,255,0));
    width: 180px;
    height: 100%;
    position: absolute;
    -webkit-transform: skew(0deg) rotateX(30deg);
    transform: skew(0deg) rotateX(30deg);
    opacity: 0;
}

.section6 .light_inner div[data-status=status6_start] {
    opacity: 1;
    background: -webkit-gradient(linear,0 100%,0 20%,from(rgba(255,255,255,.1)),to(rgba(255,255,255,0)));
    background: -moz-linear-gradient(bottom,rgba(255,255,255,.1),rgba(255,255,255,0) 80%);
    background: -o-linear-gradient(bottom,rgba(255,255,255,.1),rgba(255,255,255,0) 80%);
    background: linear-gradient(bottom,rgba(255,255,255,.1),rgba(255,255,255,0) 80%);
}

.section6 .light_m[data-status=status6_start] {
    -webkit-transform: skew(0deg) rotateX(30deg)!important;
    transform: skew(0deg) rotateX(30deg)!important;
    background: -webkit-gradient(linear,0 100%,0 10%,from(rgba(255,255,255,.15)),to(rgba(255,255,255,0)))!important;
    background: -moz-linear-gradient(bottom,rgba(255,255,255,.15),rgba(255,255,255,0) 90%)!important;
    background: -o-linear-gradient(bottom,rgba(255,255,255,.15),rgba(255,255,255,0) 90%)!important;
    background: linear-gradient(bottom,rgba(255,255,255,.15),rgba(255,255,255,0) 90%)!important;
}

.section6 .light_l1[data-status=status6_start] {
    -webkit-transform: skew(50deg) rotateX(30deg)!important;
    transform: skew(50deg) rotateX(30deg)!important;
}

.section6 .light_l2[data-status=status6_start] {
    -webkit-transform: skew(35deg) rotateX(30deg)!important;
    transform: skew(35deg) rotateX(30deg)!important;
}

.section6 .light_l3[data-status=status6_start] {
    -webkit-transform: skew(20deg) rotateX(30deg)!important;
    transform: skew(20deg) rotateX(30deg)!important;
}

.section6 .light_r1[data-status=status6_start] {
    -webkit-transform: skew(-50deg) rotateX(30deg)!important;
    transform: skew(-50deg) rotateX(30deg)!important;
}

.section6 .light_r2[data-status=status6_start] {
    -webkit-transform: skew(-35deg) rotateX(30deg)!important;
    transform: skew(-35deg) rotateX(30deg)!important;
}

.section6 .light_r3[data-status=status6_start] {
    -webkit-transform: skew(-20deg) rotateX(30deg)!important;
    transform: skew(-20deg) rotateX(30deg)!important;
}

@-webkit-keyframes section6_base_inner_frame {
    0% {
        -webkit-transform: rotateY(-3deg);
    }

    100% {
        -webkit-transform: rotateY(3deg);
    }
}

@keyframes section6_base_inner_frame {
    0% {
        transform: rotateY(-3deg);
    }

    100% {
        transform: rotateY(3deg);
    }
}

.section6 .base_inner_frame[data-status=status6_start] {
    -webkit-animation: section6_base_inner_frame 2s ease-in-out .5s infinite alternate;
    animation: section6_base_inner_frame 2s ease-in-out .5s infinite alternate;
}

.section6 .base_inner[data-status=status6_start] {
    -webkit-transform: rotateY(720deg);
    transform: rotateY(720deg);
    opacity: 1;
}

.section6 .box[data-status=status6_start] {
    opacity: 1;
}

.section6 .object1[data-status=status6_start] {
    -webkit-transform: rotateY(0deg) translateY(-100px) translateZ(250px);
    transform: rotateY(0deg) translateY(-100px) translateZ(250px);
}

.section6 .object2[data-status=status6_start] {
    -webkit-transform: rotateY(15deg) translateY(10px) translateZ(200px);
    transform: rotateY(15deg) translateY(10px) translateZ(200px);
}

.section6 .object3[data-status=status6_start] {
    -webkit-transform: rotateY(24deg) translateY(112px) translateZ(200px);
    transform: rotateY(24deg) translateY(112px) translateZ(200px);
}

.section6 .object4[data-status=status6_start] {
    -webkit-transform: rotateY(32deg) translateY(-45px) translateZ(222px);
    transform: rotateY(32deg) translateY(-45px) translateZ(222px);
}

.section6 .object5[data-status=status6_start] {
    -webkit-transform: rotateY(51deg) translateY(-100px) translateZ(250px);
    transform: rotateY(51deg) translateY(-100px) translateZ(250px);
}

.section6 .object6[data-status=status6_start] {
    -webkit-transform: rotateY(114deg) translateY(0px) translateZ(250px);
    transform: rotateY(114deg) translateY(0px) translateZ(250px);
}

.section6 .object7[data-status=status6_start] {
    -webkit-transform: rotateY(93deg) translateY(-215px) translateZ(100px);
    transform: rotateY(93deg) translateY(-215px) translateZ(100px);
}

.section6 .object8[data-status=status6_start] {
    -webkit-transform: rotateY(262deg) translateY(-64px) translateZ(100px);
    transform: rotateY(262deg) translateY(-64px) translateZ(100px);
}

.section6 .object9[data-status=status6_start] {
    -webkit-transform: rotateY(260deg) translateZ(250px);
    transform: rotateY(260deg) translateZ(250px);
}

.section6 .object10[data-status=status6_start] {
    -webkit-transform: rotateY(311deg) translateY(-65px) translateZ(250px);
    transform: rotateY(311deg) translateY(-65px) translateZ(250px);
}

.section6 .object11[data-status=status6_start] {
    -webkit-transform: rotateY(332deg) translateY(-124px) translateZ(250px);
    transform: rotateY(332deg) translateY(-124px) translateZ(250px);
}

.section6 .object12[data-status=status6_start] {
    -webkit-transform: rotateY(340deg) translateY(60px) translateZ(200px);
    transform: rotateY(340deg) translateY(60px) translateZ(200px);
}

html[data-status=status7_start] {
    background-color: #64a73e;
}

.section7 .text_container {
    width: 304px;
    height: 77px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section7_1x_6c83d2e.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section7_1x_6c83d2e.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/text/section7_2x_e488a3e.png) 2x);
}

.section7 .icon_container {
    position: relative;
    width: 720px;
    height: 330px;
    margin: 0 auto;
}

.section7 .icon {
    position: absolute;
}

.section7 .icon1 {
    width: 300px;
    height: 316px;
    left: 50%;
    margin-left: -150px;
    top: -100px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section7/icon_1_1x_3062957.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section7/icon_1_1x_3062957.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section7/icon_1_2x_b54432a.png) 2x);
    background-repeat: no-repeat;
    top: -200px;
    opacity: 0;
    z-index: 3;
}

.section7 .icon2 {
    width: 137px;
    height: 142px;
    top: 98px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section7/icon_2_1x_384e243.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section7/icon_2_1x_384e243.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section7/icon_2_2x_dcd1c9d.png) 2x);
    background-repeat: no-repeat;
    left: -100%;
    margin-left: -380px;
    opacity: 0;
    z-index: 1;
}

.section7 .icon3 {
    width: 213px;
    height: 238px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section7/icon_3_1x_aa7d8ef.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section7/icon_3_1x_aa7d8ef.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section7/icon_3_2x_2bc9683.png) 2x);
    background-repeat: no-repeat;
    left: -100%;
    top: 48px;
    margin-left: -296px;
    opacity: 0;
    z-index: 2;
}

.section7 .icon4 {
    width: 213px;
    height: 222px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section7/icon_4_1x_4c31e7a.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section7/icon_4_1x_4c31e7a.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section7/icon_4_2x_a90234b.png) 2x);
    background-repeat: no-repeat;
    left: 120%;
    top: 55px;
    margin-left: 81px;
    opacity: 0;
    z-index: 2;
}

.section7 .icon5 {
    width: 137px;
    height: 152px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section7/icon_5_1x_65bff58.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section7/icon_5_1x_65bff58.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section7/icon_5_2x_c7687f5.png) 2x);
    background-repeat: no-repeat;
    left: 120%;
    top: 91px;
    margin-left: 241px;
    opacity: 0;
    z-index: 1;
}

.section7 .btn_down {
    display: block;
    margin: 50px auto 0;
    width: 202px;
    height: 60px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/btn_1x_0ca4596.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/btn_1x_0ca4596.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/btn_2x_3eb0905.png) 2x);
    cursor: pointer;
    opacity: 0;
}

.section7 .bottom {
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 30px;
}

.section7 .arrow {
    margin: 0 auto;
    width: 39px;
    height: 12px;
    background-image: url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/arrow_1x_412199d.png);
    background-image: -webkit-image-set(url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/arrow_1x_412199d.png) 1x,url(http://appsearchcdn.baidu.com/statics/mobres/staticpage/bdsuite/5.0/img/section1/arrow_2x_f3f0f72.png) 2x);
    cursor: pointer;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation: section1_arrow 1s ease-out 0s infinite alternate;
    animation: section1_arrow 1s ease-out 0s infinite alternate;
}

.section7 .btn_down[data-status=status7_start] {
    opacity: 1;
}

.section7 .icon1[data-status=status7_start] {
    top: 0;
    opacity: 1;
}

.section7 .icon2[data-status=status7_start] {
    left: 50%;
    opacity: 1;
}

.section7 .icon3[data-status=status7_start] {
    left: 50%;
    opacity: 1;
}

.section7 .icon4[data-status=status7_start] {
    left: 50%;
    opacity: 1;
}

.section7 .icon5[data-status=status7_start] {
    left: 50%;
    opacity: 1;
}
