{{include file="common/header_common.phtml"}}

<script>
    var canWrite=function(){
        return config.user.level==1;
    }
    var tbStyle="{{$data.tbStyle}}";
    var menus=[];
    var styleMeta={{$data.styleMeta}};

    var capScreenTemp='<div class="modal fade"> <div class="modal-dialog"> <div class="modal-content"> ' +
        '<div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><%if(!!download){%><a href="" target="_blank" class="external" style="float:right;margin-right:0.8em;margin-top:2px">' +
        '<span class="fa fa-external-link"></span></a><%} else {%>' +
        '<a class="cap-download" style="float:right;margin-right:0.8em;margin-top:2px" href="#" download=""><span class="fa fa-download"></span></a><%}%><h4 class="modal-title"><%=note%></h4>' +
        ' </div> <div class="modal-body preview-img" style="overflow: auto"><img src="<%=src%>"></div> <div class="modal-footer"> </div> </div></div></div>';
    var colCnt={{$data.colCnt}};
    var defUuid="{{$data.defUuid}}";
    var tbNameTxt="{{$data.tbNameTxt}}";
    var tbName="{{$data.orgTbName}}";
    var tbModel="{{$data.tbName}}";
    var tbOpCbs={};

    var opMenus={{$data.opMenus}};
    var batchOpMenus={{$data.batchOpMenus}};
    var opActionJson={{$data.opActionJson}};
    var queryData={{$data.queryData}};
    var ajaxMedia={};
    var prefix="{{$data.tbName}}_";
    var primaryKey="{{$data.primaryKey}}";
    var jsonCols={{$data.jsonCols}};

    var jsonActions={{if $data.actions}}{{$data.actions}}{{else}}''{{/if}};
    var fileTemp='<div id="fileshare-form"><div class="fileinput-button icon-pic-align" style="display: inline-block" title="click  and select file to upload"> ' +
        '<span class="fa fa-plus fa-5x" style="margin: 50px 100px;"></span> <input class="fileupload" type="file" name="sharefile" multiple="" data-original-title="" title=""> </div>' +
        '<div style="margin:0px 0px 50px 0px;font-weight: bold;font-size: 1.1em;" id="drag-drop-file">{{$lang.dnd_upload}}</div>' +
        '<div>{{$lang.upload_files}}:<span id="upload-files" style="font-size: 1.5em;font-weight: bold"></span></div>' +
        '<div id="upload-status">{{$lang.upload_status}}:<span class="indicator"></span>' +
        '<div class="progress progress-striped active"> <div class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">' +
        ' <span class="sr-only complete">0% {{$lang.complete}}</span> </div> </div></div></div>';
</script>
</head>
<body class="{{$site.theme}}">
{{include file="common/top_header.phtml"}}

<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    {{include file="common/left_aside.phtml"}}

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side item-gallery">
        <!-- Content Header (Page header) -->
        {{include file="common/common_nav.phtml"}}
        <nav class="navbar navbar-default" role="navigation">
            <div class="container"  style="width:100%">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dropdown-thumbnail-preview">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    {{if ($smarty.session.user.rights.t[$tableName].rights & 2) || !$smarty.session.user.rights.t[$tableName].rights}}
                    <a class="navbar-brand batch-op" href="#" id="add-row" data="{{$data.tbName}}"><i class="glyphicon glyphicon-plus"></i>{{$lang.add}}</a>
                    {{/if}}

                    {{foreach name=opMenusName item=opItem key=key from=$data.batchOpMenus}}

                    <a class="navbar-brand batch-op" href="#" data-action-type="{{$key}}">
                        {{if stripos($opItem.cfg.icon_url," ")!==false}}
                        <i class="{{$opItem.cfg.icon_url}}"></i>

                        {{else}}
                        <img src="{{$opItem.cfg.icon_url}}" alt="" class="batch-op-icon"/>
                        {{/if}}
                        {{$opItem.cfg.name}}
                    </a>
                    {{/foreach}}




                </div>

                <div class="collapse navbar-collapse js-navbar-collapse" id="{{$data.tbName}}_export">

                    <div class="collapse navbar-collapse js-navbar-collapse" id="{{$data.tbName}}_import">

                        <ul class="nav navbar-nav navbar-right filterable">
                            <!-- search From
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{$lang.search_from}}<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#"><label><input type="radio" value="0" checked="checked" name="searchFrom"><span>{{$lang.local_search}}</span></label></a></li>
                                    <li><a href="#"><label><input type="radio" value="1" name="searchFrom"><span>
                                                    {{$lang.network_search}}
                                    </span></label></a></li>

                                </ul>

                            </li>
                            -->

                            <!--
                            <li><a href="" class="each-filter" data="{{$data.tbName}}"><i class="glyphicon glyphicon-filter icon-th btn-filter"></i> {{$lang.filter}}</a></li>
                                -->



                        </ul>



                        <form class="navbar-form navbar-right" role="search">
                            <div class="input-group">
                                <input type="text" id="{{$data.tbName}}_search_keyword" data-tb="tb_{{$data.tbName}}" class="form-control search_keyword" placeholder="{{$lang.search}}">
                                <input type="hidden" id="{{$data.tbName}}_keyword" data-tb="tb_{{$data.tbName}}" class="form-control keyword">
                                <span class="input-group-addon search-btn" data-tb="tb_{{$data.tbName}}">{{$lang.search}}</span>
                            </div>

                        </form>

                    </div><!-- /.navbar-collapse -->

                </div><!-- /.container-fluid -->
        </nav>
        <div>
<!-- img credits: http://www.albumart.org -->

<ul  class="ztb" data="" id="tb_{{$data.tbName}}">
    {{foreach  from=$data.records item=val key=key name=record}}

    <li id="r_{{$val[$data.primaryKey]}}">
        <a  onclick="javascript:void(0);"  class="data-cover" data-child="{{$val._id}}">
            {{if $val.pic_thumb100}}
            <img src="{{$data.media_dir}}{{$val.pic_thumb100}}" />
            {{if $data.en3dView}}
            <img src="{{$data.media_dir}}{{$val.pic_thumb100}}" />
            <img src="{{$data.media_dir}}{{$val.pic_thumb100}}" />
            <img src="{{$data.media_dir}}{{$val.pic_thumb100}}" />
            <img src="{{$data.media_dir}}{{$val.pic_thumb100}}" />
            <img src="{{$data.media_dir}}{{$val.pic_thumb100}}" />
            {{/if}}
            {{elseif $val[$data.styleMeta.pic_url]}}
            {{if $data.en3dView}}
            <img src="{{$data.media_dir}}{{$val[$data.styleMeta.pic_thumb100]}}">
            <img src="{{$data.media_dir}}{{$val[$data.styleMeta.pic_thumb100]}}">
            <img src="{{$data.media_dir}}{{$val[$data.styleMeta.pic_thumb100]}}">
            <img src="{{$data.media_dir}}{{$val[$data.styleMeta.pic_thumb100]}}">
            <img src="{{$data.media_dir}}{{$val[$data.styleMeta.pic_thumb100]}}">
            {{/if}}
            <img src="{{$data.media_dir}}{{$val[$data.styleMeta.pic_thumb100]}}">
            {{else}}
            {{if $data.en3dView}}
            <img src="/img/unknown_cover.png">
            <img src="/img/unknown_cover.png">
            <img src="/img/unknown_cover.png">
            <img src="/img/unknown_cover.png">
            <img src="/img/unknown_cover.png">
            {{/if}}
            <img src="/img/unknown_cover.png">
            {{/if}}
        </a>
        <h5 class="search_item_txt">{{$val.title}}</h5>
        <ul class="nav navbar-nav op-menu operation" data="r_{{$val._id}}" data-table="{{$data.tbName}}">
                <li>
                    <a href="#" class="opt-edit" data-id="{{$val._id}}">
                        <i class="fa fa-edit fa-15x"></i>
                    </a>
                </li>
                <li>
                    <a href="#" data="{{$data.tbName}}" class="opt-times" data-id="{{$val._id}}">
                        <i class="fa fa-times fa-15x"></i>
                    </a>
                </li>

            </ul>
    </li>
    {{/foreach}}

</ul><!-- end albums -->
</aside>
</div>

{{include file="common/footer.phtml"}}
</body>
</html>