<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
</head>

<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height:400px"></div>







{{include file="admin/common/footer.phtml"}}
<!-- jQuery 2.0.2 -->
<!-- jQuery UI 1.10.3 -->



</body></html>