{{include file="common/header_editor.phtml"}}
</head>

<body>
<div class="container" id="page-editor">

<nav class="navbar navbar-default navbar-static" style="display: none" id="top_toolbar">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
    </div>


    <div class="collapse navbar-collapse js-navbar-collapse" id="prev-toolbar">
        <ul class="nav navbar-nav">
            <li class="dropdown dropdown-large" id="page-edit">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-list fa-2x"></i></a>
            </li>

            <li class="dropdown dropdown-large" id="page-download">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-download fa-2x"></i></a>
            </li>
            <li class="dropdown dropdown-large" id="page-remove">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-trash-o fa-2x"></i></a>
            </li>



        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li style="display: none" id="pre-input"><a href="javascript:" class="nav-input">
                    <input type="text" name="prev_width" id="prev_width"/>
                    X
                    <input type="text" name="prev_height" id="prev_height"/>
                    <button class="btn btn-primary" style="padding-top:3px;padding-bottom:3px" id="rotate-btn">Rotate</button></a>
            </li>
            <li style="display: none" class="dropdown dropdown-large" id="external-preview">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-external-link fa-15x"></i></a>
            </li>
            <li class="dropdown dropdown-large" id="prev-li">
                <a href="#" class="dropdown-toggle bootstro bootstro-highlight" data-bootstro-title="{{$lang.prev_page}}" data-bootstro-content="{{$lang.prev_page_content}}" data-bootstro-width="200px" data-bootstro-placement="bottom" data-bootstro-step="4" data-toggle="dropdown"><i class="fa fa-eye fa-2x"></i></a>


            </li>
            <li class="dropdown dropdown-large" id="page-save">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-save fa-2x"></i></a>
            </li>
        </ul>

    </div><!-- /.nav-collapse -->
</nav>

<div id="rootwizard">
<ul>
    <li><a href="#ztab1" data-toggle="tab"><span class="label">1</span>{{$lang.choose_temp}}</a></li>
    <li><a href="#ztab2" data-toggle="tab"><span class="label">2</span>{{$lang.site_info}}</a></li>
    <li><a href="#ztab3" data-toggle="tab"><span class="label">3</span>{{$lang.start_edit}}</a></li>

</ul>
<div class="tab-content" style="margin-top: 7px">

<div class="tab-pane panel panel-default" id="ztab1" style="border-top:0px">


<div id="create-div" class="tabbable tabs-left row" style="height:100%">

    <div class="col-md-3" style="height:100%" id="left-temp">
        <div class="panel panel-default" style="height:100%"><div class="panel-heading">{{$lang.temp_cat}}</div>
            <div class="panel-body"  style="height:100%">


                <ul class="nav nav-pills nav-stacked display-type" style="height:100%" id="right-temp">

                    <a  class="btn btn-primary btn-lg" href="#all" aria-controls="profile" role="tab" data-toggle="tab">{{$lang.all}} </a>

                    {{foreach name=catName item=catItem key=key from=$tempCats}}


                    <a  class="btn btn-default btn-lg cat-name z-btn-link" href="#t_{{$catItem._name}}" aria-controls="t_{{$catItem._name}}" role="tab" data-toggle="tab">{{$catItem.name}} </a>


                    {{/foreach}}



                </ul>
            </div></div>
    </div>
    <div class="col-md-9">

        <div class="tab-content">

            <div class="tab-pane active" id="tabsleft-tab1">
                <div class="input-group search-bar">
                    <input type="text" class="form-control search_temp" name="search_temp">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                </div>
                <div class="row temp-list">



                    <div class="site-temp tab-content">
                        {{foreach name=catName item=catItem key=key from=$tempCats}}
                        {{if $smarty.foreach.catName.index==0}}
                        <div role="tabpanel" class="tab-pane active" id="t_{{$catItem._name}}">
                            {{else}}
                            <div role="tabpanel" class="tab-pane" id="t_{{$catItem._name}}">
                                {{/if}}
                                <div>
                                    {{foreach name=tempName item=temp key=tempKey from=$temps[$catItem._name]}}
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <div id="site-{{$temp._id}}" class="carousel slide search_item" data-ride="carousel">
                                            <!-- Indicators -->
                                            <ol class="carousel-indicators">
                                                {{foreach name=subCatName item=subItem key=subKey from=$temp.pages}}
                                                {{if $smarty.foreach.subCatName.index==0}}
                                                <li data-target="#site-1" data-slide-to="{{$smarty.foreach.subCatName.index}}" class="active"></li>
                                                {{else}}
                                                <li data-target="#site-1" data-slide-to="{{$smarty.foreach.subCatName.index}}"></li>
                                                {{/if}}


                                                {{/foreach}}

                                            </ol>

                                            <!-- Wrapper for slides -->
                                            <div class="carousel-inner">
                                                {{foreach name=subCatName item=subItem key=subKey from=$temp.pages}}
                                                {{if $smarty.foreach.subCatName.index==0}}
                                                <div class="item active">
                                                    <img src="{{$subItem.pic_url}}" alt="...">
                                                    <div class="carousel-caption">
                                                        <h3>{{$subItem.name}}</h3>
                                                    </div>
                                                </div>
                                                {{else}}
                                                <div class="item">
                                                    <img src="{{$subItem.pic_url}}" alt="...">
                                                    <div class="carousel-caption">
                                                        <h3 class="search_txt">{{$subItem.name}}</h3>
                                                    </div>
                                                </div>
                                                {{/if}}


                                                {{/foreach}}

                                            </div>

                                            <!-- Controls -->
                                            <a class="left carousel-control" href="#site-{{$temp._id}}" role="button" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>
                                            <a class="right carousel-control" href="#site-{{$temp._id}}" role="button" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <h3  class="search-item temp-title">{{$temp.name}}</h3>
                                            <p class="temp-desc">{{$temp.desc}}</p>
                                            <p><a href="#" data-temp-name="{{$catItem._name}}" data-ui="{{$temp.ui}}" class="btn btn-default choose-btn" role="button" data="site-{{$temp._id}}">{{$lang.choose}}</a> </p>
                                        </div>
                                    </div>


                                    {{/foreach}}
                                </div>

                            </div>

                            {{/foreach}}
                        </div>












                    </div>

                </div>





            </div></div>
    </div>
</div>
<div class="tab-pane" id="ztab2">
    <h4 class="page-header">{{$lang.set_site_info}}</h4>

    <form role="form" class="avatar-form" method="post" action="/media/upload">


        <div class="form-group required">
            <!--        <div class="dropzone" data-width="64" data-height="64" data-resize="true" data-url="/media/upload.php" style="width: 100%;">-->
            <!--            <input type="file" name="thumb" />-->
            <!--        </div>-->
            <input class="avatar-src" name="avatar_src" type="hidden">
            <input class="avatar-data" name="avatar_data" type="hidden">
            <label  class="control-label">{{$lang.site_logo}}</label>
            <div class="media avatar-logo">
                <div class="media-left">
                    <div class="fileUpload btn btn-primary">

                        <span class="glyphicon glyphicon-upload" style="font-size: 3em"></span>
                        <input type="file" class="upload avatar-input" id="avatarInput" name="file"/>
                    </div>



                </div>
                <div class="media-right">

                    <div class="avatar-view">
                        <img  alt="" width="64" height="64"/>
                    </div>


                </div>
                <div class="media-body">
                    <h4 class="media-heading">尺寸:最小90 x 90像素</h4>

                    大小:限300k<br>
                    格式:png或jpg或gif

                </div>

            </div>
        </div>
        <div class="fade avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="avatar-wrapper"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="avatar-preview preview-lg"></div>
                            <div class="avatar-preview preview-md"></div>
                            <div class="avatar-preview preview-sm"></div>
                        </div>
                    </div>

                    <div class="row avatar-btns">
                        <div class="col-md-9">
                            <div class="btn-group">
                                <button class="btn btn-primary" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees">Rotate Left</button>
                                <button class="btn btn-primary" data-method="rotate" data-option="-15" type="button">-15deg</button>
                                <button class="btn btn-primary" data-method="rotate" data-option="-30" type="button">-30deg</button>
                                <button class="btn btn-primary" data-method="rotate" data-option="-45" type="button">-45deg</button>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-primary" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees">Rotate Right</button>
                                <button class="btn btn-primary" data-method="rotate" data-option="15" type="button">15deg</button>
                                <button class="btn btn-primary" data-method="rotate" data-option="30" type="button">30deg</button>
                                <button class="btn btn-primary" data-method="rotate" data-option="45" type="button">45deg</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary btn-block avatar-save" type="submit">完成</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </form>

    <form role="form" class="ajax-form" action="/admin/site/add" method="post" id="pageinfo-form">
        <div class="return-error"></div>
        <div class="return-suc"></div>
        <div class="form-group required">
            <label for="title" class="control-label">{{$lang.site_name}}</label>
            <input type="text" class="form-control required" style="width:85%" name="title" id="title" placeholder="{{$lang.page_name}}">
        </div>
        <div class="form-group required">
            <label for="desc" class="control-label">{{$lang.site_desc}}</label>
            <textarea  name="desc" class="form-control required" style="width:85%" id="desc" placeholder="{{$lang.page_desc}}" rows="4"></textarea>
        </div>
        <input type="hidden" class="form-control required dst-url" style="width:85%" name="logo" data-err-ref=".avatar-logo">
        <div class="form-group required">
            <button class="btn btn-primary" type="submit">{{$lang.submit}}</button>
        </div>


    </form>



</div>
<div class="tab-pane" id="ztab3">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12 hidden">

            <!--With list groups  panel-primary,panel-success,panel-info,panel-warning,panel-danger -->
            <div class="panel panel-default" id="app-pages">
                <!-- Default panel contents -->

                <div class="panel-heading">

                    <div class="app-title">页面</div>

                    <div class="top-search bootstro bootstro-highlight" data-bootstro-title="{{$lang.add_page}}" data-bootstro-content="{{$lang.add_page_content}}" data-bootstro-width="200px" data-bootstro-placement="left" data-bootstro-step="0" ><span class="fa fa-plus fa-2x"></span></div>
                </div>
                <div class="panel-body">

                </div>

                <!-- List group -->



            </div>


            <!--With table-->

            <!--without heading-->

            <div class="sidebar-nav panel panel-default animated-panel zoomIn"  id="comp-panel" >
                <div class="panel-heading" style="width:100%">组件</div>
                <div class="panel-body">

                    <ul class="nav nav-tabs nav-justified bootstro bootstro-highlight" data-bootstro-title="{{$lang.sel_comp}}" data-bootstro-content="{{$lang.sel_comp_content}}" data-bootstro-width="300px" data-bootstro-placement="top" data-bootstro-step="1" >
                        {{foreach name=compName item=comp key=cat from=$comps}}
                        {{if $smarty.foreach.compName.index==0}}
                        <li class="active"><a href="#comp_cls_{{$cat}}" data-toggle="tab">{{$cat}}</a></li>
                        {{else}}
                        <li><a href="#comp_cls_{{$cat}}" data-toggle="tab">{{$cat}}</a></li>
                        {{/if}}
                        {{/foreach}}


                        <div class="tab-content">
                            {{foreach name=compName item=compList key=cat from=$comps}}
                            {{if $smarty.foreach.compName.index==0}}
                            <div role="tabpanel" class="tab-pane active" id="comp_cls_{{$cat}}">
                                {{else}}
                                <div role="tabpanel" class="tab-pane" id="comp_cls_{{$cat}}">
                                    {{/if}}

                                    <div class="bs-glyphicons">
                                        <ul class="bs-glyphicons-list">

                                            {{foreach name=compName item=comp key=key from=$compList}}

                                            <li class="box wrapper" data-comp-id="{{$comp._id}}" data-comp-name="{{$comp._name}}">

                                                <div class="preview drag  cell">
                                                    <span class="{{$comp.icon_url}}" aria-hidden="true"></span>
                                                    <span class="glyphicon-class">{{$comp.name}}</span>
                                                </div>

                                            </li>
                                            {{/foreach}}


                                        </ul>

                                    </div>



                                </div>
                                {{/foreach}}


                            </div>




                            <!-- BuySellAds Zone Code -->

                            <!-- End BuySellAds Zone Code -->
                        </div>
                </div>
            </div>
            <!--/span-->

            <div style="min-height: 800px;" class="demo ui-sortable col-md-5 col-lg-5 col-sm-12 view-container">

                <div class="lyrow" >

                    <div class="view" id="vc">

                        <div class="container">

                            <div class="device">
                                <span class="fa fa-qrcode bootstro bootstro-highlight" data-bootstro-title="{{$lang.pg_preview}}" data-bootstro-content="{{$lang.pg_preview_content}}" data-bootstro-width="300px" data-bootstro-placement="bottom" data-bootstro-step="2" ></span>
                                <div class="device__header"></div>
                                <div class="device__content column ui-sortable">

                                </div>
                                <div class="device__footer"></div>
                            </div>
                        </div>
                        <!--
                        <ul class="nav">
                            <li><a href="#" data-device="">iPhone 5</a></li>
                            <li><a href="#" data-device="ipad-mini">iPad Mini</a></li>
                            <li><a href="#" data-device="ipad">iPad</a></li>
                            <li><a href="#" data-device="browser">Browser</a></li>
                            <li class="credits">Made with ❤ by <a href="http://lucasmotta.com">Lucas Motta</a>
                        </ul>
                        -->


                        <!-- firefox svg blurring trick -->

                    </div>
                </div>
            </div>

            <div style="min-height: 675px;" class="col-md-7 col-lg-7 col-sm-12 config-section">
                <div class="animated-panel zoomIn panel panel-primary" style="animation-delay: 0.4s; -webkit-animation-delay: 0.4s;">

                    <div class="panel-heading bootstro bootstro-highlight" data-bootstro-title="{{$lang.pg_cfg}}" data-bootstro-content="{{$lang.pg_cfg_content}}" data-bootstro-width="300px" data-bootstro-placement="bottom" data-bootstro-step="3">

                        {{$lang.config_panel}}
                    </div>
                    <div class="panel-body config-panel" style="display: block;">
                        <p>

                        </p>
                    </div>
                    <div class="panel-footer" style="display: block;">
                        This is standard panel footer
                    </div>
                </div>



            </div>
            <div id="download-layout"><div class="container"></div></div>
        </div>

    </div>


    <ul class="pager wizard hidden">
        <li class="previous first" style="display:none;"><a href="#">First</a></li>
        <li class="previous"><a href="#">Previous</a></li>
        <li class="next last" style="display:none;"><a href="#">Last</a></li>
        <li class="next"><a href="#">Next</a></li>
    </ul>
</div>
</div>

</div>
</div>
<div id="preview-toolbar" style="display: none">

    <a href="#"><i class="fa fa-desktop"></i></a>
    <a href="#"><i class="fa fa-mobile-phone"></i></a>
    <a href="#"><i class="fa fa-mobile-phone fa-rotate-270"></i></a>
    <a href="#"><i class="fa fa-tablet "></i></a>
    <a href="#"><i class="fa fa-tablet fa-rotate-270"></i></a>
    <a href="#"><i class="fa fa-gear"></i></a>
    <a href="#" data="hidden"><input type="text" name="prev_width" placeholder="width"/></a>
    <a href="#" data="hidden"><i class="fa fa-times" style="color:black"></i></a>
    <a href="#" data="hidden"><input type="text" name="prev_height" placeholder="height"/></a>
    <a href="#" data="hidden"><i class="fa fa-refresh"></i></a>
</div>
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true"></div>
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true"></div>
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">




</div>

</div>

{{include file="common/footer.phtml"}}


</body></html>