{{if $type=='miui'}}
{{include file="common/header_miui.phtml"}}
{{elseif $type=='amazeui'}}
{{include file="common/header_amazeui.phtml"}}
{{else}}
{{include file="common/header_bs.phtml"}}
{{/if}}
</head>
<body>


{{$content}}









{{if $actionJs}}

<script src="{{$jsdir}}{{$actionJs}}.js"></script>
{{/if}}


</body>

</html>

