{{include file="common/header_common.phtml"}}

</head>

<body>

<!-- Simple splash screen-->
<div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>{{$splash.title}}</h1><p>{{$splash.content}} </p><img src="{{$imgdir}}/{{$splash.img}}" width="64" height="64" /> </div> </div>
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


{{include file="common/top_header.phtml"}}

{{include file="common/left_aside.phtml"}}


<div id="wrapper" style="height: 400px">

    <!--/.fluid-container-->
    <iframe src="/admin/page/editor/?ztb=Page&action=add&type={{$tmpType}}&ui={{$ui}}&_t={{$smarty.get._t}}" frameborder="0" style="width:100%;height:100%;"></iframe>


</div>


{{include file="common/footer.phtml"}}


</body></html>