{{include file="common/header_editor.phtml"}}
</head>

<body>
<div class="container" id="page-editor">

    <div class="tab-pane" id="ztab3">
        <div class="row">

            <div style="min-height: 800px;" class="demo ui-sortable col-md-5 col-lg-5 col-sm-12 view-container">

                <div class="lyrow" >

                    <div class="view" id="vc">

                        <div class="container">

                            <div class="device">
                                <span class="fa fa-qrcode bootstro bootstro-highlight"></span>
                                <div class="device__header"></div>
                                <div class="device__content column ui-sortable">

                                </div>
                                <div class="device__footer"></div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div style="min-height: 675px;" class="col-md-7 col-lg-7 col-sm-12 config-section">
                <div class="animated-panel zoomIn panel panel-primary" style="animation-delay: 0.4s; -webkit-animation-delay: 0.4s;">


                    <div class="panel-body config-panel" style="display: block;">
                        <div id="config_wizard">
                            <ul class="wiz-ul">

                            </ul>
                            <div class="tab-content wiz-item" style="margin-top: 7px">
                            </div>


                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>

</div>








<script>
    var editorType="custom";
</script>
{{include file="common/footer.phtml"}}
</body></html>