{{include file="common/header_bs.phtml"}}

</head>
<body>
<div  id="preview">


</div>




<script src="{{$jsdir}}jqm.js"></script>
<script src="{{$jsdir}}bootstrap.js"></script>
<script src="{{$jsdir}}{{$actionJs}}.js"></script>

<script>

    $(function(){

        if(location.href.indexOf("external=1")!=-1){

            opener.$(opener.document).trigger('prev_win_event',{});

        }


    });






</script>



</body>

</html>
