<div class="lyrow ui-draggable">
    <a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
    <span class="drag label label-default  ui-draggable-handle"><i class="glyphicon glyphicon-move"></i></span>
    <div class="preview"><input type="text" value="6 6" placeholder="Enter your own" class="form-control"></div>
    <div class="view">
        <div class="row">
            <div class="col-md-6 column"></div>
            <div class="col-md-6 column"></div>
        </div>
    </div>
</div>