
<div class="modal fade record-win" id="<%=tbName%>_add_win" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog wrtc-modal-resizable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><div style="display:inline-block;margin-left:3px"><%=l_add%><strong><%=l_tbName%></strong><%=l_record%></div></h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" id="add_<%=tbName%>">

                    <form class="form-horizontal ajax-form" role="form" action="/admin/table/add" method="post" id="<%=tbName%>-form-add">
                        <div class="return-error"></div>
                        <div class="return-suc"></div>
                        <input type="hidden" name="ztb" value="<%=tbName%>"/>
                        <%for(var key in cols){%>
                        <%if((cols[key].rights &&  (cols[key].rights & 2==2)) || !cols[key].rights){%>
                        <div class="form-group">
                            <%if(cols[key].type!='auto'){%>
                            <label for="i_<%=tbName%>_<%=key%>" class="col-sm-4 col-xs-12 control-label"><%=cols[key].desc%></label>

                            <div class="input-group  col-sm-8 col-xs-12">

                                <%if(inputTypes.indexOf(cols[key].reg)!=-1){%>

                                <%if(cols[key].reg=='file'){%><button  name="upload-add" id="upload-add" <%=cols[key].data_extra%> class="file-update" data="<%=key%>">Upload</button>
                                <input type="hidden" name="<%=key%>" />
                                <img  class="img-thumb" id="<%=key%>_img">

                                <%} else {%>

                                <input  type="<%=cols[key].reg%>" value="" ref='{"reg":"<%=cols[key].reg%>"}' name="<%=key%>" placeholder="<%=cols[key].desc%>" id="i_<%=tbName%>_<%=key%>" class="form-control" autocomplete="off" <%=cols[key].data_extra%>>


                                <%} } else if(cols[key].reg=="timestamp"){%>
                                <input  type="datetime-local" value="" name="<%=key%>" ref='{"reg":"<%=cols[key].reg%>"}' placeholder="<%=cols[key].desc%>" id="i_<%=tbName%>_<%=key%>" class="form-control" autocomplete="off" <%=cols[key].data_extra%>>
                                <%} else if(cols[key].type=="tag"){%>
                                <input type="text" class="form-control input-tag" <%=cols[key].data_extra%>  id="i_<%=tbName%>_<%=key%>" name="<%=key%>" ref='{"reg":"<%=cols[key].reg%>"}' value="" />
                                <%} else if(cols[key].type=="tree-select"){%>
                                <div id="ts-<%=key%>" name="<%=key%>" <%=cols[key].data_extra%>></div>


                                <%} else if(cols[key].type=="radio"){%>
                                <input class="form-control" name="<%=key%>" <%=cols[key].data_extra%> id="i_<%=tbName%>_<%=key%>" ref='{"reg":"<%=cols[key].reg%>"}'>
                                <%for(var key1 in cols[key]['data_source']['dataset']){%>
                                <option value="<%=key1%>"><%=cols[key]['data_source']['dataset'][key1]%></option>
                                <%}%>
                                </select>




                                <%} else if(cols[key].type=="select"){%>
                                <select class="form-control" name="<%=key%>" <%=cols[key].data_extra%> id="i_<%=tbName%>_<%=key%>" ref='{"reg":"<%=cols[key].reg%>"}'>
                                    <%for(var key1 in cols[key]['data_source']['dataset']){%>
                                    <option value="<%=key1%>"><%=cols[key]['data_source']['dataset'][key1]%></option>
                                    <%}%>
                                </select>
                                <%} else if(cols[key].enum){%>
                                <select  class="form-control" name="<%=key%>" <%=cols[key].data_extra%> id="i_<%=tbName%>_<%=key%>" ref='{"reg":"<%=cols[key].reg%>"}'>
                                    <%for(var val in cols[key].enum){%>
                                    <%if(typeof cols[key].enum[val]!='object'){%>
                                         <option value="<%=val%>"><%=cols[key].enum[val]%></option>
                                    <%} else {%>
                                        <option value="<%=val%>" class="data-select"><%=cols[key].enum[val]['txt']%></option>
                                    <%}%>
                                    <%}%>
                                </select>

                                <%} else if(cols[key].reg.match(/^.{0,10}(text|desc)$/i) ||(cols[key].lt && cols[key].lt>150) || (cols[key].gt && cols[key].gt>150) || (cols[key].eq && cols[key].eq>150))                                    {%>
                                <textarea  <%=cols[key].data_extra%>  name="<%=key%>" ref='{"reg":"<%=cols[key].reg%>"}' placeholder="<%=cols[key].desc%>" id="i_<%=tbName%>_<%=key%>" class="form-control" autocomplete="off"></textarea>
                                <%} else {%>

                                <input <%=cols[key].data_extra%> type="text"  name="<%=key%>" ref='{"reg":"<%=cols[key].reg%>"}' placeholder="<%=cols[key].desc%>" id="i_<%=tbName%>_<%=key%>" class="form-control" autocomplete="off">
                                <%}%>
                            </div>
                            <%}%>

                        </div>
                        <%}%>


                        <%}%>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" class="btn btn-primary pull-right" id="apply-<%=tbName%>-add" value="<%=lang.apply%>">
                                <input type="reset" class="btn btn-default pull-left" id="apply-<%=tbName%>-reset-add" value="<%=lang.reset%>">
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>