<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{if brand}}
            <a class="navbar-brand" href="index.html">
                {{if brand.img}}
                <img src="{{brand.img}}" alt="...">
                {{else}}
                <span>{{brand.title}}</span>
                {{/if}}
            </a>
            {{/if}}
            </div>

            <div class="collapse navbar-collapse">
                {{if signIn}}
                <a class="btn btn-theme-primary navbar-btn navbar-right hidden-sm hidden-xs">{{_l.signIn}}</a>
                {{/if}}
                <ul class="nav navbar-nav navbar-right">
                    {{each menus as val i}}

                    <li class="dropdown{{if i==0}}active{{/if}}">
                        <a href="{{val.href}}" {{if val.subs}}class="dropdown-toggle" data-toggle="dropdown"{{/if}}>{{val.name}} {{if val.subs}}<b class="caret"></b>{{/if}}</a>
                        {{if val.subs}}
                        <ul class="dropdown-menu">
                            {{each val.subs as subItem j}}
                            <li><a href="{{subItem.href}}">{{subItem.name}}</a></li>
                            {{/each}}
                        </ul>
                        {{/if}}
                    </li>
                    {{/each}}





                    <!-- Navbar Search -->
                    {{if nav_search}}
                    <li class="hidden-xs hidden-sm" id="navbar-search">
                        <a href="index.html#">
                            <i class="fa fa-search"></i>
                        </a>
                        <div class="hidden" id="navbar-search-box">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </li>
                    {{/if}}
                    </ul>
                {{if nav_search}}
                    <!-- Mobile Search -->
                    <form class="navbar-form navbar-right visible-xs visible-sm" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn btn-theme-primary" type="button">Search!</button>
                                </span>
                            </div>
                        </form>
                {{/if}}
                    </div><!--/.nav-collapse -->
                </div>
            </div>