
{{include file="common/header_common.phtml"}}
<link href="/css/footable.core.css" rel="stylesheet" type="text/css"/>

<script>

    var menus=[];
    var capScreenTemp='<div class="modal fade"> <div class="modal-dialog"> <div class="modal-content"> ' +
        '<div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><%if(!!download){%><a href="" target="_blank" class="external" style="float:right;margin-right:0.8em;margin-top:2px">' +
        '<span class="fa fa-external-link"></span></a><%} else {%>' +
        '<a class="cap-download" style="float:right;margin-right:0.8em;margin-top:2px" href="#" download=""><span class="fa fa-download"></span></a><%}%><h4 class="modal-title"><%=note%></h4>' +
        ' </div> <div class="modal-body preview-img" style="overflow: auto"><img src="<%=src%>"></div> <div class="modal-footer"> </div> </div></div></div>';
    var colCnt={{$data.colCnt}};
    var defUuid="{{$data.defUuid}}";
    var tbNameTxt="{{$data.tbNameTxt}}";
    var tbName="{{$data.orgTbName}}";
    var tbModel="{{$data.tbName}}";
    var tbOpCbs={};

    var opMenus={{$data.opMenus}};
    var batchOpMenus={{$data.opMenus}};
    var opActionJson={{$data.opActionJson}};

    var ajaxMedia={};
    var prefix="{{$data.tbName}}_";
    var primaryKey="{{$data.primaryKey}}";
    var jsonCols={{$data.jsonCols}};

    var jsonActions={{if $data.actions}}{{$data.actions}}{{else}}''{{/if}};
        var fileTemp='<div id="fileshare-form"><div class="fileinput-button icon-pic-align" style="display: inline-block" title="click  and select file to upload"> ' +
            '<span class="fa fa-plus fa-5x" style="margin: 50px 100px;"></span> <input class="fileupload" type="file" name="sharefile" multiple="" data-original-title="" title=""> </div>' +
            '<div style="margin:0px 0px 50px 0px;font-weight: bold;font-size: 1.1em;" id="drag-drop-file">{{$lang.dnd_upload}}</div>' +
            '<div>{{$lang.upload_files}}:<span id="upload-files" style="font-size: 1.5em;font-weight: bold"></span></div>' +
            '<div id="upload-status">{{$lang.upload_status}}:<span class="indicator"></span>' +
            '<div class="progress progress-striped active"> <div class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">' +
            ' <span class="sr-only complete">0% {{$lang.complete}}</span> </div> </div></div></div>';
</script>
</head>
<body class="skin-blue">
{{include file="common/top_header.phtml"}}
<!-- header logo: style can be found in header.less -->
<div class="wrapper row-offcanvas row-offcanvas-left">
<!-- Left side column. contains the logo and sidebar -->
{{include file="common/left_aside.phtml"}}

<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
<!-- Content Header (Page header) -->

<!-- Main content -->
<section class="content nav-tb-content">
<div class="demo-container">
{{include file="common/common_nav.phtml"}}

<div class="tab-content">
<div class="tab-pane active" id="t_{{$data.tbName}}">
<nav class="navbar navbar-default" role="navigation">
    <div class="container"  style="width:100%">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dropdown-thumbnail-preview">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {{if ($smarty.session.user.rights.t[$tableName].rights & 2) || !$smarty.session.user.rights.t[$tableName].rights}}
            <a class="navbar-brand" href="#" id="add-row" data="{{$data.tbName}}"><i class="glyphicon glyphicon-plus"></i>{{$lang.add}}</a>
            {{/if}}
        </div>

        <div class="collapse navbar-collapse js-navbar-collapse" id="{{$data.tbName}}_export">
            <ul class="nav navbar-nav">
                {{if ($smarty.session.user.rights.t[$tableName].rights & 2) || !$smarty.session.user.rights.t[$tableName].rights}}
                <li class="dropdown dropdown-large"><a data="{{$data.tbName}}" class="rm-sel-row" style="cursor: pointer"><i class="glyphicon glyphicon-trash"></i>{{$lang.remove}}</a></li>{{/if}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-download"></span>{{$lang.export}}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/admin/table/view/?ztb={{$data.tbName}}&start={{$start}}&len={{$data.len}}&t=pdf&zact={{$zact}}">
                                <span class="fa fa-file-excel-o"></span> {{$lang.pdf}}

                            </a>
                        </li>
                        <li>
                            <a href="/admin/table/view/?ztb={{$data.tbName}}&start={{$start}}&len={{$data.len}}&t=xls&zact={{$zact}}">
                                <span class="fa fa-file-pdf-o"></span>{{$lang.excel}}
                            </a>
                        </li>
                        <li>
                            <a href="/admin/table/view/?ztb={{$data.tbName}}&start={{$start}}&len={{$data.len}}&t=csv&zact={{$zact}}">
                                <span class="fa fa-file-pdf-o"></span>{{$lang.csv}}
                            </a>
                        </li>
                        <li class="divider"></li>

                    </ul>
                </li>
            </ul>

            <div class="collapse navbar-collapse js-navbar-collapse" id="{{$data.tbName}}_import">
                {{if $data.opAction.crud.import!==false && (($smarty.session.user.rights.t[$tableName].rights & 2) || !$smarty.session.user.rights.t[$tableName].rights)}}
                <ul class="nav navbar-nav">
                    <li class="dropdown" id="import_drop">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-upload"></span>{{$lang.import}}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <form action="/admin/table/import/?ztb={{$data.tbName}}&t=csv" class="dropzone import">
                                    <div class="fallback">
                                        <input  name="import" type="file" multiple />
                                    </div>
                                </form>

                            </li>


                            <li class="divider"></li>

                        </ul>
                    </li>
                </ul>
                {{/if}}
                {{if $plugIns}}
                $plugIns
                {{/if}}
                <ul class="nav navbar-nav navbar-right filterable">
                    <!-- search From
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{$lang.search_from}}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><label><input type="radio" value="0" checked="checked" name="searchFrom"><span>{{$lang.local_search}}</span></label></a></li>
                            <li><a href="#"><label><input type="radio" value="1" name="searchFrom"><span>
                                            {{$lang.network_search}}
                            </span></label></a></li>

                        </ul>

                    </li>
                    -->

                    <!--
                    <li><a href="" class="each-filter" data="{{$data.tbName}}"><i class="glyphicon glyphicon-filter icon-th btn-filter"></i> {{$lang.filter}}</a></li>
                        -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-th"></i> <span class="caret"></span></a>
                        <ul class="dropdown-menu filter_cols" role="menu">
                            {{foreach  from=$data.columns item=val key=key name=columns}}

                            <li><a href="#" data="c_{{$key}}"><label><input type="checkbox" value="1" checked="checked"><span>

                                                            {{$val.desc}}

                                                        </span></label></a></li>

                            {{/foreach}}
                        </ul>

                    </li>


                </ul>



                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input type="text" id="{{$data.tbName}}_search_keyword" data-tb="tb_{{$data.tbName}}" class="form-control search_keyword" placeholder="{{$lang.search}}">
                        <input type="hidden" id="{{$data.tbName}}_keyword" data-tb="tb_{{$data.tbName}}" class="form-control keyword">
                        <span class="input-group-addon search-btn" data-tb="tb_{{$data.tbName}}">{{$lang.search}}</span>
                    </div>

                </form>

            </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->
</nav>
<div>


    <table id="tb_{{$data.tbName}}" class="table demo filterable" data-filter="#{{$data.tbName}}_keyword" data-filter-text-only="true" class="table demo" data-page-size="{{$data.len}}">
        <thead>
        {{if false}}
        <tr class="filters" data="{{$data.tbName}}">


            <th>#</th>
            {{foreach  from=$data.columns item=val key=key name=columns}}
            {{if $val.reg=='timestamp' or $val.reg=='datetime'}}
            <th  data="c_{{$key}}"><input type="datetime"  class="form-control col-filter" placeholder="{{$val.desc}}" disabled data="c_{{$key}}" ref='{"reg":"$val.reg"}'></th>
            {{else}}
            <th data="c_{{$key}}" ><input type="text" class="form-control col-filter" placeholder="{{$val.desc}}" disabled data="c_{{$key}}" ref='{"reg":"$val.reg"}'></th>
            {{/if}}


            {{/foreach}}
            <th>#</th>

        </tr>
        {{/if}}
        <tr class="col-meta">
            <!--data-hide="phone"-->
            <th  data-ignore="true" class="edit-row"><input type="checkbox" name="sel_all"/></th>
            {{foreach  from=$data.columns item=val key=key name=columns}}



            <th  data="c_{{$key}}">
                {{$val.desc}}
            </th>


            {{/foreach}}
            <th  data="operation">
                {{$lang.operation}}
            </th>
        </tr>
        </thead>
        <tbody>
        {{foreach  from=$data.records item=val key=key name=record}}
        <tr id="r_{{$val[$data.primaryKey]}}">

            <th  data-ignore="true" class="edit-row">
                <input type="checkbox"/></th>
            {{foreach  from=$data.columns item=val2 key=key2 name=columns}}
            {{if $val2.reg=='timestamp'}}
            <td data="c_{{$key2}}">{{$val.$key2|date_format:"%Y-%m-%d %H:%M:%S"}}</td>

            {{elseif $val2.reg=='text'}}
            <td data="c_{{$key2}}" data-prev="{{$val.$key2}}">{{$val.$key2|truncate:100:"..."}} </td>

            {{else}}
            <td data="c_{{$key2}}">{{$val.$key2}}</td>
            {{/if}}
            {{/foreach}}
            <td class="operation">
                <ul class="nav navbar-nav" data="r_{{$val[$data.primaryKey]}}" data-table="{{$data.tbName}}">

                    <!--
                                                                <i class="fa fa-edit fa-15x" data="c_{{$key}}"></i>
                                                                <i class="fa fa-times fa-15x" data="c_{{$key}}"></i>
                                                                -->
                    {{if ($smarty.session.user.rights.t[$tableName].rights & 2) || !$smarty.session.user.rights.t[$tableName].rights}}
                    {{if (!empty($data.opAction)) || $data.opAction.crud.edit!=false}}
                    <li>
                        <a href="#"  class="opt-edit" data-id="{{$val[$data.primaryKey]}}">
                            <i class="fa fa-edit fa-15x" ></i>
                        </a>

                    </li>
                    {{/if}}


                    <li>
                        <a href="#" data="{{$data.tbName}}" class="opt-times" data-id="{{$val[$data.primaryKey]}}">
                            <i class="fa fa-times fa-15x"></i>
                        </a>

                    </li>
                    {{/if}}
                    {{if $data.opAction.extra}}
                    {{foreach name=opName item=action key=key from=$data.opAction.extra}}


                    <li>
                        <a href="#" data-tran-title="{{$action.title}}" data="{{$data.tbName}}" class="opt-{{$key}}" data-id="{{$val[$data.primaryKey]}}">
                            <i class="fa {{$action.icon}} fa-15x"></i>
                        </a>

                    </li>



                    {{/foreach}}
                    {{/if}}
                    {{if $data.tbName=="page"}}
                    <li>
                        <a href="#"  class="opt-qrcode" data-id="{{$val[$data.primaryKey]}}">
                            <i class="fa fa-qrcode fa-15x" ></i>
                        </a>

                    </li>
                    {{/if}}
                    <!--
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-list fa-15x"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" data-id="{{$val[$data.primaryKey]}}">
                                <span class="fa fa-file-code-o"></span> {{$lang.more}}

                            </a>
                        </li>
                        <!--
                        <li>
                            <a href="#" data-id="{{$val[$data.primaryKey]}}">
                                <span class="fa fa-file-pdf-o"></span>{{$lang.excel}}
                            </a>
                        </li>

                        <li class="divider"></li>

                    </ul>
                </li>
                -->

                </ul>
            </td>

        </tr>
        {{/foreach}}








        <!--
        <tr>
            <th  data-ignore="true" class="edit-row">
                <input type="checkbox"/></th>

            <td data="firstname">TTTTTTTT</td>
            <td data="lastname"><a href="#">GGGGGG</a></td>
            <td data="job">ssss Court JJJKK</td>
            <td data="dob" data-value="78025368997">22 wen 1988</td>
            <td data="status" data-value="1"><span class="status-metro status-active" title="Active">SSSSS</span></td>
            <td data="operation"><i class="fa fa-times"></i><i class="fa fa-edit"></i></td>
        </tr>

        <tr>
            <th  data-ignore="true" class="edit-row">
                <input type="checkbox"/></th>

            <td data="firstname">www</td>
            <td data="lastname"><a href="#">EEE</a></td>
            <td data="job">AAA</td>
            <td data="dob" data-value="78025368997">22 Jun 1972</td>
            <td data="status" data-value="1"><span class="status-metro status-active" title="Active">Active</span></td>
            <td data="operation"><i class="fa fa-times"></i><i class="fa fa-edit"></i></td>
        </tr>
        -->
        </tbody>
        <tfoot>

        {{if $isPaging}}
        <tr class="hide-if-no-paging" data="{{$data.tbName}}_cs">
            {{else}}
        <tr  data="{{$data.tbName}}_cs">
            {{/if}}
            <td colspan="{{$data.colCnt}}">
                <div class="pagination pagination-centered"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
</div>

</div>



</section><!-- /.content -->
</aside><!-- /.right-side -->
</div><!-- ./wrapper -->

<div class="goto-top" style="display: block;">
    <i class="glyphicon glyphicon-plane"></i>
</div>
{{include file="common/footer.phtml"}}

<script src="/js/footable.all.js"></script>
<script type="text/javascript">

var opCol=function(tbName,primaryId,cfg){
    var cfg=cfg || opMenus;

    cfg=cfg.map(function(item){
        return '<li> <a href="#"  data="'+tbName+'" class="opt-'+item+'" > <i class="fa fa-'+item+' fa-15x"></i> </a> </li>';
    });
    return '<td class="operation"> <ul class="nav navbar-nav" data="r_'+primaryId+'" data-table="'+tbName+'">'+cfg.join('')+"</ul> </td>";


}
var appendRow=function(formJson,opCol2){


    var newRow = buildRow($.isArray(formJson)?formJson:[formJson],colName(formJson['ztb']),opCol2);


    var tbId="tb_"+formJson['ztb'];

    delete formJson['ztb'];
    // tb_common_user tbName
    //add it
    //  footable.appendRow(newRow);
    // $("div[id=" + pid + "]").modal('toggle');
    // setTimeout(function(){modal.modal('hide');modal.toggle();console.log("tt",modal);},1500);
    // $("#"+tbId).data('footable').appendRow(newRow);
    $("#"+tbId).append(newRow).trigger('footable_redraw');
}
var buildRow=function(rowData,refCols,opCol2,cols){

    var cols=cols || jsonCols;

    var rows=rowData.map(function(row){
        var primaryId=row[primaryKey];
        var tr='<tr id="r_'+primaryId+'">';
        var tbName=row['ztb'];
        // add more dropdown menu
        //<li class="dropdown pull-right"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-list fa-15x"></i> </a> <ul class="dropdown-menu" role="menu"> <li> <a href="#"> <span class="fa fa-file-code-o"></span> CSV </a> </li> <li> <a href="#"> <span class="fa fa-file-pdf-o"></span>Excel </a> </li> <li class="divider"></li> </ul> </li>
        //使用opCol2变量会导致opCol2为undefined,导致始终执行后面的函数
        var opCol3=opCol2 || opCol(tbName,primaryId);

        var tds=refCols.map(function(key){
            if(cols[key].reg=='file'){
                row[key]=ajaxMedia[row[key]];
            }
            var checked=$(".filter_cols a[data=c_"+key+"] :checkbox").prop('checked');
            if(checked){
                return '<td data="c_' + key + '">' + ((typeof row[key]!='undefined')?row[key]:'') + '</td>';
            } else {
                return '<td style="display:none" data="c_' + key + '">' + ((typeof row[key]!='undefined')?row[key]:'') + '</td>';
            }

        });
        return tr+'<th  data-ignore="true" class="edit-row"><input type="checkbox"/></th>'+tds.join('')+opCol3+'</tr>';

    });
    return rows;

}
var beforeOp=function(action,obj){
    if(jsonActions && (action in jsonActions)){
        if(!jsonActions[action].match(/^[\w-]+$/)){
            location.href=addQuery(jsonActions[action],obj);
        } else {
            (typeof jsonActions[action]=='function') && jsonActions[action]();
        }
        return true;
    }
    return false
}
var colName=function(tbName){
    var tds=$("#tb_"+tbName+">thead>tr.col-meta").eq(0).find("th[data^=c_]");
    return Array.prototype.slice.call(tds.map(function(idx,item){return $(item).attr('data').replace(/c_/,'');}),0);
}
var loadData=function(loadingObj,param,table){
    var table = table || $(loadingObj).closest('table');
    setuploadingEffect($(loadingObj));
    console.log("load more");
    var table = table || $(loadingObj).closest('table');
    var footable=table.data('footable');
    $.post("/admin/table/view?ztb="+tbModel,param).done(function(data){
        if($.trim(data)!=''){
            var tbModel=table.attr("id").replace(/tb_/,'');

            var newRow=buildRow($.parseJSON(data),colName(tbModel));
            table.find("tbody").append(newRow).trigger('footable_redraw');
        }

    });
}
var loadMore=function(e){
    var page=parseInt($(".pagination  .footable-page:last").find("a[data-page]").text(),10)+1;
    var param={p:page,t:'more'};
    loadData(this,param);
    //build up the row we are wanting to add

    //tbNode.append(newRow).trigger('footable_redraw');


}
$(function () {


    //setup tabs for the demo
    $('.nav-tabs a').click(function (e) {

        //show the tab!
        $(this).tab('show');

    }).on('shown', function (e) {

        //make sure that any footable in the visible tab is resized
        $('.tab-pane.active .footable').trigger('footable_resize');

    });

    //if there is a hash, then show the tab
    if (window.location.hash.length > 0) {
        $('.nav-tabs a[href="' + window.location.hash + '"]').tab('show');
    }

});

$(function () {






    var searchKeyword="#"+prefix+"search_keyword";
    var keyword="#"+prefix+"keyword";
    var tbId='tb_'+prefix;
    $('table').footable({
        bookmarkable: { enabled: false }

    }).bind( {
        'footable_sorting' : function(e) {
            //return confirm('Do you want to sort by column: ' + e.column.name + ', direction: ' + e.direction);
        },
        'footable_filtering' : function(e) {
            var selected = $(this).find('.filter-status').find(':selected').text();
            if (selected && selected.length > 0) {
                e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected;
                e.clear = !e.filter;
            }
        },
        'footable_paging':function(e) {


        }
    });
    var footable = $('table').data('footable');


    var clearFilter=function (e) {
        e.preventDefault();
        $('.filter-status').val('');
        $('table.demo').trigger('footable_clear_filter');
    };
    function toUnicode(orgStr) {
        var str=[];
        for(var i= 0,len=orgStr.length;i<len;i++){
            if(ival.cn.test(orgStr[i])){
                str.push('\\u'+orgStr[i].charCodeAt(0).toString(16));
            } else {
                str.push(orgStr[i]);
            }

        }
        return str.join('');
    }
    $('.clear-filter').click(clearFilter);
    var doGlobalSearch=function(evt){
        console.log("global search");
        var kw=$(this).val();
        var kws=this.id.split("_");
        var keyword="#"+kws[0]+"_keyword";
        console.log(kw,toUnicode(kw));
        var param=$.param({"_":encodeURIComponent(kw)});
        $(keyword).val(encodeURIComponent(kw));
        var tbId="#tb_"+kws[0];
        evt.preventDefault();
        $(tbId).trigger('footable_filter', {filter: param});

        return false;
    }

    var doGlobalSearch2= _.debounce(doGlobalSearch,600);
    $(".search_keyword").on('keyup',doGlobalSearch);



    $('table').footable().on('click', '.row-delete', function(e) {
        e.preventDefault();
        //get the footable object
        var footable = $('table').data('footable');

        //get the row we are wanting to delete
        var row = $(this).parents('tr:first');

        //delete the row
        footable.removeRow(row);
    });
    $('.addColumn').click(function (e) {
        e.preventDefault();

        extraCols++;

        $('table').data('footable').reset();

        //Add a new column into the table header
        $('table thead tr').append('</tr><th data-hide="phone,tablet">Column ' + extraCols + '</th>');
        //add data into the table for the new column
        $('table tbody tr').each(function(i) {
            $(this).append('<td>'+ extraCols + '.' + i +'</td>');
        });
        //fix the colspan of the footer to cater for the new column
        $('table tfoot tr td').attr('colspan', 5+extraCols);

        $('table').footable();
    });

    var lettersMinLen=0;

    var doFilter=function(e){
        /* Ignore tab key */
        console.log("do filter",this);
        var code = e.keyCode || e.which;
        if (code == '9') return;
        /* Useful DOM data and selectors */
        var $input = $(this);
        var data={};
        var tb=$(this).parent().parent().parent().parent().attr("id");

        var result={};
        $("#"+tb+" .filters  input.col-filter").each(function(idex,item){
            var input=$(item);
            console.log(item);

            var val= $.trim(input.val());
            if(val.length>lettersMinLen){
                result[input.attr('data')]=val;
            }



        });
        var param=$.param(result);
        $(("#"+tb+"_keyword")).val($.param(result));
        console.log("result",$.param(result));
        $(('table#tb_'+tb)).trigger('footable_filter', {filter: $.param(result)});
    };

    $('.filterable .filters input').on('keyup',doFilter);
    var lazyShowGotoTop = _.debounce(showGotoTop, 400);
    $(window).scroll(lazyShowGotoTop);
    $(window).resize(lazyShowGotoTop);
    $('.goto-top').click(function() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        return false;
    });

    /**
     *
     * rowData:array
     * refcols:reference order
     */

    var addRow=function(evt){
        var tbName=$(this).attr("data");

        if(beforeOp('add',{ztb:tbName,action:'add'})){
            evt.preventDefault();
            return;
        }

        var formName=tbName+"-form-add";
        var pid=tbName+"_add_win";
        ajaxCbs[formName]=[function(data){
            var formJson=$.unparam(ajaxCbs[formName+'-data']);

            formJson['uuid']=formJson['uuid']?formJson['uuid']:defUuid;

            //build up the row we are wanting to add
            formJson[primaryKey]=data.id;

            formJson= $.extend(formJson,data);
            console.log("ajax append row");
            appendRow(formJson);
            setTimeout(function(){$("#"+pid).modal('hide');},3000);
        }];


        $(evt).prop("disabled",true);
        var modal = $("#" + pid);
        var lTbName=config.lang['t_'+tbName.toLowerCase()]?config.lang['t_'+tbName.toLowerCase()]:tbName;
        var rowData={};
        if (modal.size() < 1) {
            $.get('/admin/js/table/temp/record_add.html', function (html) {
                var profileModal = $(template.compile(html)($.extend({},{l_record:config.lang.record,l_add:config.lang.add,l_tbName:tbNameTxt,tbName:tbName,'write_all':canWrite(),lang: config.lang,cols:jsonCols,inputTypes:inputTypes})));
                // profileModal.drags({handle: ".modal-header"});
                // profileModal.find(".modal-dialog").resizable();
                // jqObj,title,html,popOverOpts,css,cbDict


                profileModal.modal().on("hidden.bs.modal",function(){
                    $(evt).prop("disabled",false);

                }).on('shown.bs.modal',function(){
                    var input=profileModal.find("input[data-role]");

                    if($.isFunction(tbOpCbs['add'])){
                        tbOpCbs['add'](rowData,formName);
                    }
                    if($.isFunction(tbOpCbs['always'])){
                        tbOpCbs['always'](rowData,formName);
                    }

                    console.log("xx streaming 2xx");
//                    if(profileModal.find(":input[type=file]").size()==0){
//
//                        $.get('/js/table/temp/image_setting.html').done(function(data){
//                            var imgHtml=template.compile(data)({lang:config.lang});
//                            seajs.use(['jquery.jcrop', 'canvas2blob', 'load_image', '/css/jquery.jcrop.css'], function () {
//                                var streaming = false;
//                            });
//                            console.log("streaming");
//                            $(".file-update").on('click',function(e){
//
//                                createPopover($(".file-update"),"Upload File",imgHtml,{delay:{hide:1e6},placement:'bottom',container:'body',trigger:'manual'},{'shown':function(){
//                                    /**
//                                    /**
//                                    /**
//                                    /**
//                                    /**
//                                    /**
//                                    /**
//                                    /**
//                                    /**
//                                    /**
//                                    /**
//                                     *  当弹出popover的时候执行的callback
//                                     */
//                                    $('.popover-content .ava-tabs a[data-toggle="tab"]').on('shown.bs.tab', shownUploadTabs);
//
//                                }});
//                                $(".file-update").popover('toggle');
//                                return false;
//                            });
//                        });
//
//                    }
                });

            });
        }  else {
            modal.modal();
        }


        evt.preventDefault();

    }
    $("body").on('change','select[data-change]',function(e){
        console.log("change");
        var key=$(this).attr('data-change');
        var inputId=$(this).attr('id');
        var tbName=inputId.split("_")[1];
        var objKey="i_"+tbName+'_'+key;
        if($(this).val()!='txt' && $(this).val()!='html' ){

            var temp='<div id="div_<%=key%>"><button id="upload" class="file-update" data="<%=key%>"><%=l_upload%></button>' +
                '<div  class="video" id="<%=key%>_video"><img  class="img-thumb" id="<%=key%>_img"></div>';
            var html=template.compile(temp)({key:key,l_upload:config.lang.upload});
            if($("#div_"+key).size()==0){
                $("#"+objKey).after(html);

            }
            $("#div_"+key).show();
            $("#"+objKey).hide();

        } else {
            $("#div_"+key).hide();
            $("#"+objKey).show();
        }
    });
    $("body").on('click','.file-update',function(e){
        var self=$(this);
        $.get('/js/table/temp/image_setting.html').done(function(data){
            var imgHtml=template.compile(data)({lang:config.lang});
            seajs.use(['jquery.jcrop', 'canvas2blob', 'load_image', '/css/jquery.jcrop.css'], function () {
                var streaming = false;
            });
            console.log("streaming");
            console.log(imgHtml);
            createPopover(self,"Upload File",imgHtml,{delay:{hide:1e6},placement:'bottom',container:'body',trigger:'manual'},{'shown':function(){
                /**
                 *  当弹出popover的时候执行的callback
                 */
                $('.popover-content .ava-tabs a[data-toggle="tab"]').on('shown.bs.tab', shownUploadTabs);

            }});
            self.popover('toggle');

        });


        return false;
    });
    var canWrite=function(){
        return config.user.level==1;
    }
    var editRow=function(e){

        var ulNode=$(this).parent().parent();
        var rowNodeId=ulNode.attr("data");
        var rowNode=$("#"+rowNodeId);
        var rowData=getRowData(rowNodeId);
        var tbName=ulNode.attr("data-table");

        var tbId="tb_"+tbName;
        var pid=tbName+"_edit_win";
        /**
         * @todo do some work to process one 2 many,many to many relation
         */

        var rowId=rowNodeId.replace(/r_/,'');

        if(beforeOp('edit',{ztb:tbName,pid:rowId,action:'edit'})){
            evt.preventDefault();
            return;
        }


        var modal = $("div[id=" + pid + "]");
        var clickTarget=$(this);
        clickTarget.prop('disabled',true);
        var formName=tbName+'-form-edit';
        ajaxCbs[tbName+'-form-edit']=[function(data){
            var formJson=$.unparam(ajaxCbs[tbName+'-form-edit-data']);
            for(var key in formJson){
                var node=rowNode.find("td[data=c_"+key+"]");
                if(node.size()>0){
                    node.text(formJson[key]);
                }

            }

            setTimeout(function(){$("#"+pid).modal('hide');},2000);
            // setTimeout(function(){modal.modal('hide');modal.toggle();console.log("tt",modal);},1500);


        }];

        var lTbName=config.lang['t_'+tbName.toLowerCase()]?config.lang['t_'+tbName.toLowerCase()]:tbName;
        if (modal.size() < 1) {

            $.get('/admin/js/table/temp/record_edit.html', function (html) {
                var profileModal = $(template.compile(html)($.extend({},{l_tbName:tbNameTxt,tbName:tbName,'write_all':canWrite(),l_edit:config.lang.edit,l_record:config.lang.record,rowId:rowId,row:rowData,lang: config.lang,cols:jsonCols,inputTypes:inputTypes})));

                // profileModal.drags({handle: ".modal-header"});
                // profileModal.find(".modal-dialog").resizable();

                profileModal.on('shown.bs.modal',function(){

                    var input=profileModal.find("input[data-role]");

                    $(".bs-datetime").datetimepicker();
                    _.each(rowData, function (val, key) {

                        var  newKey="e_"+tbName+"_"+key;
                        var  input= $("#"+pid+" :input[name=" + key + "]");
                        console.log(input);
                        if (input.size() > 0) {
                            if(key=='action'){
                                console.debug("start debug");
                            }
                            if (input[0].tagName.toLowerCase() == "select") {
                                $("#"+pid+" :input[name=" + key + "] option[value='" + val + "']").prop("selected", true);
                            }
                            else if (input[0].type.toLowerCase() == "checkbox" || input[0].type.toLowerCase() == "radio") {
                                console.log(input[0]);
                                $("#"+pid+" :input[name=" + key + "][value='" + val + "']").prop("checked", true);

                            }
                            else {
                                if (key == 'enablesound' && val == '1') {
                                    // input.parent().find(".slider-frame>.slider-button").addClass('on');
                                }
                                console.log(key);
                                $("#"+newKey).val(val);
                            }

                        }


                    });
                    if($.isFunction(tbOpCbs['edit'])){
                        tbOpCbs['edit'](rowData,formName);
                    }
                    if($.isFunction(tbOpCbs['always'])){
                        tbOpCbs['always'](rowData,formName);
                    }

                }).on('hidden.bs.modal',function(){
                    clickTarget.prop('disabled',false);
                });
                profileModal.modal()
            });
        }
        else {
            modal.modal('show');
        }


        e.preventDefault();
    }
    $(".fixed-table-pagination").on('click','.dropdown-menu a',function(){
        console.log("dropdown",this);

        var prefix=$(this).parent().parent().attr('data');
        var pagerNode=$(".fixed-table-pagination[data="+prefix+"]");
        var pageSizeNode=pagerNode.find(".page-size");
        var cnt= parseInt($.trim($(this).text()));
        var startNode=pagerNode.find(".start");
        var endNode=pagerNode.find(".end");
        var start=parseInt($.trim(startNode.text()));
        var end=parseInt($.trim(endNode.text()));

        var size=parseInt($.trim(pageSizeNode.text()));
        console.log(cnt,size);
        if(cnt!=size){
            size=cnt;
            $(this).parent().parent().find("li").removeClass('active');

            $(this).parent().addClass('active');
            end=cnt+start-1;
            pageSizeNode.text(size);
            endNode.text(end);
            var tbId="#tb_"+prefix;

            /**
             * change page size
             */
            $(tbId).attr('data-page-size',size);
            $(tbId).data('pageSize',size);
            $(tbId).data('footable').options.pageSize=size;
            var pager=$("table").data('footablePaging');
            pager.setupPaging();

        }


    });
    //隐藏一列
    $.each(jsonCols,function(k,v){
        if('rights' in v && (v.rights==8 || (v.rights!=8 && ((v.rights & 4) !=4)))){
            console.log(k);
            $(".filter_cols a[data=c_"+k+"] input[type=checkbox]").trigger('click');

            $("td[data=c_"+k+"]").hide();
            $("th[data=c_"+k+"]").hide();

        }
    });
    $(".filter_cols").on('click','li a',function(e){
        var checkBox=$(this).find("input[type=checkbox]");
        var isChecked=checkBox.prop("checked");
        var colName=$(this).attr("data");
        var tdNode=$("td[data=media_cs]");
        var colSpan=parseInt(tdNode.attr("colspan"));

        if(isChecked){
            tdNode.attr("colspan",(colSpan+1));
            $("td[data="+colName+"]").show();
            $("th[data="+colName+"]").show();
        }
        else {

            tdNode.attr("colspan",(colSpan-1));
            $("td[data="+colName+"]").hide();
            $("th[data="+colName+"]").hide();
        }


    });
    $("table").on('click','a[data-page=more]',loadMore);
    var showMoreOperation=function(e){

    }
    var doRm=function(rmData){
        console.log("do remove");
        $.post("/admin/table/recordsremove",rmData,function(data){
            var data= $.parseJSON(data);
            if(data.code==1){
                if(rmData['ids'].length>1){
                    $("input[name=sel_all]").prop("checked",false);
                }

                rmData['ids'].map(function(item){
                    $("#tb_"+tbModel).data('footable').removeRow( $("#r_"+item));

                });
                console.log('remove suc');
            } else {
                console.log('remove failure');
            }
        });
    }
    $('.operation .fa.fa-list').on('click',showMoreOperation);

    var setUpRmRow=function(popUpEle,opts,title){
        var opts=opts || {};
        var many=false;
        var title=title || config.lang.rm_row_prompt;

        setUpRmPopover(popUpEle,title,opts,{
            'shown':function(){
                console.log("rm shownn");
            },
            'show':function(){
                console.log("rm show");
            },
            'ok':function(){
                var rmData={};

                rmData['ztb']=popUpEle.attr("data");
                rmData["ids"]=[popUpEle.attr("data-id")];

                doRm(rmData);
                console.log("ok show");

            },
            'hidden':function(){
                console.log("ok hidden");
                console.log("hidden");
            }
        });
    }

    var setUpRmManyRow=function(popUpEle,opts,title){
        var opts=opts || {};
        var many=false;
        var title=title || config.lang.rm_row_prompt;

        setUpRmPopover(popUpEle,title,opts,{
            'shown':function(){
                console.log("rm shownn");
            },
            'show':function(){
                console.log("rm show");
            },
            'ok':function(){
                var rmData={};

                rmData['ztb']=popUpEle.attr("data");

                var ids=Array.prototype.slice.call($("tbody tr").has(".edit-row>input:checked:visible").map(function(a,item){return $(item).attr("id").replace(/r_/,'');}),0);

                console.log("many ids",ids);
                rmData["ids"]=ids;


                doRm(rmData);
                console.log("ok show");

            },
            'hidden':function(){
                console.log("ok hidden");

            }
        });
    }
    $('.operation a.opt-times').each(function(idx,item){

        setUpRmRow($(item));
    });
    setUpRmManyRow($("a.rm-sel-row"),{placement:'bottom'},config.lang.rm_sel_row_prompt);
    var getRowData=function(rowNodeId){
        var row={};
        $("#"+rowNodeId).find("td[data^=c_]").each(function(idx,item){
            row[$(item).attr("data").replace(/c_/,'')]= $.trim($(item).text());
        });
        return row;
    }


    $('body').on('click','.operation a.opt-edit',editRow);

    seajs.use(["/css/bs3.datepicker.css","bs3.datepicker.js"]);

    $('.table_trigger').click(function(e) {
        e.preventDefault();
        var trigger = $(this).data('trigger');
        $('table').trigger(trigger);
    });
    $("#add-row").on('click',addRow);
    function showGotoTop() {
        var $gotoTop = $('.goto-top');

        if ($(document).scrollTop() > 0) {
            $gotoTop.fadeIn('slow');
        } else {
            $gotoTop.fadeOut('slow');
        }
    }
});



var recordAddWin=$(".record-add-win");


$(document).on('change',".record-add-win input[type=file]",function(){



});



var shownUploadTabs=function (e) {
    var uploadUrl=location.protocol+"//"+location.host+'/index/media/upload';
    var contentNode=$($(this).attr("href")).parent();
    var uploadNode=contentNode.find("input.fileupload");
    var camUpload=contentNode.find(".cam-upload");
    var avatarTake=contentNode.find(".avatar-take");
    var avatarUpload=contentNode.find(".avatar-upload");
    var picUpload=function (e) {

        /**
         *
         * update user avatar
         *
         */

        var preview = $(this).parent().parent().find(".img-preview");
        var errDiv = $(this).parent().parent().find(".return-error");
        var sucDiv = $(this).parent().parent().find(".return-suc");
        var canvas = preview.find('canvas')[0];
        console.log("picture upload",preview);
        console.log(canvas);
        canvas.toBlob(function (blob) {

            var formData = new FormData();
            formData.append('ctoken', config.ctoken);
            var fileName=uploadNode[0].files[0].name;
            formData.append("file", blob,fileName);
            $.ajax({
                url: uploadUrl,
                type: "POST",
                data: formData,
                processData: false,  // 告诉jQuery不要去处理发送的数据
                contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
                global: false,
                success: function (data) {
                    camUpload.prop('disabled', true);
                    avatarTake.prop('disabled', true);
                    var ret = $.parseJSON(data);
                    if (ret.code == '1') {
                        var inputName=$("#upload").attr("data");
                        $("#"+$("#upload").attr("data")+"_img").attr({'title':fileName,'src':("/upload"+ret.data.mediaurl)});
                        $("input[name="+inputName+"][type=hidden]").val(ret.data.mid);
                        ajaxMedia[ret.data.mid]=("/upload"+ret.data.mediaurl);
                        sucDiv.text(ret.msg).show();
                        setTimeout(function () {
                            sucDiv.hide()
                        }, 2500);
                    }
                    else {
                        errDiv.text(ret.msg).show();
                        setTimeout(function () {
                            errDiv.hide()
                        }, 2500);
                    }


                }
            });


        }, "image/png");



    };

    camUpload.on('click',picUpload);
    avatarUpload.on('click',picUpload);

    if ($(this)[0].id == 'ava-arch-tab') {
        var errDiv = $("#ava-arch-sec").find(".return-error");
        var sucDiv = $("#ava-arch-sec").find(".return-suc");

        var lis = '';
        $.get("/user/getsysicon", function (data) {


            if ($("#ava-arch-sec").find("li").size() == 0) {
                var icons = $.parseJSON(data);

                for (var i = 0, len = icons.length; i < len; i++) {
                    lis += "<li><a href='#'><img src='/" + icons[i] + "' width='40' height='40'></a></li>";

                }
                var ul = '<button class="btn btn-primary" id="update-avatar">'+config.lang.update+'</button><ul class="nav nav-pills">' + lis + '</ul>';

                var ulNode = $(ul);
                var aTags = ulNode.find("a");
                var btn = $(ulNode[0]);
                aTags.on('click', function (e) {


                    $("#user-icon>img").attr('src', $(this).find("img").attr("src"));

                    e.preventDefault();
                    return false;


                });
                btn.on('click', function () {
                    $.post("/user/updateavatar", {sys: 1, src: $("#user-icon>img").attr('src')}, function (data) {

                        var ret = $.parseJSON(data);
                        processRet(ret, sucDiv, errDiv);

                    });


                });
                $("#ava-arch-sec .ava-arch-content").append(ulNode);
            }


        });

    }
    else if ($(this)[0].id == 'ava-pic-tab') {

        var preview = $("#ava-pic-sec").find('.img-preview'),
            actionsNode = $('#avatar-actions'),
            currentFile,
            replaceResults = function (img) {
                var content;
                if (!(img.src || img instanceof HTMLCanvasElement)) {
                    content = $('<span>'+config.lang.img_load_err+'</span>');
                } else {

                    content = $('<a target="_blank">').append(img)
                        .attr('download', currentFile.name)
                        .attr('href', img.src || img.toDataURL());
                }
                preview.children().replaceWith(content);
                if (img.getContext) {
                    actionsNode.show();
                }
            },
            displayImage = function (file, options) {
                currentFile = file;

                $("#cam-actions").hide();
                if (!loadImage(
                        file,
                        replaceResults,
                        options
                    )) {
                    preview.children().replaceWith(
                        $('<span>Your browser does not support the URL or FileReader API.</span>')
                    );
                }
            },

            dropChangeHandler = function (e) {
                console.log("change");
                e.preventDefault();
                e = e.originalEvent;
                var target = e.dataTransfer || e.target,
                    file = target && target.files && target.files[0],
                    options = {
                        maxHeight: 180,
                        canvas: true
                    };
                if (!file) {
                    return;
                }

                displayImage(file, options);

            },
            coordinates;
        if (window.createObjectURL || window.URL || window.webkitURL || window.FileReader) {
            preview.children().hide();
        }
        $(document)
            .on('dragover', function (e) {
                e.preventDefault();
                e = e.originalEvent;
                e.dataTransfer.dropEffect = 'copy';
            })
            .on('drop', dropChangeHandler);

        console.log(preview,uploadNode);
        uploadNode.on('change', dropChangeHandler);




        $('#avatar-edit').on('click', function (event) {
            event.preventDefault();
            var imgNode = preview.find('img, canvas'),
                img = imgNode[0];
            imgNode.Jcrop({
                setSelect: [0, 0, 180, 180],
                aspectRatio: 1 / 1,
                bgColor: 'black',
                bgOpacity: 0.3,
                onSelect: function (coords) {
                    coordinates = coords;
                },
                onRelease: function () {
                    coordinates = null;
                }
            }).parent().on('click', function (event) {
                event.preventDefault();
            });
        });


        $('#avatar-crop').on('click', function (event) {
            event.preventDefault();
            var img = preview.find('img, canvas')[0];
            if (img && coordinates) {
                replaceResults(loadImage.scale(img, {
                    left: coordinates.x,
                    top: coordinates.y,
                    sourceWidth: coordinates.w,
                    sourceHeight: coordinates.h,
                    maxHeight: 180
                }));
                coordinates = null;
            }
        });

    }
    else if ($(this)[0].id == 'ava-cam-tab') {

        var preview = $("#ava-cam-sec").find(".img-preview");
        preview.children().replaceWith($("<div>"));
        $("#cam-actions").show();
        $("#cam-upload").prop('disabled', true);
        $("#avatar-take").prop('disabled', true);


        navigator.getMedia(
            {
                video: true,
                audio: false
            },
            function (stream) {
                var video = $("<video id='avatar-cam'>")[0];
                if (navigator.mozGetUserMedia) {
                    video.mozSrcObject = stream;
                } else {
                    var vendorURL = window.URL || window.webkitURL;

                    video.src = vendorURL ? vendorURL.createObjectURL(stream) : stream;

                    video.addEventListener('canplay', function (ev) {
                        $("#avatar-take").prop('disabled', false);
                        $("#cam-upload").prop('disabled', false);
                        if (!streaming) {

                            height = 240;
                            video.setAttribute('width', 240);
                            video.setAttribute('height', 240);
                            // canvas.setAttribute('width', 240);
                            //canvas.setAttribute('height', height);
                            streaming = true;
                        }
                    }, false);

                    $("#avatar-take").on('click', function (e) {

                        $("#avatar-cam").stop();
                        $("#avatar-cam").remove();
                        var canvas = $("<canvas>")[0];
                        preview.children().replaceWith(canvas);
                        canvas.getContext('2d').drawImage(video, 0, 0, 180, 180);
                        var data = canvas.toDataURL('image/png');


                    });
                    preview.append(video);

                }
                video.play();
            },
            function (err) {
                console.log("An error occured! " + err);
            }
        );

    }

};

var chkWechatBind=function(obj){

//    var form=$(obj).closest("form");
//
//    var obj=$(obj);
//    $.get('/user/chkwechat').done(function(data){
//        var data= $.parseJSON(data);
//        if(data.data.status==0){
//            setQrUrl(function(data){
//
//                    if (/^http[s]?:\/\/.+/.test($.trim(data))) {
//
//                        createPopover(obj,'检测到您未绑定微信,请先扫描二维码绑定微信','<img width="140px" height="auto" src="/img/ajax-loading.gif">',{placement:'bottom',trigger:'manual'},{'shown':function(obj){
//                            console.log(obj);
//                            $(obj).find("img").attr('src',data);
//
//                        }});
//                        obj.popover('show');
//                    }
//
//
//            },'?action=adduser&type=wechat');
//
//        }
//    });
}
var doRecordSearch=function(evt,kw){
    console.log("resetabcdd");
    var table=$("#"+$(evt).attr("data-tb"));
    var footable=table.data('footable');
    console.log("reset",footable);
    footable.reset();
    table.find("tbody").empty();
    loadData(evt,{kw: kw},table);
    table.trigger('footable_redraw');

}
$(function(){

    $("table").on('click','.opt-qrcode',function(e) {
        var qrId = 'qr_' + $(this).attr("data-id");
        var text=$("#r_"+$(this).attr("data-id")).find("td[data=c_title]").text();
        var div = "<div id='" + qrId + "'></div><h4>"+text+"</h4>";
        var modalId="m_"+qrId;
        openPlainModal($("body"), config.lang.qr_wap, div,modalId, function () {
            console.log("view");
            if( $('#' + qrId).find('table').size()==0){

                $('#' + qrId).qrcode({
                    render: "table",
                    text:  "http://"+ location.host + "/cache/wap/" + qrId + ".html"
                });
            }

        });


    });
    $("table").on('click',".col-meta .edit-row>input[type=checkbox]",function(e){
        var state=$(this).prop('checked');
        var tbObj=$(this).parent().parent().parent().parent();
        var checkObjs=tbObj.find("tbody .edit-row>input:visible");
        checkObjs.prop('checked',state);
        console.log("click la",tbObj,state);
        var self=this;
        setTimeout(function(){  $(self).prop('checked',state);},20);
        e.preventDefault();
        return false;

    });

    seajs.use(['/js/dropzone','/css/dropzone.css','/js/bs.tagsinput','/css/bs.tagsinput.css'],function(){
        Dropzone.autoDiscover=false;

        attachDropzone(".import.dropzone",{url: "/admin/table/import/?ztb={{$data.tbName}}&t=csv",acceptedFiles:'text/*'},false,{
            success:function(e,data){
                var data= $.parseJSON(data);
                if(data.code==1){
                    showOverlay($("#tb_{{$data.tbName}}"),'check','导入成功');
                } else {
                    showOverlay($("#tb_{{$data.tbName}}"),'times',data.msg);
                }

                console.log("upload suc",e,"msg",data);
            },
            error:function(e,data){
                showOverlay($("#tb_{{$data.tbName}}"),'times','导入失败');
            }

        });

    });
//    var buildAction=function(val2){
//
//
//
//    }
//    $.each(jsonCols,function(key,val){
//
//            if(val.enum){
//
//                //enum all actions
//
//                var actions=[];
//
//                $.each(val.enum,function(key1,val1){
//
//                    ['disable','enable','show','hide'].map(function(action){
//                        if(action in val1){
//                            var result={};
//                            result[key1]=val1;
//                            actions.push(result);
//                        }
//                    });
//
//                });
//
//                $.each(val.enum,function(key2,val2){
//
//                    var result={};
//                    for(var key in actions){
//                        if(key in val2){
//
//                            if(jsonCols[key2]['actions']){
//
//                                if($.isPlainObject(val2)){
//                                    val2[key]=
//                                }else {
//
//
//                                }
//
//                                result[key2]=val2;
//
//                                jsonCols[key2]['actions']=$.extend(jsonCols[key2]['actions'],result);
//
//                            } else {
//
//                                jsonCols[key]['actions']=result;
//
//                            }
//                        } else {
//
//                            if(jsonCols[key2]['actions']){
//
//                                result[key2]=val2;
//                                jsonCols[key2]['actions']=$.extend(jsonCols[key2]['actions'],result);
//
//                            } else {
//
//                                jsonCols[key]['actions']=result;
//                            }
//                        }
//                    }
//
//
//
//                });
//
//
//
//            }
//
//    });
//    $.each(jsonCols,function(key,val){
//        if(val.enum){
//
//            $.each(val.enum,function(key1,val1){
//                if(jsonCols[key]['actions']){
//
//
//                }
//
//
//            });
//
//        }
//
//    });

//    var buildFields2=function(closestForm,result){
//
//        if('show' in result){
//            var fields=result['show'];
//            var field=fields[0];
//            var subField=fields[1];
//
//
//            var input=closestForm.find("[name="+field+"]");
//
//            if(subField){
//                input.find("option").show();
//                var option=input.find(">option[value="+subField+"]");
//                option.hide();
//                input.find("option").not(option).prop('selected',true);
//            } else {
//                input.hide();
//            }
//        } else if('hide' in result){
//
//
//
//            var fields=result['hide'];
//            var field=fields[0];
//            var subField=fields[1];
//
//
//            var input=closestForm.find("[name="+field+"]");
//
//            if(subField){
//                input.find("option").hide();
//                var option=input.find(">option[value="+subField+"]");
//                option.show();
//                input.find("option").not(option).prop('selected',true);
//            } else {
//                input.show();
//            }
//        }
//        if('disable' in result){
//            var field=result['disable'];
//            var input=closestForm.find("[name="+field+"]");
//            input.prop('disabled',false);
//        } else if('enable' in result) {
//            var field=result['enable'];
//            var input=closestForm.find("[name="+field+"]");
//            input.prop('disabled',true);
//        }
//
//
//    }
//
//    var buildFields=function(closestForm,result){
//
//            if($.isPlainObject(result)){
//                if('show' in result){
//
//                    var fields=result['show'];
//                    var field=fields[0];
//                    var subField=fields[1];
//
//                    var input=closestForm.find("[name="+field+"]");
//
//                    if(subField){
//
//                        input.find("option").hide();
//
//                        var option=input.find(">option[value="+subField+"]");
//
//                        option.prop('selected',true).show();
//                    }
//                }
//                else if('hide' in result){
//
//
//
//                    var fields=result['hide'];
//                    var field=fields[0];
//                    var subField=fields[1];
//
//
//                    var input=closestForm.find("[name="+field+"]");
//
//                    if(subField){
//                        input.find("option").show();
//                        var option=input.find(">option[value="+subField+"]");
//                        option.hide();
//                        input.find("option").not(option).prop('selected',true);
//                    } else {
//                        input.hide();
//                    }
//                }
//                if('disable' in result){
//                    var field=result['disable'];
//                    var input=closestForm.find("[name="+field+"]");
//                    input.prop('disabled',true);
//                } else if('enable' in result) {
//                    var field=result['enable'];
//                    var input=closestForm.find("[name="+field+"]");
//                    input.prop('disabled',false);
//                }
//
//            }
//
//    }

    $(".search_keyword").on('keypress',function(evt){

        if(evt.keyCode=='13'){
            evt.preventDefault();
            doRecordSearch(this,$.trim($(this).val()));

            return false;
        }
    });
    $(".search-btn").on('click',function(evt){
        doRecordSearch(this,$.trim($(this).parent().find(".search_keyword").val()));
        evt.preventDefault();
        return false;

    });
    $("body").on('click','.img-thumb',function(e){
        var imgObj=$(this);

        var overlapObj=$(template.compile(capScreenTemp)({src:this.src,note:this.title,download:true})).on('hidden.bs.modal',function(){
            $(this).remove();
            console.log(this,"remove");
        });
        overlapObj.find('a.external').attr("href",this.src);
        overlapObj.modal();
    });



});
// data-hide="all" 可以隐藏某个列

</script>
</body>
</html>






