
.z-nav-bottom {
    margin-bottom: -7px;
    background: white;
    opacity: 0.9;
}
body {background: #ddd !important;}

footer .nav-justified > li > a:hover {
    color:#8e8071;
}
footer .widget-weather .air-temp strong {


    height: 130px;
    font-size: 6em;
    padding-top: 25px;
    padding-right: 105px;
    padding-left: 15px;


}

footer .widget-weather .water-temp,.wind-speed {height:80px }
footer .widget-weather .water-temp>strong,footer .widget-weather .wind-speed>strong {font-size: 2.4em}
footer .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    border:0px;
}
footer .nav-tabs.nav-justified > li > a {
    border-bottom: 0px solid #ddd;
    margin-bottom: 0;font-size: 1.2em!important;
    color:rgb(51, 122, 183);
    margin-bottom: 0;
}
footer .list-group-item {
    padding:13px 15px;

}
footer .list-group-item {
    font-size: 1.3em;
}
.expand-item
{
    margin-left: 8px;
    font-size: 1.2em;
    font-weight: bold;
    float:right;
}
@media (max-width: 768px) {

    .product-sell {
        margin-top: -25px;
    }
    .download .comment-avatar i {

        margin-top: 24px;
    }
    footer .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    footer .nav-justified > li {
        display: table-cell;
        width: 1%;
    }

    footer .nav-tabs > li > a {
        border:0px

    }

}

.z-content {bottom:10px;position: absolute;height: 200%;width: 100%;}
/*
Kit Name: Metro Vibes
Kit URI: http://pixelkit.com/kits/metro-ui-kit
Description: 100+ elements
Version: 1.0
Author: PixelKit
Author URI: http://pixelkit.com

CSS STRUCTURE:

1. GENERAL TYPOGRAPHY
	- Fonts
	- Global Reset
	- General Styles
	- Clear Floats
	- Typography
	- Buttons
	- Custom checkboxes, radios
	- Ribbons
	- Badges
	- Rating Stars

2. PAGE ITEMS, WIDGETS
	- Table Pricing
	- Sidebar widgets
			- Widget Categories
			- Widget Tags
			- Widget Calendar
	- Forms
    	    - Comment Form
    	    - Contact Form
    	    - Login Form
    	    - Newsletter Form, Search Form
	- Dividers
	- Tabs
    	    - Tabs Style 1
    	    - Tabs Style 2
3. INDEX PAGE
	- Main Menu
	- User Menu
	- Contact Form styled
	- Login Form styled
	- Search Form styled
	- Progress Bars
	- Scroll Bars
	- Simple Message Field
	- Avatar Placeholder
	- Widget Profile
	- Widget Trade
	- Widget Social Buttons
	- Widget Weather
	- Widget Stats
	- Image Slider
	- Notifications

/*===================================================*/
/* 1. GENERAL TYPOGRAPHY */
/*===================================================*/

/*-----------------------------------*/
/* Fonts */
/*-----------------------------------*/


/*-----------------------------------*/
/* Global Reset */
/*-----------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block}
body {
    line-height: 1; }
ol, ul {
    list-style: none; }
blockquote, q {
    quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }
table {
    border-collapse: collapse;
    border-spacing: 0}

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }

/*-----------------------------------*/
/* General Styles */
/*-----------------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color:#8e8071;
    font-size:13px;
    position:relative;
    background-size: 100% 100%;
}
::-moz-selection {
    background: #aba98c;
    color: #000;
    text-shadow: none;
}
::selection {
    background: #aba98c;
    color: #333;
    text-shadow: none;
}
a:hover,
a:focus {
    color: #8D8569;
    text-decoration: none;
}
a:active{background-color: transparent;}

input, textarea, input[type="submit"]:focus, div {
    outline: 0 none;
    font-family: 'Open Sans', sans-serif;
}
button, input, select, textarea {vertical-align: top; margin: 0;}

.alpha{margin-left:0 !important;}
.omega{margin-right:0 !important;}

.no-radius{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

/*-----------------------------------*/
/* Clear Floats */
/*-----------------------------------*/

html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear {
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}

/*-----------------------------------*/
/* Typography */
/*-----------------------------------*/

h1, h2, h3, h4, h5, h6 {
    color: #5c5146;
    font-weight: 400;
    letter-spacing: -1px;
    line-height:1.2em;
    margin-bottom:.8em;
}
h4, h5, h6{color: #e86741;}

h1{font-size:27px}
h2{font-size:24px}
h3{font-size:21px}
h4{font-size:19px}
h5{font-size:17px}
h6{font-size:15px}

em{font-style: italic;}
strong{font-weight: 700;}
small{font-size: 85%;}

i{
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    font-style: normal;
    background-repeat: no-repeat;
    margin-right: 15px;
}
p{
    line-height: 19px;
    margin-bottom: 16px;
}
.margin-10{margin-bottom:10px;}
.margin-20{margin-bottom:20px;}
.margin-30{margin-bottom:30px;}
.margin-40{margin-bottom:40px;}
.margin-50{margin-bottom:50px;}

/*-----------------------------------*/
/* Buttons */
/*-----------------------------------*/

/* foo classes */
.buttons-wrap{margin-bottom: 30px;}
.buttons-wrap .inner{padding: 49px 43px 27px;}
.buttons{margin-bottom:26px;}
.tabs_framed.styled .buttons{margin-bottom:14px;}
.buttons .btn{margin-right:10px; margin-bottom:10px;}

@media (min-width: 992px) and (max-width: 1199px){
    .tabs_framed.styled .buttons .btn{margin-right:0;}
}

@media (max-width:479px){
    .buttons-wrap .inner{padding: 26px 20px 5px;}
}

/* end foo classes */




.btn span,
.btn input{
    display: block;
    height: 35px;
    line-height: 35px;
    border: 1px solid #c44a28;
    padding: 0 15px;

    font-size: 16px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    text-shadow:none;
    background: rgb(233,106,70);

}


.btn-small span, .btn-small input{
    height: 32px;
    line-height: 30px;
    padding: 0 14px;
    font-size: 14px;
}
.btn-large span, .btn-large input{
    height: 51px;
    line-height: 47px;
    padding: 0 23px;
    font-size: 18px;
}

.btn-left span, .btn-left input,


.btn-left{padding-right: 30px;}
.btn-left span{padding-left: 35px; padding-right: 0;}
.btn-right{padding-right: 35px;}
.btn-right span{padding-left: 30px; padding-right: 0;}

.btn-right{background-position: right -55px !important;}
.btn-right span{background-position: left -5px !important;}
.btn-left{background-position: right -155px !important;}
.btn-left span{background-position: left -105px !important;}


/*-----------------------------------*/
/* Custom checkboxes, radios */
/*-----------------------------------*/

.custom-checkbox,.custom-radio {position:relative;}
.custom-checkbox label::selection, .custom-radio label::selection {background: transparent; color: inherit;}
.custom-checkbox input, .custom-radio input {position:absolute; top:3px; left:13px; margin:0; border:none; width:1px; height:1px; display:none;}
.custom-checkbox input {left:4px;}
.checkbox-middle .custom-checkbox input {left:13px; top:2px;}
.checkbox-large .custom-checkbox input {left:13px; top:3px;}
.ie8 .custom-checkbox input, .ie8 .custom-radio input {display:block;}
.custom-checkbox label.focus,.custom-radio label.focus {outline: 0;}


/*-----------------------------------*/
/* Ribbons */
/*-----------------------------------*/


/*-----------------------------------*/
/* Badges */
/*-----------------------------------*/



/*-----------------------------------*/
/* Rating Stars */
/*-----------------------------------*/


/*===================================================*/
/* 2. PAGE ITEMS, WIDGETS */
/*===================================================*/

.content, .sidebar{padding: 50px 0;}
#middle{position: relative; z-index: 0;}
#middle.sidebar_left > .container > .row > .col-sm-8{float:right;}

.boxed {
    background: #fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    -moz-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    margin-bottom:30px;
    position: relative;
    z-index: 0;
}
.line-left{border-left: 3px solid #ebc85e;}
.line-top{border-top: 3px solid #ebc85e;}

/*-----------------------------------*/
/* Table Pricing */
/*-----------------------------------*/


/* price style 2 */


/*-----------------------------------*/
/* Sidebar widgets */
/*-----------------------------------*/



/*-----------------------------------*/
/* Post Items */
/*-----------------------------------*/

/* Post Item Labels */



.post-item,
.post-item-wide{
    position: relative;
    margin-bottom:30px;
}

/* Post Items Default Style */

.post-item .inner{padding: 0 27px 0 37px;}

.post-item h2{
    font-size:27px;
    margin-bottom:10px;
}
.post-item h2 a, .post-item-wide h2 a{color:#4a4036;}
.post-item h2 a:hover, .post-item-wide h2 a:hover{color:#8D8569;}

.post-item .ribbon{
    position: absolute;
    top:-3px;
    left:25px;
}
.post-item .ribbon em, .post-item .ribbon strong{font-size: 17px;}

.post-item .post-image img,
.post-item-wide .post-image img{
    display: block;
    width: 100%;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.post-item .post-image{margin-bottom: 34px;}
.post-item .post-desc{margin-bottom: 36px;}

.post-meta-links ul{
    overflow: hidden;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.post-meta-links li{
    float: left;
    background: #f5ede8;
    border-left: 1px solid #fff;
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
    color: #7b6d5e;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 200px;
    margin-bottom: -200px;
}
.post-meta-links li.post-view{width:20%;}
.post-meta-links li.post-comm{width:20%;}
.post-meta-links li.post-author{width:27%;}
.post-meta-links li.post-read{width:33%;}
.post-meta-links li a{display:block; padding: 10px; color: #7b6d5e;}
.post-meta-links li a:hover{color: #e05033;}
.post-meta-links li.post-read a:hover .icon-post{background-position: 0 -100px;}
.post-meta-links li.post-view a:hover .icon-post{background-position: 0 -125px;}
.post-meta-links li.post-comm a:hover .icon-post{background-position: 0 -150px;}
.post-meta-links li.post-like a:hover .icon-post{background-position: 0 -225px;}
.post-meta-links li.post-author a:hover .icon-post, .post-meta-links li.post-date a:hover .icon-post{background-position: 0 -175px;}

.post-meta-links li.first{
    border-left:0 none;
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}
.post-meta-links li.last{
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

.post-comm .icon-post{background-position: 0 -25px;}
.post-author .icon-post, .post-date .icon-post{background-position: 0 -50px;}
.post-read .icon-post{background-position: 0 -75px;}
.post-like .icon-post{background-position: 0 -200px;}

/* Post Images */

.post-item.post-img .inner{padding: 48px 53px 61px;}
.post-item.post-img h2 {margin-bottom: 18px;}
.post-item.post-img .post-meta-top {margin-bottom: 30px;}

.carousel-inner {
    height: 242px;
    -webkit-box-shadow: 0 0 12px rgba(154,120,91,0.38);
    -moz-box-shadow: 0 0 12px rgba(154,120,91,0.38);
    box-shadow: 0 0 12px rgba(154,120,91,0.38);
}
.carousel-inner > .item {
    height: 210px;
    overflow:hidden;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: auto;
    max-width: none;
}
.carousel-control {
    position: absolute;
    top: 220px;
    left: 20px;
    width: 9px;
    height: 12px;
    margin-top: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    opacity: 1;
}
.carousel-control.left,
.carousel-control.right{
    background-image:url(/images/post_image_controls.png);
    background-position: 0 0;
    background-color: transparent;
    background-repeat: no-repeat;
    filter:none;
}
.carousel-control.right {
    right: 20px;
    left: auto;
    background-position: -11px 0;
}
.carousel-desc{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background: #df4d31;
    background: rgba(223,77,49,0.7);
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.carousel-indicators {
    padding:0;
    position: relative;
    top: -24px;
    right: 0;
}
.carousel-indicators li {
    border: 0 none;
    width: 7px;
    height: 7px;
    margin: 0 3px;
    background: #737272;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.carousel-indicators li.active {
    width: 7px;
    height: 7px;
    background: #ea7456;
    margin: 0 3px;
}





/* Responsive */
@media (max-width:479px){
    .comment-list.styled .comment-arrow {width: 115px;}
    .comment-list.styled .comment-avatar {left: 13px;}
    .comment-list.styled .comment-text {padding: 25px 16px 26px 134px;}
}

/*-----------------------------------*/
/* Avatar Placeholder */
/*-----------------------------------*/

.widget_avatar {
    margin-bottom: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.widget_avatar .inner{
    position:relative;
    padding: 15px 10px 21px 111px;
    min-height: 116px;
}

.widget_avatar .avatar-image img{
    display: block;
    width: 100%;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.widget_avatar .avatar,
.widget_avatar .avatar img,
.widget_profile .avatar,
.widget_profile .avatar img{
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 73px;
    height: 73px;
}
.widget_avatar .avatar,
.widget_profile .avatar{
    position: absolute;
    top:13px;
    left: 10px;
    width: 89px;
    height: 89px;
    overflow: hidden;
    border: 1px solid #BAB8B3;
    padding: 7px;
}
.widget_avatar h5{
    font-size: 26px;
    font-weight: 600;
    color: #5c5146;
    margin-bottom: 10px;
}
.widget_avatar .subtitle{
    display: block;
    color: #8e8071;
}
.widget_avatar .post-meta-links li{
    width: 33.33333333333333%;
}
.widget_avatar .post-meta-links li a {padding: 10px 5px;}
.widget_avatar .icon-post {margin-right: 5px;}

@media (min-width: 768px) and (max-width: 991px){
    .widget_avatar .inner {padding: 15px 10px 21px 100px;}
    .widget_avatar .avatar {left: 5px;}
}

/*-----------------------------------*/
/* Widget Profile */
/*-----------------------------------*/

.widget_profile .widget-title {
    background: #b1a599;
    box-shadow: inset 0 -2px 2px rgba(73, 73, 73, 0.16);
    padding: 33px 20px 37px 122px;
}
.widget_profile .avatar {
    top: 17px;
    left: 18px;
    border: 1px solid #8b7f73;
}
.widget_profile .widget-title h5 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    line-height: 16px;
    letter-spacing: 1px;
    margin-bottom: 4px;
}
.widget_profile .widget-title .subtitle{
    font-size: 12px;
    color: #857a70;
    text-transform: none;
}
@media (min-width: 768px) and (max-width: 991px){
    .widget_profile .widget-title {padding: 33px 20px 37px 106px;}
    .widget_profile .avatar {left: 8px;}
}
.widget_profile .inner {padding: 12px 0;}

/*-----------------------------------*/
/* Widget Trade */
/*-----------------------------------*/


.widget-trade .trade-rate,
.widget-trade .trade-rate-change{
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #b7dfc2;
    padding-left: 12px;
}

.widget-trade .trade-rate-down{background-position: 0 -87px;}

.widget-trade .inner{padding: 33px 20px 38px;}

.widget-trade .trade-time{
    font-size: 12px;
    color: #bfb8b1;
}
.widget-trade .trade-location{margin-bottom: 20px;}
.widget-trade .trade-location a {font-size: 21px; color: #8e8071;}
.widget-trade .trade-location a:hover {font-size: 21px; color: #bfb8b1;}

.widget-trade .trade-shares{margin-bottom: 24px;}

.widget-trade .trade-shares li{
    float: left;
    width: 50%;
    background: #f6f0ec;
    border-left: 1px solid #fff;
}
.widget-trade .trade-shares li a{padding: 20px 0;}

.widget-trade .trade-shares li a,
.widget-trade .trade-shares li a strong,
.widget-trade .trade-shares li a span{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #8e8071;
    text-align: center;
}
.widget-trade .trade-shares li a span{
    font-size: 12px;
    color: #ad9e8e;
}
.widget-trade .trade-shares li a:hover strong,
.widget-trade .trade-shares li a:hover span{
    color: #e05033;
}
.widget-trade .trade-bottom{float: left;}
.widget-trade .trade-bottom.trade-graph{width: 53%; padding-right: 10px;}
.widget-trade .trade-bottom.trade-yearly-change{width: 47%;}

.widget-trade .trade-bottom-title{
    font-size: 14px;
    color: #b4b0aa;
    margin-bottom: 8px;
}
.widget-trade .trade-bottom img{
    display: block;
    max-width: 100%;
    height: 40px;
}
.widget-trade .trade-yearly-change .trade-bottom-content{
    background: #4daf7b;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

/*-----------------------------------*/
/* Widget Social Buttons */
/*-----------------------------------*/

.widget-social li{border-top: 1px solid #f6f0ec;}
.widget-social li:first-child{border-top: 0 none;}
.widget-social li span{display: block; text-indent: -400px;}


.widget-social .social-pinterest {background-position: center -66px;}
.widget-social .social-twitter {background-position: center -132px;}
.widget-social a:active {opacity: .8;}

/*-----------------------------------*/
/* Widget Weather */
/*-----------------------------------*/

.widget-weather{text-align: center;}
.widget-weather strong{display:inline-block; font-weight: 700;}

.widget-weather .air-temp{
    background: #54bc75;
    padding: 37px 10px;
    margin-bottom: 1px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.widget-weather .water-temp,
.widget-weather .wind-speed{
    background: #f6f0ec;
    float: left;
    width: 50%;
    padding: 15px 10px;
}
.widget-weather .water-temp{
    border-right: 1px solid #fff;
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}
.widget-weather .wind-speed{
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

@media (min-width: 768px) and (max-width: 991px){
    .widget-weather .air-temp strong{font-size: 36px;}
}

.widget-weather .water-temp strong,
.widget-weather .wind-speed strong{
    width: 42px;
    font-size: 28px;
    color: #64584c;
    padding-bottom: 22px;

}
.widget-weather .wind-speed strong{background-position: right bottom;}

/*-----------------------------------*/
/* Widget Stats */
/*-----------------------------------*/

.tabs_framed.styled.widget-stats .tab-content {
    padding: 0;
    padding-top: 50px;
}
.widget-stats.tabs_framed.styled .tabs li a{
    font-weight: 600;
    padding: 0 16px;
}
@media (max-width: 991px){
    .widget-stats.tabs_framed.styled .tabs li a{
        font-size: 13px;
        padding: 0 8px;
    }
}

.widget-stats h6{
    font-weight: 700;
    color: #8e8071;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0;
    margin-bottom: 30px;
}
.widget-stats .donutchart,
.widget-stats .columnchart{
    width:220px;
    margin: 0 auto 40px;
}
.stats-data li,
.stats-links li{
    float: left;
    width: 33.33333333333333%;
}
.stats-data li a,
.stats-links li a{
    display: block;
    border-top: 4px solid #4daf7b;
    margin-left: 1px;
    text-align: center;
    padding: 16px 5px 19px;
    background: #f6f0ec;
}
.stats-data li.first a{margin-left: 0;}
.stats-data li.red a{border-top: 4px solid #e55e3a;}
.stats-data li.yellow a{border-top: 4px solid #ebc85e;}
.stats-data li.blue a{border-top: 4px solid #3bbec0;}


.stats-data li a span,
.stats-data li a strong{
    display: block;
    font-size: 15px;
    font-weight: 700;
    color: #a09b96;
    margin-bottom: 2px;
}
.stats-data li a strong{
    font-size: 29px;
    color: #8e8071;
}
.stats-links{
    background: #776b5e;
    -webkit-box-shadow: inset 0 2px 2px rgba(57, 57, 57, 0.36);
    -moz-box-shadow: inset 0 2px 2px rgba(57, 57, 57, 0.36);
    box-shadow: inset 0 2px 2px rgba(57, 57, 57, 0.36);
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    padding-bottom: 16px;
}
.stats-links li a{
    border-top: 0 none;
    margin-left: 0;
    padding: 18px 5px 0;
    background: none;
    padding-bottom: 200px;
    margin-bottom: -200px;
}
.stats-links li.first a{
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}
.stats-links li.last a{
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0;
}
.stats-links li a:hover{
    background: #64584c;
    -webkit-box-shadow: inset 0 2px 2px rgba(57, 57, 57, 0.36);
    -moz-box-shadow: inset 0 2px 2px rgba(57, 57, 57, 0.36);
    box-shadow: inset 0 2px 2px rgba(57, 57, 57, 0.36);
}
.stats-links li a span{
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.stats-icon.stats-icon2{background-position: 0 -25px;}
.stats-icon.stats-icon3{background-position: 0 -50px;}

/*-----------------------------------*/
/* Image Slider */
/*-----------------------------------*/

.widget_gallery .carousel-inner {
    height: 220px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.widget_gallery .carousel-inner > .item{height: 200px;}
.widget_gallery .carousel-control {top: 210px;}
.widget_gallery .carousel-indicators {top: -12px;}

/*-------------------------------------------*/
/* Notifications */
/*-------------------------------------------*/

.note {
    display: block;
    width: 13px;
    height: 13px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15px;
    right: 12px;
    z-index: 9999;
    text-align: center;
    font-size: 9px;
    font-weight: 700;
    line-height: 13px;
    color: #fff;
    background: #e55e3a;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*-------------------------------------------*/
/* Layout on Index Page */
/*-------------------------------------------*/



footer li.dropdown.active >a{
    color:rgb(51, 51, 51);
}
.product-type {
    margin-bottom:5px;
}
.product-type>a {background: white;font-size: 1.3em;border-left:#54bc75 solid 3px;cursor: default; }
.post-meta-links {padding-bottom: 10px}
footer .buy-btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -webkit-border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    background: rgb(93,193,125);
    border: 0px;
    position: absolute;
    bottom:8px;
    right: 8px;
}
.buy-widget {padding-bottom: 80px}

footer .widget_avatar .inner
{
    border-bottom: 1px solid #f4ece7;
    margin-bottom: 10px;
    padding-left:1px;
    min-height: 80px;
}
.product-select>a:link,.product-select>li>a:visited {

}

.product-select>li>a.active,.product-select>li>a:hover {
    color:#fff;
    background: #4daf7b;
}
.product-image {
    margin-left: 0px;margin-right: 0px;
}
.product-info {
    margin-left: 0px;
    margin-right: 0px;
}
.tabs_framed.styled .tabs li a {
    color:#001f3f;

}
.widget_gallery .carousel-inner > .item {
    min-height: 330px;
}
.widget_gallery .carousel-inner > .item>img {
    min-height: 330px;
}

.product-slide .widget_gallery .inner>div,.product-slide .widget_gallery .inner>div.slide {
    min-height: 365px;
}
.product-slide .widget_gallery .carousel-inner {
    min-height: 365px;
}
#download-sec .tabs_framed.styled.widget-stats .tab-content {
    padding-top: 30px;
}
.download .comment-avatar {
    border: 0px;
}
.download .comment-avatar i {
    margin-left: 13px;

}
.download .btn {
    margin-top: 15px;
    margin-bottom: 0px;
}
.product-slide .widget_gallery .carousel-control {
    top:350px;
}
.product-slide .widget_gallery  .inner {
    padding-left:0px;
    padding-right: 0px;
}
.product-slide .widget_gallery  .inner {
    border: 0px;
}
.product-price {
    margin-top:-40px;
    margin-bottom: 5px;
}
.product-number {
    color:#8e8071;
    font-weight: 700;
    background-color:#f5ede8 !important;
}

.widget-weather .water-temp strong,.widget-weather .wind-speed strong {
    padding-bottom: 25px;

}

footer .nav-tabs.nav-justified > li.active > a {
    color:rgb(51, 51, 51);
}

.download .download-btn,.download .download-btn>span, .buy-btn>span {
    border-radius: 0px ;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -webkit-border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    background: rgb(93,193,125);
    border: 0px;
}
#arrow-down {cursor: pointer}

@-webkit-keyframes fadeInDown-arrow {
    0% {
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }

    100% {

        -webkit-transform: none;
        transform: none;
    }
}



#airenv-sec-detail .widget-trade .widget-title,#airenv-sec-detail .widget-trade .trade-rate {
    background: #7b6d5e;
}
#airenv-sec-detail .widget-trade .trade-rate {
    font-size: 4em;
    paddint-top:5px;
}
#airenv-sec-detail .widget-trade .trade-rate-change {
    padding-left: 25px;
    font-size: 1.5em;
}

#airenv-sec-detail .stats-data li, #air-detail-card .stats-data li,.stats-links li {
    width:25%
}
#air_cond {
    font-size: 6em;
    position: absolute;
    top: 10px;
    right: 30px;
}

.wechat .z-nav-bottom {display:none}

#cur_air_cond
{
    float: right;
    font-size: 5em;
    margin-top: -1.13em;
}
#cur_air_hum {
    font-size: 1.5em;
    margin-left: 0.5em;
}
#cur_air_temp {
    font-size: 4em;
}
.input-error {
    border:1px red solid
}
.desc-item {display:none}

.z-spinner {
    display: none;
}
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 10px;
}
.loading-txt {
    width:150px;
    margin-top:-90px
}
.spinner > div {
    background-color: #67CF22;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}