<%for(var i=0;i<addresss.length;i++){%>

<li>
    <span class="am-badge am-badge-success a-rm-address" data-id="<%=addresss[i].id%>">删除</span>
        <span class="am-badge am-badge-success a-edit-address" data-id="<%=addresss[i].id%>">编辑</span>
        <%=addresss[i].detail%>   <%=addresss[i].name%> </li>

<%}%>