<ul class="am-menu-sub am-collapse  am-avg-sm-3 ">
    <%for(var i=0;i<all_city.length;i++){%>
    <li class="">
        <a href="shop.html?province=<%=all_city[i]%>&sid=<%=_c.sid%>" class=""><%=all_city[i]%></a></li>
    <%}%>

</ul>