
<%for(var i=0;i<bookings.length;i++){%>
<div data-am-widget="list_news" class="am-list-news am-list-news-default" >
    <!--列表标题-->
    <div class="am-list-news-hd am-cf">
        <!--带更多链接-->
        <a href="##" class="">
            <h2><%=bookings[i].ctime%></h2>
            <span class="am-list-news-more am-fr"><%=bookings[i].trans_status%></span>
        </a>
        <a href="##" class="">
          <span class="am-list-news-more am-fr a-rm-booking" style="padding:0px 10px">删除</span>
        </a>
    </div>

    <div class="am-list-news-bd">
        <ul class="am-list">

            <li class="am-g am-list-item-dated">
                <a href="##" class="am-list-item-hd ">人数</a>

                <span class="am-list-date"><%=bookings[i].num%></span>


            </li>
            <li class="am-g am-list-item-dated">
                <a href="##" class="am-list-item-hd ">备注</a>

                <span class="am-list-date"><%=bookings[i].message%></span>


            </li>

        </ul>
    </div>

</div>
<%}%>

