

<ul class="am-menu-nav am-avg-sm-1">
    <%for(var i=0;i<dish_cats.length;i++){%>
    <li class="">
        <a href="dishs.html?type=<%=dish_cats[i].dish_cat%>&sid=<%=_c['sid']%>" class=""><%=dish_cats[i].dish_cat%></a>
    </li>
    <%}%>
</ul>


