<ul data-am-widget="nav" class="am-nav am-nav-pills am-nav-default am-no-layout">

    <%for(var i=0;i<dish_nav.length;i++){%>

    <li class=""><a href="food.html?type=<%=dish_nav[i].dish_cat%>"><%=dish_nav[i].dish_cat%></a>

    </li>
    <%}%>
</ul>