
<%for(var i=0;i<orders.length;i++){%>
<div data-am-widget="list_news" class="am-list-news am-list-news-default" >
    <!--列表标题-->
    <div class="am-list-news-hd am-cf">
        <!--带更多链接-->
        <a href="#" class="">
            <h2><%=orders[i].ctime%></h2>
            <span class="am-list-news-more am-fr"><%=orders[i].trans_status%></span>
        </a>
    </div>

    <div class="am-list-news-bd">
        <ul class="am-list">
            <%for(var j=0;j<orders[i]['items'].length;j++){%>
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                <div class="am-u-sm-4 am-list-thumb">
                    <a href="#" class="">
                        <img src="<%=orders[i]['items'][j]['pic']%>" alt=""/>
                    </a>
                </div>

                <div class=" am-u-sm-8 am-list-main">
                    <h3 class="am-list-item-hd"><a href="#" class=""><%=orders[i]['items'][j]['title']%> <%=orders[i]['items'][j]['num']%></a></h3>

                    <div class="am-list-item-text">送餐地点:<%=orders[i]['items'][j]['address']%></div>
                    <div class="am-list-item-text">价格:<%=orders[i]['items'][j]['price']%></div>
                </div>
            </li>
            <%}%>

        </ul>
    </div>

</div>
<%}%>

            