<ul class="am-list">

    <%for(var i=0;i<shops.length;i++){%>
    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
        <div class="am-u-sm-4 am-list-thumb">
            <a href="food.html?sid=<%=_c.sid%>&city=<%=shops[i].city%>&county=<%=shops[i].county%>&dinning_name=<%=shops[i].dinning_name%>" class="am-circle">
                <img src="<%=_c[imgdir]%>/<%=_imgdir%>/<%=shops[i].dinning_name%>.jpg" alt="<%=shops[i].dinning_addr%>">
            </a>
        </div>

        <div class=" am-u-sm-8 am-list-main">
            <h3 class="am-list-item-hd"><a href="food.html?sid=<%=_c.sid%>&city=<%=shops[i].city%>&county=<%=shops[i].county%>&dinning_name=<%=shops[i].dinning_name%>" class="am-circle"><%=shops[i].dinning_name%></a></h3>

            <div class="am-list-item-text"><br><%=shops[i].dinning_add%></div>
        </div>
    </li>
    <%}%>
</ul>
