<div data-am-widget="list_news" class="am-list-news am-list-news-default" >
    <!--列表标题-->
    <div class="am-list-news-hd am-cf">
        <a href="###" class="">
            <h2><%=shop_address['dinning_name']%></h2>
        </a>
    </div>
    <div class="am-list-news-bd">
        <ul class="am-list">
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-top">
                <div class="am-list-thumb am-u-sm-12">
                    <a href="#" class="">
                        <img src="<%=shop_address['img']%>" alt="<%=shop_address['dinning_add']%>"/>
                    </a>
                </div>


            </li>
            <li class="am-g">
                <a href="#" class="am-list-item-hd ">地址:<%=shop_address['dinning_add']%></a>

            </li>
            <li class="am-g">
                <a href="#" class="am-list-item-hd ">联系手机:<%=shop_address['mobile']%></a>

            </li>
            <li class="am-g">
                <a href="#" class="am-list-item-hd ">联系电话:<%=shop_address['tel']%></a>


            </li>
            <li class="am-g">
                <a href="#" class="am-list-item-hd ">营业时间:<%=shop_address['open_hour']%></a>
            </li>
            <li class="am-g">
                <a href="#" class="am-list-item-hd ">人均消费:<%=shop_address['avg_spend']%></a>
            </li>
        </ul>
    </div>


</div>