
{{include file="common/header_common.phtml"}}



</head>
<body class="{{$site.theme}}">
<!-- header logo: style can be found in header.less -->
{{include file="common/top_header.phtml"}}

<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    {{include file="common/left_aside.phtml"}}

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        {{include file="common/common_nav.phtml"}}
        <iframe src="/admin/storage/view"  class="if-seamless" marginheight="0" marginwidth="0" frameborder="0" scrolling="no" id="storage-if" onload="this.height=100"></iframe>
        <!-- Main content -->
        <!-- /.content -->
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->
<script type="text/javascript">

    function reinitIframe(){
        var iframe = document.getElementById("storage-if");
        try{
            var bHeight = iframe.contentWindow.document.body.scrollHeight;
            var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
            var height = Math.max(bHeight, dHeight);
            iframe.height =  height;
        }catch (ex){}
    }
    window.setInterval("reinitIframe()", 200);

</script>
{{include file="common/footer.phtml"}}
</body>
</html>


