


{{include file="common/header_storage.phtml"}}



</head>
<body>
<!-- header logo: style can be found in header.less -->


<!-- Element where elFinder will be created (REQUIRED) -->
<div id="elfinder"></div>

</div>

{{include file="common/footer_storage.phtml"}}
</body>
</html>
