{{#this}}
  <ul data-am-widget="nav" class="am-nav-pills am-nav-justify{{#if theme}} am-nav-{{theme}}{{else}} am-nav-default{{/if}}{{#if widgetId}} {{widgetId}}{{/if}}{{#if className}} {{className}}{{/if}}"{{#if id}} id="{{id}}"{{/if}}>
  {{#each content}}
        <li class="{{className}}"><a href="{{link}}">{{title}}</a></li>
  {{/each}}

  </ul>
{{/this}}