<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form class="form-horizontal" role="form" action="/install/install.php?step=2&action=add" method="post">

            <?php
                foreach($D['ini']['site']['data'] as $key=>$item){



            echo "<fieldset><legend>$key</legend>";
                foreach($item as $k=>$cfg){

                echo<<<EOF
                <div class="form-group ${cfg[3]}">
                    <label class="col-sm-6 col-md-4 col-lg-4 control-label" for="textinput">$cfg[0]</label>
                    <div class="col-sm-6 col-md-8 col-lg-8">
                        <input type="${cfg[3]}" placeholder="$cfg[0]" class="form-control" name="${cfg[1]}">
                    </div>
                </div>


EOF;

                echo '</fieldset>';
            }
            }


            ?>

        </form>
    </div>
</div>