


<script type="text/javascript" src="/js/seajs.js"></script>

<script src="/js/modernizr.js"></script>
<script>




    Modernizr.load([
        // Presentational polyfills
        {
            // Logical list of things we would normally need
            test : Modernizr.prefixed("maxWidth") && Modernizr.prefixed("minWidth"),
            // Modernizr.load loads css and javascript by default
            nope : ['/js/respond.js']
        },
        {
            test : Modernizr.prefixed('console',window),
            nope : '/js/console.js',

            //both : [ 'app.js', 'extra.js' ],
            complete : function () {

            }
        }

        // Run your analytics after you've already kicked off all the rest
        // of your app.
    ]);



    //checkInput();

</script>

<script>

    seajs.config({
        base: "/js/",
        alias:{}
    });
    // For development

                seajs.use(["jqm",'zc'],function(){
                    seajs.use(["jq.migrate","jquery-ui.min","/admin/js/storage/elfinder"],function(){

                        {{if $actionJs}}
                            seajs.use(["{{$actionJs}}"]);
                            {{/if}}


                    });


           });


</script>

<img src="/img/ajax-loading.gif" alt="" style="display:none" class="loading-icon"/>
