{{include file="common/header_common.phtml"}}
<style>
    #lockScreenMask
    {
        width: 0; height: 0; position: fixed; top: 0; left: 0; display: none;
    }
</style>
</head>


<body class="bs-docs-home edit" id="app"  style="min-height: 600px;background:url(/img/bd_drop.jpg)">


{{if $debug}}
<div id="qunit"></div>
<div id="qunit-fixture"></div>
{{/if}}
<header  role="navigation" id="topnav">
    
</header><!-- /.navbar -->


