<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{$user.icon_url}}" class="user-avatar" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p class="user-realname">{{$user.realname}}</p>
                <span>{{$router.ip}}</span>
                <a href="#">{{if $router.status=='online'}}<i class="fa fa-circle text-success"></i> {{$lang.online}}
                {{else}}
                    <i class="fa fa-circle text-danger"></i> {{$lang.offline}}
                {{/if}}
                </a>
                <p style="margin-top: 10px" id="data-mac">{{$router.mac}}</p>
            </div>
        </div>
        <!-- search form -->
        {{if ($feature.menu_search_box) || !$feature}}
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" id="menu_filter" name="menu_filter" class="form-control" placeholder="{{$lang.search}}..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
            </div>
        </form>
        {{/if}}
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">

            {{foreach item=item key=key from=$site.menus.vmenus name=menus}}

            <li  class="search-item {{if $item.subs}}treeview{{/if}}{{if $item.z_is_active}} active{{/if}}">
                <a href="{{$item.href}}" id="menu_{{$item.id}}">
                    {{if $item.isUrl}}

                    <img src="{{$item.icon}}" alt="" width="24px" height="24px"/>
                    {{else}}
               <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x menu-icon"></i>
         <i class="{{$item.icon}} fa-stack-1x fa-inverse"></i>

        </span>

                    {{/if}}
                    <span class="menu-txt">{{$item.name}}</span>
                    {{if $item.subs}}<i class="fa fa-angle-right fa-25x pull-right"></i>
                    {{/if}}
                </a>
                {{if $item.subs}}

                <ul class="treeview-menu">
                    {{foreach item=item1 key=key1 from=$item.subs name=menus}}
                    <li class="search-item{{if $item1.z_is_active}} active{{/if}}"><a href="{{$item1.href}}" id="menu_{{$item1.id}}">


                                <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x menu-icon" ></i>
         <i class="{{$item1.icon}} fa-stack-1x fa-inverse"></i>

        </span>

                            <span class="menu-txt">{{$item1.name}}</span></a></li>
                    {{/foreach}}
                </ul>
                {{/if}}
            </li>
            {{/foreach}}
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

