
{{include file="common/header_common.phtml"}}





</head>
<body class="{{$site.theme}}">
<!-- header logo: style can be found in header.less -->
{{include file="common/top_header.phtml"}}

<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    {{include file="common/left_aside.phtml"}}

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        {{include file="common/common_nav.phtml"}}

        <!-- Main content -->
        <section class="content">
            <div class='row'>
                <div class='col-xs-12'>

                    <div class="nav-tabs-custom">
                        {{if !$isSys}}
                        <ul class="nav nav-tabs" id="apps_li">
                            <li class="active"><a href="#added_apps" data-toggle="tab">{{$lang.added_apps}}</a></li>
                            <li><a href="#all_apps" data-toggle="tab">{{$lang.all_apps}}</a></li>
                            <li class="pull-right"><div class="form-group has-success search-field">

                                    <input type="text" name="search_keyword" class="form-control search_keyword" id="search_word" aria-describedby="inputSuccess2Status">
                                    <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                </div></li>
                        </ul>
                        {{/if}}
                        <div class="tab-content" id="apps_tab">
                            <!-- Font Awesome icons -->
                            {{if !$isSys}}
                            <div class="tab-pane active" id="added_apps">

                                <ul class="bs-glyphicons">
                                    {{foreach name=catName item=app key=key from=$myApps}}

                                    <li class="search-item">
                                        <div class="app_mask"><span class="fa fa-remove app-remove" data="{{$app._id}}"></span></div>
                                        {{if  strpos($app.icon_url," ")!==false}}
                                        <span class="item-dist {{$app.icon_url}}"></span>
                                        {{else}}
                                        <img src="{{$app.icon_url}}">
                                        {{/if}}
                                        <span class="glyphicon-class search_item_txt">{{$app.name}}</span>
                                    </li>

                                    {{/foreach}}



                                </ul>
                            </div>
                         {{/if}}
                            {{if !$isSys}}
                            <div class="tab-pane" id="all_apps" >
                            {{else}}
                                <div class="tab-pane active" id="all_apps" >
                            {{/if}}

                                {{foreach name=appName item=apps key=catId from=$allApps}}
                                <section id="app_cat_{{$catId}}">
                                    <h4 class="page-header">{{$cats[$catId].name}}</h4>

                                    <ul class="bs-glyphicons">
                                        {{foreach name=subCatName item=app key=subKey from=$apps}}

                                        <li class="search-item app-item" id="m_{{$app._id}}">
                                            <div class="app_mask">content</div>
                                            {{if  strpos($app.icon_url," ")!==false}}
                                            <span class="item-dist {{$app.icon_url}}"></span>
                                            {{else}}
                                            <img src="{{$app.icon_url}}">
                                            {{/if}}
                                            <span class="glyphicon-class search_item_txt">{{$app.name}}</span>
                                        </li>

                                        {{/foreach}}



                                    </ul>

                                </section>
                                {{/foreach}}













                            </div><!-- /#fa-icons -->
                            <!-- glyphicons-->
                            <!-- /#ion-icons -->

                        </div><!-- /.tab-content -->
                    </div><!-- /.nav-tabs-custom -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </section><!-- /.content -->
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->
<script>
    var currency={{if $currency}}{{$currency}}{{else}}{}{{/if}};
</script>
{{include file="common/footer.phtml"}}
</body>
</html>


