
{{include file="common/header_common.phtml"}}

<link href="/css/footable.core.css" rel="stylesheet" type="text/css"/>

<script>


    var menus=[];
    var capScreenTemp='<div class="modal fade"> <div class="modal-dialog"> <div class="modal-content"> ' +
        '<div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><%if(!!download){%><a href="" target="_blank" class="external" style="float:right;margin-right:0.8em;margin-top:2px">' +
        '<span class="fa fa-external-link"></span></a><%} else {%>' +
        '<a class="cap-download" style="float:right;margin-right:0.8em;margin-top:2px" href="#" download=""><span class="fa fa-download"></span></a><%}%><h4 class="modal-title"><%=note%></h4>' +
        ' </div> <div class="modal-body preview-img" style="overflow: auto"><img src="<%=src%>"></div> <div class="modal-footer"> </div> </div></div></div>';
    var colCnt={{$data.colCnt}};
    var defUuid="{{$data.defUuid}}";
    var tbNameTxt="{{$data.tbNameTxt}}";
    var tbName="{{$data.orgTbName}}";
    var tbModel="{{$data.tbName}}";
    var tbOpCbs={};

    var opMenus={{$data.opMenus}};
    var batchOpMenus={{$data.opMenus}};
    var opActionJson={{$data.opActionJson}};

    var ajaxMedia={};
    var prefix="{{$data.tbName}}_";
    var primaryKey="{{$data.primaryKey}}";
    var jsonCols={{$data.jsonCols}};

    var jsonActions={{if $data.actions}}{{$data.actions}}{{else}}''{{/if}};
        var fileTemp='<div id="fileshare-form"><div class="fileinput-button icon-pic-align" style="display: inline-block" title="click  and select file to upload"> ' +
            '<span class="fa fa-plus fa-5x" style="margin: 50px 100px;"></span> <input class="fileupload" type="file" name="sharefile" multiple="" data-original-title="" title=""> </div>' +
            '<div style="margin:0px 0px 50px 0px;font-weight: bold;font-size: 1.1em;" id="drag-drop-file">{{$lang.dnd_upload}}</div>' +
            '<div>{{$lang.upload_files}}:<span id="upload-files" style="font-size: 1.5em;font-weight: bold"></span></div>' +
            '<div id="upload-status">{{$lang.upload_status}}:<span class="indicator"></span>' +
            '<div class="progress progress-striped active"> <div class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">' +
            ' <span class="sr-only complete">0% {{$lang.complete}}</span> </div> </div></div></div>';
</script>

<body>




<div class="content animate-panel">
<div class="tab-pane active" id="t_{{$data.tbName}}">
<nav class="navbar navbar-default" role="navigation">
    <div class="container"  style="width:100%">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dropdown-thumbnail-preview">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


        </div>

        <div class="collapse navbar-collapse js-navbar-collapse" id="{{$data.tbName}}_export">
            <ul class="nav navbar-nav">


            </ul>

            <div class="collapse navbar-collapse js-navbar-collapse" id="{{$data.tbName}}_import">



                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input type="text" id="{{$data.tbName}}_search_keyword" data-tb="tb_{{$data.tbName}}" class="form-control search_keyword" placeholder="{{$lang.search}}">
                        <input type="hidden" id="{{$data.tbName}}_keyword" data-tb="tb_{{$data.tbName}}" class="form-control keyword">
                        <span class="input-group-addon search-btn" data-tb="tb_{{$data.tbName}}">{{$lang.search}}</span>
                    </div>

                </form>

            </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->
</nav>
<div>


    <table id="tb_{{$data.tbName}}" class="table demo filterable" data-filter="#{{$data.tbName}}_keyword" data-filter-text-only="true" class="table demo" data-page-size="{{$data.len}}">
        <thead>
        {{if false}}
        <tr class="filters" data="{{$data.tbName}}">


            <th>#</th>
            {{foreach  from=$data.columns item=val key=key name=columns}}
            {{if $val.reg=='timestamp' or $val.reg=='datetime'}}
            <th  data="c_{{$key}}"><input type="datetime"  class="form-control col-filter" placeholder="{{$val.desc}}" disabled data="c_{{$key}}" ref='{"reg":"$val.reg"}'></th>
            {{else}}
            <th data="c_{{$key}}" ><input type="text" class="form-control col-filter" placeholder="{{$val.desc}}" disabled data="c_{{$key}}" ref='{"reg":"$val.reg"}'></th>
            {{/if}}


            {{/foreach}}
            <th>#</th>

        </tr>
        {{/if}}
        <tr class="col-meta">
            <!--data-hide="phone"-->
            <th  data-ignore="true" class="edit-row"><input type="checkbox" name="sel_all"/></th>
            {{foreach  from=$data.columns item=val key=key name=columns}}



            <th  data="c_{{$key}}">
                {{$val.desc}}
            </th>


            {{/foreach}}
            <th  data="operation">
                {{$lang.operation}}
            </th>
        </tr>
        </thead>
        <tbody>
        {{foreach  from=$data.records item=val key=key name=record}}
        <tr id="r_{{$val[$data.primaryKey]}}">

            <th  data-ignore="true" class="edit-row">
                <input type="checkbox"/></th>
            {{foreach  from=$data.columns item=val2 key=key2 name=columns}}
            {{if $val2.reg=='timestamp'}}
            <td data="c_{{$key2}}">{{$val.$key2|date_format:"%Y-%m-%d %H:%M:%S"}}</td>

            {{elseif $val2.reg=='text'}}
            <td data="c_{{$key2}}" data-prev="{{$val.$key2}}">{{$val.$key2|truncate:100:"..."}} </td>

            {{else}}
            <td data="c_{{$key2}}">{{$val.$key2}}</td>
            {{/if}}
            {{/foreach}}
            <td class="operation">
                <ul class="nav navbar-nav" data="r_{{$val[$data.primaryKey]}}" data-table="{{$data.tbName}}">

                    <!--
                                                                <i class="fa fa-edit fa-15x" data="c_{{$key}}"></i>
                                                                <i class="fa fa-times fa-15x" data="c_{{$key}}"></i>
                                                                -->
                    {{if ($smarty.session.user.rights.t[$data.tableName].rights & 2) || !$smarty.session.user.rights.t[$data.tableName].rights}}




                    <li>
                        <a class="btn btn-default opt-choose" href="#" data="{{$data.tbName}}" data-id="{{$val[$data.primaryKey]}}">
                            <i class="fa  fa-hand-o-up fa-fw"></i>{{$lang.choose}}</a>
                    </li>

                    {{/if}}
                    {{if $data.opAction.extra}}
                    {{foreach name=opName item=action key=key from=$data.opAction.extra}}


                    <li>
                        <a href="#" data-tran-title="{{$action.title}}" data="{{$data.tbName}}" class="opt-{{$action.title}}" data-id="{{$val[$data.primaryKey]}}">
                            <i class="fa {{$action.icon}} fa-15x"></i>
                        </a>

                    </li>



                    {{/foreach}}
                    {{/if}}



                </ul>
            </td>

        </tr>
        {{/foreach}}








        </tbody>
        <tfoot>

        {{if $isPaging}}
        <tr class="hide-if-no-paging" data="{{$data.tbName}}_cs">
            {{else}}
        <tr  data="{{$data.tbName}}_cs">
            {{/if}}
            <td colspan="{{$data.colCnt}}">
                <div class="pagination pagination-centered"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
</div>

</div>



<div class="goto-top" style="display: block;">
    <i class="glyphicon glyphicon-plane"></i>
</div>
{{include file="common/footer.phtml"}}

<script src="/js/footable.all.js"></script>
<script type="text/javascript">

$(function () {
    seajs.use(['table_func'],function(){
        initTableUi("#tb_"+tbModel);
        initTableEvt();
    });

});

</script>
</body>
</html>






